{% extends "commerce/main/commerce/layout.html" %}

{% block content %}
	<div id="main-content" class="main-content">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
					<div class="signin-container">
						<form action="#" name="frm-login" method="post">
							{{ form.csrf_token() }}
							<p class="form-row">
								{% if form.password.errors %}
									{{ form.password(class="txt-input is-invalid", placeholder=_('Password')) }}
									<div class="invalid-feedback">
										{% for error in form.password.errors %}
										   <span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									<label for="fid-name">{{_('Password')}}:<span class="requite">*</span></label>
									{{ form.password(class="txt-input", placeholder=_('Password')) }}
								{% endif %}
							</p>
							<p class="form-row">
								{% if form.confirm_password.errors %}
									{{ form.confirm_password(class="txt-input is-invalid", placeholder=_('Confirm password')) }}
									<div class="invalid-feedback">
										{% for error in form.confirm_password.errors %}
										   <span>{{ error }}</span>
										{% endfor %}
									</div>
								{% else %}
									<label for="fid-name">{{_('Confirm password')}}:<span class="requite">*</span></label>
									{{ form.confirm_password(class="txt-input", placeholder=_('Confirm password')) }}
								{% endif %}
							</p>
							<p class="form-row wrap-btn">
								{{ form.submit(class="btn btn-submit btn-bold") }}
							</p>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}