{% extends "commerce/rs/commerce/layout.html" %}


{% block content %}
<div class="profile-section section">
	<div class="container">
		<div class="row">
			<div class="proiletext_edit_btn">
				<span>Профиль</span>
				<a href="#" class="edit_btn">
					<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M17 3C17.2626 2.73735 17.5744 2.52901 17.9176 2.38687C18.2608 2.24473 18.6286 2.17157 19 2.17157C19.3714 2.17157 19.7392 2.24473 20.0824 2.38687C20.4256 2.52901 20.7374 2.73735 21 3C21.2626 3.26264 21.471 3.57444 21.6131 3.9176C21.7553 4.26077 21.8284 4.62856 21.8284 5C21.8284 5.37143 21.7553 5.73923 21.6131 6.08239C21.471 6.42555 21.2626 6.73735 21 7L7.5 20.5L2 22L3.5 16.5L17 3Z" stroke="#F5F8FF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				</a>
			</div>
			<div class="profile_title">
				<span>Абдыкерим Бегенджов <span class="numberr">/ +993 65019283 / abdykerim@gmail.com / </span></span>
			</div>
			
			<div class="content">
				<div class="tabs">

					<input type="radio" id="tab1" name="tab-control" checked>
					<input type="radio" id="tab2" name="tab-control">
					<input type="radio" id="tab3" name="tab-control">
					<ul>
						<li title="История покупок"><a href="{{ url_for('commerce_users.profile') }}"><label for="tab1" role="button"><br><span>История покупок</span></label></a></li>
						<li title="Мои заказы"><a href="{{ url_for('commerce_users.orders') }}"><label for="tab2" role="button"><br><span>{{_('Orders')}}</span></label></a></li>
						<li title="Список желаний"><a href="{{ url_for('commerce_users.wishlist') }}"><label for="tab3" role="button"><br><span>{{_('Wishlist')}}</span></label></a></li>
					</ul>
					
					<div class="slider"><div class="indicator"></div></div>
					<div class="content">
						<section class="description_tabs">
							<div class="accordion-menu">
								<ul>
									<li>
										<input type="checkbox" checked>
										<div>
											<div class="info_container_inside">
												<div class="info_container_top_img">
													<div class="image-layers">
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product1.png" alt="profile"/>
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product1.png" alt="profile"/>
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product3.png" alt="profile"/>
														<div class="img-sm profile-image-text  rounded-circle image-layer-item" style="background: #E1ECFE;">+3</div>
													</div>
												</div>
												<div class="accordion_text">
													<span class="count">Количество: 6</span>
													<span class="date">23 MAR, 2022</span>
												</div>
												<span class="acardion_show">
													Скрыть
													<i class="arrow"></i>
												</span>
											</div>
										</div>
										<div class="accordion_products">
											<div class="row">
												<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 pb-24">
													<div class="rd_products">
														<div class="image">
															<a href="#">
																<img src="img/products/product1.png" alt="">
															</a>
														</div>
														<div class="content">
															<div class="category_title">
																<a href="#" class="cat">Олдос Хаксли</a>
																<h5 class="title">О дивный новый мир</h5>
																<h5 class="price">542<span class="rd_products_price">TMT</span></h5>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox">
										<div>
											<div class="info_container_inside">
												<div class="info_container_top_img">
													<div class="image-layers">
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product1.png" alt="profile"/>
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product1.png" alt="profile"/>
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product3.png" alt="profile"/>
														<div class="img-sm profile-image-text  rounded-circle image-layer-item" style="background: #E1ECFE;">+3</div>
													</div>
												</div>
												<div class="accordion_text">
													<span class="count">Количество: 6</span>
													<span class="date">23 MAR, 2022</span>
												</div>
												<span class="acardion_show">
													Скрыть
													<i class="arrow"></i>
												</span>
											</div>
										</div>
										<div class="accordion_products">
											<div class="row">
												<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 pb-24">
													<div class="rd_products">
														<div class="image">
															<a href="#">
																<img src="img/products/product1.png" alt="">
															</a>
														</div>
														<div class="content">
															<div class="category_title">
																<a href="#" class="cat">Олдос Хаксли</a>
																<h5 class="title">О дивный новый мир</h5>
																<h5 class="price">542<span class="rd_products_price">TMT</span></h5>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox">
										<div>
											<div class="info_container_inside">
												<div class="info_container_top_img">
													<div class="image-layers">
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product1.png" alt="profile"/>
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product1.png" alt="profile"/>
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product3.png" alt="profile"/>
														<div class="img-sm profile-image-text  rounded-circle image-layer-item" style="background: #E1ECFE;">+3</div>
													</div>
												</div>
												<div class="accordion_text">
													<span class="count">Количество: 6</span>
													<span class="date">23 MAR, 2022</span>
												</div>
												<span class="acardion_show">
													Скрыть
													<i class="arrow"></i>
												</span>
											</div>
										</div>
										<div class="accordion_products">
											<div class="row">
												<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 pb-24">
													<div class="rd_products">
														<div class="image">
															<a href="#">
																<img src="img/products/product1.png" alt="">
															</a>
														</div>
														<div class="content">
															<div class="category_title">
																<a href="#" class="cat">Олдос Хаксли</a>
																<h5 class="title">О дивный новый мир</h5>
																<h5 class="price">542<span class="rd_products_price">TMT</span></h5>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox">
										<div>
											<div class="info_container_inside">
												<div class="info_container_top_img">
													<div class="image-layers">
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product1.png" alt="profile"/>
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product1.png" alt="profile"/>
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product3.png" alt="profile"/>
														<div class="img-sm profile-image-text  rounded-circle image-layer-item" style="background: #E1ECFE;">+3</div>
													</div>
												</div>
												<div class="accordion_text">
													<span class="count">Количество: 6</span>
													<span class="date">23 MAR, 2022</span>
												</div>
												<span class="acardion_show">
													Скрыть
													<i class="arrow"></i>
												</span>
											</div>
										</div>
										<div class="accordion_products">
											<div class="row">
												<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 pb-24">
													<div class="rd_products">
														<div class="image">
															<a href="#">
																<img src="img/products/product1.png" alt="">
															</a>
														</div>
														<div class="content">
															<div class="category_title">
																<a href="#" class="cat">Олдос Хаксли</a>
																<h5 class="title">О дивный новый мир</h5>
																<h5 class="price">542<span class="rd_products_price">TMT</span></h5>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
									<li>
										<input type="checkbox">
										<div>
											<div class="info_container_inside">
												<div class="info_container_top_img">
													<div class="image-layers">
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product1.png" alt="profile"/>
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product1.png" alt="profile"/>
														<img class="img-sm rounded-circle image-layer-item" src="img/products/product3.png" alt="profile"/>
														<div class="img-sm profile-image-text  rounded-circle image-layer-item" style="background: #E1ECFE;">+3</div>
													</div>
												</div>
												<div class="accordion_text">
													<span class="count">Количество: 6</span>
													<span class="date">23 MAR, 2022</span>
												</div>
												<span class="acardion_show">
													Скрыть
													<i class="arrow"></i>
												</span>
											</div>
										</div>
										<div class="accordion_products">
											<div class="row">
												<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 pb-24">
													<div class="rd_products">
														<div class="image">
															<a href="#">
																<img src="img/products/product1.png" alt="">
															</a>
														</div>
														<div class="content">
															<div class="category_title">
																<a href="#" class="cat">Олдос Хаксли</a>
																<h5 class="title">О дивный новый мир</h5>
																<h5 class="price">542<span class="rd_products_price">TMT</span></h5>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</li>
								</ul>
						</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}