{% extends "commerce/ls/commerce/layout.html" %}

{% block content %}
<div id="primary" class="content-area">
	<main id="main" class="site-main">
		<div style="margin: 0 auto; max-width: 70%">

			<h4 style="padding: 1rem;">{{_('Login')}} | {{ company.CName }}</h4>

			<form action="" method="post" class="woocommerce-form-login login">
				{{ form.csrf_token() }}
				<p class="form-row form-row-wide">
					<label for="username">
						{{_('Email address')}}
					</label>
					{{ form.email(class='input-text') }}
				</p>
				<p class="form-row form-row-wide">
					<label>
						{{_('Password')}}
					</label>
					{{ form.password(class='input-text') }}
				</p>
				<p class="form-row">
					<input class="woocommerce-Button button" type="submit" value="{{_('Login')}}">
					<label for="rememberme" class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
						{{ form.remember }}
						{{_('Remember me')}}
					</label>
				</p>
				<p class="woocommerce-LostPassword">
					<a href="{{ url_for('commerce_auth.reset_request') }}">{{_('Forgot your password?')}}</a>
				</p>
			</form>

		</div>
	</main>
</div>
{% endblock %}