{% extends "commerce/ls/commerce/layout.html" %}

{% block content %}
<div id="primary" class="content-area">
	<main id="main" class="site-main">
		<div class="type-page hentry">
			<div class="entry-content">
				<div class="woocommerce">
					<div class="customer-login-form">
						<span class="or-text">or</span>
						<div id="customer_login" class="u-columns col2-set">
							<div class="u-column1 col-1">
								<h2>{{_('Register')}} | {{ company.CName }}</h2>
								<form class="register" action="" method="post">
									{{ form.csrf_token() }}
									<p class="before-register-text">
										Söwda-ň doly mümkinçiliklerni peýdalanmak üçin Hasaba alyň.
									</p>
									<p class="form-row form-row-wide">
										<label for="reg_email">{{_('Username')}}
												<span class="required">*</span>
										</label>
										{{ form.username(class='woocommerce-Input woocommerce-Input--text input-text') }}
									</p>
									<p class="form-row form-row-wide">
										<label for="reg_password">{{_('Email address')}}
												<span class="required">*</span> 
										</label>
										{{ form.email(class="woocommerce-Input woocommerce-Input--text input-text", type="email") }}
									</p>
									<p class="form-row">
										<input type="submit" class="woocommerce-Button button" value="{{_('Register')}}" />
									</p>
								</form>
							</div>
							<div class="u-column2 col-2">
								<div class="register-benefits">
									Hasabyňyz bar bolsa, "Giriş" düwmä basyň we hasabyňyza giriň.
								</div>
								<a href="{{ url_for('commerce_auth.login') }}" class="woocommerce-Button button">{{_('Login')}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

{% endblock %}