{% extends "commerce/ls/commerce/layout.html" %}

{% block head %}
<meta name="description" 
	content="{{_("Register to use all the features and posibilities of ecommerce")}}.
	{{_("If you already have an account, press 'Login' button and proceed to login process")}}." />
<meta name="og:description" 
	content="{{_("Register to use all the features and posibilities of ecommerce")}}.
	{{_("If you already have an account, press 'Login' button and proceed to login process")}}." />
<meta property="og:image" 
	content="{{ request.host_url }}{{ url_for('static', filename='commerce/ls/img/ls_logo.svg') }}" />
<meta name="twitter:description" 
	content="{{_("Register to use all the features and posibilities of ecommerce")}}.
	{{_("If you already have an account, press 'Login' button and proceed to login process")}}." />
<meta name="twitter:image" 
	content="{{ request.host_url }}{{ url_for('static', filename='commerce/ls/img/ls_logo.svg') }}" />
{% endblock %}

{% block content %}
<div id="primary" class="content-area">
	<main id="main" class="site-main">
		<div class="type-page hentry">
			<div class="entry-content">
				<div class="woocommerce">
					<div class="customer-login-form">
						<span class="or-text">or</span>
						<div id="customer_login" class="u-columns col2-set">
							<div class="u-column1 col-1">
								<h2>{{_('Register')}} | {{ company.CName }}</h2>
								<form class="register" action="" method="post">
									{{ form.csrf_token() }}
									<p class="before-register-text">
										{{_("Register to use all the features and posibilities of ecommerce")}}.
									</p>
									<p class="form-row form-row-wide">
										<label for="reg_email">{{_('Username')}}
												<span class="required">*</span>
										</label>
										{{ form.username(class='woocommerce-Input woocommerce-Input--text input-text') }}
									</p>
									<p class="form-row form-row-wide">
										<label for="reg_password">{{_('Email address')}}
												<span class="required">*</span> 
										</label>
										{{ form.email(class="woocommerce-Input woocommerce-Input--text input-text", type="email") }}
										{% if form.email.errors %}
											<div class="col-12 mb-30">
												{% for error in form.email.errors %}
													<span style="color: red">{{ error }}</span>
												{% endfor %}
											</div>
										{% endif %}
									</p>

									<div class="form-row" style="justify-content: space-between;">
										<input type="submit" style="background-color: orange;" class="woocommerce-Button button" value="{{_('Register')}}" />
										
										<!-- <a href="{{url_for('commerce_auth.register_sms')}}" style="background-color: orange; float: right;
										font-size: 0.938em;
										padding: 0.867em 5em;
										border-radius: 1.667em;
										margin-bottom: 1.333em;
										margin-top: 0.625em;" class="woocommerce-Button button">
											{{_('Register by SMS')}}
										</a> -->
									</div>
								</form>
							</div>
							<div class="u-column2 col-2">
								<div class="register-benefits">
									{{_("If you already have an account, press 'Login' button and proceed to login process")}}.
								</div>
								<a href="{{ url_for('commerce_auth.login') }}" style="background-color: orange;" class="woocommerce-Button button">{{_('Login')}}</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>

{% endblock %}