{% extends "commerce_test/admin/layout.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/datatables.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/animate.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/nice-select.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/slick.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/admin_commerce/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/main-color.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/dropzonejs/dropzone.css') }}">
{% endblock %}

{% block content %}
<section class="section">
  <div class="section-body">
    <div class="row clearfix">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
          <div class="card-header">
            <h4>Horizontal Layout</h4>
          </div>
          <div class="card-body">
            <div id="wizard_horizontal">
              <h2>First Step</h2>
              <section>
                <p>In to am attended desirous raptures declared diverted confined at. Collected
                  instantly
                  remaining up certainly to necessary as. Over walk dull into son boy door went
                  new.
                  At or happiness commanded daughters as. Is handsome an declared at received in
                  extended
                  vicinity subjects. Into miss on he over been late pain an. Only week bore boy
                  what
                  fat case left use. Match round scale now sex style far times. Your me past an
                  much.
                </p>
              </section>
              <h2>Second Step</h2>
              <section>
                <p>New the her nor case that lady paid read. Invitation friendship travelling eat
                  everything
                  the out two. Shy you who scarcely expenses debating hastened resolved. Always
                  polite
                  moment on is warmth spirit it to hearts. Downs those still witty an balls so
                  chief
                  so. Moment an little remain no up lively no. Way brought may off our regular
                  country
                  towards adapted cheered.</p>
              </section>
              <h2>Third Step</h2>
              <section>
                <p>Husbands ask repeated resolved but laughter debating. She end cordial visitor
                  noisier
                  fat subject general picture. Or if offering confined entrance no. Nay rapturous
                  him
                  see something residence. Highly talked do so vulgar. Her use behaved spirits
                  and
                  natural attempt say feeling. Exquisite mr incommode immediate he something
                  ourselves
                  it of. Law conduct yet chiefly beloved examine village proceed.</p>
              </section>
              <h2>Forth Step</h2>
              <section>
                <p>An country demesne message it. Bachelor domestic extended doubtful as concerns
                  at. Morning
                  prudent removal an letters by. On could my in order never it. Or excited
                  certain
                  sixteen it to parties colonel. Depending conveying direction has led immediate.
                  Law
                  gate her well bed life feet seen rent. On nature or no except it sussex.</p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <div class="section-body">
    <div class="page-contain single-product">
      <div class="container">
        <div id="main-content" class="main-contentsslick-slide slick-current slick-active first-slick last-slick">
          <div class="sumary-product single-layout">
            <div class="media">
              <div class="card">
                <div class="card-header">
                  <h4>{{_('Upload images')}}</h4>
                </div>
                <p id="msg"></p>
                <div class="card-body">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="multiFiles" name="files[]" multiple="multiple"/>
                    <label class="custom-file-label" for="customFile">{{_('Choose file')}}</label>
                  <br>
                    <button id="upload" class="btn btn-outline-info">{{_('Upload')}}</button>
                  </div>
                  <br>
                </div>
              </div>

              <div class="card uploadedImagesCard" style="display: none;">
                <div class="card-header">
                  <h4>{{_('Images')}}</h4>
                </div>
                <div class="card-body">
                  <p>{{_('Choose the main image')}}</p>
                  <div class="form-group">
                    <div class="row gutters-sm imagesList"></div>
                  </div>
                  <button class="btn btn-outline-primary saveImagesBtn">{{_('Save')}}</button>
                </div>
              </div>
            </div>

            <div class="product-attribute">
              <input type="hidden" class='resId' value>
              <p class="excerpt"><input type="text" class="txt-input resRegNo" placeholder="{{_('Registration Number')}}"></p>
              <p class="excerpt"><h3 class="title"><textarea class="resName" cols="30" rows="2" placeholder="{{_('Product name')}}"></textarea></h3></p>
              <p class="excerpt"><textarea class="resDesc" cols="30" rows="4" placeholder="{{_('Description')}}"></textarea></p>

               <p class="excerpt"><ul class="section-title barcodeList">{{_('Barcode')}}</ul></p>
              <div class="input-group">
                <input type="text" placeholder="{{_('Barcode')}}" class="txt-input barcodeVal"><button class="btn btn-primary addBarcodeBtn" type="button">+</button>
              </div>
            </div>
            <div class="action-form">

              <div class="location-shipping-to">
                <span class="title">{{_('Category')}}:</span>
                <select class="resCategoryId">
                  {% for category in subcategory_children %}
                    {% if category.GCRecord == None or category.GCRecord == '' %}
                      <option value="{{ category.ResCatId }}">{{category.ResCatName}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              
              <div class="quantity-box">
                <span class="title">{{_('Quantity')}}:</span>
                <div class="cont">
                  <span class="next" onclick="nextNum()"></span>
                  <span class="prev" onclick="prevNum()"></span>
                  <div id="box">
                      <span>0</span>
                  </div>
                </div>

              </div>
              <div class="location-shipping-to">
                <span class="title">{{_('Unit')}}:</span>
                <select class="unitId">
                  {% for unit in units %}
                    {% if unit.GCRecord == None or unit.GCRecord == '' %}
                      <option value="{{ unit.UnitId }}">{{_(unit.UnitName_enUS)}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>

              <div class="price-box">
                <span class="title">{{_('Price')}}:</span>
                <div class="cont">
                  <span class="next" onclick="nextNum()"></span>
                  <span class="prev" onclick="prevNum()"></span>
                  <div id="box">
                      <span>0</span>
                  </div>
                </div>
                <button class="btn btn-default savePriceBtn">+</button>
              </div>

              <div class="location-shipping-to">
                <span class="title">{{_('Usage status')}}:</span>
                <select class="usageStatusId">
                  {% for usageStatus in usageStatuses %}
                    {% if usageStatus.GCRecord == None or usageStatus.GCRecord == '' %}
                      <option value="{{ usageStatus.UsageStatusId }}">{{_(usageStatus.UsageStatusName_enUS)}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>

            </div>
          </div>
         
                  <!-- Tab info -->
          <div class="product-tabs single-layout biolife-tab-contain">
            <div class="tab-head">
                <ul class="tabs">
                    <li class="tab-element active"><a href="#tab_1st" class="tab-link">{{_('Products descriptions')}}</a></li>
                    <li class="tab-element" ><a href="#tab_2nd" class="tab-link">{{_('Additional information')}}</a></li>
                    <li class="tab-element" ><a href="#tab_3rd" class="tab-link">{{_('Translations')}}</a></li>
                </ul>
            </div>
            <div class="tab-content">
              <div id="tab_1st" class="tab-contain desc-tab active">
                <div class="form-group col-12 col-md-6 col-lg-6">
                  <label>{{_('Size and form')}}</label>
                  <input type="text" class="form-control resWidth" placeholder="{{_('Width')}}">
                  <input type="text" class="form-control resHeight" placeholder="{{_('Height')}}">
                  <input type="text" class="form-control resLength" placeholder="{{_('Length')}}">
                  <input type="text" class="form-control resWeight" placeholder="{{_('Weight')}}">
                </div>      
                <p class="desc"><textarea class="resFullDesc" cols="80" rows="5" placeholder="{{_('Producer, location, properties, outlines, etc')}} ..."></textarea>
                  <button class="btn btn-icon btn-danger" onclick="$('.resFullDesc').val('')"><i class="fas fa-times"></i></button>
                </p>
              </div>
              <div id="tab_2nd" class="tab-contain additional-info-tab">
                <div class="card">
                  <div class="card-header">
                    <h4>{{_('Properties')}}</h4>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label class="form-label">{{_('Select colors')}}</label>
                      <div class="row gutters-xs colorsList">
                        {% for color in colors %}
                          {% if color.GCRecord == None or color.GCRecord == '' %}
                            <div class="col-auto">
                              <label class="colorinput">
                                <input name="color" type="checkbox" value="{{color.ColorId}}" class="colorinput-input resColorId" />
                                <span {% if color.ColorDesc %} title="{{ color.ColorDesc }}" {% endif %} class="colorinput-color" style="background: {{color.ColorCode}}"></span>
                              </label>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                      <button class="btn btn-primary mr-1 saveResColorBtn">{{_('Save')}}</button>
                    </div>
                    <div class="form-group">
                      <label>{{_('Add color')}}</label>
                      <input type="text" class="form-control colorName" placeholder="{{_('Color name')}}">
                      <textarea type="text" class="form-control colorDesc" placeholder="{{_('Color description')}}" style="display: none;"></textarea>
                      <input type="color" class="form-control colorCode">
                      <button class="btn btn-info addColorBtn">{{_('Add')}}</button>
                    </div>
                  
                    <div class="form-group">
                      <label class="form-label">{{_('Sizes')}}</label>
                      <div class="selectgroup selectgroup-pills sizesList">
                        <select class="custom-select sizeId" style="width: 20%;">
                          <option selected="">Choose...</option>
                          {% for size in sizes %}
                            {% if size.GCRecord == None or size.GCRecord == '' %}
                              <option value="{{size.SizeId}}">{{size.SizeName}}</option>
                              {% endif %}
                          {% endfor %}
                        </select>
                      </div>
                      <button class="btn btn-primary mr-1 saveResSizeBtn" type="submit">{{_('Save')}}</button>

                      <div class="form-group">
                        <label>{{_('Add size')}}</label>
                        <input type="text" class="form-control sizeName" placeholder="{{_('Size name')}}">
                        <textarea type="text" class="form-control sizeDesc" placeholder="{{_('Size description')}}" style="display: none;"></textarea>
                        <button class="btn btn-info addSizeBtn">{{_('Add')}}</button>
                      </div>
                    </div>

                    <div class="form-group">
                      <label class="form-label">{{_('Brands')}}</label>
                      <div class="selectgroup selectgroup-pills brandsList">
                        {% for brand in brands %}
                          {% if brand.GCRecord == None or brand.GCRecord == '' %}
                            <label class="selectgroup-item">
                              <input type="radio" name="value" value="{{brand.BrandId}}" class="selectgroup-input resBrandId" checked>
                              <span {% if brand.BrandDesc %} title="{{ brand.BrandDesc }}" {% endif %} class="selectgroup-button">{{brand.BrandName}}</span>
                            </label>
                          {% endif %}
                        {% endfor %}
                      </div>
                      <div class="form-group">
                        <label>{{_('Add Brand')}}</label>
                        <input type="text" class="form-control brandName" placeholder="{{_('Brand name')}}">
                        <textarea type="text" class="form-control brandDesc" placeholder="{{_('Brand description')}}" style="display: none;"></textarea>
                        <button class="btn btn-info addBrandBtn">{{_('Add')}}</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div id="tab_3rd" class="tab-contain translations-tab">
                <div class="card">
                  <div class="card-header">
                    <h4>{{_('Translation')}}</h4>
                    <a data-toggle="modal" data-target=".translationModal" class="btn btn-info">+</a>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped table-md">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>{{_('Language')}}</th>
                            <th>{{_('Name')}}</th>
                            <th>{{_('Description')}}</th>
                            <th>{{_('Full Description')}}</th>
                            <th>{{_('Action')}}</th>
                          </tr>
                        </thead>
                        <tbody class="translationsTable"></tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="add_newp">
              <button class="btn btn-icon icon-left btn-success submitButton"><i class="fas fa-check"></i> {{_('Save')}}</button>
              <a href="{{ url_for('commerce_admin_test.add_product') }}" class="btn btn-icon icon-left btn-info"><i class="fas fa-plus-circle"></i> {{_('Add new product')}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block modals %}
  
  <div class="modal fade translationModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="background-color: rgba(71, 69, 69, 0.548);">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModal">{{_('Add translation')}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form class="">

            <div class="form-group">
              <label>{{_('Language')}}</label>
              <select class="form-control langId">
                {% for lang in languages %}
                  <option value="{{ lang.LangId }}">{{lang.LangName}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label>{{_('Product name')}}</label>
              <div class="input-group">
                <input type="text" class="form-control resNameTrans" placeholder="{{_('Product name')}}">
              </div>
            </div>
            <div class="form-group">
              <label>{{_('Product description')}}</label>
              <div class="input-group">
                <textarea type="text" class="form-control resDescTrans" placeholder="{{_('Product description')}}"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label>{{_('Product full description')}}</label>
              <div class="input-group">
                <textarea type="text" class="form-control resFullDescTrans" placeholder="{{_('Product full description')}}"></textarea>
              </div>
            </div>
            <button type="button" class="btn btn-primary m-t-15 waves-effect addTranslationBtn">{{_('Add')}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/jquery.nice-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/jquery.nicescroll.min.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/slick.min.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/biolife.framework.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/functions.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/bundles/dropzonejs/min/dropzone.min.js') }}"></script>

  <script src="{{ url_for('static', filename='commerce/admin/js/resource.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/price.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/translations.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/images.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/colors.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/sizes.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/propertiesMain.js') }}"></script>

  <script>
    
    var numbers = document.getElementById('box');
    for(i=0;i<100;i++){
        var span = document.createElement('span');
        span.textContent = i;
        numbers.appendChild(span);
    }
        var num = numbers.getElementsByTagName('span')
        var index = 0;

        function nextNum(){
            num[index].style.display = 'none';
            index = (index + 1) % num.length;
            num[index].style.display = 'initial';
        }

        function prevNum(){
            num[index].style.display = 'none';
            index = (index - 1 + num.length) % num.length;
            num[index].style.display = 'initial';
        }
        
  </script>
{% endblock %}
