{% extends "commerce_test/admin/layout.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/prism/prism.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/datatables.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/owlcarousel2/dist/assets/owl.carousel.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/admin_commerce/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/owlcarousel2/dist/assets/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/pretty-checkbox/pretty-checkbox.min.css') }}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>{{_('Sale order invoices')}}</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="save-stage" id="table-1">
              <thead>
                <tr>
                  <th class="text-center">№</th>
                  <th class="text-center">{{_('Reg No')}}</th>
                  <th class="text-center">{{_('Action')}}</th>
                  <th class="text-center">{{_('Progress')}}</th>
                  <th class="text-center">{{_('Total price')}}</th>
                  <th class="text-center">{{_('Currency')}}</th>
                  <th class="text-center">{{_('Date')}}</th>
                  <th class="text-center">{{_('Status')}}</th>
                  <th class="text-center">{{_('Customer')}}</th>
                  <th class="text-center">{{_('Phone')}}</th>
                  <th class="text-center">{{_('E-mail')}}</th>
                </tr>
              </thead>
              <tbody>
                {% for orderInv in orderInvoices %}
                  <tr>
                    <td class="text-center">{{ orderInv.OInvId }}</td>
                    <td class="text-center">{{ orderInv.OInvRegNo }}</td>
                    <td><a href="{{ url_for('commerce_admin_test.order_inv_lines',OInvRegNo=orderInv.OInvRegNo) }}" class="btn btn-primary">{{_('Detail')}}</a></td>
                    <td class="align-middle">
                      <div class="progress progress-xs">
                        <div class="progress-bar bg-{{orderInv.StatusUI.class}} width-per-{{orderInv.StatusUI.percentage}}">
                        </div>
                      </div>
                    </td>

                    <td class="text-center">{{ orderInv.OInvFTotal }}</td>
                    <td class="text-center">{{ orderInv.Currency.CurrencyCode }}</td>
                    <td>{{ orderInv.CreatedDate }}</td>
                    <td>
                      <div class="badge badge-{{orderInv.StatusUI.class}} badge-shadow">{{orderInv.InvStatus.InvStatName}}</div>
                    </td>
                    <td class="text-center">{{ orderInv.Rp_acc.RpAccName }}</td>
                    <td class="text-center">{{ orderInv.Rp_acc.RpAccMobilePhoneNumber }}</td>
                    <td>{{ orderInv.Rp_acc.RpAccEMail }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}