{% extends "commerce_test/admin/layout.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/prism/prism.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/datatables.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/owlcarousel2/dist/assets/owl.carousel.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/admin_commerce/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/owlcarousel2/dist/assets/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/pretty-checkbox/pretty-checkbox.min.css') }}">
{% endblock %}

{% block content %}
  <div>
    <div class="card">
      <div class="card-header">
        <a href="{{ url_for('commerce_admin_test.users_table') }}" class="btn btn-outline-primary">
          <i data-feather="chevron-left"></i>
        </a>
        <h4>{{_('Cusomer details')}}</h4>
      </div>
      <div class="card-body">
        <ul class="nav nav-pills" id="myTab3" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#profile" role="tab"
              aria-controls="home" aria-selected="true">{{_('Profile')}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#orders" role="tab"
              aria-controls="profile" aria-selected="false">{{_('Customers')}}</a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent2">
          <div class="tab-pane fade show active" id="profile" role="tabpanel">
            <div class="columns is-account-grid is-multiline">
              <div class="column is-5">
                <div class="flat-card profile-card is-auto">
                  <div class="card-body">
                    <div class="profile-image">
                      <img loading="lazy" src="{{ user.FilePathS if user.FilePathS else url_for('static', filename='commerce/admin/img/no_avatar.jpg') }}" />
                    </div>
                    <div class="username has-text-centered">
                      <span>{{user.UFullName if user.UFullName else user.UName}}</span>
                      <small>{{_('Registered date')}}: {{user.CreatedDate if user.CreatedDate else ''}}</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="column is-7">
                <div class="flat-card profile-info-card is-auto">
                  <div class="card-title">
                    <h3>{{_('Customer details')}}</h3>
                  </div>
                  <div class="card-body">
                    <div class="columns">
                      <div class="column is-6">
                        <div class="info-block">
                          <span class="label-text">{{_('Name')}}</span>
                          <span class="label-value">{{user.UName}}</span>
                        </div>
                        <div class="info-block">
                          <span class="label-text">{{_('Full name')}}</span>
                          <span class="label-value">{{user.UFullName if user.UFullName else ''}}</span>
                        </div>
                        <div class="info-block">
                          <span class="label-text">{{_('Short name')}}</span>
                          <span class="label-value">{{user.UShortName if user.UShortName else ''}}</span>
                        </div>
                      </div>
                      <div class="column is-6">
                        <div class="info-block">
                          <span class="label-text">{{_('Email address')}}</span>
                          <span class="label-value">{{user.UEmail if user.UEmail else ''}}</span>
                        </div>
                        <div class="info-block">
                          <span class="label-text">{{_('Type')}}</span>
                          <div class="form-group">
                            <div class="input-group">
                              <select class="custom-select" id="inputGroupSelect04">
                                {% if user.User_type.UTypeId == Null %}
                                  <option class="userType" value="" ownerId="{{ user.UId }}" selected>
                                    {{_('Select')}}
                                  </option>
                                {% endif %}
                                {% for user_type in user_types %}
                                  <option class="userType" value="{{ user_type.UTypeId }}" ownerId="{{ user.UId }}" 
                                    {{ 'selected' if user_type.UTypeId == user.User_type.UTypeId }}>
                                    {{ user_type.UTypeName }}
                                  </option>
                                {% endfor %}
                              </select>
                              <div class="input-group-append" style="margin-left: -5px;">
                                <button class="btn btn-info setUserType" ownerId="{{ user.UId }}"><i class="fas fa-check"></i></button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <img class="card-bg" src="{{ url_for('static', filename='commerce/main/images/logo/nephos-greyscale.svg')}}" alt="">
                </div>
              </div>
              <div class="column is-2">
                <button class="btn btn-icon btn-danger deleteUserBtn" ownerId="{{ user.UId }}">
                  {{_('Delete')}} <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="orders" role="tabpanel">
            <div class="row">
              <div class="col-12">
                <div class="table-responsive">
                 <table class="table table-striped" id="table-1">
                  <thead>
                    <tr>
                      <th class="text-center">№</th>
                      <th class="text-center">{{_('Reg No')}}</th>
                      <th class="text-center">{{_('Image')}}</th>
                      <th class="text-center">{{_('Name')}}</th>
                      <th class="text-center">{{_('Status')}}</th>
                      <th class="text-center">{{_('Type')}}</th>
                      <th class="text-center">{{_('Action')}}</th>
                    </tr>
                  </thead>
                  <tbody class="customersTable">
                    {% for rp_acc in rp_accs %}
                      <tr ownerId="{{ rp_acc.RpAccId }}">
                        <td class="text-center">{{ rp_acc.RpAccId }}</td>
                        <td class="text-center">{{ rp_acc.RpAccRegNo }}</td>
                        <td class="text-center">
                          <img loading="lazy" src="{{ rp_acc.FilePathS if rp_acc.FilePathS else url_for('static', filename='commerce/admin/img/no_avatar.jpg') }}" width="40">
                        </td>
                        <td class="text-center">
                          <a href="{{ url_for('commerce_admin_test.customer_details',RpAccRegNo=rp_acc.RpAccRegNo)}}" class="btn btn-outline-primary">
                            {{ rp_acc.RpAccName if rp_acc.RpAccName else rp_acc.RpAccUName }}
                          </a>
                        </td>
                        <td class="text-center">
                          <div class="form-group">
                            <div class="input-group">
                              <select class="custom-select" id="inputGroupSelect04">
                                {% if rp_acc.Rp_acc_status.RpAccStatusId == Null %}
                                  <option class="rpAccStatus" value="" ownerId="{{ rp_acc.RpAccId }}" selected>
                                    {{_('Select')}}...
                                  </option>
                                {% endif %}
                                {% for rp_acc_status in rp_acc_statuses %}
                                  <option class="rpAccStatus" value="{{ rp_acc_status.RpAccStatusId }}" ownerId="{{ rp_acc.RpAccId }}" {{ 'selected' if rp_acc_status.RpAccStatusId == rp_acc.Rp_acc_status.RpAccStatusId }}>
                                    {{ rp_acc_status.RpAccStatusName }}
                                  </option>
                                {% endfor %}
                              </select>
                              <div class="input-group-append" style="margin-left: -5px;">
                                <button class="btn btn-info setRpAccStatus" ownerId="{{ rp_acc.RpAccId }}"><i class="fas fa-check"></i></button>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="text-center">
                          <div class="form-group">
                            <div class="input-group">
                              <select class="custom-select" id="inputGroupSelect04">
                                {% if rp_acc.Rp_acc_type.RpAccTypeId == Null %}
                                  <option class="rpAccType" value="" ownerId="{{ rp_acc.RpAccId }}" selected>
                                    {{_('Select')}}
                                  </option>
                                {% endif %}
                                {% for rp_acc_type in rp_acc_types %}
                                  <option class="rpAccType" value="{{ rp_acc_type.RpAccTypeId }}" ownerId="{{ rp_acc.RpAccId }}" 
                                    {{ 'selected' if rp_acc_type.RpAccTypeId == rp_acc.Rp_acc_type.RpAccTypeId }}>
                                    {{ rp_acc_type.RpAccTypeName }}
                                  </option>
                                {% endfor %}
                              </select>
                              <div class="input-group-append" style="margin-left: -5px;">
                                <button class="btn btn-info setRpAccType" ownerId="{{ rp_acc.RpAccId }}"><i class="fas fa-check"></i></button>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td class="text-center">
                          <button class="btn btn-icon btn-danger deleteCustomerBtn" ownerId="{{ rp_acc.RpAccId }}">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='commerce/admin/js/users_customers_table.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/ui_dynamicals.js') }}"></script>
{% endblock %}