**/__pycache__/
**/venv/
**/*.pyc
*.swp
*.db
*.hg
**/*.svn
**/.DS_Store/
**/uploads/
**/commerce/images/
**/pips/
**/.vscode/
**/idea/
**/avatars/
.idea/
.vs/
.env
.pk
.pem
.pub
**/imageDumps/*
**/web_config/
**/testing/**

**/hs/css/style.css
**/hs/css/style.css.map