{% extends "commerce/rs/commerce/layout.html" %}

{% block head %}
<meta name="description" content="{{company.CName}} | {{company.CDesc}}">
<meta property="og:description" content="{{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta property="og:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
<meta name="twitter:description" content="{{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rs/css/swipe.css') }}">
{% endblock %}
{% block content %}
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pb-24">
						<div class="about_detail">
							<div class="about_title">
								<h1>Книжный магазин вашей мечты</h1>
							</div>
							<div class="second_about_text">
								<p>Eget commodo eu nibh dolor sodales. Sed pulvinar commodo morbi senectus urna, mattis.
									Dui habitasse fermentum nisl viverra imperdiet sagittis sit sed. Scelerisque sit justo
									viverra nulla. At aliquam leo adipiscing vel viverra nibh viverra commodo sit. Ultrices
									dolor risus, in metus, sed magna lectus in id. Elit amet nibh est molestie sit ligula. 
									Sed suspendisse fringilla urna curabitur nunc sollicitudin varius sit. Turpis scelerisque
									at amet risus iaculis mattis a, malesuada dignissim.
								</p>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pb-24">
						<div class="about_top_img">
							<img src="{{ url_for('static', filename='commerce/rs/images/about/image 10.png') }}" alt="">
						</div>
					</div>
				</div>
			</div>
			
			<div class="custom-nav">
				<div class="prev">
					<i class="bi bi-chevron-left"></i>
				</div>
				<div class="next">
					<i class="bi bi-chevron-right"></i>
				</div> 
			</div>
			<div class="swiper">
				<!-- Additional required wrapper -->  
				<div class="swiper-wrapper">
					<!-- Slides -->
					<div class="swiper-slide">
						<div class="product__image">
							
							<img src="{{ url_for('static', filename='commerce/rs/images/about/image.png') }}" alt="">
						</div>
		
						<div class="product__details">
							<p class="product__name">
								Nike Running Shoe.
								
							</p>
							<p class="product__info">
								Running Shoes for the Pros.
								Top Performance and Latest Innovation
							</p>  
		
							<div class="product__cta">
								<p class="price">$121</p>
		
								<button><i class="bi bi-cart"></i> Buy Now</button>
							</div>
						</div>
					</div>
		
					<div class="swiper-slide">
						<div class="product__image">
							<img src="{{ url_for('static', filename='commerce/rs/images/about/5.png') }}" alt="">
						</div>
						<div class="product__details">
							<p class="product__name">
								Sony WH1000XM4
							</p>
							<p class="product__info">
								Best Noise Cancelling headphones, With 20 Hours plus battery.
							</p>  
		
							<div class="product__cta">
								<p class="price">$348</p>
								<button><i class="bi bi-cart"></i> Buy Now</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product__image">
							<img src="{{ url_for('static', filename='commerce/rs/images/about/3.png') }}" alt="">
						</div>
						<div class="product__details">
							<p class="product__name">
							 Apple M1 Macbook Air
							</p>
							<p class="product__info">
								M1 chip with 8‑core CPU, 7‑core GPU, and 16‑core Neural Engine.
							</p>  
		
							<div class="product__cta">
								<p class="price">$999</p>
								<button><i class="bi bi-cart"></i> Buy Now</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product__image">
							<img src="{{ url_for('static', filename='commerce/rs/images/about/2.png') }}" alt="">
						</div>
						<div class="product__details">
							<p class="product__name">
								Samsung S21 Plus
							</p>
							<p class="product__info">
								The phones making every moment epic. <br>
								6.2 Inch, 4000mAh, 128GB 
							</p>  
		
							<div class="product__cta">
								<p class="price">$799</p>
								<button><i class="bi bi-cart"></i> Buy Now</button>
							</div>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="product__image">
							<img src="{{ url_for('static', filename='commerce/rs/images/about/1.png') }}" alt="">
						</div>
						<div class="product__details">
							<p class="product__name">
							 Logitech K380 KEYBOARD
							</p>
							<p class="product__info">
								Minimalist Bluetooth keyboard for computers, tablets and phones
							</p>  
		
							<div class="product__cta">
								<p class="price">$39</p>
								<button><i class="bi bi-cart"></i> Buy Now</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="custom-nav">
				<div class="prev">
					<i class="bi bi-chevron-left"></i>
				</div>
				<div class="next">
					<i class="bi bi-chevron-right"></i>
				</div> 
			</div>
			<div class="col-12">
				<div class="row" style="border: 1px solid #CED1D9;">
					<div class="contact_title">
						<h2>Контакты</h2>
					</div>
					<div class="col-md-4 col-12">
						<div class="bottom_contact">
							<div class="bottom_contact_title">
								<span>Адрес</span>
							</div>
							<div class="bottom_about_text">
								<p> Туркменистан, Ашхабад, ТЦ «Ашхабад» 0 этаж</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-12">
						<div class="bottom_contact gmaill">
							<div class="bottom_contact_title">
								<span>Почта</span>
							</div>
							<div class="bottom_about_text">
								<p>info@readit.store[</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 col-12">
						<div class="bottom_contact">
							<div class="bottom_contact_title">
								<span>Телефон</span>
							</div>
							<div class="bottom_about_text">
								<p>+993(64)824441</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}


{% block scripts %}
<script src="{{ url_for('static', filename='commerce/rs/js/swiper.js') }}"></script>
{% endblock %}