
{% extends "commerce/rs/commerce/layout.html" %}

{% block head %}

<meta name="description" content="{{company.CName}} | {{company.CDesc}}">
<meta property="og:description" content="{{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta property="og:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/rs/images/logo.png') }}" />
<meta name="twitter:description" content="{{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/rs/images/logo.png') }}" />
{% endblock %}

{% block content %}
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-12" style="margin-top: 32px;">
				<div class="row">
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pb-24">
						<div class="rd_detail">
							<div class="rd_image">
								<a href="#">
									<img src="img/image9.png" alt="">
								</a>
							</div>
						</div>
					</div>
					<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 pb-24">
							<div class="content">
								<div class="category_title">
									<h2 class="desc_title">Показ фильма “Жизнь на нашей планете”</h2>
										<div class="desc_desc">
											<p>Показ фильма Сэра Дэвида Аттенборо «Жизнь на нашей планете»</p>
											<p>@britishembassyashgabat совместно с @readitstore приглашают на показ фильма всемирноизвестного режиссёра и натуралиста Сэра Дэвида Аттенборо «Жизнь на нашей планете» в пятницу, 13 мая в 16:00.</p>
											<p>Этот фильм – откровенный рассказ от первого лица о влиянии человечества на природу и послание для будущих поколений.
												Аттенборо размышляет об определенных моментах своей жизни, как натуралиста, и о разрушительных изменениях, которым он стал свидетелем</p>
											<p>Фильм создан в 2020 году британской киностудией Silverback Films, лауреатом высоких наград и всемирной экологической организацией WWF.
											</p>
											<p>Целью этого фильма является призыв всех стран защищать и восстанавливать естественную среду обитания, экосистему Земли, показать людям, что мы несем ответственность за уничтожение биоразнообразия нашей планеты, флоры и фауны нашего хрупкого мира.
												Человек должен и в силах это исправить, пока не поздно.
												</p>
											<p>Просмотр будет бесплатным, но количество мест ограничено, поэтому, чтобы получить подтверждение участия, просим позвонить по номеру: 69-46-26.</p>
											<p>🗓: 13 май, пятница</p>
											<p>🕞: 16:00 - 18:00 (время Ашхабадское)</p>
											<p>🌐: На русском языке</p>
											<p>📍: Книжный магазин Readit, ТЦ «Ашахабад», 0 этаж</p>
											<p>❗️Вход свободный при обязательной регистрации по номеру 69-46-26.</p>
										</div>
								</div>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

<!-- {% block scripts %}
<script>render_viewed_list()</script>
{% endblock %} -->