{% if child_status == "category" %}

	<li class="menu-item menu-item-has-children has-megamenu">
		<div class="form-group">
			<a href="#" class="menu-name" {% if category.ResCatDesc %} title="{{ category.ResCatDesc }}" {% endif %}>
		  	{% if category.ResCatIconFilePath %}<img class="img-fluid" src="{{category.ResCatIconFilePath}}">{%endif%}
		  </a>{{ category.ResCatName }}
			<a href="#" class="removeCategoryBtn" ownerCategory="{{ category.ResCatId }}"><i class="fas fa-times" style="padding-left: 7px;"></i></a>
		</div>
		<div class="wrap-megamenu lg-width-300 md-width-640">
			<div class="mega-content">
				<div class="row">
					<!-- categorylist of subcategory with it's ownerId to sort -->
					<div class="col-lg-9 col-md-4 col-sm-12 xs-margin-bottom-25 md-margin-bottom-0 categoriesList{{ category.ResCatId }}">
						<div class="wrap-custom-menu vertical-menu">
							<h4 class="menu-title subcategory-menu">
								<input type="text" placeholder="{{_('Category')}}" class="txt-input categoryName{{ category.ResCatId }}" style="width: 65%;height: 40px;">
								<input type="hidden" class="txt-input categoryDesc{{ category.ResCatId }}">
								<a href="#" data-toggle="tooltip" data-placement="bottom" class="addDescBtn" ownerCategory="{{ category.ResCatId }}" title="{{_('Description')}}"><i class="fas fa-question" data-toggle="modal" data-target=".categoryDescModal"></i></a>
								<a href="#" class="addCategoryBtn" ownerCategory="{{ category.ResCatId }}"><i class="fas fa-check"></i></a>
							</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</li>

{% elif child_status == "subcategory" %}
	<div>
		<h4 class="menu-title" {% if category.ResCatDesc %} title="{{ category.ResCatDesc }}" {% endif %}>{{ category.ResCatName }}<a href="#" class="removeCategoryBtn" ownerCategory="{{ category.ResCatId }}"><i class="fas fa-times" style="padding-left: 7px;"></i></a></h4>
		<div class="form-group">
			<ul class="categoriesList{{ category.ResCatId }}">
				<div class="ico_category">
					<input type="text" placeholder="{{_('Category')}}" class="txt-input categoryName{{ category.ResCatId }}" style="width: 70%;height: 40px;">
					<input type="hidden" class="txt-input categoryDesc{{ category.ResCatId }}">
					<a href="#" data-toggle="tooltip" data-placement="bottom" class="addDescBtn" ownerCategory="{{ category.ResCatId }}" title="{{_('Description')}}"><i class="fas fa-question" data-toggle="modal" data-target=".categoryDescModal"></i></a>
					<a href="#" class="addCategoryBtn" ownerCategory="{{ category.ResCatId }}"><i class="fas fa-check"></i></a>
				</div>
			</ul>
		</div>
	</div>

	<!-- some divider here -->

{% elif child_status == "subcategory_child" %}
	<div>
		<li><a href="#" {% if category.ResCatDesc %} title="{{ category.ResCatDesc }}" {% endif %}>{{ category.ResCatName }}</a><a href="#" class="removeCategoryBtn" ownerCategory="{{ category.ResCatId }}"><i class="fas fa-times" style="padding-left: 7px;"></i></a></li>
	</div>
{% endif %}