<tr ownerId={{category.ResCatId}}>
  <td class="text-center editable categoryId" ownerId={{category.ResCatId}}>{{category.ResCatId}}</td>
  <td class="text-center editable categoryName" ownerId={{category.ResCatId}}>{{category.ResCatName if category.ResCatName else ''}}</td>
  <td class="text-center editable categoryDesc" ownerId={{category.ResCatId}}>{{category.ResCatDesc if category.ResCatDesc else ''}}</td>
  <td class="text-center editable categoryOwner" ownerId={{category.ResCatId}}>{{category.ResOwnerCatId if category.ResOwnerCatId else ''}}</td>
  <td class="text-center editable visibleIndex" ownerId={{category.ResCatId}}>{{category.ResCatVisibleIndex}}</td>
  <td class="p-0 text-center">
    <div class="custom-checkbox custom-control">
      <input type="checkbox" class="custom-control-input isMain" ownerId={{category.ResCatId}} id="checkbox{{category.ResCatId}}" {{ "checked" if category.IsMain }}>
      <label for="checkbox{{category.ResCatId}}" class="custom-control-label">&nbsp;</label>
    </div>
  </td>
  <td class="align-middle categoryIcon" ownerId={{category.ResCatId}} data-toggle="modal" data-target="#catIconsModal">
    <img loading="lazy" class="img-fluid categoryIcon" ownerId={{category.ResCatId}} name='{{category.ResCatIconFileName}}' src="{{category.ResCatIconFilePath if category.ResCatIconFilePath else url_for('static', filename='commerce/admin/ICONS/surface1.svg') }}" data-toggle="modal" data-target="#catIconsModal">
  </td>
  <td>
    <button class="btn btn-icon btn-success saveCategoryBtn" ownerId={{category.ResCatId}}><i class="fas fa-check"></i></button>
    <button class="btn btn-icon btn-danger deleteCategoryBtn" ownerId={{category.ResCatId}}><i class="fas fa-trash-alt"></i></button>
  </td>
</tr>