{% extends "commerce/admin/layout.html" %}

{% block content %}
  <div class="row">
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a href="{{url_for('commerce_admin.category_table')}}">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="banner-img">
                  <img src="{{ url_for('static', filename='commerce/admin/img/banner/1.png') }}" alt="">
                </div>
                <div class="card-content">
                  <h5 class="font-15">{{_('Category table')}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a href="{{url_for('commerce_admin.rp_table')}}">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="banner-img">
                  <img src="{{ url_for('static', filename='commerce/admin/img/banner/2.png') }}" alt="">
                </div>
                <div class="card-content">
                  <h5 class="font-15">{{_('Customers table')}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <a href="{{url_for('commerce_admin.sliders')}}">
        <div class="card">
          <div class="card-statistic-4">
            <div class="align-items-center justify-content-between">
              <div class="row ">
                <div class="banner-img">
                  <img src="{{ url_for('static', filename='commerce/admin/img/banner/3.png') }}" alt="">
                </div>
                <div class="card-content">
                  <h5 class="font-15">{{_('Slider')}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='commerce/admin/js/page/index.js') }}"></script>
{% endblock %}