<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    {% if title %}
      <title>{{_('Admin panel')}} - {{title}}</title>
    {% else %}
      <title>{{_('Admin panel')}}</title>
    {% endif %}

  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/css/bulma.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/css/core.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/css/app.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/admin_commerce/language.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/css/components.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/izitoast/css/iziToast.min.css') }}">
  <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='commerce/main/images/logo/sap_cozgut_grey.svg') }}" />
  {% block styles %}{% endblock %}
  </head>
  <body> 
    <div class="loader"></div>
    <div id="app">
      <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <nav class="navbar navbar-expand-lg main-navbar sticky" style="background: #fcfcfc">
          <div class="form-inline mr-auto">
            <ul class="navbar-nav mr-3">
              <li>
                <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn">
                  <i data-feather="align-justify"></i>
                </a>
              </li>
              <li>
                <a href="{{ url_for('commerce_admin.logout') }}" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn" style="color: #3c7fb9;">
                  <i class="material-icons">reply</i>
                </a>
              </li>
              <li class="dropdown" style="margin-top: auto;">
                <a href="javascript:void(0);"  title="Language" data-toggle="dropdown" role="button"><i class="material-icons">language</i>
                  <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                </a>
                <ul class="dropdown-menu slideUp2">
                  <li class="body">
                    <ul class="menu list-unstyled">
                      <li>
                        <a href="{{ url_for('commerce_admin.set_language',language='en') }}" class="dropdown-item">
                          <img src="{{ url_for('static', filename='commerce/main/images/us.svg') }}" style="width: 30px">
                          English language
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url_for('commerce_admin.set_language',language='tk') }}" class="dropdown-item">
                          <img loading="lazy" src="{{ url_for('static', filename='commerce/main/images/tm.svg') }}" style="width: 30px">
                          Türkmen dili
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url_for('commerce_admin.set_language',language='ru') }}" class="dropdown-item">
                          <img loading="lazy" src="{{ url_for('static', filename='commerce/main/images/ru.svg') }}" style="width: 30px">
                          Русский язык
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
        <div class="main-sidebar sidebar-style-2" tabindex="1">
          <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
              <a href="{{ url_for('commerce_admin.dashboard') }}"> <img alt="image" src="{{ url_for('static', filename='commerce/main/images/logo/sap_cozgut_grey.svg')}}" class="header-logo" />
                <span class="logo-name">Sap Admin</span>
              </a>
            </div>
            <ul class="sidebar-menu">
              <li class="dropdown">
                <a href="{{ url_for('commerce_admin.dashboard') }}" class="nav-link"><i data-feather="home"></i><span>{{_('Dashboard')}}</span></a>
              </li>
              <li class="dropdown">
                <a href="{{ url_for('commerce_admin.resources_table') }}" class="nav-link"><i data-feather="grid"></i><span>{{_('Product Table')}}</span></a>
              </li>
              <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="sidebar"></i><span>{{_('Navigation')}}</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{{ url_for('commerce_admin.company') }}">{{_('Company')}}</a></li>
                  <li><a class="nav-link" href="{{ url_for('commerce_admin.category_table') }}">{{_('Category table')}}</a></li>
                  <li><a class="nav-link" href="{{ url_for('commerce_admin.brands_table') }}">{{_('Brands')}}</a></li>
                  <li><a class="nav-link" href="{{ url_for('commerce_admin.rating_table') }}">{{_('Rating table')}}</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="{{ url_for('commerce_admin.add_product') }}" class="nav-link"><i data-feather="package"></i><span>{{_('Add Product')}}</span></a>
              </li>
              <li class="dropdown">
                <a href="{{ url_for('commerce_admin.user_table') }}" class="nav-link"><i data-feather="users"></i><span>{{_('Users table')}}</span></a>
              </li>
              <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="image"></i><span>{{_('Pictures')}}</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{{ url_for('commerce_admin.logo_setup') }}">{{_('Company logo')}}</a></li>
                  <li><a class="nav-link" href="{{ url_for('commerce_admin.sliders') }}">{{_('Sliders')}}</a></li>
                </ul>
              </li>
              <li class="menu-header">{{_('Invoices')}}</li>
              <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="shopping-cart"></i><span>{{_('Order invoices')}}</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="{{ url_for('commerce_admin.order_invoices') }}">{{_('Sale order invoices')}}</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="shopping-bag"></i><span>{{_('Invoices')}}</span></a>
                <ul class="dropdown-menu">
                  <li><a class="nav-link" href="#">{{_('Sale invoices')}}</a></li>
                </ul>
              </li>

              <li class="dropdown">
                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="users"></i><span>{{_('Customers')}}</span></a>
                <ul class="dropdown-menu">
                  <li>
                    <a class="nav-link" href="{{ url_for('commerce_admin.rp_table') }}">
                      {{_('Customers table')}}
                    </a>
                  </li>
                </ul>
              </li>

            </ul>
          </aside>
        </div>

        <div class="main-content">
          <section class="section">
            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="p-3 alert alert-{{ category }}" role="alert">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}

            {% block content %}{% endblock %}
          </section>
        </div>

        {% block modals %}{% endblock %}

        <footer class="main-footer">
          <div class="footer-left">
            <a href="saphasap.net">Sap Çözgüt</a></a>
          </div>
          <div class="footer-right">
          </div>
        </footer>
      </div>
    </div>
    <script>
      var url_prefix = "{{url_prefix if url_prefix else ''}}";
    </script>
    <script src="{{ url_for('static', filename='commerce/admin/js/app.min.js') }}"></script>
    <script src="{{ url_for('static', filename='commerce/admin/bundles/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ url_for('static', filename='commerce/admin/bundles/datatables/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='commerce/admin/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='commerce/admin/js/page/datatables.js') }}"></script>
    <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='commerce/admin/js/ui_dynamicals.js') }}"></script>
    {% block scripts %}{% endblock %}
    <script src="{{ url_for('static', filename='commerce/admin/js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='commerce/admin/bundles/izitoast/js/iziToast.min.js') }}"></script>
    <script src="{{ url_for('static', filename='commerce/admin/js/page/toastr.js') }}"></script>
    <script src="{{ url_for('static', filename='commerce/admin/bundles/sweetalert/sweetalert.min.js') }}"></script>
    <script type="text/javascript">
      var csrf_token = "{{ csrf_token() }}";
      $.ajaxSetup({
        beforeSend: function(xhr, settings){
          if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain){
            xhr.setRequestHeader("X-CSRFToken", csrf_token);
          }
        },
        error: function(jqXHR, textStatus, errorThrown) {
          if (jqXHR.status == 401 || jqXHR.status == 400) {
            location.reload();
          }
        }
      });
    </script>
  </body>
</html>
