{% extends "commerce/admin/layout.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
        <div class="card card-primary">
          <div class="card-header">
            <a href="{{ url_for('commerce_admin.user_table') }}" class="btn btn-outline-primary">
              <i data-feather="chevron-left"></i>
            </a>
            <h4>{{_('User')}}</h4>
          </div>
          <div class="card-body">
            <form action='' method="POST" enctype="multipart/form-data">
              {{ form.csrf_token() }}
              <div class="row">
                <div class="form-group col-6">
                  <label>{{_('Username')}}</label>
                  {{ form.username(class="form-control",placeholder=_('Username'),autofocus=true) }} 
                  {% if form.username.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="form-group col-6">
                  <label>{{_('Full name')}}</label>
                  {{ form.full_name(class="form-control",placeholder=_('Full name')) }} 
                  {% if form.full_name.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.full_name.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label>{{_('Email address')}}</label>
                  <div class="input-group mb-2">
                    <div class="input-group-prepend">
                      <div class="input-group-text">@</div>
                    </div>
                    {{ form.email(class="form-control",placeholder=_('Email address')) }} 
                    {% if form.email.errors %}
                      <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% endif %}
                  </div>
                </div>
                <div class="form-group col-6">
                  <label>{{_('Type')}}</label>
                  <div class="input-group">
                    {{ form.user_type(class="custom-select") }}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label>{{_('Price group')}}</label>
                  <div class="input-group">
                    {{ form.res_price_group(class="custom-select") }}
                  </div>
                </div>
                <div class="form-group col-6">
                  <label>{{_('Avatar')}}</label>
                  <div class="custom-file">
                    {{ form.picture(class="custom-file-input") }}
                    {% if form.picture.errors %}
                      {% for error in form.picture.errors %}
                        <span class="text-danger">{{ error }}</span>
                      {% endfor %}
                    {% endif %}
                  </div>
                </div>                
              </div>
              <div class="row">
                <div class="form-group col-6">
                  <label>{{_('Password')}}</label>
                  {{ form.password(class="form-control",placeholder=_('Password'),type='password') }} 
                  {% if form.password.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
                <div class="form-group col-6">
                  <label>{{_('Confirm password')}}</label>
                  {{ form.confirm_password(class="form-control",placeholder=_('Confirm password'),type='password') }} 
                  {% if form.confirm_password.errors %}
                    <div class="invalid-feedback">
                      {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  {{_('Save')}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
