{% extends "commerce/admin/layout.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/prism/prism.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/datatables.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/owlcarousel2/dist/assets/owl.carousel.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/admin_commerce/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/owlcarousel2/dist/assets/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/pretty-checkbox/pretty-checkbox.min.css') }}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>{{_('Sale order invoices')}}</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped" id="table-1">
              <thead>
                <tr>
                  <th class="text-center">#</th>
                  <th class="text-center">{{_('Product name')}}</th>
                  <th>{{_('Amount')}}</th>
                  <th>{{_('Price')}}</th>
                  <th>{{_('Total price')}}</th>
                  <th>{{_('Currency')}}</th>
                  <th>{{_('Action')}}</th>
                </tr>
              </thead>
              <tbody>
                {% for orderInvLine in orderInvLines %}
                  <tr>
                    <td class="text-center">{{ orderInvLine.OInvLineId }}</td>
                    <td class="text-center">{{ orderInvLine.Resource.ResName }}</td>
                    <td>{{ orderInvLine.OInvLineAmount }}</td>
                    <td>{{ orderInvLine.OInvLinePrice }}</td>
                    <td>{{ orderInvLine.OInvLineTotal }}</td>
                    <td>{{ orderInvLine.Currency.CurrencyCode }}</td>
                    <td>
                      <a href="" class="btn btn-icon btn-info"><i class="fas fa-pencil-alt"></i></a>
                      <a href="" class="btn btn-icon btn-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            {{ orderInvoices[0].OInvFTotal }} TMT

            <form method="POST" action="" enctype="multipart/form-data">
              {{ statusForm.hidden_tag() }}
              <div class="form-group col-md-6">
                {{ statusForm.invStatus(class="form-control") }}
                {{ statusForm.submit(class="btn btn-info") }}
              </div>
            </form>
                       
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}