{% extends "commerce/admin/layout.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/prism/prism.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/datatables.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/owlcarousel2/dist/assets/owl.carousel.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/admin_commerce/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/owlcarousel2/dist/assets/owl.theme.default.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/pretty-checkbox/pretty-checkbox.min.css') }}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h4>{{_('Sale order invoices')}}</h4>
          <a href="{{ url_for('commerce_admin.order_invoices') }}" class="btn btn-outline-primary">
            <i data-feather="layers"></i> {{_('All orders')}}
          </a>
          <a href="{{ url_for('commerce_admin.customer_details',RpAccRegNo=orderInvoices[0].Rp_acc.RpAccRegNo) }}" class="btn btn-outline-info">
            <i data-feather="user"></i> {{_("This customer's orders")}}
          </a>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <h6>{{_('Reg №')}}:</h6>
              <p class="oInvRegNo" >{{ orderInvoices[0].OInvRegNo }}</p>
            </div>
            <div class="col-md-6 text-md-right">
              <i data-feather="clock"></i>
              <div class="date">
                <div>{{_('Ordered date')}}</div>
                <div class="is-date">{{orderInvoices[0].CreatedDate}}</div>
              </div>
            </div>
          </div>

          <div class="table-responsive">
            <table class="table table-striped" id="mainTable" >
              <thead>
                <tr>
                  <th class="text-center">№</th>
                  <th class="text-center">{{_('Product name')}}</th>
                  <th class="text-center">{{_('Amount')}}</th>
                  <th class="text-center">{{_('Price')}}</th>
                  <th class="text-center">{{_('Total price')}}</th>
                  <th class="text-center">{{_('Currency')}}</th>
                  <th class="text-center">{{_('Action')}}</th>
                </tr>
              </thead>
              <tbody class="productsTable">
                {% for orderInvLine in orderInvLines %}
                  <tr ownerId="{{ orderInvLine.OInvLineId }}">
                    <td class="text-center">{{ orderInvLine.OInvLineId }}</td>
                    <td class="text-center">{{ orderInvLine.Resource.ResName }}</td>
                    <td class="text-center editable productQty" ownerId="{{ orderInvLine.OInvLineId }}">
                      {{ orderInvLine.OInvLineAmount }}
                    </td>
                    <td class="text-center editable productPrice" ownerId="{{ orderInvLine.OInvLineId }}">
                      {{ orderInvLine.OInvLinePrice }}
                    </td>
                    <td class="text-center productTotalPrice" ownerId="{{ orderInvLine.OInvLineId }}">
                      {{ orderInvLine.OInvLineTotal }}
                    </td>
                    <td class="text-center">{{ orderInvLine.Currency.CurrencyCode }}</td>
                    <td class="text-center">
                      <button class="btn btn-icon btn-danger removeInvProduct" ownerId="{{ orderInvLine.OInvLineId }}"><i class="fas fa-trash-alt"></i></button>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <div class="input-group">
              <div class="col-12">
                <label>{{_('Set Status')}}</label>
                <div class="form-group">
                  <div class="input-group" style="display: flex;">
                    <select class="dropdown">
                      {% for inv_status in inv_statuses %}
                        <option class="orderInvStatus" value="{{ inv_status.InvStatId }}" 
                          {{ 'selected' if inv_status.InvStatId == orderInvoices[0].InvStatus.InvStatId }}>
                          {{ inv_status.InvStatName }}
                        </option>
                      {% endfor %}
                    </select>
                    <button class="btn btn-info setInvStatus">{{_('Set')}}</button>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <h6>{{_('Customer')}}:</h6>
                <p>{{ orderInvoices[0].Rp_acc.RpAccName }}</p>
                <h6>{{_('Reg №')}}:</h6>
                <p>{{ orderInvoices[0].Rp_acc.RpAccRegNo }}</p>
                <div class="inv_about">
                  <h6>{{_('Email')}}:</h6>
                  <p>{{ orderInvoices[0].Rp_acc.RpAccEMail }}</p>
                  <h6>{{_('Mobile phone')}}:</h6>
                  <p>{{ orderInvoices[0].Rp_acc.RpAccMobilePhoneNumber if orderInvoices[0].Rp_acc.RpAccMobilePhoneNumber else '' }}</p>
                  <h6>{{_('Home phone')}}:</h6>
                  <p>{{ orderInvoices[0].Rp_acc.RpAccHomePhoneNumber if orderInvoices[0].Rp_acc.RpAccHomePhoneNumber else '' }}</p>
                  <h6>{{_('Zip code')}}:</h6>
                  <p>{{ orderInvoices[0].Rp_acc.RpAccZipCode if orderInvoices[0].Rp_acc.RpAccZipCode else '' }}</p>
                </div>  
              </div>
              
              <div class="col-6 text-right">
                <div class="inv_total">
                  <h6>{{_('Total price')}}:</h6>
                  <span>{{ orderInvoices[0].Currency.CurrencyCode }}</span>
                  <span class="invTotalPrice">{{ orderInvoices[0].OInvFTotal }}</span>
                  <span>({{orderInvoices[0].OInvFTotalInWrite}})</span>
                </div>
                <br>
                <div class="inv_btn">
                  <button class="btn btn-success saveInvData">{{_('Save')}}</button>
                  <button class="btn btn-primary">{{_('Invoice')}}</button>
                </div>
                <div>
                  <h6>{{_('Description')}}</h6>
                  <p>{{ orderInvoices[0].OInvDesc if orderInvoices[0].OInvDesc else '' }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='commerce/admin/bundles/editable-table/mindmup-editabletable.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/page/editable-table.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/order_invoices.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/ui_dynamicals.js') }}"></script>
{% endblock %}