{% extends "commerce/admin/layout.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/datatables.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<h4>{{_('Rating table')}}</h4>
				</div>
				<div class="card-body">
					<div class="buttons">
						<a href="{{ url_for('commerce_admin.rating_table') }}" class="btn btn-icon icon-left btn-outline-primary">
							{{_('All')}}
            </a>
            <a href="{{ url_for('commerce_admin.rating_table',validated=1) }}" class="btn btn-icon icon-left btn-outline-primary">
            	{{_('Validated')}}
            </a>
            <a href="{{ url_for('commerce_admin.rating_table',validated=0) }}" class="btn btn-icon icon-left btn-outline-primary">
            	{{_('Not validated')}}
            </a>
          </div>
					<div class="table-responsive">
						<table class="table table-striped" id="mainTable">
							<thead>
								<tr>
									<th class="text-center">№</th>
									<th class="text-center">{{_('Product')}}</th>
									<th class="text-center">{{_('Customer')}}</th>
									<th class="text-center">{{_('Value')}}</th>
									<th class="text-center">{{_('Remark')}}</th>
									<th class="text-center">{{_('Validated')}}</th>
									<th class="text-center">{{_('Action')}}</th>
								</tr>
							</thead>
							<tbody class="ratingTable">
								{% for rating in data %}
									<tr ownerId={{rating.RtId}}>
										<td class="text-center ratingId" ownerId={{rating.RtId}}>{{rating.RtId}}</td>
										<td class="text-center" ownerId={{rating.RtId}}>{{rating.resource.ResName if rating.resource else ''}}</td>
										<td class="text-center" ownerId={{rating.RtId}}>{{rating.rp_acc.RpAccName if rating.rp_acc else ''}}</td>
										<td class="text-center editable ratingValue" ownerId={{rating.RtId}}>{{rating.RtRatingValue if rating.RtRatingValue else ''}}</td>
										<td class="text-center editable ratingRemark" ownerId={{rating.RtId}}>{{rating.RtRemart if rating.RtRemark else ''}}</td>
										<td class="p-0 text-center">
                      <div class="custom-checkbox custom-control">
                        <input type="checkbox" class="custom-control-input ratingValidated" ownerId={{rating.RtId}} id="checkbox{{rating.RtId}}" {{ "checked" if rating.RtValidated }}>
                        <label for="checkbox{{rating.RtId}}" class="custom-control-label">&nbsp;</label>
                      </div>
                    </td>
										<td class="text-center">
											<button class="btn btn-icon btn-success saveRatingBtn" ownerId={{rating.RtId}}><i class="fas fa-check"></i></button>
											<button class="btn btn-icon btn-danger deleteRatingBtn" ownerId={{rating.RtId}}><i class="fas fa-trash-alt"></i></button>
										</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='commerce/admin/bundles/editable-table/mindmup-editabletable.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/admin/js/page/editable-table.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/admin/js/ui_dynamicals.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/admin/js/rating_table.js') }}"></script>
{% endblock %}
