{% extends "commerce/admin/layout.html" %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css')}}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <a href="{{ url_for('commerce_admin.resources_table') }}">
            <i data-feather="arrow-left-circle"></i>
          </a>
          <h4>{{resource.ResName}}</h4>
        </div>
        <div class="card-body">
          {% if resource.ResDesc %}
            <div class="card-header">
              <h4>{{_('Description')}}</h4>
            </div>
            <div class="resourceDesc" ownerId={{resource.ResId}}>{{resource.ResDesc}}</div>
            <br>
          {% endif %}
          {% for image in resource.Images %}
            <div class="gallery gallery-fw" data-item-height="100" style="display: flex;">
              <div class="gallery-item" data-toggle="popover" data-trigger="hover" title="{{image.FileName}}" data-image="{{ image.FilePathM }}"></div>
              <div class="carousel_icon">
                <li>
                  <a href="{{ url_for('commerce_admin.remove_images',type='image',imgId=image.ImgId) }}" class="btn btn-icon btn-light">
                    <i class="fas fa-trash-alt"></i>
                  </a>
                </li>
              </div>
            </div>
          {% endfor %}
        </div>
        <button class="btn btn-info" data-toggle="modal" data-target=".addImageModal"><i class="fas fa-plus"></i></button>
      </div>
    </div>
  </div>
{% endblock %}


{% block modals %}
  <div class="modal fade addImageModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="formModal">{{_('Add product image')}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form method="POST" action="" enctype="multipart/form-data">
            {{ resourceForm.hidden_tag() }}
            <br>
            <div class="section-title">{{_('Upload images')}}</div>
            {{ resourceForm.resourceImage }}
            {% if resourceForm.resourceImage.errors %}
              {% for error in resourceForm.resourceImage.errors %}
                <span class="text-danger">{{ error }}</span>
              {% endfor %}
            {% endif %}
            <button type="submit" class="btn btn-primary m-t-15 waves-effect" name="resourceForm">{{_('Save')}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script src="{{ url_for('static', filename='commerce/admin/js/moment.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/basic-form-elements.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/page/gallery1.js') }}"></script>  
{% endblock %}
