{% extends "commerce/admin/layout.html" %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/prism/prism.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/datatables.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4>{{_('Customers')}}</h4>
        <a href="{{ url_for('commerce_admin.manage_rp') }}" class="btn btn-outline-primary">
          <i data-feather="user-plus"></i> {{_("Add")}}
        </a>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped" id="table-1">
            <thead>
              <tr>
                <th class="text-center">№</th>
                <th class="text-center">{{_('Reg No')}}</th>
                <th class="text-center">{{_('Image')}}</th>
                <th class="text-center">{{_('Name')}}</th>
                <th class="text-center">{{_('Full name')}}</th>
                <th class="text-center">{{_('Status')}}</th>
                <th class="text-center">{{_('Type')}}</th>
                <th class="text-center">{{_('Action')}}</th>
              </tr>
            </thead>
            <tbody class="customersTable">
              {% for rp_acc in rp_accs %}
                <tr ownerId="{{ rp_acc.RpAccId }}">
                  <td class="text-center">{{ rp_acc.RpAccId }}</td>
                  <td class="text-center">{{ rp_acc.RpAccRegNo }}</td>
                  <td class="text-center">
                    <img loading="lazy" src="{{ rp_acc.FilePathS if rp_acc.FilePathS else url_for('static', filename='commerce/admin/img/no_avatar.jpg') }}" width="40">
                  </td>
                  <td class="text-center">
                    <a href="{{ url_for('commerce_admin.rp_details',RpAccRegNo=rp_acc.RpAccRegNo)}}" class="btn btn-outline-primary">
                      {{ rp_acc.RpAccUName if rp_acc.RpAccUName }}
                    </a>
                  </td>
                  <td class="text-center">{{ rp_acc.RpAccName if rp_acc.RpAccName else '' }}</td>
                  <td class="text-center">
                    <div class="form-group">
                      <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect04">
                          {% if rp_acc.Rp_acc_status.RpAccStatusId == Null %}
                            <option class="rpAccStatus" value="" ownerId="{{ rp_acc.RpAccId }}" selected>
                              {{_('Select')}}...
                            </option>
                          {% endif %}
                          {% for rp_acc_status in rp_acc_statuses %}
                            <option class="rpAccStatus" value="{{ rp_acc_status.RpAccStatusId }}" ownerId="{{ rp_acc.RpAccId }}" {{ 'selected' if rp_acc_status.RpAccStatusId == rp_acc.Rp_acc_status.RpAccStatusId }}>
                              {{ rp_acc_status.RpAccStatusName }}
                            </option>
                          {% endfor %}
                        </select>
                        <div class="input-group-append" style="margin-left: -5px;">
                          <button class="btn btn-info setRpAccStatus" ownerId="{{ rp_acc.RpAccId }}"><i class="fas fa-check"></i></button>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <div class="form-group">
                      <div class="input-group">
                        <select class="custom-select" id="inputGroupSelect04">
                          {% if rp_acc.Rp_acc_type.RpAccTypeId == Null %}
                            <option class="rpAccType" value="" ownerId="{{ rp_acc.RpAccId }}" selected>
                              {{_('Select')}}
                            </option>
                          {% endif %}
                          {% for rp_acc_type in rp_acc_types %}
                            <option class="rpAccType" value="{{ rp_acc_type.RpAccTypeId }}" ownerId="{{ rp_acc.RpAccId }}" 
                              {{ 'selected' if rp_acc_type.RpAccTypeId == rp_acc.Rp_acc_type.RpAccTypeId }}>
                              {{ rp_acc_type.RpAccTypeName }}
                            </option>
                          {% endfor %}
                        </select>
                        <div class="input-group-append" style="margin-left: -5px;">
                          <button class="btn btn-info setRpAccType" ownerId="{{ rp_acc.RpAccId }}"><i class="fas fa-check"></i></button>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">
                    <a href="{{ url_for('commerce_admin.manage_rp',id=rp_acc.RpAccId) }}" class="btn btn-icon btn-info"><i class="fas fa-edit"></i></a>
                    <button class="btn btn-icon btn-danger deleteCustomerBtn" ownerId="{{ rp_acc.RpAccId }}">
                      <i class="fas fa-trash-alt"></i>
                    </button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='commerce/admin/js/users_customers_table.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/ui_dynamicals.js') }}"></script>
{% endblock %}