{% extends "commerce/admin/layout.html" %}
 
{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/datatables.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/animate.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/font-awesome.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/nice-select.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/slick.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/admin_commerce/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='commerce/admin/commerce_styles/css/main-color.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/admin/bundles/dropzonejs/dropzone.css') }}">
{% endblock %}

{% block content %}
<div class="section-body">
  
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4>Reýtingli harytlar</h4>
          <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#catIconsModal">Doly maglumat</a>
          <h1 style="padding-left: 15%; color: #396fa3;">80</h1>
        </div>
        <div class="card-body">
          <canvas id="line-chart"></canvas>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4>Bir aýda satylan harytlar</h4>
          <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#basicModal">Doly maglumat</a>
          <h1 style="padding-left: 15%; color: #5aaeb8;">1000</h1>
        </div>
        <div class="card-body">
          <canvas id="lineChartFill"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4>Köp satyn alynan harytlar</h4>
          <a href="#" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModalLong">Doly maglumat</a>
          <h1 style="padding-left: 15%; color: #559b35;">800</h1>
        </div>
        <div class="card-body">
          <canvas id="line-chart3"></canvas>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card">
        <div class="card-header">
          <h4>Köp isleg bildirilýän harytlar</h4>
          <a href="#" class="btn btn-outline-primary" >Doly maglumat</a>
          <h1 style="padding-left: 15%; color: #984076;">1100</h1>
        </div>
        <div class="card-body">
          <canvas id="line-chart4"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block modals %}
  
<!-- reytingli harytlar -->
<div class="modal fade" id="catIconsModal" tabindex="-1" role="dialog" aria-labelledby="catIconsModalTitle" aria-hidden="true" style="background-color: rgba(71, 69, 69, 0.548);">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 100%; width: 95%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="catIconsModalTitle">{{_('Reýtingli harytlaryň tablisasy')}}</h5>
        <form class="card-header-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="{{_('Search')}}" style="height: 37px;">
            <div class="input-group-btn">
            <button class="btn btn-primary btn-icon" style="margin-left: 0;"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <h4>Simple Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-md">
                <tr>
                  <th>#</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Created At</th>
                  <th>Status</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/15.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </td>
                  <td><a href="#" class="btn btn-outline-primary">Detail</a></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/10.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </td>
                  <td><a href="#" class="btn btn-outline-primary">Detail</a></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/5.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </td>
                  <td><a href="#" class="btn btn-outline-primary">Detail</a></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/1.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                  </td>
                  <td><a href="#" class="btn btn-outline-primary">Detail</a></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
            <nav class="d-inline-block">
              <ul class="pagination mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1 <span
                      class="sr-only">(current)</span></a></li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- reytingli harytlar -->


<!-- Bir aýda satylan harytlar -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true" style="background-color: rgba(71, 69, 69, 0.548);">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 100%; width: 95%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{_('Reýtingli harytlaryň tablisasy')}}</h5>
        <form class="card-header-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="{{_('Search')}}" style="height: 37px;">
            <div class="input-group-btn">
            <button class="btn btn-primary btn-icon" style="margin-left: 0;"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body" style="padding-left: 23%;">
        <a href="#" class="btn btn-outline-primary" data-toggle="modal"
        data-target="#exampleModalCenter">Soňky sagatda satylan</a>
        <a href="#" class="btn btn-outline-secondary" data-toggle="modal" data-target="#exampleModal">Soňky günde satylan</a>
        <a href="#" class="btn btn-outline-info" data-toggle="modal"
        data-target=".bd-example-modal-lg">Soňky hepdede satylan</a>
        <a href="#" class="btn btn-outline-success" data-toggle="modal"
        data-target=".bd-example-modal-sm">Soňky aýda satylan</a>
      </div>
    </div>
  </div>
</div>
<!-- Bir aýda satylan harytlar -->
<!-- Bir aýda satylan harytlar yzy Soňky sagatda satylan -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="background-color: rgba(71, 69, 69, 0.548);">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 100%; width: 95%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenter">{{_('Soňky sagatda satylan')}}</h5>
        <form class="card-header-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="{{_('Search')}}" style="height: 37px;">
            <div class="input-group-btn">
            <button class="btn btn-primary btn-icon" style="margin-left: 0;"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <h4>Simple Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-md">
                <tr>
                  <th>#</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Created At</th>
                  <th>Much</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/15.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/10.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/5.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/1.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td>1000 TMT</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
            <nav class="d-inline-block">
              <ul class="pagination mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1 <span
                      class="sr-only">(current)</span></a></li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bir aýda satylan harytlar yzy -->

<!-- Bir aýda satylan harytlar yzy Soňky günde satylan -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true" style="background-color: rgba(71, 69, 69, 0.548);">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 100%; width: 95%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModal">{{_('Soňky günde satylan')}}</h5>
        <form class="card-header-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="{{_('Search')}}" style="height: 37px;">
            <div class="input-group-btn">
            <button class="btn btn-primary btn-icon" style="margin-left: 0;"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <h4>Simple Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-md">
                <tr>
                  <th>#</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Created At</th>
                  <th>Much</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/15.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/10.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/5.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/1.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td>1000 TMT</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
            <nav class="d-inline-block">
              <ul class="pagination mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1 <span
                      class="sr-only">(current)</span></a></li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bir aýda satylan harytlar yzy -->

<!-- Bir aýda satylan harytlar yzy Soňky hepdede satylan -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="background-color: rgba(71, 69, 69, 0.548);">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 100%; width: 95%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="myLargeModalLabel">{{_('Soňky hepdede satylan')}}</h5>
        <form class="card-header-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="{{_('Search')}}" style="height: 37px;">
            <div class="input-group-btn">
            <button class="btn btn-primary btn-icon" style="margin-left: 0;"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <h4>Simple Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-md">
                <tr>
                  <th>#</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Created At</th>
                  <th>Much</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/15.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/10.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/5.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/1.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td>1000 TMT</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
            <nav class="d-inline-block">
              <ul class="pagination mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1 <span
                      class="sr-only">(current)</span></a></li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bir aýda satylan harytlar yzy -->
<!-- Bir aýda satylan harytlar yzy Soňky aýda satylan -->
<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" style="background-color: rgba(71, 69, 69, 0.548);">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 100%; width: 95%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mySmallModalLabel">{{_('Soňky aýda satylan')}}</h5>
        <form class="card-header-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="{{_('Search')}}" style="height: 37px;">
            <div class="input-group-btn">
            <button class="btn btn-primary btn-icon" style="margin-left: 0;"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <h4>Simple Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-md">
                <tr>
                  <th>#</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Created At</th>
                  <th>Much</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/15.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/10.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/5.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td>1000 TMT</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/1.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td>1000 TMT</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
            <nav class="d-inline-block">
              <ul class="pagination mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1 <span
                      class="sr-only">(current)</span></a></li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bir aýda satylan harytlar yzy -->

<!-- Kop satyn alynan harytlar -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="background-color: rgba(71, 69, 69, 0.548);">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 100%; width: 95%;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{_('Kop satyn alynan harytlar')}}</h5>
        <form class="card-header-form">
          <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="{{_('Search')}}" style="height: 37px;">
            <div class="input-group-btn">
            <button class="btn btn-primary btn-icon" style="margin-left: 0;"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="card">
          <div class="card-header">
            <h4>Simple Table</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-md">
                <tr>
                  <th>#</th>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Created At</th>
                  <th>Much</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/15.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td><a href="#" class="btn btn-outline-primary" id="myBtn">Detail</a></td>
                </tr>
                <tr>
                  <td>2</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/10.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-09</td>
                  <td><a href="#" class="btn btn-outline-primary" id="myBtn">Detail</a></td>
                </tr>
                <tr>
                  <td>3</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/5.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td><a href="#" class="btn btn-outline-primary" id="myBtn">Detail</a></td>
                </tr>
                <tr>
                  <td>4</td>
                  <td><img alt="image" src="{{ url_for('static', filename='commerce/main/images/product/1.jpg')}}" class="rounded-circle" width="35"
                  data-toggle="tooltip" title="Wildan Ahdian"></td>
                  <td>Noor yupek</td>
                  <td>2020-01-11</td>
                  <td><a href="#" class="btn btn-outline-primary" id="myBtn">Detail</a></td>
                </tr>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
            <nav class="d-inline-block">
              <ul class="pagination mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1 <span
                      class="sr-only">(current)</span></a></li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Kop satyn alynan harytlar -->
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='commerce/admin/bundles/chartjs/chart.min.js') }}"></script>
<!-- Page Specific JS File -->
<script src="{{ url_for('static', filename='commerce/admin/js/page/chart-chartjs.js')}}"></script>


  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/jquery.countdown.min.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/jquery.nice-select.min.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/jquery.nicescroll.min.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/slick.min.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/biolife.framework.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/commerce_styles/js/functions.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/bundles/dropzonejs/min/dropzone.min.js') }}"></script>

  <script src="{{ url_for('static', filename='commerce/admin/js/resource.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/price.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/translations.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/images.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/colors.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/sizes.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/js/propertiesMain.js') }}"></script>

  <script>
    
    var numbers = document.getElementById('box');
    for(i=0;i<100;i++){
        var span = document.createElement('span');
        span.textContent = i;
        numbers.appendChild(span);
    }
        var num = numbers.getElementsByTagName('span')
        var index = 0;

        function nextNum(){
            num[index].style.display = 'none';
            index = (index + 1) % num.length;
            num[index].style.display = 'initial';
        }

        function prevNum(){
            num[index].style.display = 'none';
            index = (index - 1 + num.length) % num.length;
            num[index].style.display = 'initial';
        }
        
  </script>
{% endblock %}
