{% set dropdowns = {
    "dashboard_commerce":{
      "attributes":[('admin.dashboard_commerce','home','Dashboard')],
      "nav_items":[('admin.dashboard_commerce','home','Dashboard')]
      },
    "product_table":{
      "attributes":[('admin.product_table_commerce','grid','Product table')],
      "nav_items":[[('admin.product_table_commerce','grid','Product table')]
      },
    "navbar_commerce":{
      "attributes":[('admin.navbar_commerce','menu','Navbar')],
      "nav_items":[('admin.navbar_commerce','menu','Navbar')]
      },
    "single_product_commerce":{
      "attributes":[('admin.single_product_commerce','package','Single product')],
      "nav_items":[('admin.single_product_commerce','package','Single product')]
      },
    "main_page_commerce":{
      "attributes":[('admin.picture_commerce','clipboard','Main page')],
      "nav_items":[('admin.picture_commerce','box-open','Pictures')]
      }
    }
  -%}
  <ul class="sidebar-menu">
    {%- set active_page = active_page|default('') -%}
    {%- set menu_open = menu_open|default('') -%}
    {%- for drops in dropdowns -%}
      {%- set dropdown_dictionary = dropdowns[drops] -%}
      {%- for id, class_object, caption in dropdown_dictionary["attributes"] %}

        <li class="dropdown {% if id==menu_open -%} active {%- endif -%}">
          <a href="" class="nav-link"><i data-feather="{{ class_object }}"></i><span>{{_('Single Product')}}</span></a>
        </li>
        <li class="dropdown">
          <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="clipboard"></i><span>{{_('Main page')}}</span></a>
          <ul class="dropdown-menu">
            {%- for id, class_object, caption in dropdown_dictionary["nav_items"] %}
              <li {% if id==active_page -%} class="active "{%- endif -%}><a class="nav-link" href="">{{ _(caption) }}</a></li>
            {%- endfor %}
          </ul>
        </li>
<!-- 
        <li class="dropdown {% if id==menu_open -%} active {%- endif -%}">
          <a href="#" class="menu-toggle nav-link has-dropdown">
            <i class="nav-icon fa fa-fw {{ class_object }}"></i>
            <span>{{_(caption)}}</span>
          </a>
          <ul class="dropdown-menu">
            {%- for id, class_object, caption in dropdown_dictionary["nav_items"] %}
              <li {% if id==active_page -%} class="active "{%- endif -%}><a class="nav-link" href="/{{ id|e }}"><i class="fa fa-fw {{ class_object|e }} nav-icon"></i>{{ _(caption) }}</a></li>
            {%- endfor %}
          </ul>
        </li> -->
      {%- endfor %}
      {% endfor -%}
  </ul>
<!-- 