<div class="col-sm-6 col-md-4 col-lg-3">
	<div class="preview">
		<a href="{{ url_for('commerce_admin.remove_svg_icon', name=iconInfo['icon_name'], icon_category=iconInfo['category']) }}" class="btn btn-outline-danger removeIconBtn">x</a>
		<a href="#">
			<img loading="lazy" name="{{ iconInfo['icon_name'] }}" icon_category="{{ iconInfo['category'] }}" class="img-fluid" style="margin-left: 43%;" src="{{ iconInfo['url'] }}">
			<br>
			<span class="icon_name" style="text-transform: capitalize;color: #4f51c0;padding-left: 20px;">{{ iconInfo['icon_name'] }}</span>
		</a>
	</div>
</div>