
{% extends "commerce/rd/commerce/layout.html" %}

{% block head %}
<meta name="description" content="{{company.CName}} | {{company.CDesc}}">
<meta property="og:description" content="{{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta property="og:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
<meta name="twitter:description" content="{{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
{% endblock %}

{% block content %}
		
		<div class="slider-area">
			<div class="slider-active-2 owl-carousel nav-style-3">
				{% for slider in sliders %}
				{% if slider.SlName == "commerce_header" %}
					{% for sl_image in slider.Sl_images %}
					{% if sl_image.SlImgMainImgFilePathM %}
					<div class="single-slider-2 bg-img slider-height-2" style="background: #ffe9e2">
						<div class="container">
							<div class="row align-items-center">
								<div class="col-lg-7 col-md-6 col-12 col-sm-6">
									<div class="slider-content-2 slider-animated-2 ml-20">
										<h1 class="animated">Complete Summer <br>Fashion</h1>
										<p class="animated">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore dolore magna aliqua.</p>
									</div>
								</div>
								<div class="col-lg-5 col-md-6 col-12 col-sm-6">
									<div class="slider-sin-img-hm2 slider-sin-mrg2 slider-animated-2">
										<img class="animated" loading="lazy" src="{{ url_for('static', filename='commerce/hs/images/icons/no_photo.svg') }}" data-src-m="{{ sl_image.SlImgMainImgFilePathR }}"
											alt="{{ sl_image.SlImgTitle if sl_image.SlImgTitle else 'sl_image.SlImgMainImgFileName' }} {{ company.CName }}">
									</div>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				{% endif %}
				{% endfor %}
			</div>
		</div>
		{% for slider in sliders %}
		{% if slider.SlName == "commerce_footer" %}
		<div class="banner-area pt-30 pb-40">
			<div class="container">
				<div class="row">
					{% for sl_image in slider.Sl_images %}
					{% if sl_image.SlImgMainImgFilePathS %}
					<div class="col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="banner-wrap bottom_banner mb-30">
							<a href="{{url_for('commerce.v_grid')}}">
								<img loading="lazy" src="{{ sl_image.SlImgMainImgFilePathM }}"
								data-src-m="{{ sl_image.SlImgMainImgFilePathR }}"
								alt="banner {{ sl_image.SlImgMainImgFileName }} {{ company.CName }}">
							</a>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}
		<div class="col-lg-12">
			<div class="iq-card iq-card-block iq-card-stretch iq-card-height">
				 <div class="iq-card-header d-flex justify-content-between align-items-center position-relative mb-0 trendy-detail">
						<div class="iq-header-title">
							 <h4 class="card-title mb-0">Новое поступление</h4>
						</div>
						<div class="iq-card-header-toolbar d-flex align-items-center">
							 <a href="category.html" class="btn btn-sm btn-primary view-more">Посмотреть больше</a>
						</div>
				 </div>
				 <div class="iq-card-body trendy-contens">
						<ul id="trendy-slider" class="list-inline p-0 mb-0 row">

						{% for resource in Latest_resources %}
							<li class="col-md-3">
								<div class="product-wrap product-border-3 product-img-zoom mb-30">
									<div class="product-img">
										<a href="{{url_for('commerce.product',ResId=resource.ResId,ResName=resource.ResName.replace('/','-').replace(' ','-'))}}">
											<img loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/icons/no_photo.svg') }}" alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }} {{ company.CName }}">
										</a>
									</div>
									<div class="product-content product-content-padding">
										{% if current_user.is_authenticated %}
										<div class="yith-wcwl-add-to-wishlist wishlist-button">
											<a rel="nofollow" class="like {{'heart' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}">
												<i class="la la-heart" aria-hidden="true"></i>
											</a>
										</div>
										{% endif %}
										<div class="hm3"><div class="ui-q0">
											<span class="ui-q3 ui-q6">
												{{ resource.ResPriceValue }} 
											</span>
											<span class="ui-q3 ui-q6">
												{{ resource.CurrencyCode }}
											</span>
										</div>
										<span class="n1c c2n n2c nc5 f-tsBodyM" style="color:var(--ozOrange);">
											<span>
												Бестселлер
											</span>
										</span>
										<a href="#" class="tile-hover-target k9h">
											<span class="n1c c2n n2c nc4 f-tsBodyL k9h">
												<span>{{ resource.ResName }}</span>
											</span>
										</a>
										<div class="kh9 nc">
											<div class="ui-ab7 ui-a6b ui-b7a">
												<div class="ui-b5a ui-a6b">
													<i class="las la-star"></i>
													<i class="las la-star"></i>
													<i class="las la-star"></i>
													<i class="las la-star"></i>
													<i class="las la-star"></i>
												</div> 
											</div>
										</div> 
										<div class="hw w0h">
												<div class="wh0 h1w">
														<div class="q6c qc7 wh">
																<div class="ui-b2">
																	<div class="product-count cardplacement cartItemQty" style="display: none;">
																		<div class="qtyminus qtybtn">-</div>
																		<input type="text" class="qty productQty"
																			pending_amount="{{resource.ResPendingTotalAmount}}"
																			min_amount="{{resource.ResMinSaleAmount}}"
																			max_amount="{{resource.ResMaxSaleAmount}}"
																			value="{{resource.productQty}}" ownerId="{{ resource.ResId }}">
																		<div class="qtyplus qtybtn">+</div>
																	</div>
																	<a class="round-black-btn cardplacement add-to-cart" ownerId="{{ resource.ResId }}" style="color: #fff">{{_('Add to cart')}}</a>
																</div>
														</div>
												</div>
										</div>
										</div>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
			</div>
		</div>
		<div class="recent-selling-area pb-60">
			<div class="container">
				<div class="section-title-2 text-center">
						<h2>Recent Selling Product</h2>
						<img src="{{ url_for('static', filename='commerce/rd/images/title-shape.png') }}" alt="icon-img">
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-12">
						<div class="product-wrap product-border-3 product-img-zoom mb-30">
							<div class="product-img" style="height: 65%;">
								<a href="#">
									<img loading="lazy" src="{{ url_for('static', filename='commerce/rd/1.jpg') }}" alt="Product featured_resource.ResName of category  featured_resource.ResCatName if featured_resource.ResCatName else ''  company.CName ">
								</a>
							</div>
							<div class="product-content product-content-padding">
								<div class="hm3"><div class="ui-q0">
									<span class="ui-q3 ui-q6">
										15,85 T
									</span>
								</div>
								<span class="n1c c2n n2c nc5 f-tsBodyM" style="color:var(--ozOrange);">
									<span>
										Бестселлер
									</span>
								</span>
								<a href="#" class="tile-hover-target k9h">
									<span class="n1c c2n n2c nc4 f-tsBodyL k9h">
										<span>Портрет Дориана Грея | Уайльд Оскар</span>
									</span>
								</a>
								<div class="kh9 nc">
									<div class="ui-ab7 ui-a6b ui-b7a">
										<div class="ui-b5a ui-a6b">
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
										</div> 
									</div>
								</div> 
								<div class="hw w0h">
										<div class="wh0 h1w">
												<div class="q6c qc7 wh">
														<div class="ui-b2">
																<button tabindex="0" type="button" class="ui-b4">
																		<span class="ui-b5" style="border-radius: 6px;"><span class="ui-e8">В корзину</span></span>
																</button>
														</div>
												</div>
										</div>
								</div>

								</div>
							</div>
							<div class="h0n">
								<div interactive="true" class="ui-i4 n0h"> 
									<div class="c2w ui-a1">
										<div tabindex="0" type="button" class="ui-a3">
											<span class="ui-a4 ui-b2 ui-a6 ui-d4" style="border-radius:6px;">
												<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ui-d2" style="color:var(--ozBlack);"><path d="M17.282 1C21.34 1 23.999 4.147 24 8.5c0 4.287-3.168 8.376-10.8 14.1l-1.2.9-1.2-.9C3.168 16.876 0 12.787 0 8.5 0 4.147 2.659 1 6.718 1 8.734 1 10.64 1.806 12 3.177A7.455 7.455 0 0117.282 1z" fill="#fff"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23 8.5C23 4.8 20.861 2 17.282 2 15.115 2 13.136 3.069 12 4.742 10.864 3.069 8.884 2 6.718 2 3.138 2 1 4.8 1 8.5c0 3.817 2.886 7.664 10.4 13.3l.6.45.6-.45C20.115 16.164 23 12.316 23 8.5zM17.282 4C19.622 4 21 5.805 21 8.5c0 2.93-2.398 6.211-9 11.246C5.398 14.712 3 11.43 3 8.5 3 5.805 4.379 4 6.718 4 9.03 4 11 5.743 11 8h2c0-2.257 1.969-4 4.282-4z" fill="#001A34"></path></svg>
												<span class="ui-d7"></span>
											</span>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-12">
						<div class="recent-selling-wrap">
							<div class="row">
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
									<div class="product-wrap product-border-3 product-img-zoom mb-30">
										<div class="product-img">
											<a href="#">
												<img loading="lazy" src="{{ url_for('static', filename='commerce/rd/2.webp') }}" alt="Product featured_resource.ResName of category  featured_resource.ResCatName if featured_resource.ResCatName else ''  company.CName ">
											</a>
										</div>
										<div class="product-content product-content-padding">
											<div class="hm3"><div class="ui-q0">
												<span class="ui-q3 ui-q6">
													15,85 T
												</span>
											</div>
											<span class="n1c c2n n2c nc5 f-tsBodyM" style="color:var(--ozOrange);">
												<span>
													Бестселлер
												</span>
											</span>
											<a href="#" class="tile-hover-target k9h">
												<span class="n1c c2n n2c nc4 f-tsBodyL k9h">
													<span>Портрет Дориана Грея | Уайльд Оскар</span>
												</span>
											</a>
											
											<div class="hw w0h">
													<div class="wh0 h1w">
															<div class="q6c qc7 wh">
																	<div class="ui-b2">
																			<button tabindex="0" type="button" class="ui-b4">
																					<span class="ui-b5" style="border-radius: 6px;"><span class="ui-e8">В корзину</span></span>
																			</button>
																	</div>
															</div>
											
													</div>
											</div>

											</div>
										</div>
										<div class="h0n">
											<div interactive="true" class="ui-i4 n0h"> 
												<div class="c2w ui-a1">
													<div tabindex="0" type="button" class="ui-a3">
														<span class="ui-a4 ui-b2 ui-a6 ui-d4" style="border-radius:6px;">
															<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ui-d2" style="color:var(--ozBlack);"><path d="M17.282 1C21.34 1 23.999 4.147 24 8.5c0 4.287-3.168 8.376-10.8 14.1l-1.2.9-1.2-.9C3.168 16.876 0 12.787 0 8.5 0 4.147 2.659 1 6.718 1 8.734 1 10.64 1.806 12 3.177A7.455 7.455 0 0117.282 1z" fill="#fff"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23 8.5C23 4.8 20.861 2 17.282 2 15.115 2 13.136 3.069 12 4.742 10.864 3.069 8.884 2 6.718 2 3.138 2 1 4.8 1 8.5c0 3.817 2.886 7.664 10.4 13.3l.6.45.6-.45C20.115 16.164 23 12.316 23 8.5zM17.282 4C19.622 4 21 5.805 21 8.5c0 2.93-2.398 6.211-9 11.246C5.398 14.712 3 11.43 3 8.5 3 5.805 4.379 4 6.718 4 9.03 4 11 5.743 11 8h2c0-2.257 1.969-4 4.282-4z" fill="#001A34"></path></svg>
															<span class="ui-d7"></span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
									<div class="product-wrap product-border-3 product-img-zoom mb-30">
										<div class="product-img">
											<a href="#">
												<img loading="lazy" src="{{ url_for('static', filename='commerce/rd/4.webp') }}" alt="Product featured_resource.ResName of category  featured_resource.ResCatName if featured_resource.ResCatName else ''  company.CName ">
											</a>
										</div>
										<div class="product-content product-content-padding">
											<div class="hm3"><div class="ui-q0">
												<span class="ui-q3 ui-q6">
													15,85 T
												</span>
											</div>
											<span class="n1c c2n n2c nc5 f-tsBodyM" style="color:var(--ozOrange);">
												<span>
													Бестселлер
												</span>
											</span>
											<a href="#" class="tile-hover-target k9h">
												<span class="n1c c2n n2c nc4 f-tsBodyL k9h">
													<span>Портрет Дориана Грея | Уайльд Оскар</span>
												</span>
											</a>
											
											<div class="hw w0h">
													<div class="wh0 h1w">
															<div class="q6c qc7 wh">
																	<div class="ui-b2">
																			<button tabindex="0" type="button" class="ui-b4">
																					<span class="ui-b5" style="border-radius: 6px;"><span class="ui-e8">В корзину</span></span>
																			</button>
																	</div>
															</div>
											
													</div>
											</div>

											</div>
										</div>
										<div class="h0n">
											<div interactive="true" class="ui-i4 n0h"> 
												<div class="c2w ui-a1">
													<div tabindex="0" type="button" class="ui-a3">
														<span class="ui-a4 ui-b2 ui-a6 ui-d4" style="border-radius:6px;">
															<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ui-d2" style="color:var(--ozBlack);"><path d="M17.282 1C21.34 1 23.999 4.147 24 8.5c0 4.287-3.168 8.376-10.8 14.1l-1.2.9-1.2-.9C3.168 16.876 0 12.787 0 8.5 0 4.147 2.659 1 6.718 1 8.734 1 10.64 1.806 12 3.177A7.455 7.455 0 0117.282 1z" fill="#fff"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23 8.5C23 4.8 20.861 2 17.282 2 15.115 2 13.136 3.069 12 4.742 10.864 3.069 8.884 2 6.718 2 3.138 2 1 4.8 1 8.5c0 3.817 2.886 7.664 10.4 13.3l.6.45.6-.45C20.115 16.164 23 12.316 23 8.5zM17.282 4C19.622 4 21 5.805 21 8.5c0 2.93-2.398 6.211-9 11.246C5.398 14.712 3 11.43 3 8.5 3 5.805 4.379 4 6.718 4 9.03 4 11 5.743 11 8h2c0-2.257 1.969-4 4.282-4z" fill="#001A34"></path></svg>
															<span class="ui-d7"></span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
									<div class="product-wrap product-border-3 product-img-zoom mb-30">
										<div class="product-img">
											<a href="#">
												<img loading="lazy" src="{{ url_for('static', filename='commerce/rd/1.webp') }}" alt="Product featured_resource.ResName of category  featured_resource.ResCatName if featured_resource.ResCatName else ''  company.CName ">
											</a>
										</div>
										<div class="product-content product-content-padding">
											<div class="hm3"><div class="ui-q0">
												<span class="ui-q3 ui-q6">
													15,85 T
												</span>
											</div>
											<span class="n1c c2n n2c nc5 f-tsBodyM" style="color:var(--ozOrange);">
												<span>
													Бестселлер
												</span>
											</span>
											<a href="#" class="tile-hover-target k9h">
												<span class="n1c c2n n2c nc4 f-tsBodyL k9h">
													<span>Портрет Дориана Грея | Уайльд Оскар</span>
												</span>
											</a>
											
											<div class="hw w0h">
													<div class="wh0 h1w">
															<div class="q6c qc7 wh">
																	<div class="ui-b2">
																			<button tabindex="0" type="button" class="ui-b4">
																					<span class="ui-b5" style="border-radius: 6px;"><span class="ui-e8">В корзину</span></span>
																			</button>
																	</div>
															</div>
											
													</div>
											</div>

											</div>
										</div>
										<div class="h0n">
											<div interactive="true" class="ui-i4 n0h"> 
												<div class="c2w ui-a1">
													<div tabindex="0" type="button" class="ui-a3">
														<span class="ui-a4 ui-b2 ui-a6 ui-d4" style="border-radius:6px;">
															<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ui-d2" style="color:var(--ozBlack);"><path d="M17.282 1C21.34 1 23.999 4.147 24 8.5c0 4.287-3.168 8.376-10.8 14.1l-1.2.9-1.2-.9C3.168 16.876 0 12.787 0 8.5 0 4.147 2.659 1 6.718 1 8.734 1 10.64 1.806 12 3.177A7.455 7.455 0 0117.282 1z" fill="#fff"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23 8.5C23 4.8 20.861 2 17.282 2 15.115 2 13.136 3.069 12 4.742 10.864 3.069 8.884 2 6.718 2 3.138 2 1 4.8 1 8.5c0 3.817 2.886 7.664 10.4 13.3l.6.45.6-.45C20.115 16.164 23 12.316 23 8.5zM17.282 4C19.622 4 21 5.805 21 8.5c0 2.93-2.398 6.211-9 11.246C5.398 14.712 3 11.43 3 8.5 3 5.805 4.379 4 6.718 4 9.03 4 11 5.743 11 8h2c0-2.257 1.969-4 4.282-4z" fill="#001A34"></path></svg>
															<span class="ui-d7"></span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
									<div class="product-wrap product-border-3 product-img-zoom mb-30">
										<div class="product-img">
											<a href="#">
												<img loading="lazy" src="{{ url_for('static', filename='commerce/rd/3.webp') }}" alt="Product featured_resource.ResName of category  featured_resource.ResCatName if featured_resource.ResCatName else ''  company.CName ">
											</a>
										</div>
										<div class="product-content product-content-padding">
											<div class="hm3"><div class="ui-q0">
												<span class="ui-q3 ui-q6">
													15,85 T
												</span>
											</div>
											<span class="n1c c2n n2c nc5 f-tsBodyM" style="color:var(--ozOrange);">
												<span>
													Бестселлер
												</span>
											</span>
											<a href="#" class="tile-hover-target k9h">
												<span class="n1c c2n n2c nc4 f-tsBodyL k9h">
													<span>Портрет Дориана Грея | Уайльд Оскар</span>
												</span>
											</a>
											
											<div class="hw w0h">
													<div class="wh0 h1w">
															<div class="q6c qc7 wh">
																	<div class="ui-b2">
																			<button tabindex="0" type="button" class="ui-b4">
																					<span class="ui-b5" style="border-radius: 6px;"><span class="ui-e8">В корзину</span></span>
																			</button>
																	</div>
															</div>
											
													</div>
											</div>

											</div>
										</div>
										<div class="h0n">
											<div interactive="true" class="ui-i4 n0h"> 
												<div class="c2w ui-a1">
													<div tabindex="0" type="button" class="ui-a3">
														<span class="ui-a4 ui-b2 ui-a6 ui-d4" style="border-radius:6px;">
															<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ui-d2" style="color:var(--ozBlack);"><path d="M17.282 1C21.34 1 23.999 4.147 24 8.5c0 4.287-3.168 8.376-10.8 14.1l-1.2.9-1.2-.9C3.168 16.876 0 12.787 0 8.5 0 4.147 2.659 1 6.718 1 8.734 1 10.64 1.806 12 3.177A7.455 7.455 0 0117.282 1z" fill="#fff"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23 8.5C23 4.8 20.861 2 17.282 2 15.115 2 13.136 3.069 12 4.742 10.864 3.069 8.884 2 6.718 2 3.138 2 1 4.8 1 8.5c0 3.817 2.886 7.664 10.4 13.3l.6.45.6-.45C20.115 16.164 23 12.316 23 8.5zM17.282 4C19.622 4 21 5.805 21 8.5c0 2.93-2.398 6.211-9 11.246C5.398 14.712 3 11.43 3 8.5 3 5.805 4.379 4 6.718 4 9.03 4 11 5.743 11 8h2c0-2.257 1.969-4 4.282-4z" fill="#001A34"></path></svg>
															<span class="ui-d7"></span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
									<div class="product-wrap product-border-3 product-img-zoom mb-30">
										<div class="product-img">
											<a href="#">
												<img loading="lazy" src="{{ url_for('static', filename='commerce/rd/1.webp') }}" alt="Product featured_resource.ResName of category  featured_resource.ResCatName if featured_resource.ResCatName else ''  company.CName ">
											</a>
										</div>
										<div class="product-content product-content-padding">
											<div class="hm3"><div class="ui-q0">
												<span class="ui-q3 ui-q6">
													15,85 T
												</span>
											</div>
											<span class="n1c c2n n2c nc5 f-tsBodyM" style="color:var(--ozOrange);">
												<span>
													Бестселлер
												</span>
											</span>
											<a href="#" class="tile-hover-target k9h">
												<span class="n1c c2n n2c nc4 f-tsBodyL k9h">
													<span>Портрет Дориана Грея | Уайльд Оскар</span>
												</span>
											</a>
											
											<div class="hw w0h">
													<div class="wh0 h1w">
															<div class="q6c qc7 wh">
																	<div class="ui-b2">
																			<button tabindex="0" type="button" class="ui-b4">
																					<span class="ui-b5" style="border-radius: 6px;"><span class="ui-e8">В корзину</span></span>
																			</button>
																	</div>
															</div>
											
													</div>
											</div>

											</div>
										</div>
										<div class="h0n">
											<div interactive="true" class="ui-i4 n0h"> 
												<div class="c2w ui-a1">
													<div tabindex="0" type="button" class="ui-a3">
														<span class="ui-a4 ui-b2 ui-a6 ui-d4" style="border-radius:6px;">
															<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ui-d2" style="color:var(--ozBlack);"><path d="M17.282 1C21.34 1 23.999 4.147 24 8.5c0 4.287-3.168 8.376-10.8 14.1l-1.2.9-1.2-.9C3.168 16.876 0 12.787 0 8.5 0 4.147 2.659 1 6.718 1 8.734 1 10.64 1.806 12 3.177A7.455 7.455 0 0117.282 1z" fill="#fff"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23 8.5C23 4.8 20.861 2 17.282 2 15.115 2 13.136 3.069 12 4.742 10.864 3.069 8.884 2 6.718 2 3.138 2 1 4.8 1 8.5c0 3.817 2.886 7.664 10.4 13.3l.6.45.6-.45C20.115 16.164 23 12.316 23 8.5zM17.282 4C19.622 4 21 5.805 21 8.5c0 2.93-2.398 6.211-9 11.246C5.398 14.712 3 11.43 3 8.5 3 5.805 4.379 4 6.718 4 9.03 4 11 5.743 11 8h2c0-2.257 1.969-4 4.282-4z" fill="#001A34"></path></svg>
															<span class="ui-d7"></span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 col-6">
									<div class="product-wrap product-border-3 product-img-zoom mb-30">
										<div class="product-img">
											<a href="#">
												<img loading="lazy" src="{{ url_for('static', filename='commerce/rd/2.webp') }}" alt="Product featured_resource.ResName of category  featured_resource.ResCatName if featured_resource.ResCatName else ''  company.CName ">
											</a>
										</div>
										<div class="product-content product-content-padding">
											<div class="hm3"><div class="ui-q0">
												<span class="ui-q3 ui-q6">
													15,85 T
												</span>
											</div>
											<span class="n1c c2n n2c nc5 f-tsBodyM" style="color:var(--ozOrange);">
												<span>
													Бестселлер
												</span>
											</span>
											<a href="#" class="tile-hover-target k9h">
												<span class="n1c c2n n2c nc4 f-tsBodyL k9h">
													<span>Портрет Дориана Грея | Уайльд Оскар</span>
												</span>
											</a>
											
											<div class="hw w0h">
													<div class="wh0 h1w">
															<div class="q6c qc7 wh">
																	<div class="ui-b2">
																			<button tabindex="0" type="button" class="ui-b4">
																					<span class="ui-b5" style="border-radius: 6px;"><span class="ui-e8">В корзину</span></span>
																			</button>
																	</div>
															</div>
											
													</div>
											</div>

											</div>
										</div>
										<div class="h0n">
											<div interactive="true" class="ui-i4 n0h"> 
												<div class="c2w ui-a1">
													<div tabindex="0" type="button" class="ui-a3">
														<span class="ui-a4 ui-b2 ui-a6 ui-d4" style="border-radius:6px;">
															<svg width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg" class="ui-d2" style="color:var(--ozBlack);"><path d="M17.282 1C21.34 1 23.999 4.147 24 8.5c0 4.287-3.168 8.376-10.8 14.1l-1.2.9-1.2-.9C3.168 16.876 0 12.787 0 8.5 0 4.147 2.659 1 6.718 1 8.734 1 10.64 1.806 12 3.177A7.455 7.455 0 0117.282 1z" fill="#fff"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M23 8.5C23 4.8 20.861 2 17.282 2 15.115 2 13.136 3.069 12 4.742 10.864 3.069 8.884 2 6.718 2 3.138 2 1 4.8 1 8.5c0 3.817 2.886 7.664 10.4 13.3l.6.45.6-.45C20.115 16.164 23 12.316 23 8.5zM17.282 4C19.622 4 21 5.805 21 8.5c0 2.93-2.398 6.211-9 11.246C5.398 14.712 3 11.43 3 8.5 3 5.805 4.379 4 6.718 4 9.03 4 11 5.743 11 8h2c0-2.257 1.969-4 4.282-4z" fill="#001A34"></path></svg>
															<span class="ui-d7"></span>
														</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div class="iq-card-transparent iq-card-block iq-card-stretch iq-card-height rounded">
			   <div class="newrealease-contens">
				  <ul id="newrealease-slider" class="list-inline p-0 m-0 d-flex align-items-center">
					 <li class="item">
						<a href="javascript:void(0);">
						   <img src="{{ url_for('static', filename='commerce/rd/images/01.jpg') }}" class="img-fluid w-100 rounded" alt="">
						</a>
					 </li>
					 <li class="item">
						<a href="javascript:void(0);">
						   <img src="{{ url_for('static', filename='commerce/rd/images/02.jpg') }}"  class="img-fluid w-100 rounded" alt="">
						</a>
					 </li>
					 <li class="item">
						<a href="javascript:void(0);">
						   <img src="{{ url_for('static', filename='commerce/rd/images/03.jpg') }}"  class="img-fluid w-100 rounded" alt="">
						</a>
					 </li>
					 <li class="item">
						<a href="javascript:void(0);">
						   <img src="{{ url_for('static', filename='commerce/rd/images/04.jpg') }}"  class="img-fluid w-100 rounded" alt="">
						</a>
					 </li>
					 <li class="item">
						<a href="javascript:void(0);">
						   <img src="{{ url_for('static', filename='commerce/rd/images/05.jpg') }}"  class="img-fluid w-100 rounded" alt="">
						</a>
					 </li>
					 <li class="item">
						<a href="javascript:void(0);">
						   <img src="{{ url_for('static', filename='commerce/rd/images/06.jpg') }}"  class="img-fluid w-100 rounded" alt="">
						</a>
					 </li>
					 <li class="item">
						<a href="javascript:void(0);">
						   <img src="{{ url_for('static', filename='commerce/rd/images/07.jpg') }}"  class="img-fluid w-100 rounded" alt="">
						</a>
					 </li>
					 <li class="item">
						<a href="javascript:void(0);">
						   <img src="{{ url_for('static', filename='commerce/rd/images/08.jpg') }}"  class="img-fluid w-100 rounded" alt="">
						</a>
					 </li>
					 <li class="item">
						<a href="javascript:void(0);">
						   <img src="{{ url_for('static', filename='commerce/rd/images/09.jpg') }}"  class="img-fluid w-100 rounded" alt="">
						</a>                              
					 </li>
				  </ul>
			   </div>
			</div>
		 </div>
		<div class="product-area pb-40">
			<div class="container">
				<div class="section-title-6 mb-50 text-center">
					<h2>{{_('New arrival')}}</h2>
				</div>
				<div class="row">
					{% for resource in Latest_resources %}
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6">
						<div class="product-wrap product-border-3 product-img-zoom mb-30">
							<div class="product-img">
								<a href="{{url_for('commerce.product',ResId=resource.ResId,ResName=resource.ResName.replace('/','-').replace(' ','-'))}}">
									<img loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/icons/no_photo.svg') }}" alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }} {{ company.CName }}">
								</a>
							</div>
							<div class="product-content product-content-padding">
								{% if current_user.is_authenticated %}
								<div class="yith-wcwl-add-to-wishlist wishlist-button">
									<a rel="nofollow" class="like {{'heart' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}">
										<i class="la la-heart" aria-hidden="true"></i>
									</a>
								</div>
								{% endif %}
								<div class="hm3"><div class="ui-q0">
									<span class="ui-q3 ui-q6">
										{{ resource.ResPriceValue }} 
									</span>
									<span class="ui-q3 ui-q6">
										{{ resource.CurrencyCode }}
									</span>
								</div>
								<span class="n1c c2n n2c nc5 f-tsBodyM" style="color:var(--ozOrange);">
									<span>
										Бестселлер
									</span>
								</span>
								<a href="#" class="tile-hover-target k9h">
									<span class="n1c c2n n2c nc4 f-tsBodyL k9h">
										<span>{{ resource.ResName }}</span>
									</span>
								</a>
								<div class="kh9 nc">
									<div class="ui-ab7 ui-a6b ui-b7a">
										<div class="ui-b5a ui-a6b">
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
											<i class="las la-star"></i>
										</div> 
									</div>
								</div> 
								<div class="hw w0h">
										<div class="wh0 h1w">
												<div class="q6c qc7 wh">
														<div class="ui-b2">
															<div class="product-count cardplacement cartItemQty" style="display: none;">
																<div class="qtyminus qtybtn">-</div>
																<input type="text" class="qty productQty"
																	pending_amount="{{resource.ResPendingTotalAmount}}"
																	min_amount="{{resource.ResMinSaleAmount}}"
																	max_amount="{{resource.ResMaxSaleAmount}}"
																	value="{{resource.productQty}}" ownerId="{{ resource.ResId }}">
																<div class="qtyplus qtybtn">+</div>
															</div>
															<a class="round-black-btn cardplacement add-to-cart" ownerId="{{ resource.ResId }}" style="color: #fff">{{_('Add to cart')}}</a>
														</div>
												</div>
										</div>
								</div>
								</div>
							</div>
							
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
{% endblock %}

{% block scripts %}
<script>render_viewed_list()</script>
{% endblock %}