<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ title if title else _('Commerce') }}</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:site_name" content="Halal Söwda | E-commerce" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="{{ title if title else _('Commerce') }} | Halal Söwda" />
	<meta property="og:url" content="{{ request.url }}" />
	<meta name="twitter:url" content="{{ request.url }}" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{ title if title else _('Commerce') }} | Halal Söwda" />
	<meta name="description" content="{% if Config.Desc %}{{ Config.Desc }}{% else %} Online commerce {{ company.CName }} {{ company.CDesc if company.CDesc}}{% endif %}">
	<link rel="shortcut icon" type="image/x-icon" href="{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/rd/images/favicon.ico') }}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/vendor/bootstrap.min.css') }}">
	<!-- Icon Font CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/vendor/1.3.0/css/line-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/vendor/themify.css') }}">
	<!-- othres CSS --> 
	{% block head %}{% endblock %}
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/plugins/animate.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/plugins/owl-carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/plugins/slick.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/plugins/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/plugins/typography.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/plugins/magnific-popup.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/plugins/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/plugins/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/bulma.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/core.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/product.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/rd/js/izitoast/css/iziToast.min.css') }}">

</head>
<!-- nr-header -->
<body>
	<div class="main-wrapper">
		<header id="header" class="header-area style-01 layout-03">
			<div class="nr-header__main ">
				<div class="nr-header__main-container nr-container">
					<div class="nr-header__main-row">
						<div class="nr-header__main-col nr-header__main-col--left">
							<div class="nr-header__logo">
								<a href="{{url_for('commerce.commerce')}}" class="router-link-exact-active router-link-active" aria-current="page">
									<img src="{{ url_for('static', filename='commerce/rd/logo.jpg') }}" alt="logo" sizes="(max-width: 976px) 190px, (min-width: 976px) 263px" />
								</a>
							</div>
						</div>
						<div class="vertical-menu vertical-category-block">
							<button type="button" class="nr-header__burger-desktop" style="border: none;padding:0;border-radius: 10px;width: 100%;">
								<div class="block-title">
									<span class="menu-icon">
											<span class="line-1"></span>
											<span class="line-2"></span>
											<span class="line-3"></span>
									</span>
									<span class="menu-title">{{_('Categories')}}</span>
									<span class="angle" data-tgleclass="fa fa-caret-down"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
							</div>
							</button>
							<div class="wrap-menu">
								<ul class="menu clone-main-menu">
										<li class="menu-item menu-item-has-children has-megamenu">
												<a href="#" class="menu-name" data-title="Fruit & Nut Gifts"><i class="biolife-icon icon-fruits"></i>Fruit & Nut Gifts</a>
												<div class="wrap-megamenu lg-width-900 md-width-640">
														<div class="mega-content">
																<div class="row">
																		<div class="col-lg-3 col-md-12 col-sm-12 xs-margin-bottom-25 md-margin-bottom-0">
																				<div class="wrap-custom-menu vertical-menu">
																						<h4 class="menu-title">Fresh Fuits</h4>
																						<ul class="menu">
																								<li><a href="{{ url_for('commerce.v_grid') }}">Fruit & Nut Gifts</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Mixed Fruits</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Oranges</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Bananas & Plantains</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Fresh Gala Apples</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Berries</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Pears</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Produce</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Snack Foods</a></li>
																						</ul>
																				</div>
																		</div>
																		<div class="col-lg-3 col-md-12 col-sm-12 lg-padding-left-23 xs-margin-bottom-25 md-margin-bottom-0">
																				<div class="wrap-custom-menu vertical-menu">
																						<h4 class="menu-title">Nut Gifts</h4>
																						<ul class="menu">
																								<li><a href="{{ url_for('commerce.v_grid') }}">Non-Dairy Coffee Creamers</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Coffee Creamers</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Mayonnaise</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Almond Milk</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Ghee</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Beverages</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Ranch Salad Dressings</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Hemp Milk</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Nuts & Seeds</a></li>
																						</ul>
																				</div>
																		</div>
																		<div class="col-lg-6 col-md-12 col-sm-12 lg-padding-left-50 xs-margin-bottom-25 md-margin-bottom-0">
																			<div class="wrap-custom-menu vertical-menu">
																				<h4 class="menu-title">Fresh Fuits</h4>
																				<ul class="menu">
																						<li><a href="{{ url_for('commerce.v_grid') }}">Fruit & Nut Gifts</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Mixed Fruits</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Oranges</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Bananas & Plantains</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Fresh Gala Apples</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Berries</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Pears</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Produce</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Snack Foods</a></li>
																				</ul>
																		</div>
																		</div>
																</div>
														</div>
												</div> 
										</li>
										<li class="menu-item menu-item-has-children has-megamenu">
												<a href="#" class="menu-name" data-title="Vegetables"><i class="biolife-icon icon-broccoli-1"></i>Vegetables</a>
												<div class="wrap-megamenu lg-width-900 md-width-640 background-mega-01">
														<div class="mega-content">
																<div class="row">
																		<div class="col-lg-3 col-md-12 col-sm-12 xs-margin-bottom-25 md-margin-bottom-0">
																				<div class="wrap-custom-menu vertical-menu">
																						<h4 class="menu-title">Vegetables</h4>
																						<ul class="menu">
																								<li><a href="{{ url_for('commerce.v_grid') }}">Fruit & Nut Gifts</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Mixed Fruits</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Oranges</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Bananas & Plantains</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Fresh Gala Apples</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Berries</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Pears</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Produce</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Snack Foods</a></li>
																						</ul>
																				</div>
																		</div>
																		<div class="col-lg-4 col-md-12 col-sm-12 lg-padding-left-23 xs-margin-bottom-25 md-margin-bottom-0">
																				<div class="wrap-custom-menu vertical-menu">
																						<h4 class="menu-title">Gifts</h4>
																						<ul class="menu">
																								<li><a href="{{ url_for('commerce.v_grid') }}">Non-Dairy Coffee Creamers</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Coffee Creamers</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Mayonnaise</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Almond Milk</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Ghee</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Beverages</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Ranch Salad Dressings</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Hemp Milk</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Nuts & Seeds</a></li>
																						</ul>
																				</div>
																		</div>
																		<div class="col-lg-5 col-md-12 col-sm-12 lg-padding-left-57 md-margin-bottom-30">
																			<div class="wrap-custom-menu vertical-menu">
																				<h4 class="menu-title">Fresh Fuits</h4>
																				<ul class="menu">
																						<li><a href="{{ url_for('commerce.v_grid') }}">Fruit & Nut Gifts</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Mixed Fruits</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Oranges</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Bananas & Plantains</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Fresh Gala Apples</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Berries</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Pears</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Produce</a></li>
																						<li><a href="{{ url_for('commerce.v_grid') }}">Snack Foods</a></li>
																				</ul>
																		</div>
																		</div>
																</div>
														</div>
												</div>
										</li>
										<li class="menu-item menu-item-has-children has-megamenu">
												<a href="#" class="menu-name" data-title="Fresh Berries"><i class="biolife-icon icon-grape"></i>Fresh Berries</a>
												<div class="wrap-megamenu lg-width-900 md-width-640 background-mega-02">
														<div class="mega-content">
																<div class="row">
																		<div class="col-lg-3 col-md-4 sm-col-12 md-margin-bottom-83 xs-margin-bottom-25">
																				<div class="wrap-custom-menu vertical-menu">
																						<h4 class="menu-title">Fresh Berries</h4>
																						<ul class="menu">
																								<li><a href="{{ url_for('commerce.v_grid') }}">Fruit & Nut Gifts</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Mixed Fruits</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Oranges</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Bananas & Plantains</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Fresh Gala Apples</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Berries</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Pears</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Produce</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Snack Foods</a></li>
																						</ul>
																				</div>
																		</div>
																		<div class="col-lg-3 col-md-4 sm-col-12 lg-padding-left-23 xs-margin-bottom-36px md-margin-bottom-0">
																				<div class="wrap-custom-menu vertical-menu">
																						<h4 class="menu-title">Gifts</h4>
																						<ul class="menu">
																								<li><a href="{{ url_for('commerce.v_grid') }}">Non-Dairy Coffee Creamers</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Coffee Creamers</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Mayonnaise</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Almond Milk</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Ghee</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Beverages</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Ranch Salad Dressings</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Hemp Milk</a></li>
																								<li><a href="{{ url_for('commerce.v_grid') }}">Nuts & Seeds</a></li>
																						</ul>
																				</div>
																		</div>
																		<div class="col-lg-6 col-md-4 sm-col-12 lg-padding-left-25 md-padding-top-55">
																				<div class="biolife-banner layout-01">
																						<h3 class="top-title">Farm Fresh</h3>
																						<p class="content"> All the Lorem Ipsum generators on the Internet tend.</p>
																						<b class="bottomm-title">Berries Series</b>
																				</div>
																		</div>
																</div>
														</div>
												</div>
										</li>
										<li class="menu-item"><a href="#" class="menu-name" data-title="Ocean Foods"><i class="biolife-icon icon-fish"></i>Ocean Foods</a></li>
										<li class="menu-item menu-item-has-children has-child">
												<a href="#" class="menu-name" data-title="Butter & Eggs"><i class="biolife-icon icon-honey"></i>Butter & Eggs</a>
												<ul class="sub-menu">
														<li class="menu-item"><a href="#">Omelettes</a></li>
														<li class="menu-item"><a href="#">Breakfast Scrambles</a></li>
														<li class="menu-item menu-item-has-children has-child"><a href="#" class="menu-name" data-title="Eggs & other considerations">Eggs & other considerations</a>
																<ul class="sub-menu">
																		<li class="menu-item"><a href="#">Classic Breakfast</a></li>
																		<li class="menu-item"><a href="#">Huevos Rancheros</a></li>
																		<li class="menu-item"><a href="#">Everything Egg Sandwich</a></li>
																		<li class="menu-item"><a href="#">Egg Sandwich</a></li>
																		<li class="menu-item"><a href="#">Vegan Burrito</a></li>
																		<li class="menu-item"><a href="#">Biscuits and Gravy</a></li>
																		<li class="menu-item"><a href="#">Bacon Avo Egg Sandwich</a></li>
																</ul>
														</li>
														<li class="menu-item"><a href="#">Griddle</a></li>
														<li class="menu-item menu-item-has-children has-child"><a href="#" class="menu-name" data-title="Sides & Extras">Sides & Extras</a>
																<ul class="sub-menu">
																		<li class="menu-item"><a href="#">Breakfast Burrito</a></li>
																		<li class="menu-item"><a href="#">Crab Cake Benedict</a></li>
																		<li class="menu-item"><a href="#">Corned Beef Hash</a></li>
																		<li class="menu-item"><a href="#">Steak & Eggs</a></li>
																		<li class="menu-item"><a href="#">Oatmeal</a></li>
																		<li class="menu-item"><a href="#">Fruit & Yogurt Parfait</a></li>
																</ul>
														</li>
														<li class="menu-item"><a href="#">Biscuits</a></li>
														<li class="menu-item"><a href="#">Seasonal Fruit Plate</a></li>
												</ul>
										</li>
										<li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-fast-food"></i>Fastfood</a></li>
										<li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-beef"></i>Fresh Meat</a></li>
										<li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-onions"></i>Fresh Onion</a></li>
										<li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-avocado"></i>Papaya & Crisps</a></li>
										<li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-contain"></i>Oatmeal</a></li>
										<li class="menu-item"><a href="#" class="menu-title"><i class="biolife-icon icon-fresh-juice"></i>Fresh Bananas & Plantains</a></li>
								</ul>
						</div>
						</div>
						<div class="nr-header__main-col nr-header__main-col--right">
							<div class="nr-header__search" data-v-342735b4="">
								<form class="nr-header__search-form" data-v-342735b4="">
									<div class="nr-header__search-input-container" data-v-342735b4="">
										<input size="30" type="text" placeholder="{{_('Search')}}" value="" class="nr-header__search-input" data-v-342735b4="" />
										<span class="nr-header__search-icon" data-v-342735b4="">
											<div class="icon" data-v-0becd61c="" data-v-342735b4="">
												<svg width="26" height="26" viewBox="0 0 26 26" xmlns="http://www.w3.org/2000/svg" data-v-342735b4="" data-v-0becd61c="">
													<path
														d="m 11.61621,2.1396485 c -4.8709529,0 -8.8164053,3.8296952 -8.8164054,8.5000005 0,4.670331 3.9454571,8.499999 8.8164054,8.499999 2.065444,0 3.9605,-0.694436 5.462891,-1.84375 l 4.734375,4.564453 1.386719,-1.441406 -4.679688,-4.511718 c 1.194434,-1.452054 1.91211,-3.281801 1.91211,-5.267578 0,-4.6703134 -3.945513,-8.5000005 -8.816407,-8.5000005 z m 0,2 c 3.831508,0 6.816407,2.9541729 6.816407,6.5000005 0,1.446306 -0.503468,2.789804 -1.351563,3.878906 l -0.103515,-0.09961 -1.388672,1.441406 0.03711,0.03516 c -1.117968,0.777408 -2.495064,1.244137 -4.009767,1.244137 -3.8315889,0 -6.8164054,-2.95413 -6.8164054,-6.499999 0,-3.5458357 2.9848211,-6.5000005 6.8164054,-6.5000005 z"
													></path>
												</svg>
											</div>
										</span>
										<span class="nr-header__search-buttons mob" data-v-342735b4="">
											<button type="button" aria-label="Очистить" class="nr-header__search-clear" data-v-342735b4="">
												<div class="icon" data-v-0becd61c="" data-v-342735b4="">
													<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-v-342735b4="" data-v-0becd61c="">
														<path
															d="M 5.4140625,4 4,5.4140625 8.3632812,9.7773438 4,14.142578 5.4140625,15.556641 9.7773438,11.191406 14.142578,15.556641 15.556641,14.142578 11.191406,9.7773438 15.556641,5.4140625 14.142578,4 9.7773438,8.3632812 5.4140625,4 Z"
														></path>
													</svg> 
												</div>
											</button>
										</span>
										<span class="nr-header__search-buttons search-desc" data-v-342735b4="">
											<button type="button" aria-label="Очистить" class="nr-header__search-clear" data-v-342735b4="">
												<div class="icon" data-v-0becd61c="" data-v-342735b4="">
													<svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" data-v-342735b4="" data-v-0becd61c="">
														<path
															d="M 5.4140625,4 4,5.4140625 8.3632812,9.7773438 4,14.142578 5.4140625,15.556641 9.7773438,11.191406 14.142578,15.556641 15.556641,14.142578 11.191406,9.7773438 15.556641,5.4140625 14.142578,4 9.7773438,8.3632812 5.4140625,4 Z"
														></path>
													</svg>
												</div>
											</button>
											<button title="Найти" type="submit" class="nr-header__search-submit" data-v-342735b4="">
												Найти
											</button>
										</span>
									</div>
									<div class="nr-header__search-popup" data-v-342735b4="">
										<div class="nr-header__search-popup-header" data-v-342735b4="">
											Популярные запросы
										</div>
										<div data-v-342735b4="" class="nr-header__search-popup-item">
											Книги
										</div>
										<div data-v-342735b4="" class="nr-header__search-popup-item">
											Moleskine
										</div>
										<div data-v-342735b4="" class="nr-header__search-popup-item">
											Be Smart
										</div>
										<div data-v-342735b4="" class="nr-header__search-popup-item">
											Азбука
										</div>
										<div data-v-342735b4="" class="nr-header__search-popup-item">
											Ежедневник
										</div>
										<div data-v-342735b4="" class="nr-header__search-popup-item">
											Виниловые пластинки
										</div>
									</div>
								</form>
								<div class="search-overlay" data-v-342735b4=""></div>
							</div>
							<div class="nr-header__user-nav"> 
								
								<div class="prof nr-header__user-nav-item nr-header__user-nav-item--user">
									<li class="menu-item animate-dropdown dropdown language_">
										<a data-toggle="dropdown" href="javascript:void(0);" role="button">
											<div class="menu_iconn">
												<i class="las la-user"></i>
											</div>
											<div class="notify"><span clatextprofile_navbar_icon" class="heartbit"></span><span class="point"></span></div>
										</a>
										<ul class="dropdown-menu slideUp2" style="z-index: 9999999; left: -57px!important;"> 
											<li class="body">
												<div class="bg-primary p-3">
													<h5 class="mb-0 text-white line-height">Привет Ирина</h5>
											 	</div>
												<ul class="menu list-unstyled">
													<li>
														{% if current_user.is_authenticated %}
														<a class="profile_navbar_icon" href="{{ url_for('commerce_users.profile') }}"><i class="las la-user"></i><span class="profile_navbar_text">Profile</span></a>
														<div class="dropdown-divider"></div>
														<a class="profile_navbar_icon" href="{{ url_for('commerce_auth.logout') }}"><i class="las la-sign-out-alt"></i><span class="profile_navbar_text">Logout</span></a>
														<div class="dropdown-divider"></div>
														{% else %}
														<a class="profile_navbar_icon" href="{{ url_for('commerce_auth.login') }}"><i class="las la-sign-in-alt"></i><span class="profile_navbar_text">Login</span></a>
														<div class="dropdown-divider"></div>
														<a class="profile_navbar_icon" href="{{ url_for('commerce_auth.register') }}"><i class="las la-registered"></i><span class="profile_navbar_text">Register</span></a>
														{% endif %}
														<a class="profile_navbar_icon" href="{{ url_for('commerce_users.wishlist') }}" style="font-size: 21px;padding-left: 14px;">
															<i class="fa fa-heart-o"></i>
															<span class="profile_navbar_text">
																Wishlist
															</span>
														</a>
													</li>
												</ul>
											</li>
										</ul>
									</li>
								</div>
								
								<div class="header-account-links">
									<div class="cart-wrap common-style" style="margin-top:-2px">
											<button class="cart-active cart-3 header-cart" style="background-color: transparent;">
												<i class="las la-shopping-cart"></i>
												<span class="count cartItemsFullQty">0</span>
											</button>
											<div class="shopping-cart-content">
												<div class="bac_overlay"></div>
													<ul class="cartItemsList"></ul>
													<div class="shopping-cart-bottom">
														<div class="shopping-cart-total">
															<h4>{{_('Total')}}:
																<span class="woocommerce-Price-currencySymbol">
																	{{ session.currency_code if session.currency_code else 'TMT' }}
																</span>
																<span class="woocommerce-Price-amount amount cartTotalPrice">
																	0.00
																</span>
															</h4>
														</div>
													<div class="shopping-cart-btn btn-hover default-btn text-center">
														<a class="black-color" href="{{url_for('commerce.cart')}}">{{_('Checkout')}}</a>
													</div>
												</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement" class="nr-header__nav nav-desktop" data-v-fe68b2f6="">
						<ul class="nr-header__nav-list" data-v-fe68b2f6="">
							<li itemprop="name" class="nr-header__nav-item submenu-item" data-v-fe68b2f6="">
								<a href="/Bauman2022" itemprop="url" class="submenu-link" data-v-fe68b2f6="">
									Розыгрыш PS5!
								</a>
							</li>
							<li itemprop="name" class="nr-header__nav-item submenu-item" data-v-fe68b2f6="">
								<a href="/offers/lego-teper-v-respublike" itemprop="url" class="submenu-link" data-v-fe68b2f6="">
									Lego в Республике*
								</a>
							</li>
							<li itemprop="name" class="nr-header__nav-item submenu-item" data-v-fe68b2f6="">
								<a href="/promotions" itemprop="url" class="submenu-link" data-v-fe68b2f6="">
									Акции
								</a>
							</li>
							<li itemprop="name" class="nr-header__nav-item submenu-item" data-v-fe68b2f6="">
								<a href="/sale" itemprop="url" class="submenu-link" data-v-fe68b2f6="">
									Скидки!
								</a>
							</li>
							<li itemprop="name" class="nr-header__nav-item submenu-item" data-v-fe68b2f6="">
								<a href="{{ url_for('commerce.resource_request') }}" itemprop="url" class="submenu-link" data-v-fe68b2f6="">
									Подборки
								</a>
							</li>
							<li itemprop="name" class="nr-header__nav-item submenu-item" data-v-fe68b2f6="">
								<a href="/podarki/podarochnye-sertifikaty-i-karty/467799-elektronnyy-podarochnyy-sertifikat" itemprop="url" class="submenu-link" data-v-fe68b2f6="">
									Подарочный Сертификат
								</a>
							</li>
							<li itemprop="name" class="nr-header__nav-item submenu-item" data-v-fe68b2f6="">
								<a href="/podarki/podarochnye-sertifikaty-i-karty/519322-elektronnyi-knizhnyi-abonement" itemprop="url" class="submenu-link" data-v-fe68b2f6="">
									Книжный абонемент
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
			
			<!---->
			<!---->
			<div class="v-portal" style="display: none;"></div>
		</header>
		{% block breadcrumbs %}{% endblock %}

		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}
		<div class="alert alert-{{ category }} alert-dismissible show fade" style="margin: auto; height: 10%; opacity: 1; width: 95%; overflow: auto; text-align: center;">
			<div class="alert-body" style="padding-top: 5px;">
				<button class="close" data-dismiss="alert">
					<span style="float: right;">×</span>
				</button>
				{{ message }}
			</div>
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
	
		{% block content %}{% endblock %}
		
	</div>
	
	<div class="mobile-footer">
		<div class="mobile-footer-inner">
				<div class="mobile-block block-menu-main">
						<a class="menu-bar menu-toggle btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
								<span class="fa fa-bars"></span>
								<span class="text">{{_('Menu')}}</span>
						</a>
				</div>
				{% if current_user.is_authenticated %}
				<div class="mobile-block block-minicart">
						<a class="link-to-cart" href="{{ url_for('commerce_users.profile') }}" style="font-size: 20px;color: #000">
								<i class="las la-user" aria-hidden="true"></i>
								<span class="text">{{_('Profile')}}</span>
						</a>
				</div>
				<div class="mobile-block block-global">
						<a class="link-to-cart" href="{{ url_for('commerce_users.wishlist') }}">
								<span class="fa fa-heart-o"></span>
								<span class="text">{{_('Wishlist')}}</span>
						</a>
				</div>
				{% else %}
				<div class="mobile-block block-minicart">
					<a class="link-to-cart" href="{{ url_for('commerce_auth.login') }}" style="font-size: 20px;color: #000">
						<i class="las la-sign-in-alt"></i>
							<span class="text">{{_('Login')}}</span>
					</a>
				</div>
				<div class="mobile-block block-global">
						<a class="link-to-cart" href="{{ url_for('commerce_auth.register') }}">
								<i class="las la-registered"></i>
								<span class="text">{{_('Register')}}</span>
						</a>
				</div>
				{% endif %}
		</div>
	</div>

	<footer class="footer-area">
		<div class="footer-top bg-gray pt-20 pb-20">
				<div class="container">
						<div class="row">
								<div class="col-lg-3 col-md-3 col-12 col-sm-6">
										<div class="footer-widget mb-30">
											<a href="{{url_for('commerce.commerce')}}" class="router-link-exact-active router-link-active" aria-current="page">
												<img src="{{ url_for('static', filename='commerce/rd/logo.jpg') }}" alt="logo" style="width: 70%;"/>
											</a>
												<div class="footer-social">
														<span>Follow us:</span>
														<ul>
																<li><a href="#"><i class="la la-instagram "></i></a></li>
																<li><a href="#"><i class="la la-twitter "></i></a></li>
																<li><a href="#"><i class="la la-pinterest"></i></a></li>
																<li><a href="#"><i class="la la-vimeo "></i></a></li>
														</ul>
												</div>
										</div>
								</div>
								<div class="col-lg-3 col-md-3 col-12 col-sm-6">
										<div class="footer-widget mb-30 footer-mrg-hm1">
												<div class="footer-title">
														<h3>Useful Link</h3>
												</div>
												<div class="footer-list">
														<ul>
															<li class="menu-item">
																<a href="{{ url_for('commerce.v_grid') }}">
																	{{_('Products')}}
																</a>
															</li>
															<li class="menu-item">
																<a href="{{ url_for('commerce.about') }}">
																	{{_('About us')}}
																</a>
															</li>
															<li class="menu-item">
																<a href="{{ url_for('commerce.contact') }}">
																	{{_('Contact')}}
																</a>
															</li>
														</ul>
												</div>
										</div>
								</div>
								<div class="col-lg-3 col-md-2 col-12 col-sm-6">
										<div class="footer-widget mb-30">
												<div class="footer-title">
														<h3>About us</h3>
												</div>
												<div class="footer-list">
														<ul>
																<li><a href="cart.html">About</a></li>
																<li><a href="wishlist.html">Products</a></li>
																<li><a href="checkout.html">Terms and conditions</a></li>
																<li><a href="contact.html">Help Center</a></li>
														</ul>
												</div>
										</div>
								</div>
								<div class="col-lg-3 col-md-4 col-12 col-sm-6">
										<div class="footer-widget mb-30">
												<div class="footer-title">
														<h3>Newsletter</h3>
												</div>
												<div class="subscribe-style mt-45">
														<p>Subscribe to get all new updates</p>
														<div id="mc_embed_signup" class="subscribe-form mt-20">
																<form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
																		<div id="mc_embed_signup_scroll" class="mc-form">
																				<input class="email" type="email" required="" placeholder="Enter your email" name="EMAIL" value="">
																				<div class="mc-news" aria-hidden="true">
																						<input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
																				</div>
																				<div class="clear">
																						<input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="">
																				</div>
																		</div>
																</form>
														</div>
												</div>
										</div>
								</div>
						</div>
				</div>
		</div>
		<div class="footer-bottom bg-gray-2 ptb-20">
				<div class="container">
						<div class="copyright text-center">
								<p>Sap Cozgut</p>
						</div>
				</div>
		</div>
</footer>
	<!-- JS
============================================ -->
	<script type="text/javascript">
		var url_prefix = "{{url_prefix if url_prefix else ''}}";
		var session_currency_code = "{{ session.currency_code if session.currency_code else 'TMT' }}"
		var error_title = "{{_('Error')}}";
		var success_title = "{{_('Success')}}";
		var unknown_error_text = "{{_('Unknown error')}}"
		var add_to_cart_text = "{{_('Add to cart')}}";
		var qty_error_text = "{{_('Cannot get more')}}";
		var remove_from_cart_text = "{{_('Remove from cart')}}";
		var no_photo_errorhandler_image = "{{ url_for('static', filename='commerce/rd/images/icons/no_photo.svg') }}";
		var rating_message = "{{_('You should put your rating and write a review')}}";
		var csrf_token = "{{ csrf_token() }}";
	</script>

	<script src="{{ url_for('static', filename='commerce/rd/js/jquery-3.4.1.min.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/biolife.framework.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/functions.js') }}"></script>
	<!-- Modernizer JS -->
	<script src="{{ url_for('static', filename='commerce/rd/js/vendor/modernizr-3.6.0.min.js') }}"></script>
	<!-- Modernizer JS -->
	<script src="{{ url_for('static', filename='commerce/rd/js/vendor/jquery-3.3.1.min.js') }}"></script>
	<!-- Popper JS -->
	<script src="{{ url_for('static', filename='commerce/rd/js/vendor/popper.js') }}"></script>
	<!-- Bootstrap JS -->
	<script src="{{ url_for('static', filename='commerce/rd/js/vendor/bootstrap.min.js') }}"></script>
	<!-- Appear JavaScript -->
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/jquery.counterup.min.js') }}"></script>
	<!-- Wow JavaScript -->
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/slick.min.js') }}"></script>
	<!-- Select2 JavaScript -->
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/select2.min.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/jquery.magnific-popup.min.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/custom.js') }}"></script> 
	<!-- Slick Slider JS -->
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/countdown.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/counterup.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/images-loaded.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/isotope.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/instafeed.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/jquery-ui.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/jquery-ui-touch-punch.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/magnific-popup.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/owl-carousel.js') }}"></script>
	<!-- <script src="{{ url_for('static', filename='commerce/rd/js/plugins/scrollup.js') }}"></script> -->
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/waypoints.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/slick.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/wow.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/textillate.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/sticky-sidebar.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/smootrdcroll.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/plugins/zoom.min.js') }}"></script>

	<script src="{{ url_for('static', filename='commerce/rd/js/sweetalert.min.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/izitoast/js/iziToast.min.js') }}"></script>
	<!-- Main JS -->
	<script src="{{ url_for('static', filename='commerce/rd/js/main.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/pure_functions.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/rating.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/ui_dynamicals.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/rd/js/ux_actions.js') }}"></script>
	{% block scripts %}{% endblock %}
</body>

</html>