{% extends "commerce/rd/commerce/layout.html" %}

{% block head %}
<meta name="description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}">
<meta property="og:description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}" />
<meta property="og:image" content="{{ request.host_url }}{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
<meta name="twitter:description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
				<div class="all-content content" data-v-503820a0="" style="margin-top: 3%; margin-bottom: 5%;">
					<div class="left-content" data-v-503820a0="">
						<div class="pr_flex">
							<div class="col-lg-6 col-md-12">
								<div class="content" data-v-503820a0="">
									<div class="middle" data-v-503820a0="">
										<div class="photos" data-v-503820a0="">
											<div class="product-details-img">
												<div class="zoompro-wrap product-zoom-right pr-20">
													<div class="zoompro-span">
														<img class="zoompro"  src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/no_photo.svg') }}"
														alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}" />
														<span>-29%</span>
													</div>
												</div>

												{% if resource.Images %}
												{% set image_count = 0 %}
													<div id="gallery" class="product-dec-slider-2">
														{% for image in resource.Images %}
														{% set image_count = image_count + loop.index %}
														{% if image_count < 4 %}
															<a data-image="{{image.FilePathM}}">
																<img loading="lazy" src="{{image.FilePathS}}" data-src-m="{{image.FilePathM}}"
																	alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
															</a>
														{% endif %}
														{% endfor %}
													</div>
												{% endif %}
												</div>
											</div>
										</div>
									</div>
								</div>
							<div class="col-lg-6 col-md-12">
								<div class="right-content" style="" data-v-503820a0="">
									<div data-v-10b5df08="" data-v-503820a0="" class="item-about about">
											<div data-v-7fcfa635="" data-v-10b5df08="" class="fly">
													<!---->
													<!---->
													<div class="product-details-content pro-details-content-modify">
														<span>{{ resource.ResCatName }}</span>
														<h2>{{ resource.ResName }}</h2>
														<div class="product-ratting-review" value="{{ resource.RtRatingValue }}" ownerId="{{ resource.ResId }}">
															<input type="hidden" class="ratingValue" value="{{ resource.RtRatingValue }}" ownerId="{{ resource.ResId }}">
															<div class="product-ratting ratingStars" ownerId="{{ resource.ResId }}"></div>
															<div class="view_icon">
																<i class="las la-eye"></i>
																<span class="count">{{ resource.ResViewCnt if resource.ResViewCnt else 0 }}</span>
															</div>
															{% if resource.BrandIcon %}
															<div class="brand">
																<a href="{{url_for('commerce.v_grid',BrandId=resource.BrandId,BrandName=resource.BrandName.replace('/','-').replace(' ','-'))}}" style="display: flex; align-items: center;">
																	<img alt="{{resource.BrandName}}" src="{{ resource.BrandIcon }}">
																	<span>{{ resource.BrandName }}</span>
																</a>
															</div>
															{% endif %}
															<div class="prcategory">
																<a href="{{url_for('commerce.v_grid',ResCatId=resource.ResCatId,ResCatName=resource.ResCatName.replace('/','-').replace(' ','-'))}}">
																	<img alt="{{resource.ResCatName}}" src="{{ resource.CategoryIcon if resource.CategoryIcon else url_for('static', filename='commerce/ls/img/icons/category.svg') }}" alt="{{ company.CName }} category {{ resource.ResCatName }}">
																</a>
															</div>
														</div>
														<div class="pro-details-color-wrap">
															<p>{{ resource.ResDesc if resource.ResDesc else '' }}</p>
														</div>
														<div class="pro-details-price-wrap">
															<div class="product-price">
																<span class="price priceValue" ownerId="{{ resource.ResId }}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</span>
																<span>{{ resource.CurrencyCode }}</span>
															</div>
														</div>
														<div class="pro-details-quality">
															<div class="product-count cardplacement cartItemQty" style="display: none;">
																<div class="qtyminus qtybtn">-</div>
																<input type="text" class="qty productQty"
																	pending_amount="{{resource.ResPendingTotalAmount}}"
																	min_amount="{{resource.ResMinSaleAmount}}"
																	max_amount="{{resource.ResMaxSaleAmount}}"
																	value="{{resource.productQty}}" ownerId="{{ resource.ResId }}">
																<div class="qtyplus qtybtn">+</div>
															</div>
															<a class="round-black-btn cardplacement add-to-cart" ownerId="{{ resource.ResId }}" style="color: #fff">{{_('Add to cart')}}</a>
															<div class="pro-details-buy-now btn-hover btn-hover-radious">
																{% if current_user.is_authenticated %}
																<div class="yith-wcwl-add-to-wishlist wishlist-button">
																	<a rel="nofollow" class="product-wishlist like {{'heart' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}">
																		<i class="la la-heart" aria-hidden="true"></i>
																	</a>
																</div>
																{% endif %}	
															</div>
														</div>
													</div>
											</div>
										</div>
								</div>
							</div>
						</div>
							<!---->
						<div class="col-lg-12 col-md-12">
							<div class="card-blocks" data-v-503820a0="">
								<div class="description-review-wrapper pb-90">
									<div class="ml-auto mr-auto">
											<div class="dec-review-topbar nav mb-40">
													<a class="active" data-toggle="tab" href="#des-details1">Description</a>
													<a data-toggle="tab" href="#des-details2">Specification</a>
													<a data-toggle="tab" href="#des-details3">Reviews</a>
											</div>
											<div class="tab-content dec-review-bottom">
													<div id="des-details1" class="tab-pane active">
															<div class="description-wrap">
																	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
															</div>
													</div>
													<div id="des-details2" class="tab-pane ">
															<div class="specification-wrap table-responsive">
																	<table>
																			<tbody>
																					<tr>
																							<td class="width1">Name / Model</td>
																							<td>LaaVista Depro, FX 829 v1</td>
																					</tr>
																					<tr>
																							<td>Type</td>
																							<td>Categories</td>
																					</tr>
																					<tr>
																							<td class="width1">Models</td>
																							<td>FX 829 v1</td>
																					</tr>
																					<tr>
																							<td class="width1">Categories</td>
																							<td>Product Type</td>
																					</tr>
																					<tr>
																							<td class="width1">Size</td>
																							<td>60’’ x 40’’</td>
																					</tr>
																					<tr>
																							<td class="width1">Display Port</td>
																							<td>Multi</td>
																					</tr>
																					<tr>
																							<td class="width1">Media</td>
																							<td>Brightside</td>
																					</tr>
																					<tr>
																							<td class="width1">Color</td>
																							<td>Black, White</td>
																					</tr>
																			</tbody>
																	</table>
															</div>
													</div>
													<div id="des-details3" class="tab-pane">
															<div class="dec-review-wrap mb-50">
																	<div class="row">
																			<div class="col-xl-12 col-lg-12 col-md-12">
																					<div class="dec-review-img-wrap">
																							
																							<div class="dec-client-name">
																									<h4>Jonathon Doe</h4>
																									<div class="dec-client-rating">
																											<i class="la la-star"></i>
																											<i class="la la-star"></i>
																											<i class="la la-star"></i>
																											<i class="la la-star"></i>
																											<i class="la la-star-half-o"></i>
																									</div>
																							</div>
																					</div>
																			</div>
																			<div class="col-xl-9 col-lg-8 col-md-7">
																					<div class="dec-review-content">
																							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
																							<div class="review-content-bottom">
																									<div class="review-like">
																											<span><i class="la la-heart-o"></i> 24 Likes</span>
																									</div>
																									<div class="review-date">
																											<span>25 Jun 2019</span>
																									</div>
																							</div>
																					</div>
																			</div>
																	</div>
															</div>
													</div>
											</div>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	var resource_ResRegNo = "{{resource.ResRegNo}}"
	var resource_ResGuid = "{{resource.ResGuid}}"
	var resource_ResId = "{{resource.ResId}}"
	var view_handling = "{{handle_product_view}}"
	var view_handler_api_url = "{{view_handler_api_url}}"
</script>
<script>
	update_viewed_list(resource_ResId); 
	if (view_handling){
		handle_product_view();
	}
</script>
{% endblock %}