{% extends "commerce/rd/commerce/layout.html" %}

{% block head %}
<meta name="description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}">
<meta property="og:description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}" />
<meta property="og:image" content="{{ request.host_url }}{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
<meta name="twitter:description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
{% endblock %}

{% block content %}
	<div class="container">
		<div class="product-area">
			<div class="section-title-6 mb-50 text-center">
				<h2>{{ resource.ResName }}</h2>
			</div>
		</div>
		<div class="all-content content" data-v-503820a0="">
			<div class="left-content" data-v-503820a0="">
					<div class="content" data-v-503820a0="">
							<div class="middle" data-v-503820a0="">
									<div class="photos" data-v-503820a0="">
										<div class="col-lg-6 col-md-7">
											<div class="product-details-img">
												{% if resource.Images %}
													{% for image in resource.Images %}
													<div class="zoompro-wrap product-zoom-right pr-20">
															<div class="zoompro-span">
																<img loading="lazy" data-action="zoom" class="zoompro" 
																src="{{image.FilePathS}}" 
																data-src-r="{{image.FilePathR}}"
																alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}" />
																	<span>-29%</span>
															</div>
													</div>
													{% endfor %}
												{% else %}
													<div id="gallery" class="product-dec-slider-2">
														<a data-image="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/icons/no_photo.svg') }}">
															<img loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/icons/no_photo.svg') }}"
															alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
														</a>
													</div>
												{% endif %}
											</div>
										</div>
									</div>
							</div>
					</div>
					<!---->
					<div class="card-blocks" data-v-503820a0="">
							<div class="card-block" data-v-503820a0="">
									<div class="content" data-v-503820a0="">
											<div id="full" class="tabs" data-v-e16259a4="" data-v-503820a0="">
													<ul class="tabs-nav" data-v-e16259a4="">
															<li class="tabs-nav-item" data-v-e16259a4="">
																<a data-toggle="tab" href="#des-details1" class="active">{{_('Description')}}</a>
															</li>
															<li class="tabs-nav-item" data-v-e16259a4="">
																	<a href="#" class="tabs-nav-link" data-v-e16259a4="">
																			Характеристики
																	</a>
															</li>
															<li class="tabs-nav-item" data-v-e16259a4="">
																	<a href="#" class="tabs-nav-link" data-v-e16259a4="">
																			Рецензии
																			<!---->
																	</a>
															</li>
													</ul>
													<div class="tabs-content" data-v-e16259a4="">
															<div class="tab" data-v-e16259a4="">
																	<div class="desc" data-v-e16259a4="">
																		{{ resource.ResDesc if resource.ResDesc else '' }}
																	</div>
															</div>
													</div>
													<div class="v-portal" style="display: none;" data-v-e16259a4=""></div>
											</div>
									</div>
							</div>
							<div class="card-block" data-v-503820a0="">
									<div class="content" data-v-503820a0="">
											<div class="be-first" data-v-503820a0="">
													<div class="be-first-left" data-v-503820a0="">
															<div class="be-first-none" data-v-503820a0="">
																	Отзывов пока что нет
															</div>
															<div class="be-first-slogan" data-v-503820a0="">
																	Будьте первым,
																	<span data-v-503820a0="">
																			кто оставит отзыв
																	</span>
															</div>
															<a href="#" class="be-first-add" data-v-503820a0="">Оставить первый отзыв</a>
													</div>
													<img src="{{ url_for('static', filename='commerce/rd/cel.png') }}" alt="Будь первым" class="be-first-img lazyLoad" data-v-503820a0="" />
											</div>
									</div>
							</div>
					</div>
			</div>
			<div class="right-content" style="" data-v-503820a0="">
					<div data-v-10b5df08="" data-v-503820a0="" class="item-about about">
							<!---->
							<div data-v-10b5df08="" class="item-card-name-mobile">
									<a data-v-10b5df08="" href="/authors/16083" class="card-manufactor-link" title="Джим Коллинз">
											Джим Коллинз
									</a>
									<!---->
							</div>
							<!---->
							<!---->
							<div data-v-7fcfa635="" data-v-10b5df08="" class="fly">
									<!---->
									<!---->
									<div data-v-7fcfa635="" itemprop="offers" itemscope="itemscope" class="price">
										
											<div data-v-7fcfa635="" class="price-current">
												<span data-v-7fcfa635="" class="price price-current priceValue" ownerId="{{ resource.ResId }}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</span>
													<span data-v-7fcfa635="" class="currency">
															<span hidden="hidden">
																{{ resource.CurrencyCode }}.
															</span>
													</span>
											</div>
											<!---->
									</div>
									<!---->
									<div data-v-7fcfa635="" class="buys">
											<button data-v-7fcfa635="" type="button" class="buy">
													В корзину
											</button>
											<!---->
									</div>
									<!---->
							</div>
							<div data-v-0b5002f0="" data-v-10b5df08="" class="deliveries">
									<div data-v-877d3bbe="" data-v-0b5002f0="" class="delivery">
											<!---->
											<div data-v-877d3bbe="" class="delivery-info">
													<a data-v-877d3bbe="" href="#" class="delivery-name">
															Пункты выдачи
															<!---->
													</a>
													<div data-v-877d3bbe="" class="delivery-date">
															<div data-v-877d3bbe="" class="delivery-later">
																	2-3 дня
															</div>
															<!---->
													</div>
													<!---->
											</div>
											<div data-v-877d3bbe="" class="delivery-price">
													От 125
													<span data-v-877d3bbe="" class="currency">
															<span hidden="hidden">
																	руб.
															</span>
													</span>
											</div>
									</div>
									<div data-v-877d3bbe="" data-v-0b5002f0="" class="delivery">
											<!---->
											<div data-v-877d3bbe="" class="delivery-info">
													<a data-v-877d3bbe="" href="#" class="delivery-name">
															Курьерская или срочная доставка
															<!---->
													</a>
													<div data-v-877d3bbe="" class="delivery-date">
															<div data-v-877d3bbe="" class="delivery-later">
																	3 часа - 1 день
															</div>
															<!---->
													</div>
													<!---->
											</div>
											<div data-v-877d3bbe="" class="delivery-price">
													От 250
													<span data-v-877d3bbe="" class="currency">
															<span hidden="hidden">
																	руб.
															</span>
													</span>
											</div>
									</div>
									<div data-v-877d3bbe="" data-v-0b5002f0="" class="delivery">
											<!---->
											<div data-v-877d3bbe="" class="delivery-info">
													<a data-v-877d3bbe="" href="#" class="delivery-name">
															Забронировать в магазине Р
															<!---->
													</a>
													<div data-v-877d3bbe="" class="delivery-date">
															<!---->
															<div data-v-877d3bbe="" class="delivery-now">
																	Соберем за 3 часа
															</div>
													</div>
													<!---->
											</div>
											<div data-v-877d3bbe="" class="delivery-price">
													Бесплатно
													<!---->
											</div>
									</div>
							</div>
							<div data-v-10b5df08="" class="stick-test"></div>
					</div>
			</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	var resource_ResRegNo = "{{resource.ResRegNo}}"
	var resource_ResGuid = "{{resource.ResGuid}}"
	var resource_ResId = "{{resource.ResId}}"
	var view_handling = "{{handle_product_view}}"
	var view_handler_api_url = "{{view_handler_api_url}}"
</script>
<script>
	update_viewed_list(resource_ResId); 
	if (view_handling){
		handle_product_view();
	}
</script>
{% endblock %}