{% extends "commerce/rd/commerce/layout.html" %}

{% block head %}
<meta name="description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}">
<meta property="og:description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}" />
<meta property="og:image" content="{{ request.host_url }}{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
<meta name="twitter:description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />

{% endblock %}

{% block content %}
<div class="container">
	<div class="row">

<div class="all-content content" data-v-503820a0="">
	<div class="left-content" data-v-503820a0="">
			<div class="content" data-v-503820a0="">
					<div class="middle" data-v-503820a0="">
							<div class="photos" data-v-503820a0="">
									<div class="item-gallery" data-v-dc6cd19c="" data-v-503820a0="">
											<div class="item-gallery-left" data-v-dc6cd19c="">
												<div class="content" data-v-503820a0="">
													<div class="middle" data-v-503820a0="">
														<div class="photos" data-v-503820a0="">
															<div class="product-details-img">
																<div class="zoompro-wrap product-zoom-right pr-20">
																	<div class="zoompro-span">
																		<img class="zoompro"  src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/no_photo.svg') }}"
																		alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}" />
																		<span>-29%</span>
																	</div>
																</div>
				
																{% if resource.Images %}
																{% set image_count = 0 %}
																	<div id="gallery" class="product-dec-slider-2">
																		{% for image in resource.Images %}
																		{% set image_count = image_count + loop.index %}
																		{% if image_count < 4 %}
																			<a data-image="{{image.FilePathM}}" >
																				<img loading="lazy" src="{{image.FilePathS}}" data-src-m="{{image.FilePathM}}"
																					alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
																			</a>
																		{% endif %}
																		{% endfor %}
																	</div>
																{% endif %}
																</div>
															</div>
														</div>
													</div>
											</div>
											<!---->
									</div>
							</div>
					</div>
			</div>
			<!---->
			<div class="card-blocks" data-v-503820a0="">
					<div class="card-block" data-v-503820a0="">
							<div class="content" data-v-503820a0="">
									<div id="full" class="tabs" data-v-e16259a4="" data-v-503820a0="">
										<div class="ml-auto mr-auto" style="float: left;">
											<div class="dec-review-topbar nav mb-40">
													<a class="active" data-toggle="tab" href="#des-details1">Описание</a>
													<a  data-toggle="tab" href="#des-details2">Характеристики</a>
													<a data-toggle="tab" href="#des-details3">Рецензии
                          </a>
											</div>
											<div class="tab-content dec-review-bottom">
													<div id="des-details1" class="tab-pane active">
															<div class="description-wrap">
																	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,</p>
															</div>
													</div>
													<div id="des-details2" class="tab-pane">
                            <div class="specification-wrap table-responsive" style="overflow: hidden!important">
                              <li data-v-d1857f86="" class="property">
                                <span data-v-d1857f86="">
                                  <span data-v-d1857f86="" class="property-name"> Автор: </span>
                                  <span data-v-d1857f86="" class="property-value">
                                    Кэтрин Барр, Стив Уильямс
                                  </span>
                                </span>
                              </li>
                              <li data-v-d1857f86="" class="property">
                                <span data-v-d1857f86="">
                                  <span data-v-d1857f86="" class="property-name"> ISBN: </span>
                                  <span data-v-d1857f86="" class="property-value">
                                  978-5-91759-832-1
                                  </span>
                                </span>
                              </li>
                              <li data-v-d1857f86="" class="property">
                                <span data-v-d1857f86="">
                                  <span data-v-d1857f86="" class="property-name"> Возрастные: </span>
                                  <span data-v-d1857f86="" class="property-value">
                                    0+
                                  </span>
                                </span>
                              </li>
                              <li data-v-d1857f86="" class="property">
                                <span data-v-d1857f86="">
                                  <span data-v-d1857f86="" class="property-name"> Формат: </span>
                                  <span data-v-d1857f86="" class="property-value">
                                    25 x 28
                                  </span>
                                </span>
                              </li>
                              <li data-v-d1857f86="" class="property">
                                <span data-v-d1857f86="">
                                  <span data-v-d1857f86="" class="property-name"> Язык: </span>
                                  <span data-v-d1857f86="" class="property-value">
                                    Русский
                                  </span>
                                </span>
                              </li>
                              <li data-v-d1857f86="" class="property">
                                <span data-v-d1857f86="">
                                  <span data-v-d1857f86="" class="property-name"> Год издания: </span>
                                  <span data-v-d1857f86="" class="property-value">
                                    2019
                                  </span>
                                </span>
                              </li>
                              <li data-v-d1857f86="" class="property">
                                <span data-v-d1857f86="">
                                  <span data-v-d1857f86="" class="property-name"> Количество страниц: </span>
                                  <span data-v-d1857f86="" class="property-value">
                                    40
                                  </span>
                                </span>
                              </li>
                              <li data-v-d1857f86="" class="property">
                                <span data-v-d1857f86="">
                                  <span data-v-d1857f86="" class="property-name"> Обложка: </span>
                                  <span data-v-d1857f86="" class="property-value">
                                    Твердая
                                  </span>
                                </span>
                              </li>
                              <li data-v-d1857f86="" class="property">
                                <span data-v-d1857f86="">
                                  <span data-v-d1857f86="" class="property-name"> Страна-производитель: </span>
                                  <span data-v-d1857f86="" class="property-value">
                                    Русский
                                  </span>
                                </span>
                              </li>
                              <li data-v-d1857f86="" class="property">
                                <span data-v-d1857f86="">
                                  <span data-v-d1857f86="" class="property-name"> Возраст: </span>
                                  <span data-v-d1857f86="" class="property-value">
                                    4+
                                  </span>
                                </span>
                              </li>
                            </div>
													</div>
													<div id="des-details3" class="tab-pane">
															<div class="dec-review-wrap mb-50">
                                Напиши свою рецензию и получи промокод на 150 рублей!
															</div>

                              <div class="card-block" data-v-503820a0="">
                                <div class="content" data-v-503820a0="">
                                    <div class="be-first" data-v-503820a0="">
                                        <div class="be-first-left" data-v-503820a0="">
                                            <div class="be-first-none" data-v-503820a0="">
                                                Отзывов пока что нет
                                            </div>
                                            <div class="be-first-slogan" data-v-503820a0="">
                                                Будьте первым,
                                                <span data-v-503820a0="">
                                                    кто оставит отзыв
                                                </span>
                                            </div>
                                            <a href="#" class="be-first-add" data-v-503820a0="">Оставить первый отзыв</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
													</div>
											</div>
									</div>
									</div>
							</div>
					</div>
			</div>
	</div>
	<div class="right-content" style="" data-v-503820a0="">
			<div data-v-10b5df08="" data-v-503820a0="" class="item-about about">
					<!---->
					<!---->
					<!---->
					<div data-v-7fcfa635="" data-v-10b5df08="" class="fly">
							<!---->
							<!---->
							<div data-v-7fcfa635="" itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer" class="price">
									<meta data-v-7fcfa635="" content="RUB" itemprop="priceCurrency" /> <meta data-v-7fcfa635="" content="1738" itemprop="price" />
									<meta data-v-7fcfa635="" content="https://schema.org/InStock" itemprop="availability" />
									<link data-v-7fcfa635="" href="https://www.respublica.ru/knigi/biznes-knigi/menedzhment-i-predprinimatelstvo/591139-kollinz-dzh-ot-horoshego-k-velikomu-biblioteka-lidera-m-o" itemprop="url" />
									<div data-v-7fcfa635="" class="price-name">
											При доставке и самовывозе
											<a data-v-7fcfa635="" href="/prices" class="question-icon" target="_blank"></a>
									</div>
									<div data-v-7fcfa635="" class="price-current">
										<span class="ui-q3 ui-q6" style="color: #46c3d2; font-size: 25px;">
											{{ resource.ResPriceValue }} 
										</span>
										<span class="ui-q3 ui-q6" style="color: #46c3d2; font-size: 25px;">
											{{ resource.CurrencyCode }}
										</span>
									</div>
									<!---->
							</div>
							<!---->
							<div data-v-7fcfa635="" class="buys">
									<button data-v-7fcfa635="" type="button" class="buy">
											В корзину
									</button>
									<!---->
							</div>
							<!---->
					</div>
					<div data-v-0b5002f0="" data-v-10b5df08="" class="deliveries">
							<div data-v-877d3bbe="" data-v-0b5002f0="" class="delivery">
									<!---->
									<div data-v-877d3bbe="" class="delivery-info">
											<a data-v-877d3bbe="" href="#" class="delivery-name">
													Пункты выдачи
													<!---->
											</a>
											<div data-v-877d3bbe="" class="delivery-date">
													<div data-v-877d3bbe="" class="delivery-later">
															2-3 дня
													</div>
													<!---->
											</div>
											<!---->
									</div>
									<div data-v-877d3bbe="" class="delivery-price">
										<span class="ui-q3 ui-q6">
											{{ resource.ResPriceValue }} 
										</span>
										<span class="ui-q3 ui-q6">
											{{ resource.CurrencyCode }}
										</span>
									</div>
							</div>
							<div data-v-877d3bbe="" data-v-0b5002f0="" class="delivery">
									<!---->
									<div data-v-877d3bbe="" class="delivery-info">
											<a data-v-877d3bbe="" href="#" class="delivery-name">
													Курьерская или срочная доставка
													<!---->
											</a>
											<div data-v-877d3bbe="" class="delivery-date">
													<div data-v-877d3bbe="" class="delivery-later">
															3 часа - 1 день
													</div>
													<!---->
											</div>
											<!---->
									</div>
									<div data-v-877d3bbe="" class="delivery-price">
										<span class="ui-q3 ui-q6">
											{{ resource.ResPriceValue }} 
										</span>
										<span class="ui-q3 ui-q6">
											{{ resource.CurrencyCode }}
										</span>
									</div>
							</div>
							<div data-v-877d3bbe="" data-v-0b5002f0="" class="delivery">
									<!---->
									<div data-v-877d3bbe="" class="delivery-info">
											<a data-v-877d3bbe="" href="#" class="delivery-name">
													Забронировать в магазине Р
													<!---->
											</a>
											<div data-v-877d3bbe="" class="delivery-date">
													<!---->
													<div data-v-877d3bbe="" class="delivery-now">
															Соберем за 3 часа
													</div>
											</div>
											<!---->
									</div>
									<div data-v-877d3bbe="" class="delivery-price">
											Бесплатно
											<!---->
									</div>
            </div>
            <div data-v-10b5df08="" class="item-card-name-mobile">
              <a data-v-10b5df08="" href="{{url_for('commerce.v_grid')}}" class="card-manufactor-link" title="Джим Коллинз">
                  Джим Коллинз
              </a>
              <!---->
            </div>
					</div>
					<div data-v-10b5df08="" class="stick-test"></div>
			</div>
	</div>
</div>
</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script>
	var resource_ResRegNo = "{{resource.ResRegNo}}"
	var resource_ResGuid = "{{resource.ResGuid}}"
	var resource_ResId = "{{resource.ResId}}"
	var view_handling = "{{handle_product_view}}"
	var view_handler_api_url = "{{view_handler_api_url}}"
</script>
<script>
	update_viewed_list(resource_ResId); 
	if (view_handling){
		handle_product_view();
	}
</script>
{% endblock %}