{% extends "commerce/main/commerce/layout.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/bulma.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/core.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/icons.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/chosen/chosen.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/webuipopover/jquery.webui-popover.min.css')}}">
{% endblock %}

{% block content %}
	<div class="shop-wrapper">
		<div class="section">
			<div class="container">
				<div class="columns account-header">
					<div class="column is-10 is-offset-1 is-tablet-landscape-padded">
						<div class="account-title">
							<h2>{{_('Orders')}}</h2>
							<img class="brand-filigrane" src="{{ url_for('static', filename='commerce/main/images/logo/nephos-greyscale.svg')}}" alt="">
						</div>
						<div class="tabs account-tabs has-controls">
							<ul>
								<li><a href="{{ url_for('commerce_users.profile') }}">{{_('Profile')}}</a></li>
								<li class="is-active"><a href="{{ url_for('commerce_users.profile') }}">{{_('Orders')}}</a></li>
								<li><a href="{{ url_for('commerce_users.wishlist') }}">{{_('Wishlist')}}</a></li>
							</ul>
						</div>
						<div class="columns is-account-grid is-multiline">
							{% for orderInv in orderInvoices %}
								<!-- Order card -->
								<div class="column is-4" onclick="toggle()">
									<div class="flat-card order-card has-popover-top">
										<a class="card-link" href="{{ url_for('commerce_users.order_lines',OInvRegNo=orderInv.OInvRegNo) }}"></a>
										<div class="order-info">
											<span><a href="{{ url_for('commerce_users.order_lines',OInvRegNo=orderInv.OInvRegNo) }}" onclick="return true">{{_('Order')}} - {{ orderInv.OInvRegNo }}</a></span>
											<span class="tag is-{{orderInv.StatusUI.class}}">{{orderInv.InvStatus.InvStatName}}</span>
										</div>
										<!-- Progress Circle -->
										<div class="circle-chart-wrapper">
											<svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
												<circle class="circle-chart-background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
												<circle class="circle-chart-circle" stroke="{{orderInv.StatusUI.color_hash}}" stroke-width="2" stroke-dasharray="{{orderInv.StatusUI.percentage}},100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
											</svg>
											<div class="chart-icon">
												<i data-feather="{{orderInv.StatusUI.icon}}"></i>
											</div>
											<div class="ring-title has-text-centered">
												<span>{{orderInv.StatusUI.percentage}}%</span>
											</div>
										</div>
									</div>
									<div class="webui-popover-content">
										<div class="popover-flex-block">
											<div class="icon-block">
												<i data-feather="clock"></i>
											</div>
											<div class="content-block">
												<label>{{_('Ordered date')}}</label>
												<span>{{ orderInv.CreatedDate }}</span>
											</div>
										</div>
										<div class="popover-flex-block">
											<div class="icon-block">
												<i data-feather="dollar-sign"></i>
											</div>
											<div class="content-block">
												<label>{{_('Order Total')}}</label>
												<span>{{ orderInv.Currency.CurrencyCode }} {{ orderInv.OInvFTotal }}</span>
											</div>
										</div>
										<div class="popover-flex-block">
											<div class="icon-block">
												<i data-feather="{{orderInv.StatusUI.icon}}"></i>
											</div>
											<div class="content-block">
												<label>{{_('Status')}}</label>
												<span>{{orderInv.InvStatus.InvStatName}}</span>
											</div>
										</div>
									</div>
								</div>
              {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}


{% block scripts %}
	<script src="{{ url_for('static', filename='commerce/main/js/app.js')}}"></script>
	<script src="{{ url_for('static', filename='commerce/main/js/nephos.js')}}"></script>
{% endblock %}
