{% extends "commerce/main/commerce/layout.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/bulma.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/core.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/assets/css/icons.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/chosen/chosen.css')}}">
{% endblock %}

{% block content %}
	<div class="shop-wrapper">
		<div class="section">
			<div class="container">
				<div class="columns account-header">
					<div class="column is-10 is-offset-1">
						<div class="account-title">
							<h2>{{_('Edit profile')}}</h2>
							<img class="brand-filigrane" src="{{ url_for('static', filename='commerce/main/images/logo/nephos-greyscale.svg')}}" alt="">
						</div>
						<!-- Account tabs -->
						<div class="tabs account-tabs">
							<ul>
                <li class="is-active"><a href="{{ url_for('commerce_users.profile') }}">{{_('Profile')}}</a></li>
                <li><a href="{{ url_for('commerce_users.orders') }}">{{_('Orders')}}</a></li>
              </ul>
						</div>
						<!-- Edit Account Layout -->
						<div class="columns is-account-grid is-multiline">
							<div class="column is-4">
								<!-- Upload Avatar -->
								<div class="flat-card upload-card is-auto">
									<div class="card-body">
										<!-- Avatar form -->
										<div id="avatar-upload" class="avatar-wrapper has-simple-popover" data-content="Change profile picture" data-placement="top">
											<img class="profile-pic" src="https://image.ibb.co/b04PYv/placeholder_w.jpg" alt="">
											<div class="upload-button">
												<i class="upload-icon" data-feather="plus" aria-hidden="true"></i>
											</div>
											<input class="file-upload" type="file" accept="image/*"/>
										</div>
										<!-- /Avatar form -->

										<!-- User -->
										<div class="username has-text-centered">
											<span>{{current_user.UFullName}}</span>
                      <small>{{_('Registered date')}}: {{current_user.CreatedDate.strftime('%d-%m-%Y') }}</small>
                    </div>
										<div class="has-text-centered">
											<button class="button feather-button secondary-button will-upload">{{_('Save')}}</button>
										</div>
									</div>
								</div>
								<!-- /Upload Avatar -->
							</div>
							<div class="column is-8">
								<!-- Edit contact Info -->
								<div class="flat-card profile-info-card is-auto">
									<!-- Title -->
									<div class="card-title">
										<h3>{{('Contact info')}}</h3>
										<!-- Save button -->
										<div class="confirm-button">
											<a href="javascript:void(0);" role="button" class="has-simple-popover" data-content="Save Contact info" data-placement="top"><i class="feather-icons" data-feather="check"></i></a>
										</div>
									</div>
									<div class="card-body">
										<div class="columns">
											<div class="column is-6">
												<div class="info-block">
													<span class="label-text">{{('First name')}}</span>
													<div class="control">
														<input type="text" class="input is-default" value="Elie">
													</div>
												</div>
												<div class="info-block">
													<span class="label-text">{{('Email')}}</span>
													<div class="control">
														<input type="email" class="input is-default" value="eliedaniels@gmail.com">
													</div>
												</div>
											</div>
											<div class="column is-6">
												<div class="info-block">
													<span class="label-text">{{('Last name')}}</span>
													<div class="control">
														<input type="text" class="input is-default" value="Daniels">
													</div>
												</div>
												<div class="info-block">
													<span class="label-text">{{('Phone')}}</span>
													<div class="control">
														<input type="text" class="input is-default" value="+1 555 623 568">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Edit contact Info -->
								<!-- Edit BIlling Address -->
								<div class="flat-card profile-info-card is-auto has-overflow">
									<!-- Title -->
									<div class="card-title">
										<h3>{{('Billing Address')}}</h3>
										<div class="confirm-button">
											<a href="javascript:void(0);" role="button" class="has-simple-popover" data-content="Save Addresses" data-placement="top"><i class="feather-icons" data-feather="check"></i></a>
										</div>
									</div>
									<div class="card-body">
										<div class="columns">
											<div class="column is-6">
												<!-- Form group -->
												<div class="info-block">
													<span class="label-text">{{('Number')}}</span>
													<div class="control">
														<input type="text" class="input is-default" value="23, Block C2">
													</div>
												</div>
												<!-- Form group -->
												<div class="info-block">
													<span class="label-text">{{('City')}}</span>
													<div class="control">
														<input type="text" class="input is-default" value="Los Angeles">
													</div>
												</div>
												<!-- Form group -->
												<div class="info-block">
													<span class="label-text">{{('State')}}</span>
													<div class="control">
														<input type="text" class="input is-default" value="CA">
													</div>
												</div>
											</div>
											<div class="column is-6">
												<!-- Form group -->
												<div class="info-block">
													<span class="label-text">{{('Street')}}</span>
													<div class="control">
														<input type="text" class="input is-default" value="Church Street">
													</div>
												</div>
												<!-- Form group -->
												<div class="info-block">
													<span class="label-text">{{('Postal code')}}</span>
													<div class="control">
														<input type="text" class="input is-default" value="100065">
													</div>
												</div>
												<!-- Select -->
												<div class="info-block">
													<span class="label-text">{{('Country')}}</span>
													<div class="control">
														<input type="text" class="input is-default">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- /Edit Billing Address -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Container -->
		</div>
		<!-- /Main section -->
	</div>
{% endblock %}




{% block scripts %}
	<script src="{{ url_for('static', filename='commerce/main/js/app.js')}}"></script>
	<script src="{{ url_for('static', filename='commerce/main/js/nephos.js')}}"></script>
{% endblock %}
