{% extends "commerce/main/commerce/layout.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/bulma.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/core.css')}}">
{% endblock %}

{% block content %}
	<div class="shop-wrapper">
    <div class="section">
      <div class="container">
        <div class="columns account-header">
          <div class="column is-10 is-offset-1 is-tablet-landscape-padded">
            <div class="account-title">
              <h2>{{_('Wishlist')}}</h2>
              <img class="brand-filigrane" src="{{ url_for('static', filename='commerce/main/images/logo/nephos-greyscale.svg')}}" alt="">
            </div>
            <div class="tabs account-tabs">
              <ul>
                <li><a href="{{ url_for('commerce_users.profile') }}">{{_('Profile')}}</a></li>
                <li><a href="{{ url_for('commerce_users.orders') }}">{{_('Orders')}}</a></li>
                <li class="is-active"><a href="{{ url_for('commerce_users.wishlist') }}">{{_('Wishlist')}}</a></li>
              </ul>
            </div>
             
              <div class="columns is-account-grid is-multiline">
                <!-- Wishlists -->
                <div class="column is-4">
                    <!-- List of Wishlists -->
                    <div class="flat-card is-auto menu-card">
                        <div class="card-title">
                            <h3>Add Wishlist</h3>

                            <div class="edit-account">
                                <a href="javascript:void(0);" class="modal-trigger has-simple-popover" data-modal="new-wishlist" data-content="Add a New Wishlist" data-placement="top"><i class="feather-icons" data-feather="plus"></i></a>
                            </div>
                        </div>
                        <ul class="wishlists">
                            <li class="is-active"><a>Main List</a></li>
                        </ul>
                    </div>
                </div>

                <div class="column is-8">
                    <div class="flat-card wishlist-card is-auto">
                        <!-- List of Wishlist Items -->
                        <ul class="wishlist">

                            <!-- Wishlist Item -->
                            <li class="wishlist-item" onclick="return true">
                                <div class="item-wrapper">
                                    <!-- Product Image -->
                                    <img src="{{ url_for('static', filename='commerce/main/images/product/15.jpg')}}" alt="">
                                    <!-- Product meta -->
                                    <span class="product-info">
                                        <span>The Conqueror</span>
                                        <span>Office</span>
                                    </span>
                                    <div class="action">
                                        <!-- Dropdown button -->
                                        <div class="dropdown is-right">
                                            <span class="dropdown-trigger">
                                                <span class="dropdown-button">
                                                    <a href="javascript:void(0);"><i class="feather-icons" data-feather="chevron-down"></i></a>
                                                </span>
                                            </span>
                                            <!-- Dropdown menu-->
                                            <div class="dropdown-menu" role="menu">
                                                <div class="dropdown-content">
                                                    <!-- Dropdown item -->
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="list"></i> <span>Move to List</span>
                                                    </a>
                                                    <!-- Dropdown item -->
                                                    <a class="dropdown-item">
                                                        <i class="feather-icons" data-feather="eye"></i> <span>View Product</span>
                                                    </a>
                                                    <!-- Dropdown item -->
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="shopping-cart"></i> <span>Add to Cart</span>
                                                    </a>
                                                    <hr class="dropdown-divider">
                                                    <!-- Dropdown item -->
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="x"></i> <span>Remove</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Wishlist Item -->
                            <li class="wishlist-item" onclick="return true">
                                <div class="item-wrapper">
                                    <img src="{{ url_for('static', filename='commerce/main/images/product/7.jpg')}}" alt="">
                                    <span class="product-info">
                                        <span>The Gentleman</span>
                                        <span>Office</span>
                                    </span>
                                    <div class="action">
                                        <div class="dropdown is-right">
                                            <span class="dropdown-trigger">
                                                <span class="dropdown-button">
                                                    <a href="javascript:void(0);"><i class="feather-icons" data-feather="chevron-down"></i></a>
                                                </span>
                                            </span>
                                            <div class="dropdown-menu" role="menu">
                                                <div class="dropdown-content">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="list"></i> <span>Move to List</span>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <i class="feather-icons" data-feather="eye"></i> <span>View Product</span>
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="shopping-cart"></i> <span>Add to Cart</span>
                                                    </a>
                                                    <hr class="dropdown-divider">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="x"></i> <span>Remove</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Wishlist Item -->
                            <li class="wishlist-item" onclick="return true">
                                <div class="item-wrapper">
                                    <img src="{{ url_for('static', filename='commerce/main/images/product/20.jpg')}}" alt="">
                                    <span class="product-info">
                                        <span>Styled Lamp</span>
                                        <span>Accessories</span>
                                    </span>
                                    <div class="action">
                                        <div class="dropdown is-right">
                                            <span class="dropdown-trigger">
                                                <span class="dropdown-button">
                                                    <a href="javascript:void(0);"><i class="feather-icons" data-feather="chevron-down"></i></a>
                                                </span>
                                            </span>
                                            <div class="dropdown-menu" role="menu">
                                                <div class="dropdown-content">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="list"></i> <span>Move to List</span>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <i class="feather-icons" data-feather="eye"></i> <span>View Product</span>
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="shopping-cart"></i> <span>Add to Cart</span>
                                                    </a>
                                                    <hr class="dropdown-divider">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="x"></i> <span>Remove</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Wishlist Item -->
                            <li class="wishlist-item" onclick="return true">
                                <div class="item-wrapper">
                                    <img src="{{ url_for('static', filename='commerce/main/images/product/6.jpg')}}" alt="">
                                    <span class="product-info">
                                        <span>Treasure Chest</span>
                                        <span>For Kids</span>
                                    </span>
                                    <div class="action">
                                        <div class="dropdown is-right">
                                            <span class="dropdown-trigger">
                                                <span class="dropdown-button">
                                                    <a href="javascript:void(0);"><i class="feather-icons" data-feather="chevron-down"></i></a>
                                                </span>
                                            </span>
                                            <div class="dropdown-menu" role="menu">
                                                <div class="dropdown-content">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="list"></i> <span>Move to List</span>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <i class="feather-icons" data-feather="eye"></i> <span>View Product</span>
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="shopping-cart"></i> <span>Add to Cart</span>
                                                    </a>
                                                    <hr class="dropdown-divider">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="x"></i> <span>Remove</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                            <!-- Wishlist Item -->
                            <li class="wishlist-item" onclick="return true">
                                <div class="item-wrapper">
                                    <img src="{{ url_for('static', filename='commerce/main/images/product/5.jpg')}}" alt="">
                                    <span class="product-info">
                                        <span>Modern Bed</span>
                                        <span>House</span>
                                    </span>
                                    <div class="action">
                                        <div class="dropdown is-right">
                                            <span class="dropdown-trigger">
                                                <span class="dropdown-button">
                                                    <a href="javascript:void(0);"><i class="feather-icons" data-feather="chevron-down"></i></a>
                                                </span>
                                            </span>
                                            <div class="dropdown-menu" role="menu">
                                                <div class="dropdown-content">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="list"></i> <span>Move to List</span>
                                                    </a>
                                                    <a class="dropdown-item">
                                                        <i class="feather-icons" data-feather="eye"></i> <span>View Product</span>
                                                    </a>
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="shopping-cart"></i> <span>Add to Cart</span>
                                                    </a>
                                                    <hr class="dropdown-divider">
                                                    <a href="#" class="dropdown-item">
                                                        <i class="feather-icons" data-feather="x"></i> <span>Remove</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <!-- List Pagination -->
                    <div class="wishlist-pagination">
                        <ul>
                            <li class="is-active"><span>1</span></li>
                            <li><span>2</span></li>
                            <li><span>3</span></li>
                            <li><span>4</span></li>
                        </ul>
                    </div>
                    <!-- /List Pagination -->
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Wishlist Modal -->
  <div id="new-wishlist" class="modal review-modal">
    <div class="modal-background"></div>
      <div class="modal-content">
          <div class="box">
              <div class="box-header">
                  <span>NEW LIST</span>
                  <div class="modal-delete"><i data-feather="x"></i></div>
              </div>
              <div class="box-body">
                  <p>Add a new sub list to classify your wishlist items. You can then manage them and find them more easily.</p>
                  <div class="control control-medium is-input-wrapper">
                      <input type="text" class="input is-minimal" placeholder="Wishlist name">
                  </div>
                  <div class="has-text-right">
                      <button type="submit" class="button feather-button is-bold primary-button raised">
                          Create
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='commerce/main/js/app.js')}}"></script>
	<script src="{{ url_for('static', filename='commerce/main/js/nephos.js')}}"></script>
{% endblock %}