SECRET_KEY = 'random_data_secret_key_of_an_app'
SYNCH_SHA = 'random_data_of_synchronizer'
APP_WEB_KEY = 'random data of app key'

DEBUG = 0 or 1
TESTING = 0 or 1

MAIN_CGUID = 'UUID'
C_MAIN_DIVGUID = 'UUID'
C_REGISTRATION_DIVGUID = 'UUID'

SAP_SERVICE_KEY = 'random_data_of_sap_service'
SAP_SERVICE_URL = 'http://example.com'
SAP_SERVICE_URL_PREFIX = '/api'
USE_ACTIVATION_CUSTOMER = 0 or 1
USE_ACTIVATION_SERVER = 0 or 1
ACTIVATION_SERVERLESS_REGISTRATION = 0 or 1
BASE_32_FERNET_KEY = '32 bit url_encoded base64'
DEVICE_ALLOWED_TIMEOUT_DAYS = 4

USE_FLASK_CORS = 0 or 1
USE_FLASK_COMPRESS = 0 or 1

API_AND_ADMIN_ONLY = 0 or 1
EMAIL_ERROR_REPORTS = 0 or 1
EMAIL_ERROR_REPORTS_ADDRESSES = ["example@example.com"]
COMPANY_NAME = 'LS'
COMPANY_MAIL = 'some_email@example.com'

SESSION_TYPE = 'redis'
SESSION_REDIS = 'redis://:[password]@localhost:6379/1'
CACHE_TYPE = 'redis' or 'simple'
CACHE_REDIS_URL = 'redis://user:password@localhost:6379/2'
DB_CACHE_TIME = 300

SQLITE_URI = 'sqlite:///application.db'

POSTGRES_DB_USERNAME = 'postgres'
POSTGRES_DB_PASSWORD = '123456'
POSTGRES_DB_DATABASE = 'postgres'
POSTGRES_DB_HOST = 'localhost'
POSTGRES_DB_PORT = '5432'

POSTGRES_TEST_DB_USERNAME = 'postgres'
POSTGRES_TEST_DB_PASSWORD = '123456'
POSTGRES_TEST_DB_DATABASE = 'postgres_test'
POSTGRES_TEST_DB_HOST = 'localhost'
POSTGRES_TEST_DB_PORT = '5432'

MAIL_SERVER = 'smtp.googlemail.com' or 'smtp.yandex.com'
MAIL_PORT = 587 or 465
MAIL_USE_TLS = 1 or 0
MAIL_USE_SSL = 0 or 1
MAIL_USERNAME = 'mail@example.com'
MAIL_PASSWORD = 'password'

ALLOW_PAYMENT_INFO_API = 1 or 0
PAYMENT_VALIDATION_SERVICE_URL = 'https://example.com/payment'
PAYMENT_VALIDATION_SERVICE_USERNAME = 'username'
PAYMENT_VALIDATION_SERVICE_PASSWORD = 'password'
PAYMENT_VALIDATION_KEY = "OrderStatus"
PAYMENT_VALIDATION_VALUE = 2


TOKEN_EXP_TIME_MINUTES = '30'
COMMERCE_TEMPLATES_FOLDER_PATH = "/commerce/bee"
COMMERCE_HOME_PAGE_TITLE = 'Hilli'
API_URL_PREFIX = '/api'
COMMERCE_URL_PREFIX = '/commerce'
COMMERCE_ADMIN_URL_PREFIX = ''
SHOW_LANDING_PAGE_ON_ROOT = 1 or 0
SHOW_NEGATIVE_WH_QTY_RESOURCE = 1 or 0
SHOW_NULL_RESOURCE_CATEGORY = 1 or 0
SEARCH_BY_RESOURCE_DESCRIPTION = 1 or 0
COMMERCE_SHOW_BRANDS_ON_RESOURCES_PAGE = 1 or 0

MAIN_CURRENCY_CODE = 'USD'
DEFAULT_VIEW_CURRENCY_CODE = 'TMT'
DEFAULT_RES_PRICE_GROUP_ID = 0

GOOGLE_ANALYTICS_TAG = ""

ELASTICSEARCH_URL = 'http://localhost:9200'
COMMERCE_ABOUT_DESCRIPTION = ''