{% extends "commerce/rs/commerce/layout.html" %} {% block styles %}
<meta name="robots" content="noindex" />
{% endblock %} {% block content %}

<div class="page-contain page-404" style="height: 100%">
	<div id="main-content" class="main-content">
		<div class="container">
			<div class="col">
				<div class="content-404">
					<h1 class="heading">403</h1>
					<h2 class="title">This method is not allowed!.</h2>
					<p>Try again</p>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}
