
{% extends "commerce/hs/commerce/layout.html" %}


{% block head %}
<meta property="og:description" content="Login {{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta property="og:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/bee/images/favicon.svg') }}" />
<meta name="twitter:description" content="Login {{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/bee/images/favicon.svg') }}" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-area bg-img">
	<div class="container">
			<div class="breadcrumb-content text-center">
					<h2>{{_('About us')}} </h2>
					<ul>
							<li>
								<a href="{{ url_for('commerce.commerce') }}">{{_('Main')}}</a>
							</li>
							<li class="active">{{_('Login')}}</li>
					</ul>
			</div>
	</div>
</div>
{% endblock %}

{% block content %}


<div class="login-register-area pt-85 pb-90">
	<div class="container">
			<div class="row">
					<div class="col-lg-7 col-md-12 ml-auto mr-auto">
							<div class="login-register-wrapper">
									<div class="login-register-tab-list nav">
											<a class="active" data-toggle="tab" href="#">
													<h4> {{_('Login')}} </h4>
											</a>
											<a href="{{ url_for('commerce_auth.register') }}">{{_('Register')}}</a>
									</div>
									<div class="tab-content">
											<div id="lg1" class="tab-pane active">
													<div class="login-form-container">
															<div class="login-register-form">
																	<form action="#" method="post">
																		{{ form.csrf_token() }}
																		<p class="before-login-text">
																			{{_("To login you account, fill the required fields and click 'Login' button")}}.
																		</p>
																		{{ form.email(class="input-text") }}
																		{% if form.email.errors %}
																			<div class="col-12 mb-30">
																				{% for error in form.email.errors %}
																					<span style="color: red">{{ error }}</span>
																				{% endfor %}
																			</div>
																		{% endif %}
																		{{ form.password(id="password-field", class="input-text") }}
																		<span toggle="#password-field" class="las la-low-vision field-icon toggle-password"></span>
																			<div class="button-box">
																					<div class="login-toggle-btn">
																							<input type="checkbox">
																							<label>{{_('Remember me')}}</label>
																							<a href="{{ url_for('commerce_auth.reset_request') }}">{{_('Forgot your password?')}}</a>
																					</div>
																					<button type="submit">{{_(' Login ')}}</button>
																			</div>
																	</form>
															</div>
													</div>
											</div>
									</div>
							</div>
					</div>
			</div>
	</div>
</div>


{% endblock %}