
{% extends "commerce/hs/commerce/layout.html" %}


{% block head %}
<meta property="og:description" content="Register on online commerce {{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta property="og:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/bee/images/favicon.svg') }}" />
<meta name="twitter:description" content="Register on online commerce {{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/bee/images/favicon.svg') }}" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumb-area bg-img">
	<div class="container">
			<div class="breadcrumb-content text-center">
					<h2>{{_('About us')}} </h2>
					<ul>
							<li>
								<a href="{{ url_for('commerce.commerce') }}">{{_('Main')}}</a>
							</li>
							<li class="active">{{_('Register')}}</li>
					</ul>
			</div>
	</div>
</div>
{% endblock %}

{% block content %}
<div class="login-register-area pt-85 pb-90">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12 ml-auto mr-auto">
				<div class="login-register-wrapper">
					<div class="login-register-tab-list nav">
						<a href="{{ url_for('commerce_auth.login') }}">{{_('Login')}}</a>
						<a class="active" href="">
							<h4> {{_('Register')}} </h4>
						</a>
					</div>
					<div class="tab-content">
						<div id="lg2" class="tab-pane active">
							<div class="login-form-container">
								<div class="login-register-form">
									<form action="" method="post" id="sms_register_form">
										<p class="before-register-text">
											{{_("Register to use all the features and posibilities of ecommerce")}}.
										</p>

										<input inputmode="tel" placeholder="{{_('Phone number')}} : 9936XXXXXXX" class='input-text' id="phone-number" />

										<div class="button-box">
											<button type="submit">{{_('Register')}}</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='commerce/hs/js/sms_register.js') }}"></script>
{% endblock %}