
{% extends "commerce/hs/commerce/layout.html" %}


{% block head %}
<meta property="og:description" content="Register on online commerce {{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta property="og:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
<meta name="twitter:description" content="Register on online commerce {{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
{% endblock %}

{% block content %}
<div id="cover-spin" class="cover-spin"></div>
<div id="sms-reg-spinner" class="cover-spin">
	<p class="cover-spin-text">{{_('Please wait until verification is complete')}}!</p>
</div>
<div class="login-register-area pt-85 pb-90">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-md-12 ml-auto mr-auto">
				<div class="login-register-wrapper">
					<div class="login-register-tab-list nav">
						<a class="not_active_reg" href="{{ url_for('commerce_auth.login') }}">{{_('Login')}}</a>
						<a class="active" href="">
							<h4> {{_('Register')}} </h4>
						</a>
					</div>
					<div class="tab-content">
						<div id="lg2" class="tab-pane active">
							<div class="login-form-container">
								<div class="login-register-form">
									<form action="" method="get" id="sms_register_form">
										<h4 class="theme-text-message">
											{{_("Register to use all the features and posibilities of ecommerce")}}.
										</h4>

										<p>{{_('Phone number')}}<span style="color:red"> *</span></p>
										<input inputmode="tel" placeholder="{{_('Phone number')}} : +99361234567" class='input-text' id="phone-number" required />

										<div class="button-box">
											<button type="submit">{{_('Send')}}</button>
										</div>
									</form>

									<form action="" method="post" id="user-register-form" style="display:none">
										<h4 class="theme-text-message">
											{{_('Please, proceed the registration')}}
										</h4>

										<p>{{_('Username')}}<span style="color:red"> *</span></p>
										<input type="text" placeholder="{{_('Username')}}" class='input-text' id="username" required />
										<input type="text" placeholder="{{_('Full name')}}" class='input-text' id="full-name" />
										<input type="text" placeholder="{{_('Address')}}" class='input-text' id="address" />
										<!-- <p>{{_('Password')}}<span style="color:red"> *</span></p>
										<input type="password" placeholder="{{_('Password')}}" class='input-text' id="password" required />
										<span toggle="#password" class="las la-low-vision field-icon toggle-password"></span>
										<input type="password" placeholder="{{_('Confirm password')}}" class='input-text' id="confirm-password" required />
										<span toggle="#confirm-password" class="las la-low-vision field-icon toggle-password"></span> -->

										<div class="button-box">
											<button type="submit">{{_('Register')}}</button>
										</div>
									</form>
									
								</div>

								<!-- <div class="row" style="justify-content: space-around;">
									<div class="cart-summary-button btn-hover btn-hover-radious">
										<a href="{{url_for('commerce_auth.register')}}">
											<i class="las la-registered"></i>
											<span class="login-text">{{_('Register by email')}}</span>
										</a>
									</div>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
<script>
	var api_url_prefix = "{{api_url_prefix if api_url_prefix else ''}}";
</script>
<script src="{{ url_for('static', filename='commerce/hs/js/sms_register.js') }}"></script>
{% endblock %}