{% extends "commerce/ls/commerce/layout.html" %}

{% block content %}
<div id="content" class="site-content">
	<div class="col-full">
		<div class="row">
			<div id="primary" class="content-area">
				<main id="main" class="site-main">
					<div class="type-page hentry">
						<header class="entry-header">
							<div class="page-featured-image">
								<img loading="lazy" width="1920" height="1391" alt="" class="attachment-full size-full wp-post-image" src="{{ url_for('static', filename='commerce/ls/img/about/header.jpg') }}">
							</div>
							<div class="page-header-caption">
								<h2 class="align-top">{{_('About us')}}</h2>
								<p>
									2011-nji ýylyň iýul aýynyň 26-na lomaý we bölekleýin Aluw we Satuw işlerine başladyk.
									2015-nji ýylyň awgust aýynyň 28-ne Türkmenistanyň senagatçylar we telekeçiler birleşmesine 
									agza bolup, ol ýerde agza bolan başgada bir naçe türkmen täjirleri bilen tejribeleri-pikirleri
									paýlaşyp, TÜRKMENISTANDA ÖNDÜRILÝÄN harytlary-hyzmatlary Öndürijiden-SARPEDIJÄ amatly bahadan, 
									durnukly ýagdaýda, ygtybarly edip ýetirmegi maksat edindik. Ýagny ýurdumyzyň çägindäki dürli 
									welaýatlardaky dürli önümleri öndürýän zawodlardan harytlaryny dillerçilikli-lomaý bahadan 
									satyn alyp olary ýurdumyzyň çägindäki dükanlara eltip berýäris.
								</p>
							</div>
							<div class="single-image">
								<img loading="lazy" alt="mobile lomay sowda shop app" src="{{ url_for('static', filename='commerce/ls/img/about/mobileshop.jpg') }}">
							</div>
						</header>
						<div class="entry-content">
							<div class="about-features row">
								<div class="col-md-4">
									<div class="text-block">
										<p>
											Biziň salgymyz: Aşgabat şäheri Parahat 7/4, 18
											Tel:+993 61 70 33 39
											Tel:+993 65 71 52 81
											E-mail:wholesaleintm@gmail.comSkype:live:timur.gusew2016
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>
</div>

{% endblock %}