{% extends "commerce/ls/commerce/layout.html" %}

{% block breadcrumbs %}
	<nav class="woocommerce-breadcrumb">
		<a href="{{ url_for('commerce.commerce') }}">{{_('Main')}}</a>
		<span class="delimiter">
			<i class="tm tm-breadcrumbs-arrow-right"></i>
		</span>
		{{_('Cart')}}
	</nav>
{% endblock %}

{% block content %}
<div id="cover-spin"></div>
<div id="content" class="site-content">
	<div class="col-full">
		<div>
			<main id="main" class="site-main">
				<div class="type-page hentry">
					<div class="entry-content">
						<div class="woocommerce">
							<div class="row">
								<div class="col-xl-3 col-lg-12 col-md-12 col-12 pb-30 pt-10" style="max-width: 100%; margin: 0 auto;">
									<form action="#">
										<div class="cart-table table-responsive mb-40">
											<table class="table">
												<thead>
													<tr>
														<th class="pro-thumbnail">{{_('Image')}}</th>
														<th class="pro-title">{{_('Product')}}</th>
														<th class="pro-price">{{_('Price')}}</th>
														<th class="pro-quantity">{{_('Quantity')}}</th>
														<th class="pro-subtotal">{{_('Total')}}</th>
														<th class="pro-remove">{{_('Remove')}}</th>
													</tr>
												</thead>
												<tbody class="cartItemsTable">
												</tbody>
											</table>
										</div>
									</form>
								</div>

								<div class="col-xl-4 col-lg-12 col-md-12 col-12 pb-30 pt-10" style="max-width: 100%; margin: 0 auto;">
									<div class="cart-collaterals" style="margin: 0 auto;">
										<div class="cart_totals">
											<table class="shop_table shop_table_responsive">
												<tbody>
													<tr class="order-total">
														<th>{{_('Total price')}}</th>
														<td data-title="{{_('Total price')}}">
															<strong style="color:#d25706">
																<span class="woocommerce-Price-amount amount cartTotalPrice">
																	0.00
																</span>
																<span class="woocommerce-Price-currencySymbol currencySymbol">
																	{{ session.currency_code if session.currency_code else 'TMT' }}
																</span>
															</strong>
														</td>
													</tr>
												</tbody>
											</table>
											{% if current_user.is_authenticated %}
											<div class="tabs">
												<div class="tab-content">
													<div class="d-block my-3 paymentMethods">
														{% for payment_method in payment_methods %}
														<div class="custom-control custom-radio">
															<input id="{{ payment_method.PmName }}" name="paymentMethod" type="radio" class="custom-control-input" value="{{ payment_method.PmId }}" required>
															<label class="custom-control-label" for="{{ payment_method.PmName }}">
															{{ payment_method.PmName }}
																<p>{{ payment_method.PmDesc }}</p>
															</label>
														</div>
														{% endfor %}
													</div>

													<div class="online_payment_types" style="display: none">
														<div class="custom-control custom-radio online-payment-radio halkbank">
															<input id="online1" name="online_payment_type" type="radio" class="custom-control-input" value="halkbank"
																{{'checked' if session.currency_code=="TMT" else '' }} required>
															<label class="custom-control-label" for="online1">
																{{_('Halkbank - Joint Stock Commercial Bank of Turkmenistan')}}
															</label>
															<img loading="lazy"
																src="{{ url_for('static', filename='commerce/ls/img/halkbank_logo.jpg') }}">
														</div>
														<div class="custom-control custom-radio online-payment-radio foreign_affairs_bank">
															<input id="online2" name="online_payment_type" type="radio" class="custom-control-input" value="foreign_affairs_bank"
																{{'checked' if session.currency_code!="TMT" else '' }} required>
															<label class="custom-control-label" for="online2">
																{{_('The State Bank for Foreign Economic Affairs of Turkmenistan')}}
															</label>
															<img loading="lazy"
																src="{{ url_for('static', filename='commerce/ls/img/foreign_affairs_bank_logo.png') }}">
														</div>
													</div>

												</div>
												
												<div class="checkoutForm" style="display: none;">
													<div class="contact-form">
														<label for="message">{{_('Note')}}</label>
														<textarea id="message" class="orderDesc" type="text" placeholder="{{_('Description')}} ({{_('City')}}, {{_('Av.')}}, {{_('Street')}}, {{_('House')}}, {{_('Flat')}})"></textarea>
													</div>
													<a class="checkout-button button alt wc-forward checkoutCartBtn">
														{{_('Checkout')}}
													</a>
												</div>
											</div>
										

										{% else %}
											<h5 style="max-width: 12rem;">{{_('You should login if you want to checkout an order')}}!</h5>
											<a class="checkout-button button alt wc-forward checkoutCartBtn" href="{{ url_for('commerce_auth.login') }}">
												{{_('Login')}}
											</a>
										{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='commerce/ls/js/cart.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/ls/js/payment_reg_api.js') }}"></script>
{% endblock %}