{% extends "commerce/ls/commerce/layout.html" %}

{% block breadcrumbs %}
	<nav class="woocommerce-breadcrumb">
		<a href="{{ url_for('commerce.commerce') }}">{{_('Main')}}</a>
		<span class="delimiter">
			<i class="tm tm-breadcrumbs-arrow-right"></i>
		</span>
		{{_('Cart')}}
	</nav>
{% endblock %}

{% block content %}
<div id="content" class="site-content">
	<div class="col-full">
		<div>
			<main id="main" class="site-main">
				<div class="type-page hentry">
					<div class="entry-content">
						<div class="woocommerce">
							<div class="row">
								<div class="col-xl-3 col-lg-12 col-md-12 col-12 pb-30 pt-10" style="max-width: 100%; margin: 0 auto;">
									<form action="#">
										<div class="cart-table table-responsive mb-40">
											<table class="table">
												<thead>
													<tr>
														<th class="pro-thumbnail">{{_('Image')}}</th>
														<th class="pro-title">{{_('Product')}}</th>
														<th class="pro-price">{{_('Price')}}</th>
														<th class="pro-quantity">{{_('Quantity')}}</th>
														<th class="pro-subtotal">{{_('Total')}}</th>
														<th class="pro-remove">{{_('Remove')}}</th>
													</tr>
												</thead>
												<tbody class="cartItemsTable">
												</tbody>
											</table>
										</div>
									</form>
								</div>

								<div class="col-xl-4 col-lg-12 col-md-12 col-12 pb-30 pt-10" style="max-width: 100%; margin: 0 auto;">
									<div class="cart-collaterals" style="margin: 0 auto;">
										<div class="cart_totals">
											{% if current_user.is_authenticated %}
											<div class="tabs">
												<!-- <div class="tab-content">
													<div class="d-block my-3">
														<div class="custom-control custom-radio">
															<input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
															<label class="custom-control-label" for="credit">Nagt
																<p>Description</p>
															</label>
														</div>
														<div class="custom-control custom-radio">
															<input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
															<label class="custom-control-label" for="debit">Online
																<p>Description</p>
															</label>
														</div>
														<div class="custom-control custom-radio">
															<input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
															<label class="custom-control-label" for="paypal">Nagt
																<p>Description</p>
															</label>
														</div>
													</div>
												</div> -->
												<h3>{{_('Summary')}}</h3>
												<div class="contact-form">
													<label for="message">{{_('Note')}}</label>
													<textarea id="message" class="orderDesc" type="text" placeholder="{{_('Description')}} ({{_('City')}}, {{_('Av.')}}, {{_('Street')}}, {{_('House')}}, {{_('Flat')}})"></textarea>
												</div>
												<table class="shop_table shop_table_responsive">
													<tbody>
														<tr class="order-total">
															<th>{{_('Total price')}}</th>
															<td data-title="{{_('Total price')}}">
																<strong>
																	<span class="woocommerce-Price-amount amount cartTotalPrice">
																		0.00
																	</span>
																	<span class="woocommerce-Price-currencySymbol currencySymbol">TMT</span>
																</strong>
															</td>
														</tr>
													</tbody>
												</table>
												<a class="checkout-button button alt wc-forward checkoutCartBtn">
													{{_('Checkout')}}
												</a>
											</div>
										

										{% else %}
											<h5 style="max-width: 12rem;">{{_('You should login if you want to checkout an order')}}!</h5>
											<a class="checkout-button button alt wc-forward checkoutCartBtn" href="{{ url_for('commerce_auth.login') }}">
												{{_('Login')}}
											</a>
										{% endif %}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</div>
</div>

{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='commerce/ls/js/cart.js') }}"></script>
{% endblock %}