{% extends "commerce/ls/commerce/layout.html" %}

{% block content %}

			<div id="content" class="site-content" tabindex="-1">
				<div class="col-full">
					<div class="row" style="flex-wrap:nowrap">
						<div id="primary" class="content-area">
							<main id="main" class="site-main">
									<div class="homev6-slider-with-banners row">
											<div class="slider-block column-1">
												<div class="home-v6-slider home-slider">
													{% for slider in sliders %}
													{% if slider.SlName == "HomePageTop" %}
														{% for sl_image in slider.Sl_images %}
														{% if sl_image.SlImgMainImgFilePathS %}
															<div class="slider-1">
																<a href="{{ sl_image.SlImgLink if sl_image.SlImgLink else '#' }}">
																	<img loading="lazy" src="{{ sl_image.SlImgMainImgFilePathM }}" data-src-m="{{ sl_image.SlImgMainImgFilePathM }}"
																	alt="{{ sl_image.SlImgTitle if sl_image.SlImgTitle else 'sl_image.SlImgMainImgFileName' }}">
																</a>
															</div>
														{% endif %}
														{% endfor %}
													{% endif %}
													{% endfor %}
												</div>
											</div>
									</div>
							</main>
						</div>
						<div id="secondary" class="widget-area" role="complementary" style="height:0
						
						
						">
						</div>
					</div>
				</div>
			</div>



			<!-- Featured -->
			{% if Featured_categories %}
			<section class="what-do-we-do">
				<div class="container">
					<h1>{{_('Featured')}}</h1>
					<div class="slider-container tab-slider-2" data-tab-slider=".tab-slider-2">

						<ul class="slider-container__tab-list">
							{% for category in Featured_categories %}
								<li class="slider-container__tab-item button type2 featrued-cat-btn" data-tab=".tab-{{ category.ResCatId }}">
									<img loading="lazy" class="cat-icon"
									src="{{ category.ResCatIconFilePath if category.ResCatIconFilePath else url_for('static',filename='commerce/ls/img/icons/category.svg') }}">
									{{ category.ResCatName }}
								</li>
							{% endfor %}
						</ul>

						<div class="slider-content">
							{% for category in Featured_categories %}
								<div class="slider-container__slider2 tab-{{ category.ResCatId }} featrued-cat-tab">

									{% for resource in category.Resources %}
									<div>
										<div class="card">

											<div class="imgBox">
												<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">
													<img loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/ls/img/icons/no_axhoto.svg') }}"
													alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
												</a>
											</div>

											<div class="details">
												<span class="price">
													<ins>
														<span class="amount"> </span>
													</ins>
													<span class="amount">{{ resource.ResPriceValue }}</span>
													<p class="tm_currency">{{ resource.CurrencyCode }}</p>
												</span>
												<div class="textContent">
													<h3>{{ resource.ResName }}</h3>
												</div>
												<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">
													<button>{{_('View')}}</button>
												</a>
											</div>

											<div class="description">
												<div class="">
														<span class="icon"><i class="fa fa-fw fa-info"></i></span>
												</div>
												<div class="contents">
													<p class="descriptionText">{{ resource.ResDesc }}</p>
												</div>
											</div>

										</div>
									</div>
									{% endfor %}

								</div>
							{% endfor %}
						</div>

					</div>
				</div>
			</section>
			{% endif %}

			<!-- Newest -->
			<div class="container" style="margin: 5% auto;">
				<h1>{{_('New arrival')}}</h1>
				<section class="cards">

					{% for resource in Latest_resources %}
						<div class="card">
							<div class="imgBox">
								<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">
									<img loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/ls/img/icons/no_photo.svg') }}"
									alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
								</a>
							</div>
							<div class="details">
								<span class="price">
									<ins>
										<span class="amount"> </span>
									</ins>
									<span class="amount">{{ resource.ResPriceValue }}</span>
									<p class="tm_currency">{{ resource.CurrencyCode }}</p>
								</span>
								<div class="textContent">
									<h3>{{ resource.ResName }}</h3>
								</div>
								<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">
									<button>{{_('View')}}</button>
								</a>
							</div>
							<div class="description">
								<div class="">
									<span class="icon"><i class="fa fa-fw fa-info"></i></span>
								</div>
								<div class="contents">
									<p class="descriptionText">{{ resource.ResDesc }}</p>
								</div>
							</div>
						</div>
					{% endfor %}

				</section>
			</div>


			<!-- Banners -->
			<div class="banner">
			{% for slider in sliders %}

				{% if slider.SlName == "commerce_footer" %}
					{% for sl_image in slider.Sl_images %}
					{% if sl_image.SlImgMainImgFilePathS %}

						<div class="col-xs-12 col-sm-12 banner-container">
							<div class="banner-item">
								<div class="banner-image">
									<img loading="lazy" src="{{ sl_image.SlImgMainImgFilePathS }}"
										data-src-m="{{ sl_image.SlImgMainImgFilePathM }}"
										alt="banner {{ sl_image.SlImgMainImgFileName }}"/>
								</div>
							</div>
						</div>

					{% endif %}
					{% endfor %}
				{% endif %}


			{% endfor %}
			</div>



			<!-- Brands -->
			{% if Brands %}
			<div class="container">
				<section class="customer-logos slider">
					{% for brand in Brands %}
					{% if brand.FilePath and brand.IsMain %}

						<div class="slide">
							<a href="{{url_for('commerce.v_grid',brand = brand.BrandId)}}">
								<img loading="lazy" src="{{brand.FilePath if brand.FilePath}}" alt="Brand {{brand.BrandName}} Lomay sowda wholesale ls">
							</a>
						</div>

					{% endif %}
					{% endfor %}
				</section>
			</div>
			{% endif %}


		</main>
	</div>

{% endblock %}


{% block scripts %}
<script type="text/javascript">
	$(document).ready(function () {
		$('.featrued-cat-btn:first').addClass('active show');
		$('.featrued-cat-tab:first').addClass('active show');
	});
</script>
{% endblock %}