{% extends "commerce/ls/commerce/layout.html" %}


{% block head %}
<meta name="description" content="
	{{company.CName}} | {{company.CFullName if company.CFullName else ''}}
	{{company.CDesc if company.CDesc else ''}}
	{% if company.CEmail %} {{_('Email')}}: {{company.CEmail}} {% endif %}
	{% if company.CAddress %} {{_('Address')}}: {{company.CAddress}} {% endif %}
	{% if company.Phone1 %} {{company.Phone1}} {% endif %}
	{% if company.Phone2 %} {{company.Phone2}} {% endif %}
	{% if company.Phone3 %} {{company.Phone3}} {% endif %}
	{% if company.Phone4 %} {{company.Phone4}} {% endif %}
">
<meta property="og:description" content="
	{{company.CName}} | {{company.CFullName if company.CFullName else ''}}
	{{company.CDesc if company.CDesc else ''}}
	{% if company.CEmail %} {{_('Email')}}: {{company.CEmail}} {% endif %}
	{% if company.CAddress %} {{_('Address')}}: {{company.CAddress}} {% endif %}
	{% if company.Phone1 %} {{company.Phone1}} {% endif %}
	{% if company.Phone2 %} {{company.Phone2}} {% endif %}
	{% if company.Phone3 %} {{company.Phone3}} {% endif %}
	{% if company.Phone4 %} {{company.Phone4}} {% endif %}" />
<meta property="og:image" content="{{ request.host_url }}{{ url_for('static', filename='commerce/landing_pages/ls.com/img/hero/2.jpg') }}" />
<meta name="twitter:description" content="
	{{company.CName}} | {{company.CFullName if company.CFullName else ''}}
	{{company.CDesc if company.CDesc else ''}}
	{% if company.CEmail %} {{_('Email')}}: {{company.CEmail}} {% endif %}
	{% if company.CAddress %} {{_('Address')}}: {{company.CAddress}} {% endif %}
	{% if company.Phone1 %} {{company.Phone1}} {% endif %}
	{% if company.Phone2 %} {{company.Phone2}} {% endif %}
	{% if company.Phone3 %} {{company.Phone3}} {% endif %}
	{% if company.Phone4 %} {{company.Phone4}} {% endif %}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ url_for('static', filename='commerce/landing_pages/ls.com/img/hero/2.jpg') }}" />
{% endblock %}

{% block breadcrumbs %}
	<nav class="woocommerce-breadcrumb">
		<a href="{{ url_for('commerce.commerce') }}">{{_('Main')}}</a>
		<span class="delimiter">
			<i class="tm tm-breadcrumbs-arrow-right"></i>
		</span>
		{{_('Contact')}}
	</nav>
{% endblock %}

{% block content %}
<div id="content" class="site-content">
	<div class="col-full">
		<div class="row">
			<div id="primary" class="content-area" style="margin: 0 auto;">
				<main id="main" class="site-main">
					<div class="type-page hentry">
						<header class="entry-header">
							<div class="page-header-caption">
								<h1 class="entry-title">{{_('Contact us')}}</h1>
							</div>
						</header>
						<div class="entry-content">
							<div class="row">
								<div class="col-md-6" style="padding: 0 15px;">
									<div class="text-block">
										<h2 class="contact-page-title">{{_('Leave us a message')}}</h2>
									</div>
									<div class="contact-form">
										<div role="form" class="wpcf7" id="wpcf7-f425-o1" lang="en-US" dir="ltr">
											<div class="screen-reader-response"></div>

											<form class="wpcf7-form" action="" method="POST">
												{{form.hidden_tag()}}
												<div class="form-group row">
													<div class="col-xs-12 col-md-6">
														<label>
															{{_('First name')}}
															<abbr title="required" class="required">*</abbr>
														</label>
														<span class="wpcf7-form-control-wrap first-name">
															{{form.FirstName(class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text", size="40")}}
														</span>
													</div>
													<div class="col-xs-12 col-md-6">
														<label>
															{{_('Last name')}}
														</label>
														<span class="wpcf7-form-control-wrap last-name">
															{{form.LastName(class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text", size="40")}}
														</span>
													</div>
													<div class="col-xs-12 col-md-6">
														<label>
															{{_('Email')}}
															<abbr title="required" class="required">*</abbr>
														</label>
														<span class="wpcf7-form-control-wrap last-name">
															{{form.Email(class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text", size="40")}}
														</span>
														{% if form.Email.errors %}
															<div class="col-12 mb-30">
																{% for error in form.Email.errors %}
																	<span style="color: red">{{ error }}</span>
																{% endfor %}
															</div>
														{% endif %}
													</div>
													<div class="col-xs-12 col-md-6">
														<label>
															{{_('Phone')}}
														</label>
														<span class="wpcf7-form-control-wrap last-name">
															{{form.Phone(class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required input-text", size="40")}}
														</span>
													</div>
													<div class="col-xs-12 col-md-12">
														<div class="form-group">
															<label>
																{{_('Message')}}
															</label>
															<span class="wpcf7-form-control-wrap last-name">
																{{form.Message(class="wpcf7-form-control wpcf7-textarea", rows="10", cols="40")}}
															</span>
														</div>
													</div>
													<div class="col-xs-12 col-md-12">
														<div class="form-group clearfix">
															<p>
																<input type="submit" value="{{_('Send')}}" class="wpcf7-form-control wpcf7-submit" />
															</p>
														</div>
													</div>
												</div>
											</form>

										</div>
									</div>
								</div>


								<div class="col-md-6 store-info store-info-v2">
									<div class="kc-elm kc-css-773435 kc_text_block g_contact">

										<h2 class="contact-page-title">{{company.CName}}</h2>
										<p>{{company.CDesc if company.CDesc else ''}}</p>
											{% if company.CAddress %}
											<div class="cont_info" >
												<i class="fa fa-fw fa-location-arrow"></i>
													<p><span>{{_('Address')}}</span><br>
													{{company.CAddress}}</p>
											</div>
											{% endif %}
											{% if company.CEmail %}
											<div class="cont_info">
												<i class="fa fa-fw fa-envelope-o"></i>
												<p><span>{{_('Email')}}</span><br>
													<a href="mailto:{{company.CEmail}}">{{company.CEmail}}</a></p>
											</div>
											{% endif %}	
											{% if company.WebAddress %}
											<div class="cont_info">
												<i class="fa fa-fw fa-globe"></i>
												<p><span>{{_('Web address')}}</span><br>
												{{company.WebAddress}}</p>
											</div>
											{% endif %}
										{% if company.CPostalCode %}
										<div class="cont_info">
											<i class="fa fa-fw fa-dropbox"></i>
											<p><span>{{_('Postal code')}}</span><br>
												{{company.CPostalCode}}</p>
										</div>
										{% endif %}

										{% if company.AddInf1 %}
										<div class="cont_info">
											<i class="fa fa-fw fa-clock-o"></i>
											<p><span>{{_('Working time')}}</span><br>
												{{company.AddInf1}}</p>
										</div>
										{% endif %}

										{% if company.Phone1 or company.Phone2 or company.Phone3 or company.Phone4 %}
										<div class="cont_info" style="display: block;">
											
											<p style="padding: 0;"><i class="fa fa-fw fa-phone" style="padding: 0;"></i><span>{{_('Phone')}}</span></p>
											{% if company.Phone1 %}
											<a href="tel:{{company.Phone1}}"><p>{{company.Phone1}}</p></a>
											{% endif %}
											{% if company.Phone2 %}
												<a href="tel:{{company.Phone2}}"><p>{{company.Phone2}}</p></a>
											{% endif %}
											{% if company.Phone3 %}
												<a href="tel:{{company.Phone3}}"><p>{{company.Phone3}}</p></a>
											{% endif %}
											{% if company.Phone4 %}
												<a href="tel:{{company.Phone4}}"><p>{{company.Phone4}}</p></a>
											{% endif %}
										</div>
										{% endif %}
										

									</div>
								</div>
							</div>
						</div>
					</div>
				</main>
			</div>
		</div>
	</div>
</div>
{% endblock %}
