<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8"> 
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Lomaý Söwda | {{ title if title else _('Commerce') }}</title>
		<link rel="stylesheet"  href="{{ url_for('static', filename='commerce/ls/css/bootstrap.min.css') }}">
		<link rel="stylesheet"  href="{{ url_for('static', filename='commerce/ls/css/style.css') }}">
		<link rel="stylesheet"  href="{{ url_for('static', filename='commerce/ls/css/orange.css') }}">
		<link rel="stylesheet"  href="{{ url_for('static', filename='commerce/ls/css/techmarket-font-awesome.css') }}">
		<link rel='stylesheet'  href="{{ url_for('static', filename='commerce/ls/css/slick.css') }}">
		<link rel='stylesheet'  href="{{ url_for('static', filename='commerce/ls/css/slick-theme.css') }}">
		<link rel="stylesheet"  href="{{ url_for('static', filename='commerce/ls/css/font-techmarket.min.css') }}">
		<link rel="shortcut icon" href="{{ url_for('static', filename='commerce/ls/img/ls_logo.svg') }}">
		{% block styles %}{% endblock %}
	</head>
	<body class="garden-market page-template-template-homepage-v6 woocommerce-active">
		<div id="page" class="hfeed site">
			<div class="top-bar top-bar-v4">
				<div class="col-full">

					<ul id="menu-top-bar-left" class="nav menu-top-bar-left">
						<li class="menu-item animate-dropdown">
							<a href="{{ url_for('commerce.commerce') }}">
								{{_('Main')}}
							</a>
						</li>
						<li class="menu-item animate-dropdown">
							<a href="{{ url_for('commerce.about') }}">
								{{_('About us')}}
							</a>
						</li>
						<li class="menu-item animate-dropdown">
							<a href="{{ url_for('commerce.contact') }}">
								{{_('Contact')}}
							</a>
						</li>
						<!-- {% if current_user.is_authenticated %}
							<li class="menu-item animate-dropdown">
								<a href="{{ url_for('commerce_users.profile') }}">
									<i class="tm tm-login-register"></i>
									{{_('Profile')}}
								</a>
							</li>
							<li class="menu-item animate-dropdown">
								<a href="{{ url_for('commerce_auth.logout') }}">
									{{_('Log out')}}
								</a>
							</li>
						{% else %}
							<li class="menu-item animate-dropdown">
								<a href="{{ url_for('commerce_auth.register') }}">
									<i class="tm tm-login-register"></i>
									{{_('Register')}}
								</a>
							</li>
							<li class="menu-item animate-dropdown">
								<a href="{{ url_for('commerce_auth.login') }}">
									{{_('Login')}}
								</a>
							</li>
						{% endif %} -->
						<li class="menu-item animate-dropdown dropdown language_" style="margin-top: auto;">
							<a href="javascript:void(0);"  title="Language" data-toggle="dropdown" role="button"><i class="fa fa-fw fa-globe"></i>
								<div class="notify"><span class="heartbit"></span><span class="point"></span></div>
							</a>
							<ul class="dropdown-menu slideUp2" style="z-index: 9999999;"> 
								<li class="body">
									<ul class="menu list-unstyled">
										<li>
											<a href="{{ url_for('main.set_language',language='en') }}" class="dropdown-item">
												<img src="{{ url_for('static', filename='commerce/main/images/us.svg') }}" style="width: 30px">
												English language
											</a>
											<div class="dropdown-divider"></div>
											<a href="{{ url_for('main.set_language',language='tk') }}" class="dropdown-item">
												<img loading="lazy" src="{{ url_for('static', filename='commerce/main/images/tm.svg') }}" style="width: 30px">
												Türkmen dili
											</a>
											<div class="dropdown-divider"></div>
											<a href="{{ url_for('main.set_language',language='ru') }}" class="dropdown-item">
												<img loading="lazy" src="{{ url_for('static', filename='commerce/main/images/ru.svg') }}" style="width: 30px">
												Русский язык
											</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
						
				</div>
		</div>

		<header id="masthead" class="site-header header-v4" style="background-image: none; ">
			<div class="col-full desktop-only">
				<div class="techmarket-sticky-wrap">
					<div class="row">
						<div class="site-branding">
							<a href="{{ url_for('commerce.commerce') }}" class="custom-logo-link" rel="home">
								<img src="{{ url_for('static', filename='commerce/ls/img/ls_mini.svg') }}" alt="Lomay Sowda logo wholesale">
							</a>
						</div>
						<div id="departments-menu" class="dropdown departments-menu">
							<button class="btn dropdown-toggle btn-block" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="tm tm-departments-thin"></i>
								<span>{{_('Categories')}}</span>
							</button>
							<nav>
								<ul id="menu-departments-menu" class="dropdown-menu yamm departments-menu-dropdown">
									<li class="highlight menu-item animate-dropdown">
										<a title="{{_('All')}}" href="{{url_for('commerce.v_grid')}}" style="display: flex">
											<img class="img-fluid cat-icon" src="{{ url_for('static', filename='commerce/ls/img/icons/category.svg') }}" style="width: 25px; margin-right: 7px;">
											{{_('All')}}
										</a>
									</li>

									{% for category in categories %}
										<li class="menu-item animate-dropdown {{ 'yamm-tfw menu-item-has-children dropdown-submenu' if category.Categories else 'highlight' }}">
											<a title="{{ category.ResCatName }}" href="{{url_for('commerce.v_grid', category = category.ResCatId)}}" style="display: flex"
												{% if category.Categories %} data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true" {% endif %}
											>
												<img class="img-fluid cat-icon" src="{{ category.ResCatIconFilePath if category.ResCatIconFilePath else url_for('static', filename='commerce/ls/img/icons/category.svg') }}" style="width: 25px; margin-right: 7px;">
												{{ category.ResCatName }}

												{% if not category.Categories %}
													</a>
												{% elif category.Categories %}
													<span class="caret"></span>
													</a>
													<ul role="menu" class=" dropdown-menu">
														<li class="menu-item menu-item-object-static_block animate-dropdown">
															<div class="yamm-content">
																{% if category.FilePathS %}
																<div class="bg-yamm-content bg-yamm-content-bottom bg-yamm-content-right">
																	<div class="kc-col-container">
																		<div class="kc_single_image">
																				<img src="{{ category.FilePathS }}" alt="Category section image" />
																		</div>
																	</div>
																</div>
																{% endif %}
															<div class="bg-yamm-content bg-yamm-content-bottom bg-yamm-content-right">
																<div class="kc-col-container">
																	<div class="kc_single_image">
																			<img src="{{ url_for('static', filename='commerce/ls/img/megamenu.jpg') }}" alt="Category section image" />
																	</div>
																</div>
															</div>
															<div class="row yamm-content-row">
																<div class="col-md-6 col-sm-12">
																	<div class="kc-col-container">
																		<div class="kc_text_block">
																			<ul>
																				{% for category in category.Categories %}
																					<li>
																						<a href="{{url_for('commerce.v_grid', category = category.ResCatId)}}" style="display: flex">
																							<img class="img-fluid cat-icon" src="{{ category.ResCatIconFilePath if category.ResCatIconFilePath else url_for('static', filename='commerce/ls/img/icons/category.svg') }}" style="width: 25px; margin-right: 7px;">
																							{{ category.ResCatName }}
																						</a>
																					</li>
																				{% endfor %}
																			</ul>
																		</div>
																	</div>
																</div>
															</div>
														</li>
													</ul>
												{% endif %}
											</li>
											
										{% endfor %}

								</ul>
							</nav>
						</div>

						<!-- Navbar search -->
						<form class="navbar-search" method="get" action="{{url_for('commerce.v_grid')}}">
							<label class="sr-only screen-reader-text" for="search">{{_('Search')}}</label>
							<div class="input-group">
								<input type="text" id="search" class="form-control search-field product-search-field" dir="ltr" value="" name="search" placeholder="{{_('Search')}}" />
								<div class="input-group-addon search-categories popover-header">
									<select name='category' id='product_cat' class='postform resizeselect'>
										<option value='0' selected='selected'>{{_('All')}}</option>
										{% for category in categories %}
											<option class="level-0" value="{{category.ResCatId}}">{{ category.ResCatName }}</option>
										{% endfor %}
									</select>
								</div>
								<div class="input-group-btn input-group-append">
									<button type="submit" class="btn btn-primary">
										<i class="fa fa-search"></i>
										<span class="search-btn">{{_('Search')}}</span>
									</button>
								</div>
							</div>
						</form>

						<!-- Wishlist -->
						<ul class="header-wishlist nav navbar-nav">
							<li class="nav-item">
								<a href="{{ url_for('commerce_users.wishlist') }}" class="nav-link">
									<i class="tm tm-favorites"></i>
								</a>
							</li>
						</ul>

						<ul id="site-header-cart" class="site-header-cart menu">
							<li class="animate-dropdown dropdown">
								<a class="cart-contents" data-toggle="dropdown" title="View your shopping cart">
									<i class="tm tm-shopping-bag"></i>
									<span class="count cartItemsFullQty">0</span>
									<span class="amount">
										<span class="cartTotalPrice">0.00</span>
										<span class="woocommerce-Price-currencySymbol">TMT</span>
									</span>
								</a>
								<ul class="dropdown-menu dropdown-menu-mini-cart">
									<li>
										<div class="widget woocommerce widget_shopping_cart">
											<div class="widget_shopping_cart_content">
												<ul class="woocommerce-mini-cart cart_list product_list_widget cartItemsList"></ul>
												<p class="woocommerce-mini-cart__total total">
													<strong>{{_('Total')}}:</strong>
													<span class="woocommerce-Price-amount amount cartTotalPrice">
														0.00
													</span>
													<span class="woocommerce-Price-currencySymbol">TMT</span>
												</p>
												<p class="woocommerce-mini-cart__buttons buttons">
													<a href="{{ url_for('commerce.cart') }}" class="button wc-forward">{{_('Checkout')}}</a>
													<a class="button wc-forward clearCartBtn">{{_('Remove')}}</a>
												</p>
											</div>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>

		</header>


		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			{% for category, message in messages %}
			<div class="alert alert-{{ category }} alert-dismissible show fade" style="margin: auto; height: 10%; opacity: 1; width: 95%; overflow: auto; text-align: center;">
				<div class="alert-body" style="padding-top: 5px;">
					<button class="close" data-dismiss="alert">
						<span>×</span>
					</button>
					{{ message }}
				</div>
			</div>
			{% endfor %}
		{% endif %}
		{% endwith %}


		{% block content %}{% endblock %}

		<footer class="site-footer footer-v1">
			<div class="col-full">
				<div class="footer-widgets-block">
					<div class="row">
						
						<div class="footer-contact">
							<div class="footer-logo">
								<a href="{{ url_for('commerce.commerce') }}" class="custom-logo-link" rel="home">
									<img style="max-width: 6%;" src="{{ url_for('static', filename='commerce/ls/img/ls_logo_dark.svg') }}" alt="Lomay Sowda logo wholesale">
								</a>
							</div>
							<div class="contact-payment-wrap">
								<div class="footer-contact-info">
									<div class="media">
										<span class="media-left icon media-middle">
											<i class="tm tm-call-us-footer" style="color: transparent;"></i>
										</span><br>
										<div class="media-body">
											<span class="call-us-title">{{_('Contact us')}}</span>
											<span class="call-us-text">
												<div class="pulse">
													<a href="tel:{{company.Phone1}}">
														<i class="fa fa-fw fa-phone"></i>
													</a>
												</div>
												{% if company.Phone1 %}
													<a href="tel:{{company.Phone1}}">{{company.Phone1}}</a>
												{% endif %}
												{% if company.Phone2 %}
													<a href="tel:{{company.Phone2}}">{{company.Phone2}}</a>
												{% endif %}
												{% if company.Phone3 %}
													<a href="tel:{{company.Phone3}}">{{company.Phone3}}</a>
												{% endif %}
												
											</span>
											
											{% if company.CAddress %}
												<address class="footer-contact-address">
													<span>{{_('Address')}}</span>
													<p>{{ company.CAddress }}</p>
												</address>
											{% endif %}
											{% if company.CEmail %}
												<div class="pulse">
													<a href="mailto:{{company.CEmail}}">
														<i class="fa fa-fw fa-envelope-o"></i>
													</a>
												</div>
												<span>{{_('Email')}}</span>
												<a href="mailto:{{company.CEmail}}"><p>{{company.CEmail}}</p></a>
											{% endif %}
											{% if company.AddInf1 %}
												<span>{{_('Working time')}}</span>
												<p>{{company.AddInf1}}</p>
											{% endif %}
										</div>
									</div>
								</div>
								<div class="col-xl-6 col-lg-6 col-md-4 col-12 pb-30 pt-10">
									<div class="footer-social-icons">
										<h2>Lomay sowda</h2>
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae necessitatibus vitae dolor 
											facilis totam magni debitis rerum mollitia quisquam,
												explicabo, consequuntur qui error quaerat facere expedita, dolores ipsa distinctio tempora.</p>
									</div>
								</div>
								<div class="footer-widgets">
						
									<aside class="widget clearfix">
										<div class="body">
											<h4 class="widget-title">{{ company.CName }}</h4>
											<div class="menu-footer-menu-3-container">
												<ul id="menu-footer-menu-3" class="menu">
													<li class="menu-item">
														<a href="{{ url_for('commerce.v_grid') }}">
															{{_('Products')}}
														</a>
													</li>
													<li class="menu-item">
														<a href="{{ url_for('commerce.about') }}">
															{{_('About us')}}
														</a>
													</li>
													<li class="menu-item">
														<a href="{{ url_for('commerce.contact') }}">
															{{_('Contact')}}
														</a>
													</li>
													<!-- {% if current_user.is_authenticated %}
														<li class="menu-item animate-dropdown">
															<a href="{{ url_for('commerce_users.profile') }}">
																{{_('Profile')}}
															</a>
														</li>
														<li class="menu-item animate-dropdown">
															<a href="{{ url_for('commerce_users.orders') }}">
																{{_('Orders')}}
															</a>
														</li>
														<li class="menu-item animate-dropdown">
															<a href="{{ url_for('commerce_users.wishlist') }}">
																{{_('Wishlist')}}
															</a>
														</li>
													{% endif %} -->
												</ul>
											</div>
										</div>
									</aside>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="site-info">
					<div class="col-full">
						<div class="copyright"><a href="https://saphasap.com">Lomaý söwda | Sap Çözgüt</a></div>
						<div class="credit">
							<div class="col-lg-12 col-12">
								<a href="https://saphasap.com">
									<img src="{{ url_for('static', filename='commerce/main/images/logo/sap_cozgut_grey.svg') }}" alt="Sap cozgut" style="width: 40px;">
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</footer>




		<script src="{{ url_for('static', filename='commerce/ls/js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='commerce/ls/js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='commerce/ls/js/hidemaxlistitem.min.js') }}"></script>
		<script src="{{ url_for('static', filename='commerce/ls/js/jquery.waypoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='commerce/ls/js/waypoints-sticky.min.js') }}"></script>
		<script src="{{ url_for('static', filename='commerce/ls/js/slick.min.js') }}"></script>
		<script src="{{ url_for('static', filename='commerce/ls/js/js.cookie.min.js') }}"></script>
		<script src="{{ url_for('static', filename='commerce/ls/js/scripts.js') }}"></script>
		<script src="{{ url_for('static', filename='commerce/ls/js/cartsAndCheckouts.js') }}"></script>

		<script type="text/javascript">
			var url_prefix = "{{url_prefix if url_prefix else ''}}";
			var add_to_cart_text = "{{_('Add to cart')}}";
			var remove_from_cart_text = "{{_('Remove from cart')}}";
		</script>
		{% block scripts %}{% endblock %}
		<script type="text/javascript">
			var csrf_token = "{{ csrf_token() }}";
			$.ajaxSetup({
				beforeSend: function(xhr, settings){
					if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain){
						xhr.setRequestHeader("X-CSRFToken", csrf_token);
					}
				},
				error: function(jqXHR, textStatus, errorThrown) {
					if (jqXHR.status == 401 || jqXHR.status == 400) {
						location.reload();
					}
				}
			});
		</script>
	</body>
</html>