{% extends "commerce/ls/commerce/layout.html" %}


{% block head %}
<meta name="description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}">
<meta property="og:description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}" />
<meta property="og:image" sizes="16x16" content="{{ request.host_url }}{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/ls/img/ls_logo.svg') }}" />
<meta name="twitter:description" content="{{ resource.ResName }} | {{ resource.ResDesc.replace('<b>','').replace('</b>','').replace('<br/>',', ') if resource.ResDesc }}" />
<meta name="twitter:image" sizes="16x16" content="{{ request.host_url }}{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/ls/img/ls_logo.svg') }}" />
{% endblock %}

{% block breadcrumbs %}
<nav class="woocommerce-breadcrumb">
	<a href="{{ url_for('commerce.commerce') }}">{{_('Main')}}</a>
	<span class="delimiter">
		<i class="tm tm-breadcrumbs-arrow-right"></i>
	</span>
	<a href="{{url_for('commerce.v_grid',ResCatId=resource.ResCatId,ResCatName=resource.ResCatName.replace('/','-').replace(' ','-'))}}">{{ resource.ResCatName }}</a>
	<span class="delimiter">
		<i class="tm tm-breadcrumbs-arrow-right"></i>
	</span>
	{{ resource.ResName }}
</nav>
{% endblock %}

{% block content %}
<div class = "card-wrapper">
	<div class = "cardd">
		<div class = "product-imgs">
			<div class = "img-display">
				<div class = "img-showcase product-big-image">
					<img loading="lazy"
						src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/ls/img/icons/no_photo.svg') }}"
						data-src-m="{{resource.FilePathM}}"
						alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }} {{company.CName}}">
				</div>
			</div>
		</div>

		<div class="summary entry-summary">
			<div class="single-product-header">
				<span class="product_category">{{ resource.ResCatName }}</span>

					<h1 class="product_title entry-title">{{ resource.ResName }}</h1>
			</div>
			<div class="single-product-meta">

				<div class="brand">
					<a href="{{url_for('commerce.v_grid',ResCatId=resource.ResCatId,ResCatName=resource.ResCatName.replace('/','-').replace(' ','-'))}}">
						<img alt="{{resource.ResCatName}}" src="{{ resource.CategoryIcon if resource.CategoryIcon else url_for('static', filename='commerce/ls/img/icons/category.svg') }}" alt="{{ company.CName }} category {{ resource.ResCatName }}">
					</a>
				</div>

				<div class="product_wishlist">
				{% if current_user.is_authenticated %}
					<div class="yith-wcwl-add-to-wishlist wishlist-button">
						<a rel="nofollow" class="like {{'heart' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}">
							<i class="fa fa-heart" aria-hidden="true"></i>
						</a>
					</div>
				{% endif %}
				</div>
				<!-- <div class="product_share">
					<a class="add-to-wishlist"><i class="fa fa-fw fa-share-alt"></i></a>
				</div> -->
				<div class="view_icon">
					<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="eye" class="svg-inline--fa fa-eye fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
						<path fill="currentColor" d="M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z">
						</path>
					</svg>
					<span class="count">{{ resource.ResViewCnt if resource.ResViewCnt else 0 }}</span>
				</div>
				<input type="hidden" class="ratingValue" value="{{ resource.RtRatingValue }}" ownerId="{{ resource.ResId }}">
				<div class="ratting ratingStars" style="color: #fac538" ownerId="{{ resource.ResId }}"></div>
			</div>

			{% if resource.BrandIcon %}
			<div class="brand"> 
				<a href="{{url_for('commerce.v_grid',BrandId=resource.BrandId,BrandName=resource.BrandName.replace('/','-').replace(' ','-'))}}" style="display: flex; align-items: center;">
					<img alt="{{resource.BrandName}}" src="{{ resource.BrandIcon }}">
					<span>{{ resource.BrandName }}</span>
				</a>
			</div>
			{% endif %}

			<div class="product_price">
				<p class="price priceValue" ownerId="{{ resource.ResId }}" value="{{resource.ResPriceValue}}">
					<ins>
						<span class="woocommerce-Price-amount amount">{{ resource.ResPriceValue }}
						<span class="woocommerce-Price-currencySymbol">{{ resource.CurrencyCode }}</span></span>
					</ins>
				</p>
			</div>
			<div class="woocommerce-product-details__short-description descriptionText">
				{{ resource.ResDesc if resource.ResDesc else '' }}
			</div>
			<div class="product-actions-wrapper">
				<div class="product-actions">
					<div class="cart-details" style="display: flex;">
						<div class="product-count cartItemQty" style="display: none;">
							<div class="qtyminus qtybtn">-</div>
							<input type="text" class="qty productQty"
								pending_amount="{{resource.ResPendingTotalAmount}}"
								min_amount="{{resource.ResMinSaleAmount}}"
								max_amount="{{resource.ResMaxSaleAmount}}"
								value="{{resource.productQty}}" ownerId="{{ resource.ResId }}">
							<div class="qtyplus qtybtn">+</div>
						</div>
						<a class="round-black-btn add-to-cart" ownerId="{{ resource.ResId }}" style="color: #fff">{{_('Add to cart')}}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="pd-wrap">
	<div class="container">
		<div class="product-info-tabs">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
					{{_('Description')}}
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">
					{{_('Customers reviews')}}
				</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">

			<div class="tab-pane fade show active descriptionText" id="description" role="tabpanel" aria-labelledby="description-tab">
				{{ resource.ResFullDesc if resource.ResFullDesc else _('No description provided for this product') }}
			</div>

			<div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
				<div class="review-heading">{{_('Customers reviews')}}</div>
				{% for rating in resource.Rating %}
					{% set rating_count = resource.Rating.index(rating) %}
					<div class="sin-rattings">
						<div class="ratting-author" style="display:flex;">
							<h3 style="font-weight: 700;">{{ rating.User.UName if rating.User else rating.Rp_acc.RpAccName }}</h3>
							<input type="hidden" class="ratingValue" value="{{ rating.RtRatingValue }}" ownerId="{{rating_count}}uz3R{{ rating.User.UId if rating.User else rating.Rp_acc.RpAccId }}">
							<div class="ratting-star ratingStars" ownerId="{{rating_count}}uz3R{{ rating.User.UId if rating.User else rating.Rp_acc.RpAccId }}"></div>
							<span>({{ rating.RtRatingValue }})</span>
						</div>
						<p>{{ rating.RtRemark if rating.RtRemark else '' }}</p>
					</div>
				{% endfor %}

				{% if current_user.is_authenticated %}
					<form class="review-form">
						<div class="form-group">
							<label>{{_('Your rating')}}:</label>
							<div class="reviews-counter">
								<div class="rate rateButtons">
									<input type="radio" id="star5" name="rate" value="5" /><label for="star5"></label>
									<input type="radio" id="star4" name="rate" value="4" /><label for="star4"></label>
									<input type="radio" id="star3" name="rate" value="3" /><label for="star3"></label>
									<input type="radio" id="star2" name="rate" value="2" /><label for="star2"></label>
									<input type="radio" id="star1" name="rate" value="1" /><label for="star1"></label>
								</div>
							</div>
						</div>
						<input type="hidden" class="reviewRatingValue" value="0">
						<div class="form-group">
							<label>{{_('Message')}}</label>
							<textarea class="form-control reviewRatingText" ownerId="{{ resource.ResId }}" rows="6" placeholder="{{_('Write your review')}}..." required></textarea>
						</div>
						<button class="round-black-btn sendReviewBtn" type="submit" ownerId="{{ resource.ResId }}">{{_('Send')}}</button>
					</form>
				{% else %}
					<div class="col-lg-12 col-12 mb-40 d-flex">
						<div class="y_login">
							<h4>{{_('You should login to add a review')}}</h4>
							<a href="{{ url_for('commerce_auth.login') }}"><button class="round-black-btn">{{_('Login')}}</button></a>
						</div>
					</div>
				{% endif %}
			</div>

		</div>
	</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
<script>
	var resource_ResRegNo = "{{resource.ResRegNo}}"
	var resource_ResGuid = "{{resource.ResGuid}}"
	var resource_ResId = {{resource.ResId}}
	var view_handling = {{handle_product_view}}
	var view_handler_api_url = "{{view_handler_api_url}}"
</script>
<script> 
	if (view_handling){
		handle_product_view();
	}
</script>
{% endblock %}