{% extends "commerce/ls/commerce/layout.html" %}

{% block content %}

<div class="pd-wrap">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<div id="slider" class="owl-carousel product-slider">
					<div class="item product-big-image">
						<img loading="lazy"
							src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/bee/images/no_photo.svg') }}"
							data-src-m="{{resource.FilePathM}}"
							alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }} {{company.CName}}">
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="product-dtl">
					<div class="product-info">
						<div class="product-name">
							<h1>
								{{ resource.ResName }}
							</h1>
						</div>
						<div class="product-price-discount">
							<span class="priceValue" ownerId="{{ resource.ResId }}" value="{{resource.ResPriceValue}}">
								{{ resource.ResPriceValue }}
							</span>
							<span>{{ resource.CurrencyCode }}</span>
						</div>
					</div>
					<p class="descriptionText">{{ resource.ResDesc if resource.ResDesc else '' }}</p>


					<div class="cart-details" style="display: flex;">
						<div class="product-count cartItemQty" style="display: none;">
							<div class="qtyminus qtybtn">-</div>
							<input type="text" class="qty productQty" value="{{resource.productQty}}" ownerId="{{ resource.ResId }}">
							<div class="qtyplus qtybtn">+</div>
						</div>
						<a class="round-black-btn add-to-cart" ownerId="{{ resource.ResId }}" style="color: #fff">{{_('Add to cart')}}</a>

					</div>


				</div>
			</div>
		</div>
		<div class="product-info-tabs">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="description-tab" data-toggle="tab" href="#description" role="tab" aria-controls="description" aria-selected="true">
					{{_('Description')}}
				</a>
			</li>
			<!-- <li class="nav-item">
				<a class="nav-link" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">
					{{_('Customers reviews')}}
				</a>
			</li> -->
		</ul>
		<div class="tab-content" id="myTabContent">

			<div class="tab-pane fade show active descriptionText" id="description" role="tabpanel" aria-labelledby="description-tab">
				{{ resource.ResFullDesc if resource.ResFullDesc else _('No description provided for this product') }}
			</div>

			<!-- <div class="tab-pane fade" id="review" role="tabpanel" aria-labelledby="review-tab">
				<div class="review-heading">{{_('Customers reviews')}}</div>
				{% if current_user.is_authenticated %}
					<form class="review-form">
						<div class="form-group">
							<label>{{_('Your rating')}}:</label>
							<div class="reviews-counter">
								<div class="rate">
									<input type="radio" id="star5" name="rate" value="5" />
									<label for="star5">5 stars</label>
									<input type="radio" id="star4" name="rate" value="4" checked />
									<label for="star4">4 stars</label>
									<input type="radio" id="star3" name="rate" value="3" />
									<label for="star3">3 stars</label>
									<input type="radio" id="star2" name="rate" value="2" />
									<label for="star2">2 stars</label>
									<input type="radio" id="star1" name="rate" value="1" />
									<label for="star1">1 star</label>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label>{{_('Message')}}</label>
							<textarea class="form-control" rows="6" placeholder="{{_('Write your review')}}..." required></textarea>
						</div>
						<button class="round-black-btn" type="submit">{{_('Send')}}</button>
					</form>
				{% else %}
					<div class="col-lg-12 col-12 mb-40 d-flex">
						<div class="y_login">
							<h4>{{_('You should login to add a review')}}</h4>
							<a href="{{ url_for('commerce_auth.login') }}"><button class="round-black-btn">{{_('Login')}}</button></a>
						</div>
					</div>
				{% endif %}
			</div> -->

		</div>
	</div>
	</div>
</div>


{% endblock %}