{% extends "commerce/ls/commerce/layout.html" %}

{% block breadcrumbs %}
	<nav class="woocommerce-breadcrumb">
		<a href="{{ url_for('commerce.commerce') }}">{{_('Main')}}</a>
		<span class="delimiter">
			<i class="tm tm-breadcrumbs-arrow-right"></i>
		</span>
		{{_('Products')}}
	</nav>
{% endblock %}

{% block content %}
<div class="container list-grid-demo">
	<div class="shop-top-bar">

		<div class="product-view-mode">
			<a class="active" href="#" data-target="grid"><i class="tm tm-grid"></i></a>
		</div>

		<div class="product-showing">
			<p>{{_('Showing')}}</p>
			<select name="showing" class="nice-select per_page">
				<option value="{{ per_page }}">{{ per_page }}</option>
				<option value="16">16</option>
				<option value="32">32</option>
				<option value="56">56</option>
				<option value="80">80</option>
				<option value="96">96</option>
			</select>
		</div>

		<div class="product-short">
			<p>{{_('View')}}</p>
			<select name="sortby" class="nice-select sorting">
				{% for sort in sort_types %}
					<option value="{{sort.sort}}" {{ 'selected' if sort.status == 1 }}>{{sort.sort_title}}</option>
				{% endfor %}
			</select>
		</div>
		<input type="hidden" class="category_sort" value="{{ category if category else '' }}">
		<input type="hidden" class="brand_sort" value="{{ brand if brand else '' }}">
		<input type="hidden" class="search_sort" value="{{ search if search else '' }}">
		<button class="applySortingBtn">{{_('View')}}</button>

		<div class="product-pages">
			<p>{{_('Page')}}: {{ page }} / {{ pages_total }}</p>
		</div>
	</div>
	<div class="container" style="margin: 5% auto;">
		<section class="cards">
			<div class="row">

			{% if data == [] or data == null %}
				{{_('Nothing found')}}
			{% endif %}

			{% for resource in data %}
				<div class="card">
					<div class="imgBox">
						<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">
							<img loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/ls/img/icons/no_photo.svg') }}"
							alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
						</a>
					</div>
					<div class="details">
						<span class="price">
							<span class="amount">
								<span class="amount priceValue" ownerId="{{resource.ResId}}" value="{{resource.ResPriceValue}}">
									{{ resource.ResPriceValue }}
								</span>
								<span class="woocommerce-Price-currencySymbol">{{ resource.CurrencyCode }}</span>
							</span>
						</span>
						<div class="textContent">
							<h3>{{ resource.ResName }}</h3>
						</div>

						<div class="product-count cartItemQty" style="display: none;">
							<div class="qtyminus qtybtn">-</div>
							<input type="text" class="qty productQty" pending_amount="{{resource.ResPendingTotalAmount}}" value="{{resource.productQty}}" ownerId="{{ resource.ResId }}">
							<div class="qtyplus qtybtn">+</div>
						</div>
						<a class="round-black-btn add-to-cart" ownerId="{{ resource.ResId }}" style="color: #fff">{{_('Add to cart')}}</a>

					</div>
					<div class="description">
						<div class="">
							<span class="icon"><i class="fa fa-fw fa-info"></i></span>
						</div>
						<div class="contents">
							<p class="descriptionText">{{ resource.ResDesc }}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

			

		</section>	
	</div>
	<div class="row mt-30" style="width: 100%;">
		<div class="col">
			<ul class="pagination">
				{% if prev_url %}
					<li><a href="{{ prev_url }}"><</a></li>
				{% endif %}
				{% for page_num in page_num_list %}
					{% if page_num %}
						{% if page_num.status == "active" %}
							<li class="active">{{ page_num.page }}</li>
						{% elif page_num.status == None %}
							<li> - - - - </li>
						{% else %}
							<li><a href="{{ page_num.url }}">{{ page_num.page }}</a></li>
						{% endif %}
					{% endif %}
				{% endfor %}
				{% if next_url %}
					<li><a href="{{ next_url }}">></a></li>
				{% endif %}
			</ul>
		</div>
	</div>
</div>


{% endblock %}