{% extends "commerce/ls/commerce/layout.html" %}

{% block content %}
<div class="container list-grid-demo">
	<div class="well well-sm">
		<div class="btn-group" style="float: right;">
			<!-- <a href="#" id="list" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-th-list">
				</span>
				<i class="fa fa-fw fa-list"></i>
			</a> -->
			<a href="#" id="grid" class="btn btn-default btn-sm">
				<span class="glyphicon glyphicon-th"></span>
				<i class="fa fa-fw fa-th"></i>
			</a>
		</div>
	</div>
	<div class="container" style="margin: 5% auto;">
		<section class="cards">

			{% if data == [] or data == null %}
				{{_('Nothing found')}}
			{% endif %}

			{% for resource in data %}
				<div class="card">

					<div class="imgBox">
						<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">
							<img loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/ls/img/icons/no_photo.svg') }}"
							alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
						</a>
					</div>

					<div class="details">
						<span class="price">
							<ins>
								<span class="amount"> </span>
							</ins>
							<span class="amount">{{ resource.ResPriceValue }}</span>
							<p class="tm_currency">{{ resource.CurrencyCode }}</p>
						</span>
						<div class="textContent">
							<h3>{{ resource.ResName }}</h3>
						</div>
						<button>{{_('Add to cart')}}</button>
					</div>

					<div class="description">
						<div class="">
								<span class="icon"><i class="fa fa-fw fa-info"></i></span>
						</div>
						<div class="contents">
							<p>{{ resource.ResDesc }}</p>
						</div>
					</div>

				</div>
			{% endfor %}


			<nav class="woocommerce-pagination">
				<ul class="page-numbers">
					{% if prev_url %}
						<li><a href="{{ next_url }}" class="next page-numbers"><-</a></li>
					{% endif %}

					{% for page_num in page_num_list %}
						{% if page_num %}
						{% if page_num.status == "active" %}
							<li><a href="" class="page-numbers current">{{ page_num.page }}</a></li>
							{% elif page_num.status == None %}
							<li> - - -  </li>
							{% else %}
							<li class="page-numbers"><a href="{{ page_num.url }}">{{ page_num.page }}</a></li>
							{% endif %}
						{% endif %}
					{% endfor %}

					{% if next_url %}
						<li><a href="{{ next_url }}" class="next page-numbers">→</a></li>
					{% endif %}
				</ul>
			</nav>

		</section>	
	</div>
</div>


{% endblock %}