{% extends "commerce/rs/commerce/layout.html" %} {% block styles %}
<meta name="robots" content="noindex" />
{% endblock %} {% block content %}
<div class="section">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-lg-6 col-sm-12">
						<div class="rd_registration">
							<img
								src="{{ url_for('static', filename='commerce/rs/images/sign_img.png') }}"
								alt=""
							/>
						</div>
					</div>
					<div class="col-lg-6 col-sm-12">
						<div class="rd_registration regidtration">
							<div class="inside_registration">
								<h2>{{_('Register')}}</h2>
								<p class="before-register-text">
									{{_('Please, proceed the registration')}}
								</p>
								<form action="" method="post" id="email-login-form">
									<div class="txt_field">
										{{ form.csrf_token() }}
										<label>{{_('Full name')}}</label>
										<br />
										{{ form.full name(placeholder=_('Full name')) }}
										<span></span>
										{% if form.full_name.errors %}
										<div class="col-12 mb-30">
											{% for error in form.full_name.errors %}
											<span style="color: red">{{ error }}</span>
											{% endfor %}
										</div>
										{% endif %}
									</div>
									<div class="txt_field">
										<label>{{_('Phone number')}}</label>
										<br />
										{{ form.phone_number(placeholder=_('Phone number')) }}
										<span></span>
									</div>

									<div class="txt_field">
										<label>{{_('Address')}}</label>
										<br />
										{{ form.address(placeholder=_('Address'))}}
										<span></span>
										{% if form.address.errors %}
										<p>
											{% for error in form.address.errors %}
											<span style="color: red">{{ error }}</span>
											{% endfor %}
										</p>
										{% endif %}
									</div>

									<div class="txt_field">
										<label>{{_('Password')}}</label>
										<br />
										{{ form.password(placeholder=_('Password')) }}
										<span></span>
									</div>
									<div class="txt_field">
										<label>{{_('Confirm password')}}</label>
										<br />
										{{ form.confirm_password(placeholder=_('Confirm password'))
										}}
										<span></span>
										{% if form.confirm_password.errors %}
										<p>
											{% for error in form.confirm_password.errors %}
											<span style="color: red">{{ error }}</span>
											{% endfor %}
										</p>
										{% endif %}
									</div>
									<input type="submit" value="{{_('Register')}}" />
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
