{% if resourceQty=='single' %}
  <li class="cartObject{{resource.ResId}}">
    <div class="minicart-item">
      <div class="thumb">
        {% if resource.ResMainImgId != 0 and resource.ResMainImgId != '' %}
          {% for image in images %}
            {% if image.ImgId==resource.ResMainImgId %}
              <a href="{{ url_for('commerce.product',resId=resource.ResId)}}">
                <img src="{{ url_for('static', filename='commerce/uploads/'+image.FileName) }}" width="90" height="90">
              </a>
            {% endif %}
          {% endfor %}
        {% else %}
          <a href="{{ url_for('commerce.product',resId=resource.ResId)}}">
            <img src="{{ url_for('static', filename='commerce/uploads/noPhoto.jpg') }}" width="90" height="90"/>
          </a>
        {% endif %}
      </div>
      <div class="left-info">
        <div class="product-title"><a href="{{ url_for('commerce.product',resId=resource.ResId)}}" class="product-name resName">{{ '' if resource.ResName==None else resource.ResName}}</a></div>
        <div class="price">
          <ins>
            <span class="price-amount">
              <span class="currencySymbol">TMT</span>
              <div class="priceValue" ownerId="{{resource.ResId}}">
                {% for resPrice in resPrices %}
                  {% if resPrice.GCRecord == None or resPrice.GCRecord == '' %}
                    {% if resPrice.ResId==resource.ResId %}
                      {{ resPrice.ResPriceValue }}
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </div>
            </span>
          </ins>
        </div>
        <div class="qty">
          <label for="cart[id123][qty]">{{_('Quantity')}}:</label>
          <input type="number" class="input-qty resQuantity" name="cart[id123][qty]" id="cart[id123][qty]" value="1" disabled>
        </div>
      </div>
      <div class="action">
        <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
        <a href="#" class="remove removeFromCart" ownerId='{{resource.ResId}}'><i class="fa fa-trash-o" aria-hidden="true"></i></a>
      </div>
    </div>
  </li>
{% elif resourceQty=='multi' %}
  {% for resource in resources %}
    <li class="cartObject{{resource.ResId}}">
      <div class="minicart-item">
        <div class="thumb">
          {% if resource.ResMainImgId != 0 and resource.ResMainImgId != '' %}
            {% for image in images %}
              {% if image.ImgId==resource.ResMainImgId %}
                <a href="{{ url_for('commerce.product',resId=resource.ResId)}}">
                  <img src="{{ url_for('static', filename='commerce/uploads/'+image.FileName) }}" width="90" height="90">
                </a>
              {% endif %}
            {% endfor %}
          {% else %}
            <a href="{{ url_for('commerce.product',resId=resource.ResId)}}">
              <img src="{{ url_for('static', filename='commerce/uploads/noPhoto.jpg') }}" width="90" height="90"/>
            </a>
          {% endif %}
        </div>
        <div class="left-info">
          <div class="product-title"><a href="{{ url_for('commerce.product',resId=resource.ResId)}}" class="product-name resName">{{ '' if resource.ResName==None else resource.ResName}}</a></div>
          <div class="price">
            <ins>
              <span class="price-amount">
                <span class="currencySymbol">TMT</span>
                <div class="priceValue" ownerId="{{resource.ResId}}">
                  {% for resPrice in resPrices %}
                    {% if resPrice.GCRecord == None or resPrice.GCRecord == '' %}
                      {% if resPrice.ResId==resource.ResId %}
                        {{ resPrice.ResPriceValue }}
                      {% endif %}
                    {% endif %}
                  {% endfor %}
                </div>
              </span>
            </ins>
          </div>
          <div class="qty">
            <label for="cart[id123][qty]">{{_('Quantity')}}:</label>
            <input type="number" class="input-qty resQuantity" ownerId='{{resource.ResId}}' name="cart[id123][qty]" id="cart[id123][qty]" value="1" disabled>
          </div>
        </div>
        <div class="action">
          <a href="#" class="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
          <a href="#" class="remove removeFromCart" ownerId='{{resource.ResId}}'><i class="fa fa-trash-o" aria-hidden="true"></i></a>
        </div>
      </div>
    </li>
  {% endfor %}
{% endif %}
