{% extends "commerce/main/commerce/layout.html" %}

{% block content %}    
  <div id="main-content" class="main-content">
    <div class="container">
          <!--Cart Table-->
      <div class="shopping-cart-container">
        <div class="row">
          <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h3 class="box-title">{{_('Your cart items')}}</h3>
            <form class="shopping-cart-form">
              <table class="shop_table cart-form">
                <thead>
                  <tr>
                    <th class="product-name">{{_('Product name')}}</th>
                    <th class="product-price">{{_('Price')}}</th>
                    <th class="product-quantity">{{_('Quantity')}}</th>
                    <th class="product-subtotal">{{_('Total')}}</th>
                  </tr>
                </thead>
                <tbody class="cartItemsTable">
                </tbody>
                <tr class="cart_item wrap-buttons">
                  <td class="wrap-btn-control" colspan="4">
                    <a href="{{url_for('commerce.v_list')}}" class="btn back-to-shop" style=" background-color: #e2e2e2; color: #8a8888;box-shadow: 1px 1px 1px 1px #ececec;">
                      <img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/checkout_50px.svg')}}" style="height: 22px;">
                      {{_('Back to Shop')}}
                    </a>
                    <a class="btn btn-clear clearCartBtn" type="reset" style="background-color: #e2e2e2;box-shadow: 1px 1px 1px 1px #ececec;">
                      <img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/disposal_50px.svg')}}" style="height: 22px;">
                      {{_('clear all')}}
                    </a>
                  </td>
                </tr>
              </table>
            </form>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="shpcart-subtotal-block">
              <div class="subtotal-line">
                <b class="stt-name">{{_('Total price')}}</b>
                <span class="currencySymbol">TMT</span>
                <span class="stt-price cartTotalPrice">0.00</span>
              </div>
              {% if current_user.is_authenticated %}
                <h5><b class="stt-name">{{_('Description')}}</b></h5>
                <textarea type="text" class="orderDesc" placeholder="{{_('Description')}} ({{_('City')}}, {{_('Av.')}}, {{_('Street')}}, {{_('House')}}, {{_('Flat')}})"></textarea>
                <div class="btn-checkout">
                  <a class="btn checkout checkoutCartBtn">{{_('Checkout')}}</a>
                </div>
              {% else %}
                <p>{{_('You should login if you want to checkout an order')}}!</p>
                <div class="btn-checkout" style="display: flex;padding-left: 27px;">
                  <a href="{{ url_for('commerce_auth.login') }}" class="btn btn-primary">{{_('Login')}}</a>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>


          <!--Related Product-->
          <div class="product-related-box single-layout">
              <div class="biolife-title-box lg-margin-bottom-26px-im">
                  <span class="biolife-icon icon-organic"></span>
                  <span class="subtitle">All the best item for You</span>
                  <h3 class="main-title">Related Products</h3>
              </div>
              <ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":0,"slidesToShow":5, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":20}},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":10}}]}'>
                  <li class="product-item">
                  <div class="sin-product">
                      <span class="pro-label">new</span>
                      <div class="pro-image fix">
                          <a href="product-details-1.html" class="image"><img src="{{ url_for('static', filename='commerce/main/images/product/1.jpg') }}" alt="" /></a>
                          <div class="pro-action">
                              <a href="cart.html" class="action-btn cart"><i class="fa fa-fw fa-shopping-cart"></i></a>
                              <a href="#" class="action-btn wishlist"><i class="fa fa-fw fa-heart-o"></i></a>
                              
                          </div>
                      </div>
                      <div class="pro-details text-center">
                          <div class="top fix">
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                          </div>
                          <a href="#" class="pro-title">Wooden Furniture Chair</a>
                          <h3 class="pro-price">
                              <span class="new">$40.00</span>
                          </h3>
                      </div>
                  </div>
                  </li>
                  <li class="product-item">
                  <div class="sin-product">
                      <div class="pro-image fix">
                          <a href="product-details-1.html" class="image"><img src="{{ url_for('static', filename='commerce/main/images/product/2.jpg') }}" alt="" /></a>
                          <div class="pro-action">
                              <a href="cart.html" class="action-btn cart"><i class="fa fa-fw fa-shopping-cart"></i></a>
                              <a href="#" class="action-btn wishlist"><i class="fa fa-fw fa-heart-o"></i></a>
                              
                          </div>
                      </div>
                      <div class="pro-details text-center">
                          <div class="top fix">
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                          </div>
                          <a href="#" class="pro-title">Wooden Furniture Chair</a>
                          <h3 class="pro-price">
                              <span class="new">$40.00</span>
                          </h3>
                      </div>
                  </div>
                  </li>
                  <li class="product-item">
                  <div class="sin-product">
                      <div class="pro-image fix">
                          <a href="product-details-1.html" class="image"><img src="{{ url_for('static', filename='commerce/main/images/product/3.jpg') }}" alt="" /></a>
                          <div class="pro-action">
                              <a href="cart.html" class="action-btn cart"><i class="fa fa-fw fa-shopping-cart"></i></a>
                              <a href="#" class="action-btn wishlist"><i class="fa fa-fw fa-heart-o"></i></a>
                              
                          </div>
                      </div>
                      <div class="pro-details text-center">
                          <div class="top fix">
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                          </div>
                          <a href="#" class="pro-title">Wooden Furniture Chair</a>
                          <h3 class="pro-price">
                              <span class="new">$40.00</span>
                          </h3>
                      </div>
                  </div>
                  </li>
                  <li class="product-item">
                  <div class="sin-product">
                      <span class="pro-label">new</span>
                      <div class="pro-image fix">
                          <a href="product-details-1.html" class="image"><img src="{{ url_for('static', filename='commerce/main/images/product/4.jpg') }}" alt="" /></a>
                          <div class="pro-action">
                              <a href="cart.html" class="action-btn cart"><i class="fa fa-fw fa-shopping-cart"></i></a>
                              <a href="#" class="action-btn wishlist"><i class="fa fa-fw fa-heart-o"></i></a>
                              
                          </div>
                      </div>
                      <div class="pro-details text-center">
                          <div class="top fix">
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                          </div>
                          <a href="#" class="pro-title">Wooden Furniture Chair</a>
                          <h3 class="pro-price">
                              <span class="new">$40.00</span>
                          </h3>
                      </div>
                  </div>
                  </li>
                  <li class="product-item">
                  <div class="sin-product">
                      <div class="pro-image fix">
                          <a href="product-details-1.html" class="image"><img src="{{ url_for('static', filename='commerce/main/images/product/5.jpg') }}" alt="" /></a>
                          <div class="pro-action">
                              <a href="cart.html" class="action-btn cart"><i class="fa fa-fw fa-shopping-cart"></i></a>
                              <a href="#" class="action-btn wishlist"><i class="fa fa-fw fa-heart-o"></i></a>
                              
                          </div>
                      </div>
                      <div class="pro-details text-center">
                          <div class="top fix">
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                          </div>
                          <a href="#" class="pro-title">Wooden Furniture Chair</a>
                          <h3 class="pro-price">
                              <span class="new">$40.00</span>
                          </h3>
                      </div>
                  </div>
                  </li>
                  <li class="product-item">
                  <div class="sin-product">
                      <div class="pro-image fix">
                          <a href="product-details-1.html" class="image"><img src="{{ url_for('static', filename='commerce/main/images/product/6.jpg') }}" alt="" /></a>
                          <div class="pro-action">
                              <a href="cart.html" class="action-btn cart"><i class="fa fa-fw fa-shopping-cart"></i></a>
                              <a href="#" class="action-btn wishlist"><i class="fa fa-fw fa-heart-o"></i></a>
                              
                          </div>
                      </div>
                      <div class="pro-details text-center">
                          <div class="top fix">
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                          </div>
                          <a href="#" class="pro-title">Wooden Furniture Chair</a>
                          <h3 class="pro-price">
                              <span class="new">$40.00</span>
                          </h3>
                      </div>
                  </div>
                  </li>
                  <li class="product-item">
                  <div class="sin-product">
                      <div class="pro-image fix">
                          <a href="product-details-1.html" class="image"><img src="{{ url_for('static', filename='commerce/main/images/product/7.jpg') }}" alt="" /></a>
                          <div class="pro-action">
                              <a href="cart.html" class="action-btn cart"><i class="fa fa-fw fa-shopping-cart"></i></a>
                              <a href="#" class="action-btn wishlist"><i class="fa fa-fw fa-heart-o"></i></a>
                              
                          </div>
                      </div>
                      <div class="pro-details text-center">
                          <div class="top fix">
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                                  <i class="fa fa-fw fa-star"></i>
                          </div>
                          <a href="#" class="pro-title">Wooden Furniture Chair</a>
                          <h3 class="pro-price">
                              <span class="new">$40.00</span>
                          </h3>
                      </div>
                  </div>
                  </li>
              </ul>
          </div>
      </div>
  </div>
{% endblock %}


{% block scripts %}
  <script src="{{ url_for('static', filename='commerce/admin/bundles/sweetalert/sweetalert.min.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/main/js/cart.js') }}"></script>
{% endblock %}
