{% extends "commerce/main/commerce/layout.html" %}

{% block content %}
	<div id="main-content" class="main-content">
		{% for slider in sliders %}
			{% if slider.SlName == "commerce_header" and slider.Sl_images %}
				<div id="slider">
					<div class="slides">
						{% set qty_of_sliders = slider.Sl_images|length - 1 %}
						{% for sl_image in slider.Sl_images %}
							<div class="slider">
								<div class="legend"></div>
								<div class="content">
									<div class="content-txt">
										<h1>{{sl_image.SlImgDesc}}</h1>
									</div>
								</div>
								<div class="image">
									<img loading="lazy" src="{{ sl_image.SlImgMainImgFilePathM }}">
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="switch">
						<ul>
							<li>
								<div class="on"></div>
							</li>
							{% if qty_of_sliders>1 %}
								{% for i in range(qty_of_sliders) %}
									<li></li>
								{% endfor %}
							{% endif %}
						</ul>
					</div>
				</div>
			{% endif %}
		{% endfor %}

		<div class="banner-block xs-margin-top-45px">
			<div class="container">
				<ul class="biolife-carousel nav-center-bold nav-none-on-mobile" data-slick='{"rows":1,"arrows":true,"dots":false,"infinite":false,"speed":400,"slidesMargin":30,"slidesToShow":3, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 3}},{"breakpoint":992, "settings":{ "slidesToShow": 2}},{"breakpoint":768, "settings":{ "slidesToShow": 2}}, {"breakpoint":500, "settings":{ "slidesToShow": 1}}]}'>
					<li>
						<div class="biolife-banner style-04 biolife-banner__style-04">
							<div class="banner-contain">
								<div class="media">
									<a href="#" class="bn-link"><img loading="lazy" src="{{ url_for('static', filename='commerce/main/images/home/7.jpg') }}" width="100%" height="100%" alt=""></a>
								</div>
								<div class="figcaption">
									<div class="square">
									  <div></div>
									</div>
									<h2>Kathy<span> Hudson</span></h2>
									<p>Neque porro quisquam</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="biolife-banner style-04 biolife-banner__style-04">
							<div class="banner-contain">
								<div class="media">
									<a href="#" class="bn-link"><img loading="lazy" src="{{ url_for('static', filename='commerce/main/images/home/6.jpg') }}" width="100%" height="100%" alt=""></a>
								</div>

								<div class="figcaption">
									<div class="square">
									  <div></div>
									</div>
									<h2>Kathy<span> Hudson</span></h2>
									<p>Neque porro quisquam</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="product-tab z-index-20 sm-margin-top-50px xs-margin-top-30px">
			<div class="container">
			  <div class="biolife-title-box">
				<h3 class="main-title">{{_('Products')}}</h3>
			  </div>
				<div class="biolife-tab biolife-tab-contain sm-margin-top-34px">
					<div class="tab-head tab-head__icon-top-layout icon-top-layout">
						<ul class="tabs md-margin-bottom-35-im xs-margin-bottom-40-im">
							{% for category in categories %}
								<li class="tab-element">
									<a href="#{{category.ResCatId}}" class="tab-link">
										{% if category.ResCatIconFilePath %}
											<span class="biolife-icon">
												<img class="img-fluid" src="{{category.ResCatIconFilePath}}"style="height: 40px;">
											</span>
										{%endif%}
										{{category.ResCatName}}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>

					<div class="tab-content">
					  {% for category in categories %}
						  <div id="{{category.ResCatId}}" class="tab-contain">
							<ul class="products-list biolife-carousel nav-center-02 nav-none-on-mobile eq-height-contain" data-slick='{"rows":2 ,"arrows":true,"dots":false,"infinite":true,"speed":400,"slidesMargin":10,"slidesToShow":4, "responsive":[{"breakpoint":1200, "settings":{ "slidesToShow": 4}},{"breakpoint":992, "settings":{ "slidesToShow": 3, "slidesMargin":25 }},{"breakpoint":768, "settings":{ "slidesToShow": 2, "slidesMargin":15}}]}'>
							  {% for resource in data %}
								  {% if resource.ResCatName == category.ResCatName %}
										<li class="product-item">
											<div class="contain-product layout-default">
												<div class="product-thumb">
													<a href="{{ url_for('commerce.product',resId=resource.ResId)}}" class="link-to-product">
														{% if resource.FilePathS %}
														  <img loading="lazy" src="{{ resource.FilePathS }}" width="270" height="270" class="product-thumnail"/>
												  	{% else %}
														  <img loading="lazy" src="{{ url_for('static', filename='commerce/uploads/f97f1e51f3472883.jpeg') }}" width="270" height="270" class="product-thumnail"/>
												  	{% endif %}
													</a>
												</div>
												<div class="info">
													<b class="categories">Vegetables</b>
													<h4 class="product-title"><a href="#" class="pr-name">{{resource.ResName}}</a></h4>
													<div class="price ">
														<ins><span class="price-amount">{{ resource.ResPriceValue }} TMT</span></ins>
														<del><span class="price-amount">{{ resource.ResPriceValue }} TMT</span></del>
													</div>
													<div class="slide-down-box">
														<p class="message">All products are carefully selected to ensure food safety.</p>
														<div class="buttons">
															<a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
															<a href="{{ url_for('commerce.product',resId=resource.ResId)}}" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
														</div>
													</div>
												</div>
											</div>
										</li>
									{% endif %}
									{% for category in category.subcategories %}
										{% for category in category.subcategories %}
											{% if resource.ResCatName == category.ResCatName %}
												<li class="product-item">
												  <div class="sin-product">
														<div class="pro-image fix">
															<a href="{{ url_for('commerce.product',resId=resource.ResId)}}" class="image">
														  	{% if resource.FilePathS %}
																  <img loading="lazy" src="{{ resource.FilePathS }}"/>
														  	{% else %}
																  <img loading="lazy" src="{{ url_for('static', filename='commerce/uploads/noPhoto.png') }}"/>
														  	{% endif %}
														  </a>
														  <div class="pro-action">
																<a href="#{{ url_for('commerce.product',resId=resource.ResId)}}" class="action-btn cart addToCart"><i class="fa fa-fw fa-shopping-cart"></i></a>
																<a href="#" class="action-btn wishlist"><i class="fa fa-fw fa-heart-o"></i></a>
														  </div>
														</div>

														<div class="pro-details text-center">
															<div class="top fix"></div>
													  	<!-- wtf is this above??? -->
														  <a href="#" class="pro-title">{{resource.ResName}}</a>
														  <h3 class="pro-price">
															<span class="new">
																{{ resource.ResPriceValue }} TMT
															</span>
														  </h3>
														</div>
												  </div>
												</li>
											{% endif %}
										{% endfor %}
									{% endfor %}

							  {% endfor %}
							</ul>
						  </div>
					  {% endfor %}
					</div>
				</div>
			</div>
		</div>
		<hr>

		<!-- Mini Product Area
		============================================ -->

		<div class="mini-product-area pb-75 pt-150">
		  <div class="container">
			<div class="row">
			  <div class="mini-product-wrapper col-md-4 col-sm-4 col-xs-12">
				<h4>Top Rated</h4>
				<div class="mini-product-slider">
				  <div class="mini-product-item fix">
							<p>Favorites or most watched will appear here</p>
					</div>
				  </div>
				</div>

							<div class="mini-product-wrapper col-md-4 col-sm-4 col-xs-12">
								<h4>top viewed</h4>
								<div class="mini-product-slider">
									<div class="mini-product-item fix">
										<div class="sin-mini-product clearfix">
											<div class="image float-left fix">
												<a href="single-product.html"><img loading="lazy" src="{{ url_for('static', filename='commerce/main/images/product/10.jpg') }}" alt="" /></a>
												<div class="mini-pro-action">
													<a href="cart.html" class="action-btn cart"><i class="fa fa-fw fa-shopping-cart"></i></a>
												</div>
											</div>
											<div class="content text-center fix">
												<a href="#" class="title">Dummy Product Name</a>





												<h3 class="price fix">
													<span class="new">$185.00</span>
													<span class="old">$200.00</span>
												</h3>
											</div>
										</div>

									</div>
								</div>
							</div>
			</div>
		</div>
	  </div>
	</div>


{% endblock %}
{% block scripts %}
<script>

	const slides=document.querySelector(".slider").children;
 const prev=document.querySelector(".prev");
 const next=document.querySelector(".next");
 const indicator=document.querySelector(".indicator");
 let index=0;


   prev.addEventListener("click",function(){
       prevSlide();
       updateCircleIndicator();
       resetTimer();
   })

   next.addEventListener("click",function(){
      nextSlide();
      updateCircleIndicator();
      resetTimer();

   })

   // create circle indicators
    function circleIndicator(){
        for(let i=0; i< slides.length; i++){
        	const div=document.createElement("div");
        	      div.innerHTML=i+1;
                div.setAttribute("onclick","indicateSlide(this)")
                div.id=i;
                if(i==0){
                	div.className="active";
                }
               indicator.appendChild(div);
        }
    }
    circleIndicator();

    function indicateSlide(element){
         index=element.id;
         changeSlide();
         updateCircleIndicator();
         resetTimer();
    }

    function updateCircleIndicator(){
    	for(let i=0; i<indicator.children.length; i++){
    		indicator.children[i].classList.remove("active");
    	}
    	indicator.children[index].classList.add("active");
    }

   function prevSlide(){
   	 if(index==0){
   	 	index=slides.length-1;
   	 }
   	 else{
   	 	index--;
   	 }
   	 changeSlide();
   }

   function nextSlide(){
      if(index==slides.length-1){
      	index=0;
      }
      else{
      	index++;
      }
      changeSlide();
   }

   function changeSlide(){
   	       for(let i=0; i<slides.length; i++){
   	       	 slides[i].classList.remove("active");
   	       }

       slides[index].classList.add("active");
   }

   function resetTimer(){
   	  // when click to indicator or controls button
   	  // stop timer
   	  clearInterval(timer);
   	  // then started again timer
   	  timer=setInterval(autoPlay,4000);
   }


  function autoPlay(){
      nextSlide();
      updateCircleIndicator();
  }

  let timer=setInterval(autoPlay,4000);

</script>
{% endblock %}
