{% extends "commerce/main/commerce/layout.html" %}

{% block content %}
    <div id="main-content" class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-info-container sm-margin-top-27px xs-margin-bottom-60px xs-margin-top-60px">
                        <h4 class="box-title">{{_('Contact')}}</h4>
                        {% if company.CDesc %}
                            <p class="frst-desc">{{company.CDesc}}</p>
                        {% endif %}
                        <ul class="addr-info">
                            {% if company.CName %}
                                <li>
                                    <div class="if-item">
                                        <b class="tie">{{_('Company name')}}:</b>
                                        <p class="dsc">{{company.CName}}</p>
                                    </div>
                                </li>
                            {% endif %}
                            {% if company.CFullName %}
                                <li>
                                    <div class="if-item">
                                        <b class="tie">{{_('Full name')}}:</b>
                                        <p class="dsc">{{company.CFullName}}</p>
                                    </div>
                                </li>
                            {% endif %}
                            {% if company.CAddress %}
                                <li>
                                    <div class="if-item">
                                        <b class="tie">{{_('Addess')}}:</b>
                                        <p class="dsc">{{company.CAddress}}</p>
                                    </div>
                                </li>
                            {% endif %}
                            {% if company.Phone1 or company.Phone2 or company.Phone3 or company.Phone4 %}
                                <li>
                                    <div class="if-item">
                                        <b class="tie">{{_('Phone')}}:</b>
                                        {% if company.Phone1 %}<p class="dsc">{{company.Phone1}}</p>{% endif %}
                                        {% if company.Phone2 %}<p class="dsc">{{company.Phone2}}</p>{% endif %}
                                        {% if company.Phone3 %}<p class="dsc">{{company.Phone3}}</p>{% endif %}
                                        {% if company.Phone4 %}<p class="dsc">{{company.Phone4}}</p>{% endif %}
                                    </div>
                                </li>
                            {% endif %}
                            {% if company.CPostalCode %}
                                <li>
                                    <div class="if-item">
                                        <b class="tie">{{_('Postal code')}}:</b>
                                        <p class="dsc">{{company.CPostalCode}}</p>
                                    </div>
                                </li>
                            {% endif %}
                            {% if company.CEmail %}
                                <li>
                                    <div class="if-item">
                                        <b class="tie">{{_('Email')}}:</b>
                                        <p class="dsc">{{company.CEmail}}</p>
                                    </div>
                                </li>
                            {% endif %}
                            {% if company.CWTime %}
                                <li>
                                    <div class="if-item">
                                        <b class="tie">{{_('Working time')}}:</b>
                                        <p class="dsc">{{company.CWTime}}</p>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>

                <!--Contact form-->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-form-container sm-margin-top-112px">
                        <form action="#" name="frm-contact" >
                            <p class="form-row">
                                <input type="text" name="name" value="" placeholder="Your Name" class="txt-input">
                            </p>
                            <p class="form-row">
                                <input type="email" name="email" value="" placeholder="Email Address" class="txt-input">
                            </p>
                            <p class="form-row">
                                <input type="tel" name="phone" value="" placeholder="Phone Number" class="txt-input">
                            </p>
                            <p class="form-row">
                                <textarea name="mes" id="mes-1" cols="30" rows="9" placeholder="Leave Message"></textarea>
                            </p>
                            <p class="form-row">
                                <button class="btn btn-submit" type="submit">send message</button>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}