{% extends "commerce/main/commerce/list_grid_layout.html" %}

{% block content %}

  <div class="row">
    <ul class="products-list">
      {% for resource in resources.items %}
        {% if resource.GCRecord == None or resource.GCRecord == '' %}
          <li class="product-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="contain-product pr-detail-layout">
              <div class="product-thumb">
                {% if resource.ResMainImgId != 0 and resource.ResMainImgId != '' %}
                  {% for image in images %}
                    {% if image.ImgId==resource.ResMainImgId %}
                      <a href="{{ url_for('commerce.product',resId=resource.ResId)}}"class="link-to-product">
                        <img src="{{ url_for('static', filename='commerce/uploads/'+image.FileName) }}" width="270" height="270" class="product-thumnail"/>
                      </a>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <a href="{{ url_for('commerce.product',resId=resource.ResId)}}"class="link-to-product">
                    <img src="{{ url_for('static', filename='commerce/uploads/noPhoto.jpg') }}" width="270" height="270" class="product-thumnail"/>
                  </a>
                {% endif %}
              </div>
              <div class="info">
                <b class="categories">{{ '' if resource.ResName==None else resource.ResName}}</b>
                <h4 class="product-title"><a href="{{ url_for('commerce.product',resId=resource.ResId)}}" class="pr-name">{{'' if resource.ResDesc==None else resource.ResDesc}}</a></h4>
                <p class="excerpt">{{'' if resource.ResFullDesc==None else resource.ResFullDesc[0:80]+'...'}}</p>
                <div class="price">
                  <ins><span class="price-amount">
                    <span class="currencySymbol">TMT</span>
                    <div class="priceValue" ownerId="{{resource.ResId}}">
                      {% for resPrice in resPrices %}
                        {% if resPrice.GCRecord == None or resPrice.GCRecord == '' %}
                          {% if resPrice.ResId==resource.ResId %}
                            {{ resPrice.ResPriceValue }}
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  </span></ins>
                </div>
                <div class="buttons">
                  <button class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></button>
                  <button class="btn add-to-cart-btn addToCart" ownerId="{{resource.ResId}}">{{_('Add to cart')}}</button>
                  <button class="btn add-to-cart-btn removeFromCart" ownerId="{{resource.ResId}}" style="display: none;">{{_('Remove')}}</button>
                </div>
              </div>
              <div class="advance-info">
                <ul class="list">
                  <li>
                    {% for resColor in resColors %}
                      {% if resColor.GCRecord == None or resColor.GCRecord == '' %}
                        {% if resColor.ResId==resource.ResId %}
                          {% for color in colors %}
                            {% if color.GCRecord == None or color.GCRecord == '' %}
                              {% if color.ColorId==resColor.ColorId %}
                                {{color.ColorName}} 
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </li>
                  <li>
                    {% for resSize in resSizes %}
                      {% if resSize.GCRecord == None or resSize.GCRecord == '' %}
                        {% if resSize.ResId==resource.ResId %}
                          {% for size in sizes %}
                            {% if size.GCRecord == None or size.GCRecord == '' %}
                              {% if size.SizeId==resSize.SizeId %}
                                {{size.SizeName}}
                              {% endif %}
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </li>
                  <li>
                    {% for brand in brands %}
                      {% if brand.GCRecord == None or brand.GCRecord == '' %}
                        {% if brand.BrandId==resource.BrandId %}
                          {{brand.BrandName}}
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </li>
                </ul>
              </div>
            </div>
          </li>

        {% endif %}
      {% endfor %}
    </ul>
  </div>

{% endblock %}


{% block paginate %}


  <div class="biolife-panigations-block">
    <ul class="panigation-contain">
      {% for page_num in resources.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
        {% if page_num %}
          {% if resources.page == page_num %}
            <li><span class="current-page">{{ page_num }}</span></li>
          {% else %}
            <li><a href="{{ url_for(pagination_url, page=page_num) }}" class="link-page">{{ page_num }}</a></li>
          {% endif %}
        {% else %}
          <li><span class="sep">...</span></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

{% endblock %}