{% extends "commerce/main/commerce/list_grid_layout.html" %}

{% block content %}

  <div class="row">
    <ul class="products-list">
      {% for resource in resources %}
        {% if resource.ResProductionOnSale==True and (resource.GCRecord == None or resource.GCRecord == '') %}
          <li class="product-item col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="contain-product pr-detail-layout">
              <div class="product-thumb">
                {% if resource.ResMainImgId != 0 and resource.ResMainImgId != '' %}
                  {% for image in images %}
                    {% if image.ImgId==resource.ResMainImgId %}
                      <a href="#{{resource.ResId}}"class="link-to-product">
                        <img src="{{ url_for('static', filename='commerce/uploads/'+image.FileName) }}" width="270" height="270" class="product-thumnail"/>
                      </a>
                    {% endif %}
                  {% endfor %}
                {% else %}
                  <a href="#{{resource.ResId}}"class="link-to-product">
                    <img src="{{ url_for('static', filename='commerce/uploads/noPhoto.jpg') }}" width="270" height="270" class="product-thumnail"/>
                  </a>
                {% endif %}
              </div>
              <div class="info">
                <b class="categories">{{resource.ResName}}</b>
                <h4 class="product-title"><a href="#" class="pr-name">{{resource.ResDesc}}</a></h4>
                <p class="excerpt">{{resource.ResFullDesc}}</p>
                <div class="price">
                  <ins><span class="price-amount">
                    <span class="currencySymbol">TMT</span>
                    {% for resPrice in resPrices %}
                      {% if resPrice.GCRecord == None or resPrice.GCRecord == '' %}
                        {% if resPrice.ResId==resource.ResId %}
                          {{ resPrice.ResPriceValue }} TMT
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </span></ins>
                </div>
                <div class="buttons">
                  <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                  <a href="#" class="btn add-to-cart-btn">{{_('Add to cart')}}</a>
                  <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                </div>
              </div>
              <div class="advance-info">
                <ul class="list">
                  <li>Colors</li>
                  <li>sizes</li>
                  <li>Brand</li>
                </ul>
                <div class="shipping-info">
                  <p class="shipping-day">3-Day Shipping</p>
                  <p class="for-today">Pree Pickup Today</p>
                </div>
              </div>
            </div>
          </li>

        {% endif %}
      {% endfor %}
    </ul>
  </div>

{% endblock %}


{% block paginate %}
  <div class="biolife-panigations-block">
    <ul class="panigation-contain">
      <li><span class="current-page">1</span></li>
      <li><a href="#" class="link-page">2</a></li>
      <li><a href="#" class="link-page">3</a></li>
      <li><span class="sep">....</span></li>
      <li><a href="#" class="link-page">20</a></li>
      <li><a href="#" class="link-page next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
    </ul>
  </div>
{% endblock %}