<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title> Nephos :: Modern Bulma Ecommerce App and Dashboard</title>
        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='commerce/main/images/favicon.png') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/animate.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/nice-select.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/slick.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/main-color.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/bulma.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/core.css')}}">

        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/icons.min.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/chosen/chosen.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='commerce/main/css/webuipopover/jquery.webui-popover.min.css')}}">


    </head>
    <body>
        <!-- Preloader -->
    <div id="biof-loading">
        <div class="biof-loading-center">
            <div class="biof-loading-center-absolute">
                <div class="dot dot-one"></div>
                <div class="dot dot-two"></div>
                <div class="dot dot-three"></div>
            </div>
        </div>
    </div>

    <!-- HEADER -->
    <header id="header" class="header-area style-01 layout-03" >
        <div class="header-top bg-main hidden-xs" style="background: #c2ccd5">
          <div class="container">
            <div class="top-bar left">
              <ul class="horizontal-menu">
                {% if company.CEmail %}
                  <li><i class="fa fa-envelope" aria-hidden="true"></i>{{company.CEmail}}</li>
                {% endif %}
              </ul>
            </div>
            <div class="top-bar right">
              <ul class="horizontal-menu">
                <li class="dropdown dropdown-list-toggle">
              <a  href="#" class="nav-link nav-link-lg message-toggle" data-toggle="dropdown">
                <i class="fa fa-globe" style="font-size: 25px;"></i>
                <span class="badge headerBadge1">{{ session['language'] }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-lr dropdown-menu-right pullDown">
                <a href="/language/en" class="dropdown-item">
                  <img src="{{ url_for('static', filename='commerce/main/images/us.svg') }}" style="width: 30px"> English language</a>
                <div class="dropdown-divider"></div>
                <a href="/language/tk" class="dropdown-item">
                  <img src="{{ url_for('static', filename='commerce/main/images/tm.svg') }}" style="width: 30px"> Türkmen dili</a>
                <div class="dropdown-divider"></div>
                <a href="/language/ru" class="dropdown-item">
                  <img src="{{ url_for('static', filename='commerce/main/images/ru.svg') }}" style="width: 30px"> Русский язык</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">{{_('Başga diller')}}</a>
              </div>
            </li>
                {% if current_user.is_authenticated %}
                  <li><a href="{{ url_for('commerce_auth.logout') }}" class="login-link"><i class="biolife-icon icon-login"></i>{{ current_user.UFullName }} - {{_('Log out')}}</a></li>
                {% else %}
                  <li><a href="{{ url_for('commerce_auth.login') }}" class="login-link"><i class="biolife-icon icon-login"></i>{{_('Log in')}}/{{_('Register')}}</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
        <div class="header-middle biolife-sticky-object ">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-2 col-md-6 col-xs-6">
                {% if company.CName %}
                  <a href="index.html" class="logo">{{company.CName}}</span></a>
                {% endif %}
              </div>
              <div class="col-lg-6 col-md-7 hidden-sm hidden-xs">
                <div class="primary-menu">
                  <ul class="menu biolife-menu clone-main-menu clone-primary-menu" id="primary-menu" data-menuname="main menu">
                    <li class="menu-item"><a href="{{ url_for('commerce.commerce') }}">{{_('Home')}}</a></li>
                    <li class="menu-item"><a href="{{ url_for('commerce.about') }}">{{_('About us')}}</a></li>
                    <li class="menu-item"><a href="{{ url_for('commerce.contact') }}">{{_('Contact')}}</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-md-6 col-xs-6">
                <div class="biolife-cart-info">
                  <div class="mobile-search">
                    <a href="javascript:void(0)" class="open-searchbox"><i class="biolife-icon icon-search"></i></a>
                    <div class="mobile-search-content">
                      <form action="#" class="form-search" name="mobile-seacrh" method="get">
                        <a href="#" class="btn-close"><span class="biolife-icon icon-close-menu"></span></a>
                        <input type="text" name="s" class="input-text" placeholder="{{_('Search')}}...">
                        <select name="category">
                          <option value="-1" selected>{{_('All Categories')}}</option>
                          {% for category in categories %}
                            <option value="{ category.ResCatId }}">{{ category.ResCatName }}</option>
                          {% endfor %}
                        </select>
                        <button type="submit" class="btn-submit">{{_('Submit')}}</button>
                      </form>
                    </div>
                  </div>
                  <div class="wishlist-block hidden-sm hidden-xs">
                    <a href="#" class="link-to">
                      <span class="icon-qty-combine">
                        <i class="icon-heart-bold biolife-icon"></i>
                        <span class="qty">4</span>
                      </span>
                    </a>
                  </div>
                  <div class="minicart-block">
                    <div class="minicart-contain">
                      <a href="javascript:void(0)" class="link-to">
                              <span class="icon-qty-combine">
                                  <i class="icon-cart-mini biolife-icon"></i>
                                  <span class="qty cartItemsQty"></span>
                              </span>
                          <span class="title">{{_('My Cart')}} TMT</span>
                          <span class="sub-total cartTotalPrice">0.00</span>
                      </a>
                      <div class="cart-content">
                        <div class="cart-inner">
  <!--         USER's Cart here !!!       -->
                          <ul class="products cartItemsList"></ul>
                          <p class="btn-control">
                            <a href="{{ url_for('commerce.cart') }}" class="btn view-cart">{{_('View cart')}}</a>
                            <a href="#" class="btn checkoutBtn">{{_('Checkout')}}</a>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="mobile-menu-toggle">
                    <a class="btn-toggle" data-object="open-mobile-menu" href="javascript:void(0)">
                      <span></span>
                      <span></span>
                      <span></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom hidden-sm hidden-xs">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-md-4">
                <div class="vertical-menu vertical-category-block">
                  <div class="block-title">
                    <span class="menu-icon">
                      <span class="line-1"></span>
                      <span class="line-2"></span>
                      <span class="line-3"></span>
                    </span>
                    <span class="menu-title">{{_('Categories')}}</span>
                    <span class="angle" data-tgleclass="fa fa-caret-down"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                  </div>
                  <div class="wrap-menu">
                    <ul class="menu clone-main-menu">
                      {% for category in categories %}
                          {% if category.GCRecord == None or category.GCRecord == '' %}
                              <li class="menu-item menu-item-has-children has-child">
                              <a href="#" class="menu-name" {% if category.ResCatDesc %} title="{{ category.ResCatDesc }}" {% endif %}><i class="biolife-icon icon-fruits"></i> {{ category.ResCatName }}</a>
                              {% for subcategory in subcategories %}
                                  {% if subcategory.GCRecord == None or subcategory.GCRecord == '' %}
                                      {% if subcategory.ResOwnerCatId == category.ResCatId %}
                                          <ul class="sub-menu">
                                          <h4 class="menu-title" {% if subcategory.ResCatDesc %} title="{{ subcategory.ResCatDesc }}" {% endif %}>{{ subcategory.ResCatName }}</h4>
                                              {% for subcategory_child in subcategory_children %}
                                                  {% if subcategory_child.GCRecord == None or subcategory_child.GCRecord == '' %}
                                                      {% if subcategory_child.ResOwnerCatId == subcategory.ResCatId %}
                                                      
                                                          <li class="menu-item"><a href="#" {% if subcategory_child.ResCatDesc %} title="{{ subcategory_child.ResCatDesc }}" {% endif %}>{{ subcategory_child.ResCatName }}</a></li>
                                                      {% endif %}
                                                  {% endif %}
                                              {% endfor %}
                                          </ul>                                        
                                          {% endif %}
                                  {% endif %}
                              {% endfor %}
                              </li>
                          {% endif %}
                      {% endfor %}
  
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 col-md-8 padding-top-2px">
                <div class="header-search-bar layout-01">
                  <form action="#" class="form-search" name="desktop-seacrh" method="get">
                    <input type="text" name="s" class="input-text" value="" placeholder="{{_('Search')}}...">
                    <select name="category">
                      <option value="" selected>{{_('All Categories')}}</option>
                      {% for category in categories %}
                        <option value="{ category.ResCatId }}">{{ category.ResCatName }}</option>
                      {% endfor %}
                    </select>
                    <button type="submit" class="btn-submit"><i class="biolife-icon icon-search"></i></button>
                  </form>
                </div>
                <div class="live-info">
                  {% if company.Phone1 %}<p class="telephone"><i class="fa fa-phone" aria-hidden="true"></i><b class="phone-number">{{ company.Phone1 }}</b></p>{% endif %}
                  {% if company.CWTime %}<p class="working-time">{{ company.CWTime }}</p>{% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

    <!--Hero Section-->
    <div class="hero-section hero-background">
        <h1 class="page-title">MY ORDERS</h1>
    </div>


        <div class="shop-wrapper">
        
            <!-- Search overlay -->
            <div class="search-overlay"></div>
            
            <!-- Search input -->
            <div class="search-input-wrapper is-desktop is-hidden">
                <div class="field">
                    <div class="control">
                        <input type="text" name="search" autofocus required>
                        <span id="clear-search" role="button"><i data-feather="x"></i></span>
                        <span class="search-help">Type the name of the product you are looking for</span>
                    </div>
                </div>
            </div>


            <!-- Main section -->
            <div class="section">
                <!-- Container -->
                <div class="container">
        
                    <!-- Orders Grid -->
                    <div class="columns account-header">
                        <div class="column is-10 is-offset-1 is-tablet-landscape-padded">
                            <div class="account-title">
                                <h2>MY ORDERS</h2>
                                <img class="brand-filigrane" src="{{ url_for('static', filename='commerce/main/images/logo/nephos-greyscale.svg')}}" alt="">
                            </div>
        
                            <!-- Account tabs -->
                            <div class="tabs account-tabs has-controls">
                                <ul>
                                    <li><a href="account.html">Account</a></li>
                                    <li class="is-active"><a href="orders.html">Orders</a></li>
                                    <div class="layout-controls">
                                        <a href="/orders.html"><span><i data-feather="arrow-right"></i></span></a>
                                    </div>
                                </ul>
                            </div>
                            <div class="columns is-account-grid is-multiline">
                                <!-- Order card -->
                                <div class="column is-4">
                                    <div class="flat-card order-card has-popover-top">
                                        <div class="order-info">
                                            <span><a href="invoice.html" onclick="return true">ORDER-46895</a></span>
                                            <span class="tag is-primary">Shipping</span>
                                        </div>
                                        <!-- Progress Circle -->
                                        <div class="circle-chart-wrapper">
                                            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                                <circle class="circle-chart-background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                <circle class="circle-chart-circle" stroke="#0023ff" stroke-width="2" stroke-dasharray="66,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                            </svg>
                                            <!-- Icon -->
                                            <div class="chart-icon">
                                                <i data-feather="truck"></i>
                                            </div>
                                            <!-- Label -->
                                            <div class="ring-title has-text-centered">
                                                <span>66% Complete</span>
                                            </div>
                                        </div>
                                    </div>
        
                                    <!-- Order 46895 Popover -->
                                    <div class="webui-popover-content">
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <img class="staff-avatar" src="{{ url_for('static', filename='commerce/main/images/avatars/janet.jpg')}}" alt="">
                                            <div class="content-block">
                                                <label>Order handled by</label>
                                                <span>Jane Smith</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="clock"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Ordered on</label>
                                                <span>mar 23th 2018</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="dollar-sign"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Order Total</label>
                                                <span>$378,85</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="truck"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Shipping Method</label>
                                                <span>UPS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Order card -->
                                <div class="column is-4">
                                    <div class="flat-card order-card has-popover-top">
                                        <div class="order-info">
                                            <span><a href="invoice.html">ORDER-46878</a></span>
                                            <span class="tag is-success">Preparing</span>
                                        </div>
                                        <!-- Progress Circle -->
                                        <div class="circle-chart-wrapper">
                                            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                                <circle class="circle-chart-background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                <circle class="circle-chart-circle" stroke="#00b289" stroke-width="2" stroke-dasharray="33,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                            </svg>
                                            <!-- Icon -->
                                            <div class="chart-icon">
                                                <i data-feather="package"></i>
                                            </div>
                                            <!-- Label -->
                                            <div class="ring-title has-text-centered">
                                                <span>33% Complete</span>
                                            </div>
                                        </div>
                                    </div>
        
                                    <!-- Order 46878 Popover -->
                                    <div class="webui-popover-content">
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <img class="staff-avatar" src="{{ url_for('static', filename='commerce/main/images/avatars/marc.jpg')}}" alt="">
                                            <div class="content-block">
                                                <label>Order handled by</label>
                                                <span>Marc Korsky</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="clock"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Ordered on</label>
                                                <span>mar 15th 2018</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="dollar-sign"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Order Total</label>
                                                <span>$58,49</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="truck"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Shipping Method</label>
                                                <span>Drone</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Order card -->
                                <div class="column is-4">
                                    <div class="flat-card order-card has-popover-top">
                                        <div class="order-info">
                                            <span><a href="invoice.html" class="is-disabled">ORDER-42135</a></span>
                                            <span class="tag is-warning">Pending</span>
                                        </div>
                                        <!-- Progress Circle -->
                                        <div class="circle-chart-wrapper">
                                            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                                <circle class="circle-chart-background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                <circle class="circle-chart-circle" stroke="#eda514" stroke-width="2" stroke-dasharray="10,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                            </svg>
                                            <!-- Icon -->
                                            <div class="chart-icon">
                                                <i data-feather="dollar-sign"></i>
                                            </div>
                                            <!-- Label -->
                                            <div class="ring-title has-text-centered">
                                                <span>10% Complete</span>
                                            </div>
                                        </div>
                                    </div>
        
                                    <!-- Order 42135 Popover -->
                                    <div class="webui-popover-content">
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <img class="staff-avatar" src="{{ url_for('static', filename='commerce/main/images/avatars/janet.jpg')}}" alt="">
                                            <div class="content-block">
                                                <label>Order handled by</label>
                                                <span>Janet Smith</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="clock"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Ordered on</label>
                                                <span>feb 26th 2018</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="dollar-sign"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Order Total</label>
                                                <span>$188,00</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="truck"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Shipping Method</label>
                                                <span>FedEx</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Order card -->
                                <div class="column is-4">
                                    <div class="flat-card order-card has-popover-top">
                                        <div class="order-info">
                                            <span><a href="invoice.html">ORDER-39456</a></span>
                                            <span class="tag is-danger">Has issue</span>
                                        </div>
                                        <!-- Progress Circle -->
                                        <div class="circle-chart-wrapper">
                                            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                                <circle class="circle-chart-background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                <circle class="circle-chart-circle" stroke="#FF7273" stroke-width="2" stroke-dasharray="40,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                            </svg>
                                            <!-- Icon -->
                                            <div class="chart-icon">
                                                <i data-feather="alert-octagon"></i>
                                            </div>
                                            <!-- Label -->
                                            <div class="ring-title has-text-centered">
                                                <span>40% Complete</span>
                                            </div>
                                        </div>
                                    </div>
        
                                    <!-- Order 39456 Popover -->
                                    <div class="webui-popover-content">
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <img class="staff-avatar" src="{{ url_for('static', filename='commerce/main/images/avatars/janet.jpg')}}" alt="">
                                            <div class="content-block">
                                                <label>Order handled by</label>
                                                <span>Janet Smith</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="clock"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Ordered on</label>
                                                <span>feb 19th 2018</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="dollar-sign"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Order Total</label>
                                                <span>$219,22</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="truck"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Shipping Method</label>
                                                <span>FedEx</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <!-- Order card -->
                                <div class="column is-4">
                                    <div class="flat-card order-card has-popover-top">
                                        <div class="order-info">
                                            <span><a href="invoice.html">ORDER-38246</a></span>
                                            <span class="tag is-primary">Complete</span>
                                        </div>
                                        <!-- Progress Circle -->
                                        <div class="circle-chart-wrapper">
                                            <svg class="circle-chart" viewbox="0 0 33.83098862 33.83098862" width="140" height="140" xmlns="http://www.w3.org/2000/svg">
                                                <circle class="circle-chart-background" stroke="#efefef" stroke-width="2" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                                <circle class="circle-chart-circle" stroke="#0023ff" stroke-width="2" stroke-dasharray="100,100" stroke-linecap="round" fill="none" cx="16.91549431" cy="16.91549431" r="15.91549431" />
                                            </svg>
                                            <!-- Icon -->
                                            <div class="chart-icon">
                                                <i data-feather="award"></i>
                                            </div>
                                            <!-- Label -->
                                            <div class="ring-title has-text-centered">
                                                <span>100% Complete</span>
                                            </div>
                                        </div>
                                    </div>
        
                                    <!-- Order 38246 Popover -->
                                    <div class="webui-popover-content">
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <img class="staff-avatar" src="{{ url_for('static', filename='commerce/main/images/avatars/nicole.jpg')}}" alt="">
                                            <div class="content-block">
                                                <label>Order handled by</label>
                                                <span>Nicole Rogers</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="clock"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Ordered on</label>
                                                <span>feb 5th 2018</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="dollar-sign"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Order Total</label>
                                                <span>$29,22</span>
                                            </div>
                                        </div>
                                        <!-- Popover Block -->
                                        <div class="popover-flex-block">
                                            <div class="icon-block">
                                                <i data-feather="truck"></i>
                                            </div>
                                            <div class="content-block">
                                                <label>Shipping Method</label>
                                                <span>UPS</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Orders Grid -->
                </div>
                <!-- /Container -->
            </div>
            <!-- /Main section -->
        </div>
        <!-- /Main wrapper -->
        <!-- Concatenated plugins -->
       
        <script src="{{ url_for('static', filename='commerce/main/js/jquery-3.4.1.min.js') }}"></script>
        <script src="{{ url_for('static', filename='commerce/main/js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='commerce/main/js/jquery.countdown.min.js') }}"></script>
        <script src="{{ url_for('static', filename='commerce/main/js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ url_for('static', filename='commerce/main/js/jquery.nicescroll.min.js') }}"></script>
        <script src="{{ url_for('static', filename='commerce/main/js/slick.min.js') }}"></script>
        <script src="{{ url_for('static', filename='commerce/main/js/biolife.framework.js') }}"></script>
        <script src="{{ url_for('static', filename='commerce/main/js/functions.js') }}"></script>
        <script src="{{ url_for('static', filename='commerce/main/js/js.cookie.min.js') }}"></script>
        <script src="{{ url_for('static', filename='commerce/main/js/cartsAndCheckouts.js') }}"></script>

    <script src="{{ url_for('static', filename='commerce/main/js/app.js')}}"></script>
       
    <script src="{{ url_for('static', filename='commerce/main/js/nephos.js')}}"></script>
         </body>  
</html>
