{% extends "commerce/main/commerce/layout.html" %}

{% block content %}
  <div id="main-content" class="main-content">
    <div class="sumary-product single-layout">
      <div class="media">
        <ul class="biolife-carousel slider-for" data-slick='{"arrows":false,"dots":false,"slidesMargin":30,"slidesToShow":1,"slidesToScroll":1,"fade":true,"asNavFor":".slider-nav"}'>
          {% if resource.Images %}
            {% for image in resource.Images %}
              <li><img loading="lazy" src="{{resource.FilePathM}}" width="500" height="500"></li>
            {% endfor %}
          {% else %}
            <li><img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/no_photo.png') }}" width="500" height="500"></li>
          {% endif %}
        </ul>
        <ul class="biolife-carousel slider-nav" data-slick='{"arrows":false,"dots":false,"centerMode":false,"focusOnSelect":true,"slidesMargin":10,"slidesToShow":4,"slidesToScroll":1,"asNavFor":".slider-for"}'>
          {% for image in resource.Images %}
            <li><img loading="lazy" src="{{resource.FilePathM}}" width="88" height="88"></li>          
          {% endfor %}
        </ul>
      </div>
      <div class="product-attribute">
        <h3 class="title">{{'' if resource.ResName==None else resource.ResName}}</h3>
        <b class="category">{{_('Category')}}: {{ resource.ResCatName if resource.ResCatName else '' }}</b>
        <div style="font-size: 15px;">{{_('Barcode')}}: {{ resource.BarcodeVal if resource.BarcodeVal else '' }}</div>
        <span class="sku">#{{resource.ResRegNo}}</span>
        <p class="excerpt">{{'' if resource.ResDesc==None else resource.ResDesc}}</p>
        <div class="rating">
          <p class="star-rating"><span class="width-80percent"></span></p>
        </div>
        <div class="price">
          <ins>
            <span class="price-amount">
              <span class="currencySymbol">{{ resource.CurrencyCode }}</span>
              <div class="priceValue" ownerId="{{resource.ResId}}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</div>
            </span>
          </ins>
        </div>
        <div class="product-atts">
          {% if resource.Colors %}
            <div class="atts-item">
              <span class="title">{{_('Color')}}:</span>
              <ul class="color-list">
                {% for color in resource.Colors %}
                  <li class="color-item">
                    <a href="#" class="check-link"><span {% if color.ColorDesc %} title="{{ color.ColorDesc }}" {% endif %} class="symbol img-color" style="background: {{color.ColorCode}}"></span>{{color.ColorName}}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if resource.Sizes %}
            <div class="atts-item">
              <span class="title">{{_('Size')}}:</span>
              <ul class="size-list productSizesList">
                {% for size in resource.Sizes %}
                  <li>
                    <a class="c-link"><span {% if size.SizeDesc %} title="{{ size.SizeDesc }}" {% endif %} class="symbol" ownerId="{{resource.ResId}}" value="{{size.SizeId}}"></span>{{size.SizeName}}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
          {% if resource.Brand %}
            <div class="atts-item">
              <span class="title">{{_('Brand')}}:</span>
              <ul class="brand-list">
                <li>
                  <a class="c-link"><span {% if resource.Brand.BrandDesc %} title="{{resource.Brand.BrandDesc}}" {% endif %} class="symbol"></span>{{ resource.Brand.BrandName }}</a>
                </li>
              </ul>
            </div>
          {% endif %}

        </div>
      </div>
      <div class="action-form">
        <div class="quantity-box" style="display: none">
          <span class="title">{{_('Quantity')}}:</span>
          <div class="cont">
            <span value="{{resource.productQty}}" class="next nextQtyVal productQty" ownerId="{{resource.ResId}}">+</span>
            <span value="{{resource.productQty}}" class="prev prevQtyVal productQty" ownerId="{{resource.ResId}}">-</span>
            <div id="box">
              <span value="{{resource.productQty}}" class="uiQtyText productQty" ownerId="{{resource.ResId}}">{{ resource.productQty }}</span>
            </div>
          </div>
        </div>
        <div class="total-price-contain">
          <span class="title">{{_('Total Price')}}:</span>
          <div class="_price">
            <p class="price">
              <span class="currencySymbol">{{ resource.CurrencyCode }}</span>
              <div class="productTotalPrice" ownerId="{{resource.ResId}}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue*resource.productQty }}</div>
            </p>
          </div>  
        </div>
        <div class="buttons">
          <button class="btn add-to-cart-btn addToCart" ownerId="{{resource.ResId}}" onclick="$('.quantity-box').show('slow')">{{_('Add to cart')}}</button>
          <button class="btn add-to-cart-btn removeFromCart" ownerId="{{resource.ResId}}" style="display: none;" onclick="$('.quantity-box').hide('slow')">{{_('Remove')}}</button>
          <button class="btn add-to-cart-btn addToWishlist" ownerId="{{resource.ResId}}">{{_('Add to wishlist')}}</button>
          <button class="btn add-to-cart-btn removeFromWishlist" ownerId="{{resource.ResId}}" style="display: none;">{{_('Remove from wishlist')}}</button>
        </div>
      </div>
    </div>

    <div class="product-tabs single-layout biolife-tab-contain">
      <div class="tab-head">
        <ul class="tabs">
          <li class="tab-element active"><a href="#tab_1st" class="tab-link">{{_('Customers reviews')}}</a></li>
          <li class="tab-element"><a href="#tab_2nd" class="tab-link">{{_('Products Descriptions')}}</a></li>
          <li class="tab-element"><a href="#tab_3rd" class="tab-link">{{_('Additional information')}}</a></li>
        </ul>
      </div>
      <!-- Ratings info -->
      <div class="tab-content">
        <div id="tab_1st" class="tab-contain review-tab active">
          <div class="container">

            <div class="row">
              
              <div class="col-lg-12 col-md-12 col-sm-11 col-xs-12">
                <div class="rating-info">
                  <p class="index"><strong class="rating">4.4</strong></p>
                  <div class="rating"><p class="star-rating"><span class="width-80percent"></span></p></div>
                </div>
              {% if current_user.is_authenticated %}
                <div class="review-form-wrapper">
                  <span class="title">Submit your review</span>
                  <div action="#" name="frm-review" method="post">
                    <div class="comment-form-rating">
                      <label>1. Your rating of this products:</label>
                      <fieldset class="rating">
                        <input type="radio" id="star5" class="ratingValue" ownerId="{{resource.ResId}}" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input type="radio" id="star4half" class="ratingValue" ownerId="{{resource.ResId}}" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input type="radio" id="star4" class="ratingValue" ownerId="{{resource.ResId}}" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input type="radio" id="star3half" class="ratingValue" ownerId="{{resource.ResId}}" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input type="radio" id="star3" class="ratingValue" ownerId="{{resource.ResId}}" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input type="radio" id="star2half" class="ratingValue" ownerId="{{resource.ResId}}" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input type="radio" id="star2" class="ratingValue" ownerId="{{resource.ResId}}" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input type="radio" id="star1half" class="ratingValue" ownerId="{{resource.ResId}}" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input type="radio" id="star1" class="ratingValue" ownerId="{{resource.ResId}}" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        <input type="radio" id="starhalf" class="ratingValue" ownerId="{{resource.ResId}}" value="0.5" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                      </fieldset>
                    </div>
                    <p class="form-row">
                      <textarea name="comment" class="ratingRemark" ownerId="{{resource.ResId}}" id="txt-comment" cols="30" rows="10" placeholder="{{_('Write your review')}}..."></textarea>
                    </p>
                    <p class="form-row">
                      <button type="submit" name="submit">{{_('Submit')}}</button>
                      <button class="btn btn-primary" id="swal-2">Submit</button>
                      <button class="btn btn-primary" id="swal-5">Error</button>
                    </p>
                  </div>
                </div>
              </div>
              {% endif %}
            </div>
            <div id="comments">
              <ol class="commentlist">
                <li class="review">
                  <div class="comment-container">
                    <div class="row">
                      <div class="comment-content col-lg-8 col-md-9 col-sm-8 col-xs-12">
                        <p class="comment-in"><span class="post-name">Quality is our way of life</span><span class="post-date">01/04/2018</span></p>
                        <div class="rating"><p class="star-rating"><span class="width-80percent"></span></p></div>
                        <p class="author">by: <b>Shop organic</b></p>
                        <p class="comment-text">There are few things in life that please people more than the succulence of quality fresh fruit and vegetables.  At Fresh Fruits we work to deliver the world’s freshest, choicest, and juiciest produce to discerning customers across the UAE and GCC.</p>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>
<!-- 
              <div class="biolife-panigations-block version-2">
                <ul class="panigation-contain">
                  <li><span class="current-page">1</span></li>
                  <li><a href="#" class="link-page">2</a></li>
                  <li><a href="#" class="link-page">3</a></li>
                  <li><span class="sep">....</span></li>
                  <li><a href="#" class="link-page">20</a></li>
                  <li><a href="#" class="link-page next"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
                </ul>
              </div>
               -->
            </div>
          </div>
        </div>

        <div id="tab_2nd" class="tab-contain desc-tab active">
          <p class="desc">{{'' if resource.ResFullDesc==None else resource.ResFullDesc}}</p>
        </div>
        <div id="tab_3rd" class="tab-contain additional-info-tab">
          <table class="tbl_attributes">
            <tbody>
              <tr>
                <th>{{_('Color')}}</th>
                <td><p>
                  {% for color in resource.Colors %}
                    {{color.ColorName}}
                  {% endfor %}
                </p></td>
              </tr>
              <tr>
                <th>{{_('Size')}}</th>
                  <td><p>
                    {% for size in resource.Sizes %}
                      {{size.SizeName}}
                    {% endfor %}
                  </p></td>
                </td>
              </tr>
              {% if resource.ResWidth %}
                <tr>
                  <th>{{_('Width')}}</th>
                    <td><p>
                      {{resource.ResWidth}}
                    </p></td>
                  </td>
                </tr>
              {% endif %}
              {% if resource.ResHeight %}
                <tr>
                  <th>{{_('Height')}}</th>
                    <td><p>
                      {{resource.ResHeight}}
                    </p></td>
                  </td>
                </tr>
              {% endif %}
              {% if resource.ResLength %}
                <tr>
                  <th>{{_('Length')}}</th>
                    <td><p>
                      {{resource.ResLength}}
                    </p></td>
                  </td>
                </tr>
              {% endif %}
              {% if resource.ResWeight %}
                <tr>
                  <th>{{_('Weight')}}</th>
                    <td><p>
                      {{resource.ResWeight}}
                    </p></td>
                  </td>
                </tr>
              {% endif %}
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block scripts %}
  <script src="{{ url_for('static', filename='commerce/admin/js/page/sweetalert.js') }}"></script>
  <script src="{{ url_for('static', filename='commerce/admin/bundles/sweetalert/sweetalert.min.js') }}"></script>
  <script type="text/javascript">
  $(document).ready(function(){
    window.setTimeout(function (){
      if($('.removeFromCart').css('display')!='none'){
        $('.quantity-box').show('slow');
      }      
    }, 150);
  })
  </script>
{% endblock %}