{% extends "commerce/main/commerce/list_grid_layout.html" %}

{% block content %}
  <div class="row">
    <ul class="products-list">
      {% for resource in data %}
        <li class="product-item col-lg-4 col-md-4 col-sm-4 col-xs-6">
          <div class="sin-product">
            <div class="pro-image fix">
              <span class="pro-label">new</span>
              <a href="{{ url_for('commerce.product',ResId=resource.ResId)}}"class="image">
                {% if resource.FilePathM %}
                  <img loading="lazy" src="{{ resource.FilePathS }}" width="270" height="270" class="product-thumnail"/>
                {% else %}
                  <img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/no_photo.png') }}" width="270" height="270" class="product-thumnail"/>
                {% endif %}
              </a>
              <div class="pro-action">
                <a href="#" class="action-btn cart addToCart" ownerId="{{resource.ResId}}"><i class="fa fa-fw fa-shopping-cart"></i></a>
                {% if current_user.is_anonymous %}
                  <a href="{{ url_for('commerce_auth.login') }}" class="action-btn wishlist" ownerId="{{resource.ResId}}">
                    <i class="fa fa-fw fa-heart-o"></i>
                  </a>
                {% else %}
                  <a href="#" class="action-btn wishlist addToWishlist" ownerId="{{resource.ResId}}" style="{{ 'display: none;' if resource.Wished == True }}">
                    <i class="fa fa-fw fa-heart-o"></i>
                  </a>
                  <a href="#" class="action-btn wishlist removeFromWishlist" ownerId="{{resource.ResId}}" style="{{ 'display: none;' if resource.Wished == False }}">
                    <i class="fa fa-fw fa-heart-o"></i>
                  </a>
                {% endif %}
              </div>
            </div>
            <div class="pro-details text-center">
              <a href="{{ url_for('commerce.product',ResId=resource.ResId)}}" class="pro-title">{{'' if resource.ResName==None else resource.ResName}}</a>
              <h3 class="pro-price">
                <span class="currencySymbol">{{ resource.CurrencyCode }}</span>
                <span class="new">
                  <div class="priceValue" ownerId="{{resource.ResId}}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</div>
                </span>
              </h3>
            </div>
          </div>
        </li>
      {% endfor %}
      <li class="product-item col-lg-4 col-md-3 col-sm-4 col-xs-6">
        <div class="contain-product layout-default">
            <div class="product-thumb">
              <span class="pro-label">new</span>
                <a href="#" class="link-to-product">
                    <img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/no_photo.png') }}" alt="dd" width="270" height="270" class="product-thumnail">
                </a>
            </div>
            <div class="info">
                <b class="categories">Fresh Fruit</b>
                <h4 class="product-title"><a href="#" class="pr-name">National Fresh Fruit</a></h4>
                <div class="price">
                    <ins><span class="price-amount"><span class="currencySymbol">£</span>85.00</span></ins>
                    <del><span class="price-amount"><span class="currencySymbol">£</span>95.00</span></del>
                </div>
                <div class="shipping-info">
                    <p class="shipping-day">3-Day Shipping</p>
                    <p class="for-today">Pree Pickup Today</p>
                </div>
                <div class="slide-down-box">
                    <p class="message">All products are carefully selected to ensure food safety.</p>
                    <div class="buttons">
                        <a href="#" class="btn wishlist-btn"><i class="fa fa-heart" aria-hidden="true"></i></a>
                        <a href="#" class="btn add-to-cart-btn"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i>add to cart</a>
                        <a href="#" class="btn compare-btn"><i class="fa fa-random" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </li>
    
    </ul>
  </div>
{% endblock %}

{% block paginate %}
  <div class="biolife-panigations-block">
    <ul class="panigation-contain">
      {% for page_num in pagination_resources.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=3) %}
        {% if page_num %}
          {% if pagination_resources.page == page_num %}
            <li><span class="current-page">{{ page_num }}</span></li>
          {% else %}
            <li><a href="{{ url_for(pagination_url, page=page_num) }}" class="link-page">{{ page_num }}</a></li>
          {% endif %}
        {% else %}
          <li><span class="sep">...</span></li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}