{% extends "commerce/hs/commerce/layout.html" %}

{% block head %}
<meta name="description" content="{{company.CName}} | {{company.CDesc}}">
<meta property="og:description" content="{{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta property="og:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
<meta name="twitter:description" content="{{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
{% endblock %}


{% block breadcrumbs %}
<div class="breadcrumb-area bg-img">
	<div class="container">
		<div class="breadcrumb-content text-center">
			<h2>{{_('About us')}} </h2>
			<ul>
				<li>
					<a href="{{ url_for('commerce.commerce') }}">{{_('Main')}}</a>
				</li>
				<li class="active">{{_('About us')}}</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
{% block content %}

	

	<div class="about-us-area pt-90 pb-90">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="about-us-img text-center">
						<a href="#">
							<img src="{{ url_for('static', filename='commerce/bee/images/about-1.png') }}" alt="">
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-6 align-self-center">
					<div class="about-us-content">
						<h2>Welcome To <span>Daxone</span> Store !</h2>
						<p class="peragraph-blog">Daxone Shop is a premium HTML template designed and develoved from the ground up with the sole purpose of helping you create an astonishing, the beautiful and user friendly website that will boost your product’s sales.</p>
						<p>The theme design package provides a complete Magento theme set for your online store according to your desired theme. This includes all Magento themes that are required for your online store's successful implementation.</p>
						<div class="about-us-btn btn-hover hover-border-none">
								<a class="btn-color-white btn-color-theme-bg black-color" href="shop.html">Shop now!</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endblock %}