
{% extends "commerce/hs/commerce/layout.html" %}

{% block head %}
<meta name="description" content="{{company.CName}} | {{company.CDesc}}">
<meta property="og:description" content="{{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta property="og:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
<meta name="twitter:description" content="{{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/hs/images/logo/halal_OG.png') }}" />
{% endblock %}

{% block content %}

		<!-- commerce.html -->

		<div class="slider-area">
			<div class="container">
				<div class="slider-active-4 owl-carousel dot-style-2">
					{% for slider in sliders %}
					{% if slider.SlName == "commerce_header" %}
						{% for sl_image in slider.Sl_images %}
						{% if sl_image.SlImgMainImgFilePathM %}
						<div class="slider-height-8 bg-img res-white-overly-xs slider-image">
							<a href="{{ sl_image.SlImgLink if sl_image.SlImgLink else '#' }}">
								<img loading="lazy" src="{{ sl_image.SlImgMainImgFilePathM }}" data-src-m="{{ sl_image.SlImgMainImgFilePathR }}"
								 alt="{{ sl_image.SlImgTitle if sl_image.SlImgTitle else 'sl_image.SlImgMainImgFileName' }} {{ company.CName }}">
							</a>
						</div>
						{% endif %}
						{% endfor %}
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>

		{% for slider in sliders %}
		{% if slider.SlName == "sidebar_banner" %}
		<div class="banner-area pt-30 pb-40">
			<div class="container">
				<div class="row">
					{% for sl_image in slider.Sl_images %}
					{% if sl_image.SlImgMainImgFilePathS %}
					<div class="col-lg-4 col-md-4 col-sm-4 col-12">
						<div class="banner-wrap mb-30 slider-image">
							<a href="{{url_for('commerce.v_grid')}}">
								<img loading="lazy"  src="{{ sl_image.SlImgMainImgFilePathM }}"
								data-src-m="{{ sl_image.SlImgMainImgFilePathR }}"
								alt="banner {{ sl_image.SlImgMainImgFileName }} {{ company.CName }}">
							</a>
							<div class="banner-content-9 banner-content-9-mrg2">
								<h4>{{ sl_image.SlImgTitle if sl_image.SlImgTitle else '' }}</h4>
								<p>{{ sl_image.SlImgDesc if sl_image.SlImgDesc else '' }}</p>
								<a href="{{url_for('commerce.v_grid')}}">Shop Now</a>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}

		{% if Featured_categories %}
		<div class="product-area pb-40">
			<div class="container">
					<div class="section-title-tab-wrap">
						<div class="row">
							<div class="col-xl-6 col-lg-4 col-md-4 col-sm-4">
								<div class="section-title-5">
									<h2>{{_('Featured')}}</h2>
								</div>
							</div>
							<div class="col-xl-6 col-lg-8 col-md-8 col-sm-8">
								<div class="product-tab-list-4 nav">
									{% for category in Featured_categories %}
										<a class="featrued-cat-btn" href="#tab-{{category.ResCatId}}" data-toggle="tab">
											<h5>{{ category.ResCatName }} </h5>
										</a>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>

					<div class="tab-content jump">
						{% for category in Featured_categories %}
							<div id="tab-{{category.ResCatId}}" class="tab-pane">
								<div class="product-slider-active owl-carousel">
									{% for resource in category.Resources %}
									<div class="product-wrap product-border-3 product-img-zoom mb-30">
										<div class="product-img">
											<a href="{{url_for('commerce.product',ResId=resource.ResId,ResName=resource.ResName.replace('/','-').replace(' ','-'))}}">
												<img loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/icons/no_photo.svg') }}" alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }} {{ company.CName }}">
											</a>
											<div class="product-action">
												{% if current_user.is_authenticated %}
												<div class="yith-wcwl-add-to-wishlist wishlist-button">
													<a rel="nofollow" class="like {{'heart' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}">
														<i class="la la-heart" aria-hidden="true"></i>
													</a>
												</div>
												{% endif %}
												<div class="con-input-btns cartItemQty" style="display: none;">
													<button class="qtyminus qtybtn rotate-minus"><i class="las la-minus"></i></button>
													<input type="text" class="productQty rotate-number"
														pending_amount="{{resource.ResPendingTotalAmount}}"
														min_amount="{{resource.ResMinSaleAmount}}"
														max_amount="{{resource.ResMaxSaleAmount}}"
														value="{{resource.productQty}}" ownerId="{{ resource.ResId }}">
													<button class="qtyplus qtybtn rotate-plus"><i class="las la-plus"></i></button>
													</div>
												<a class="add-to-cart" ownerId="{{ resource.ResId }}"><i class="la la-plus"></i></a>

												</div>
											</div>
												<div class="product-content product-content-padding">
													<h4><a href="{{url_for('commerce.product',ResId=resource.ResId,ResName=resource.ResName.replace('/','-').replace(' ','-'))}}">
														{{ resource.ResName }}
													</a></h4>
													<div class="price-addtocart">
														<div class="product-price">
															<span class="priceValue" ownerId="{{resource.ResId}}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</span>
															<span>{{ resource.CurrencyCode }}</span>
														</div>
													</div>
												</div>
											</div>
										{% endfor %}
									</div>
							</div>
						{% endfor %}
					</div>

			</div>
		</div>
		{% endif %}

		{% for slider in sliders %}
		{% if slider.SlName == "commerce_footer" %}
		<div class="banner-area pt-30 pb-40">
			<div class="container">
				<div class="row">
					{% for sl_image in slider.Sl_images %}
					{% if sl_image.SlImgMainImgFilePathS %}
					<div class="col-lg-6 col-md-6 col-sm-6 col-12">
						<div class="banner-wrap bottom_banner mb-30">
							<a href="{{url_for('commerce.v_grid')}}">
								<img loading="lazy" src="{{ sl_image.SlImgMainImgFilePathM }}"
								data-src-m="{{ sl_image.SlImgMainImgFilePathR }}"
								alt="banner {{ sl_image.SlImgMainImgFileName }} {{ company.CName }}">
							</a>
							<div class="banner-content-9 banner-content-9-mrg2">
								<div class="centered_text">
									<h4>{{ sl_image.SlImgTitle if sl_image.SlImgTitle else '' }}</h4>
									<p>{{ sl_image.SlImgDesc if sl_image.SlImgDesc else '' }}</p>
									<a href="{{url_for('commerce.v_grid')}}">Shop Now</a>
								</div>
							</div>
						</div>
					</div>
					{% endif %}
					{% endfor %}
				</div>
			</div>
		</div>
		{% endif %}
		{% endfor %}


		{% if Featured_products %}
		<div class="product-area pb-85">
			<div class="container">
				<div class="section-title-6 mb-50 text-center">
					<h2>{{_('Featured products')}}</h2>
				</div>
				<div class="featured-product-slider owl-carousel">

				{% for featured_resource in Featured_products %}
					<div class="product-wrap product-border-3 product-img-zoom mb-30">
						<div class="product-img">
							<a href="{{url_for('commerce.product',ResId=featured_resource.ResId,ResName=featured_resource.ResName.replace('/','-').replace(' ','-'))}}">
								<img loading="lazy" src="{{ featured_resource.FilePathS if featured_resource.FilePathS else url_for('static', filename='commerce/hs/images/icons/no_photo.svg') }}" alt="Product {{featured_resource.ResName}} of category {{ featured_resource.ResCatName if featured_resource.ResCatName else '' }} {{ company.CName }}">
							</a>
							<div class="product-action">
								{% if current_user.is_authenticated %}
								<div class="yith-wcwl-add-to-wishlist wishlist-button">
									<a rel="nofollow" class="like {{'heart' if featured_resource.Wishlist == true}}" ownerId="{{ featured_resource.ResId }}">
										<i class="la la-heart" aria-hidden="true"></i>
									</a>
								</div>
								{% endif %}
								<div class="con-input-btns cartItemQty" style="display: none;">
									<button class="qtyminus qtybtn rotate-minus"><i class="las la-minus"></i></button>
									<input type="text" class="productQty rotate-number"
										pending_amount="{{featured_resource.ResPendingTotalAmount}}"
										min_amount="{{featured_resource.ResMinSaleAmount}}"
										max_amount="{{featured_resource.ResMaxSaleAmount}}"
										value="{{featured_resource.productQty}}" ownerId="{{ featured_resource.ResId }}">
									<button class="qtyplus qtybtn rotate-plus"><i class="las la-plus"></i></button>
									</div>
								<a class="add-to-cart" ownerId="{{ featured_resource.ResId }}"><i class="la la-plus"></i></a>
							</div>
						</div>
						<div class="product-content product-content-padding">
							<h4><a href="{{url_for('commerce.product',ResId=featured_resource.ResId,ResName=featured_resource.ResName.replace('/','-').replace(' ','-'))}}">
								{{ featured_resource.ResName }}
								{{ featured_resource.ResVisibleIndex }}
							</a></h4>
							<div class="price-addtocart">
								<div class="product-price">
									<span class="priceValue" ownerId="{{featured_resource.ResId}}" value="{{featured_resource.ResPriceValue}}">{{ featured_resource.ResPriceValue }}</span>
									<span>{{ featured_resource.CurrencyCode }}</span>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}

				</div>
			</div>
		</div>
		{% endif %}

		<div class="product-area pb-40">
			<div class="container">
				<div class="section-title-6 mb-50 text-center">
					<h2>{{_('New arrival')}}</h2>
				</div>
				<div class="row">
					{% for resource in Latest_resources %}
					<div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-6">
						<div class="product-wrap product-border-3 product-img-zoom mb-30">
							<div class="product-img">
								<a href="{{url_for('commerce.product',ResId=resource.ResId,ResName=resource.ResName.replace('/','-').replace(' ','-'))}}">
									<img loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/hs/images/icons/no_photo.svg') }}" alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }} {{ company.CName }}">
								</a>
								<div class="product-action">
									{% if current_user.is_authenticated %}
									<div class="yith-wcwl-add-to-wishlist wishlist-button">
										<a rel="nofollow" class="like {{'heart' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}">
											<i class="la la-heart" aria-hidden="true"></i>
										</a>
									</div>
									{% endif %}
									<div class="con-input-btns cartItemQty rotate-icon" style="display: none;">
										<button class="qtyminus qtybtn rotate-minus"><i class="las la-minus"></i></button>
										<input type="text" class="productQty"
											pending_amount="{{resource.ResPendingTotalAmount}}"
											min_amount="{{resource.ResMinSaleAmount}}"
											max_amount="{{resource.ResMaxSaleAmount}}"
											value="{{resource.productQty}}" ownerId="{{ resource.ResId }}">
										<button class="qtyplus qtybtn rotate-plus"><i class="las la-plus"></i></button>
									</div>
									<a class="add-to-cart" ownerId="{{ resource.ResId }}"><i class="la la-plus"></i></a>
								</div>
							</div>
							<div class="product-content product-content-padding">
								<h4><a href="{{url_for('commerce.product',ResId=resource.ResId,ResName=resource.ResName.replace('/','-').replace(' ','-'))}}">
									{{ resource.ResName }}
								</a></h4>
								<div class="price-addtocart">
									<div class="product-price">
										<span class="priceValue" ownerId="{{resource.ResId}}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</span>
										<span>{{ resource.CurrencyCode }}</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>

		<div class="product-area pb-85">
			<div class="container">
				<div class="section-title-6 mb-50 text-center">
					<h2>{{_('Previously viewed products')}}</h2>
				</div>
				<div class="product-slider-active owl-carousel recentViewedList"></div>
			</div>
		</div>

		{% if Brands %}
		<div class="brand-logo-area pb-70">
			<div class="container">
				<div class="brand-logo-padding bg-gray-3">
					<div class="brand-logo-active-2 owl-carousel">
						{% for brand in Brands %}
							{% if brand.FilePath and brand.IsMain %}
							<div class="single-brand-logo" >
								<a href="{{url_for('commerce.v_grid',BrandId=brand.BrandId,BrandName=brand.BrandName.replace('/','-').replace(' ','-'))}}">
									<img loading="lazy" src="{{brand.FilePath if brand.FilePath}}" alt="Brand {{brand.BrandName}}">
								</a>
							</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		{% endif %}

{% endblock %}

{% block scripts %}
<script>render_viewed_list()</script>
{% endblock %}