<!doctype html>
<html class="no-js" lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{{ title if title else _('Commerce') }}</title>
	<meta name="robots" content="noindex, follow" />
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta property="og:site_name" content="Halal Söwda | E-commerce" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="{{ title if title else _('Commerce') }} | Halal Söwda" />
  <meta property="og:url" content="{{ request.url }}" />
  <meta name="twitter:url" content="{{ request.url }}" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ title if title else _('Commerce') }} | Halal Söwda" />
	<meta name="description" content="{% if Config.Desc %}{{ Config.Desc }}{% else %} Online commerce {{ company.CName }} {{ company.CDesc if company.CDesc}}{% endif %}">
	<link rel="shortcut icon" type="image/x-icon" href="{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/hs/images/favicon.ico') }}">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/hs/css/vendor/bootstrap.min.css') }}">
	<!-- Icon Font CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/hs/css/vendor/1.3.0/css/line-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/hs/css/vendor/themify.css') }}">
	<!-- othres CSS --> 
	{% block head %}{% endblock %}
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/hs/css/plugins/animate.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/hs/css/plugins/owl-carousel.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/hs/css/plugins/slick.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/hs/css/plugins/magnific-popup.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/hs/css/plugins/jquery-ui.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/hs/css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/hs/js/izitoast/css/iziToast.min.css') }}">

</head>

<body>
	<div class="main-wrapper">
		<header class="header-area">
			<div class="main-header-wrap inside">
				<div class="header-middle border-top-2 pt-10 pb-10">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-xl-2 col-lg-2 col-2">
								<div class="logo">
									<a href="{{url_for('commerce.commerce')}}"><img src="{{ url_for('static', filename='commerce/hs/images/logo/hs_logo.svg') }}" alt="logo"></a>
								</div>
							</div>
							<div class="col-xl-8 col-lg-8 col-8">
								<div class="header-contact-search-wrap header-contact-search-mrg">
									{% if company.Phone1 %}
									<div class="header-contact-2" onclick="location.href='tel:{{company.Phone1}}';">
										<div class="header-contact-2-icon">
											<i class="la la-phone" style="color:#4c8e38;"></i>
										</div>
										<div class="header-contact-2-text">
											<a href="tel:{{company.Phone1}}">{{company.Phone1}}</a>
										</div>
									</div>
									{% endif %}
									<div class="search-style-4">
										<form method="get" action="{{url_for('commerce.v_grid')}}">
											<div class="form-search-4">
												<input type="text" id="search" class="input-text" dir="ltr" value="" name="search" placeholder="{{_('Search')}}" />
												<button>
													<i class="la la-search"></i>
												</button>
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="col-xl-2 col-lg-2 col-2">
								<div class="header-right-wrap mt-10">
									<div class="header-account-links" style="display:flex;">
										<li class="dropdown" style="margin-top: -7px;list-style: none; position: inherit;">
											<a href="#" class="nav-link nav-link-lg message-toggle" data-toggle="dropdown">
												<i class="las la-globe-europe" style="font-size: 20px;"></i>
											</a>
											<ul class="dropdown-menu slideUp2" style="z-index: 9999999; left: -57px;"> 
												<li class="body">
													<ul class="menu list-unstyled">
														<li>
															<a href="{{ url_for('main.set_language',language='en') }}" class="dropdown-item">
																<img loading="lazy" src="{{ url_for('static', filename='commerce/hs/images/us.svg') }}" style="width: 30px">
																English language
															</a>
															<div class="dropdown-divider"></div>
															<a href="{{ url_for('main.set_language',language='tk') }}" class="dropdown-item">
																<img loading="lazy" src="{{ url_for('static', filename='commerce/hs/images/tm.svg') }}" style="width: 30px">
																Türkmen dili
															</a>
															<div class="dropdown-divider"></div>
															<a href="{{ url_for('main.set_language',language='ru') }}" class="dropdown-item">
																<img loading="lazy" src="{{ url_for('static', filename='commerce/hs/images/ru.svg') }}" style="width: 30px">
																Русский язык
															</a>
														</li>
													</ul>
												</li>
											</ul>
										</li>
										</div>
										<div class="header-wishlist">
												<a href="{{ url_for('commerce_users.wishlist') }}"><i class="la la-heart-o"></i></a>
										</div>
										{% if current_user.is_authenticated %}
										<div class="header-login ml-10">
											<a href="{{ url_for('commerce_users.profile') }}"><i class="la la-user"></i></a>
										</div>
										<div class="header-login ml-10">
											<a href="{{ url_for('commerce_auth.logout') }}"><i class="las la-sign-out-alt"></i></a>
										</div>
										{% else %}
										<div class="header-login ml-10">
											<a href="{{ url_for('commerce_auth.login') }}"><i class="las la-sign-in-alt"></i></a>
										</div>
										<div class="header-login ml-10">
											<a href="{{ url_for('commerce_auth.register_sms') }}"><i class="la la-registered"></i></a>
										</div>
										{% endif %}
										
										<div class="cart-wrap common-style ml-10" style="margin-top:-2px">
											<div class="cart-overlay"></div>
												<button class="cart-active cart-3 header-cart" style="background-color: transparent;">
													<i class="las la-shopping-cart"></i>
													<span class="count cartItemsFullQty">0</span>
												</button>
												<div class="shopping-cart-content">
													<div class="bac_overlay"></div>
														<ul class="cartItemsList"></ul>
														<div class="shopping-cart-bottom">
																<div class="shopping-cart-total">
																		<h4>{{_('Total')}}:
																			<span class="woocommerce-Price-currencySymbol">
																				{{ session.currency_code if session.currency_code else 'TMT' }}
																			</span>
																			<span class="woocommerce-Price-amount amount cartTotalPrice">
																				0.00
																			</span>
																		</h4>
																</div>
																<div class="shopping-cart-btn btn-hover default-btn text-center">
																	<a class="black-color" href="{{url_for('commerce.cart')}}">{{_('Checkout')}}</a>
																</div>
														</div>
												</div>
										</div>
								</div>
						</div>
						</div>
					</div>
				</div>
				<div class="header-bottom sticky-bar bg-red">
					<div class="container">
						<div class="row align-items-center">
							<div class="col-lg-4 col-3">
								<div class="category-menu-wrap">
									<h3 class="showcat">
										<a>
											<img class="category-menu-non-stick" src="{{ url_for('static', filename='commerce/hs/images/icon-img/category-menu.png') }}" alt="icon">
											<img class="category-menu-stick" src="{{ url_for('static', filename='commerce/hs/images/icon-img/category-menu-stick.png') }}" alt="icon">
										<span>{{_('Categories')}}</span>
										</a>
									</h3>
									<div class="cat">
									<div class="category-menu hidecat">
										<nav> 
											<ul>
												<li class="cr-dropdown">
													<a class="cat-style" title="{{_('All')}}" href="{{url_for('commerce.v_grid')}}">
														<img class="img-fluid cat-icon" src="{{ url_for('static', filename='commerce/ls/img/icons/category.svg') }}" style="height: 25px; width: 25px; margin-right: 7px;">
														{{_('All')}}
													</a>
												</li>
												{% for category in categories %}
												<li class="cr-dropdown {{ 'yamm-tfw menu-item-has-children dropdown-submenu' if category.Categories else 'highlight' }}">
													<a class="cat-style" title="{{ category.ResCatName }}" 
														href="{{ url_for('commerce.v_grid',ResCatId=category.ResCatId,ResCatName=category.ResCatName.replace('/','-').replace(' ','-')) if not category.Categories else '#' }}"
													{% if category.Categories %} aria-haspopup="true" {% endif %}>
													<img class="img-fluid cat-icon" src="{{ category.ResCatIconFilePath if category.ResCatIconFilePath else url_for('static', filename='commerce/ls/img/icons/category.svg') }}" style="height:25px;width: 25px; margin-right: 7px;">
													{{ category.ResCatName }}

													{% if category.Categories %}
														<span class="la la-angle-down" style="display: block;"></span>
														<ul class="cr-menu-desktop-none">
															{% for category in category.Categories %}
															<li class="cr-sub-dropdown">
																<a href="{{url_for('commerce.v_grid',ResCatId=category.ResCatId,ResCatName=category.ResCatName.replace('/','-').replace(' ','-'))}}">
																	{{ category.ResCatName }}
																</a>
															</li>
															{% endfor %}
														</ul>
													{% endif %}

													</a>
												</li>												
												{% endfor %}
											</ul>
										</nav>
									</div>
								</div>
								</div>
							</div>
							<div class="col-md-8 col-9 d-flex justify-content-end">
								<div class="main-menu menu-common-style menu-lh-5 menu-margin-4 menu-font-2 menu-font-2-white res-hm8-margin">
									<nav>
										<ul>
											<li><a href="{{ url_for('commerce.commerce') }}"><i class="la la-home"></i><span>{{_('Main')}}</span></a></li>
											<li><a href="{{ url_for('commerce.v_grid') }}"><i class="la la-store"></i><span>{{_('Products')}}</span> </a></li>
											<li><a href="{{ url_for('commerce.about') }}"><i class="la la-store-alt"></i><span>{{_('About us')}}</span> </a></li>
											<li><a href="{{ url_for('commerce.contact') }}"><i class="la la-phone-volume"></i><span>{{_('Contact')}}</span></a></li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		{% block breadcrumbs %}{% endblock %}

		{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
		{% for category, message in messages %}
		<div class="alert alert-{{ category }} alert-dismissible show fade" style="margin: auto; height: 10%; opacity: 1; width: 95%; overflow: auto; text-align: center;">
			<div class="alert-body" style="padding-top: 5px;">
				<button class="close" data-dismiss="alert">
					<span style="float: right;">×</span>
				</button>
				{{ message }}
			</div>
		</div>
		{% endfor %}
		{% endif %}
		{% endwith %}
	
		{% block content %}{% endblock %}
		
		<footer class="footer-area section-padding-2 bg-bluegray pt-80">
			<div class="container-fluid">
				<div class="footer-top pb-40">
					<div class="row">
						<div class="col-lg-3 col-md-8 col-12 col-sm-12" style="margin: 0 auto;text-align: center;">
							<div class="footer-widget mb-30">
								<div class="logo">
									<a href="{{ url_for('commerce.commerce') }}"><img src="{{ url_for('static', filename='commerce/hs/images/logo/hs_logo.svg') }}" alt="logo"></a>
								</div>
								<div class="footer-about">
									<h2>{{ company.CName }}</h2>
									<p>{{ company.CFullName if company.CFullName else "" }} </p>
									<p>{{ company.CDesc if company.CDesc else "" }} </p>
								</div>
							</div> 
						</div>
						
						<div class="col-lg-9 col-md-12 col-12 col-sm-12">
							<div class="footer-widget ml-135" style="display: flex; margin: 10% 0;">
								{% if company.Phone1 %}
								<div class="header-contact-3" style="margin: 0 auto;" onclick="location.href='tel:{{company.Phone1}}';" >
									<div class="header-contact-2-icon">
										<div class="content-center">
											<div class="pulse">
												<i class="la la-phone"></i>
											</div>
										</div>
									</div>
									
									<div class="header-contact-2-text">
										<a href="tel:{{company.Phone1}}">{{company.Phone1}}</a>
									</div>
								</div>
								{% endif %}
								{% if company.Phone2 %}
								<div class="header-contact-3" style="margin: 0 auto;" onclick="location.href='tel:{{company.Phone2}}';">
									<div class="header-contact-2-icon">
										<div class="content-center">
											<div class="pulse">
												<i class="la la-phone"></i>
											</div>
										</div>
									</div>
									<div class="header-contact-2-text">
										<a href="tel:{{company.Phone2}}">{{company.Phone2}}</a>
									</div>
								</div>
								{% endif %}
								{% if company.Phone3 %}
								<div class="header-contact-3" style="margin: 0 auto;" onclick="location.href='tel:{{company.Phone3}}';">
									<div class="header-contact-2-icon">
										<div class="content-center">
											<div class="pulse">
												<i class="la la-phone"></i>
											</div>
										</div>
									</div>
									<div class="header-contact-2-text">
										<a href="tel:{{company.Phone3}}">{{company.Phone3}}</a>
									</div>
								</div>
								{% endif %}
								{% if company.Phone4 %}
								<div class="header-contact-3" style="margin: 0 auto;" onclick="location.href='tel:{{company.Phone4}}';">
									<div class="header-contact-2-icon">
										<div class="content-center">
											<div class="pulse">
												<i class="la la-phone"></i>
											</div>
										</div>
									</div>
									<div class="header-contact-2-text">
										<a href="tel:{{company.Phone4}}">{{company.Phone4}}</a>
									</div>
								</div>
								{% endif %}
							</div>
							<div class="feature feature-shipping">
								<div class="feature-wrap">
									<div class="icon"><img loading="lazy" src="{{ url_for('static', filename='commerce/hs/images/icons/delivery.svg') }}"></div>
									<h4>{{ company.CAddress if company.CAddress else '130 manatdan kop sargasanyz eltip bermek hyzmaty mugt' }}</h4>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="footer-bottom border-top-1">
					<div class="copyright-3 text-center pt-20 pb-20 border-top-1">
						<a href="http://saphasap.com/">
              <img src="{{ url_for('static', filename='commerce/main/images/logo/sap_cozgut_black.svg') }}" alt="Sap cozgut" style="width: 40px;">
            </a>
					</div>
				</div>
			</div>
		</footer>
	</div>


	<!-- JS
============================================ -->
	<script type="text/javascript">
		var url_prefix = "{{url_prefix if url_prefix else ''}}";
		var session_currency_code = "{{ session.currency_code if session.currency_code else 'TMT' }}"
		var error_title = "{{_('Error')}}";
		var success_title = "{{_('Success')}}";
		var unknown_error_text = "{{_('Unknown error')}}"
		var add_to_cart_text = "{{_('Add to cart')}}";
		var qty_error_text = "{{_('Cannot get more')}}";
		var remove_from_cart_text = "{{_('Remove from cart')}}";
		var no_photo_errorhandler_image = "{{ url_for('static', filename='commerce/hs/images/icons/no_photo.svg') }}";
		var rating_message = "{{_('You should put your rating and write a review')}}";
		var csrf_token = "{{ csrf_token() }}";
	</script>

	<!-- Modernizer JS -->
	<script src="{{ url_for('static', filename='commerce/hs/js/vendor/modernizr-3.6.0.min.js') }}"></script>
	<!-- Modernizer JS -->
	<script src="{{ url_for('static', filename='commerce/hs/js/vendor/jquery-3.3.1.min.js') }}"></script>
	<!-- Popper JS -->
	<script src="{{ url_for('static', filename='commerce/hs/js/vendor/popper.js') }}"></script>
	<!-- Bootstrap JS -->
	<script src="{{ url_for('static', filename='commerce/hs/js/vendor/bootstrap.min.js') }}"></script>

	<!-- Slick Slider JS -->
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/countdown.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/counterup.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/images-loaded.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/isotope.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/instafeed.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/jquery-ui.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/jquery-ui-touch-punch.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/magnific-popup.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/owl-carousel.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/scrollup.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/waypoints.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/slick.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/wow.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/textillate.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/sticky-sidebar.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/smoothscroll.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/plugins/zoom.min.js') }}"></script>

	<script src="{{ url_for('static', filename='commerce/hs/js/sweetalert.min.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/izitoast/js/iziToast.min.js') }}"></script>
	<!-- Main JS -->
	<script src="{{ url_for('static', filename='commerce/hs/js/main.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/pure_functions.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/rating.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/ui_dynamicals.js') }}"></script>
	<script src="{{ url_for('static', filename='commerce/hs/js/ux_actions.js') }}"></script>
	{% block scripts %}{% endblock %}
</body>

</html>