{% extends "commerce/bee/commerce/layout.html" %}
{% block content %}

<div class="product-section section mb-70 mt-70">
	<div class="container">
		<div class="row">
			<div class="col-12 mb-40" style="display: flex;justify-content: center;height: 300px;">
                <img loading="lazy" src="{{ url_for('static', filename='commerce/bee/images/404.svg') }}" style="height: 100%;">
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block scripts %}
<script>
    $('.footer-bottom-section').css({"position": "fixed"})
</script>
{% endblock %}