{% extends "commerce/bee/commerce/layout.html" %}
{% block content %}

  <div class="page-contain page-404" style="height: 100%;">
      <div id="main-content" class="main-content">
          <div class="container">
              <div class="col">
                  <div class="content-404">
                      <h1 class="heading">410</h1>
                      <h2 class="title">Gone</h2>
                      <p>Try again with reloading the page</p>
                  </div>
              </div>
          </div>
      </div>
  </div>

{% endblock content %}