{% extends "commerce/ls/commerce/layout.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/bulma.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/core.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/bootstrap.css') }}">
	<meta name="robots" content="noindex" />
{% endblock %}

{% block content %}
<div class="container bootstrap snippet" style="margin: 2% 0;">
	<div class="row">

		<div class="col-sm-12">
			<ul class="nav nav-tabs"> 
				<li><a href="{{ url_for('commerce_users.profile') }}">{{_('Profile')}}</a></li>
				<li class="active"><a href="{{ url_for('commerce_users.orders') }}">{{_('Orders')}}</a></li>
				<li><a href="{{ url_for('commerce_users.wishlist') }}">{{_('Wishlist')}}</a></li>
				<li style="float: right;"><a href="{{ url_for('commerce_users.profile_edit') }}"><i class="fa fa-fw fa-gears"></i></a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane wishlist_p active" id="orders">
					<div class="columns is-account-grid is-multiline">
						{% for orderInv in orderInvoices %}
							<div class="column is-4" onclick="location.href='{{ url_for('commerce_users.order_lines',OInvRegNo=orderInv.OInvRegNo) }}';" style="cursor:pointer;">
								<div class="flat-card order-card has-popover-top">
									<div class="order-info">
										<span><a href="{{ url_for('commerce_users.order_lines',OInvRegNo=orderInv.OInvRegNo) }}">{{_('Order')}}-{{ orderInv.OInvRegNo }}</a></span>
									</div>
									<div class="order_status" style="justify-content:end">
										<div class="order-block">
											<div class="order-icon">
												<i data-feather="info"></i>
											</div>
											<div class="status">
												<div>{{_('Status')}}</div>
												<div><span class="tag {{orderInv.StatusUI.class}}-tag">{{orderInv.InvStatus.InvStatName}}</span></div>
											</div>
										</div>
										<div class="order-block">
											<div class="order-icon">
												<i data-feather="dollar-sign"></i>
											</div>
											<div class="total">
												<div>{{_('Order Total')}}</div>
												<div class="is-price">{{ orderInv.OInvFTotal }} {{ orderInv.CurrencyCode }}</div>
											</div>
										</div>
									</div>
									<div id="46895" class="order-list-card animated preFadeInUp fadeInUp">
										<div class="progress-block">
											<progress class="progress {{orderInv.StatusUI.class}}-progress is-small has-simple-popover" value="{{orderInv.StatusUI.percentage}}" max="100" data-content="{{orderInv.StatusUI.percentage}}% Complete" data-placement="top">
												{{orderInv.StatusUI.percentage}}%
											</progress>
											<div class="chart-icon">
												<i data-feather="{{orderInv.StatusUI.icon}}"></i>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div> 
				</div>
			</div>

		</div>

	</div>
</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='commerce/main/js/app.js')}}"></script>
	<script src="{{ url_for('static', filename='commerce/main/js/nephos.js')}}"></script>
{% endblock %}