{% extends "commerce/ls/commerce/layout.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/bulma.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/core.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/bootstrap.css') }}">
	<meta name="robots" content="noindex" />
{% endblock %}

{% block content %}
<div class="container bootstrap snippet" style="margin: 2% 0;">
	<div class="row">

		<div class="col-sm-12">
			<ul class="nav nav-tabs">
				<li class="active"><a href="{{ url_for('commerce_users.profile') }}">{{_('Profile')}}</a></li>
				<li><a href="{{ url_for('commerce_users.orders') }}">{{_('Orders')}}</a></li>
				<li><a href="{{ url_for('commerce_users.wishlist') }}">{{_('Wishlist')}}</a></li>
				<li style="float: right;"><a href="{{ url_for('commerce_users.profile_edit') }}"><i class="fa fa-fw fa-gears"></i></a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane wishlist_p active" styles="display:flex;justify-content:center" id="profile">
					<div>
						<div class="text-center">
							<img loading="lazy" src="{{ avatar }}" class="avatar img-thumbnail" alt="avatar">
							<div class="username has-text-centered">
								<span>{{rpAcc.RpAccName}}</span><br>
								<small>{{_('Registered date')}}: {{rpAcc.CreatedDate.strftime('%d-%m-%Y') if rpAcc.CreatedDate else ''}}</small>
							</div>
							<div class="has-text-centered"> <a href="{{ url_for('commerce_auth.reset_request') }}" class="button">{{_('Reset password')}}</a> </div>
							<div class="col-xs-6">
								<div class="info-block">
									<span class="label-text">{{_('Username')}}</span>
									<span class="label-value">{{rpAcc.RpAccUName}}</span>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="info-block">
									<span class="label-text">{{_('Email')}}</span>
									<span class="label-value">{{rpAcc.RpAccEMail}}</span>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="info-block">
									<span class="label-text">{{_('Home phone')}}</span>
									<span class="label-value">{{rpAcc.RpAccHomePhoneNumber if rpAcc.RpAccHomePhoneNumber else ''}}</span>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="info-block">
									<span class="label-text">{{_('Address')}}</span>
									<span class="label-value">{{rpAcc.RpAccAddress if rpAcc.RpAccAddress else ''}}</span>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="info-block">
									<span class="label-text">{{_('Zip code')}}</span>
									<span class="label-value">{{rpAcc.RpAccZipCode if rpAcc.RpAccZipCode else ''}}</span>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="info-block">
									<span class="label-text">{{_('Full name')}}</span>
									<span class="label-value">{{rpAcc.RpAccName}}</span>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="info-block">
									<span class="label-text">{{_('Mobile phone')}}</span>
									<span class="label-value">{{rpAcc.RpAccMobilePhoneNumber if rpAcc.RpAccMobilePhoneNumber else ''}}</span>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="info-block">
									<span class="label-text">{{_('Work phone')}}</span>
									<span class="label-value">{{rpAcc.RpAccWorkPhoneNumber if rpAcc.RpAccWorkPhoneNumber else ''}}</span>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="info-block">
									<span class="label-text">{{_('Web address')}}</span>
									<span class="label-value">{{rpAcc.RpAccWebAddress if rpAcc.RpAccWebAddress else ''}}</span>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="info-block">
									<span class="label-text">{{_('Fax')}}</span>
									<span class="label-value">{{rpAcc.RpAccWorkFaxNumber if rpAcc.RpAccWorkFaxNumber else ''}}</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='commerce/main/js/app.js')}}"></script>
	<script src="{{ url_for('static', filename='commerce/main/js/nephos.js')}}"></script>
{% endblock %}