{% extends "commerce/ls/commerce/layout.html" %}
<!-- {% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/bulma.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/core.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/bootstrap.css') }}">
	<meta name="robots" content="noindex" />
{% endblock %} -->
{% block content %}
<div class="container bootstrap snippet" style="margin: 2% 0;">
	<div class="row">

		<div class="col-sm-12">
			<ul class="nav nav-tabs"> 
				<li class="active"><a data-toggle="tab" href="#profile">{{_('Profile')}}</a></li>
				<li><a data-toggle="tab" href="#orders">{{_('Orders')}}</a></li>
				<li><a data-toggle="tab" href="#lines">{{_('Lines')}}</a></li>
				<li><a data-toggle="tab" href="#wishlist">{{_('Wishlist')}}</a></li>
				<li style="float: right;"><a data-toggle="tab" href="#edit_profile"><i class="fa fa-fw fa-gears" style="font-size: 30px;"></i></a></li>
			</ul>

						
			<div class="tab-content">
				<div class="tab-pane wishlist_p active " styles="display:flex;justify-content:center" id="profile">

					<div>
						<div class="text-center">
							<img loading="lazy" src="{{ url_for('static', filename='commerce/ls/img/icons/no_photo.svg') }}" class="avatar img-thumbnail" alt="avatar">
							<div class="username has-text-centered">
								<span>{{rpAcc.RpAccName}}</span><br>
								<small>{{_('Registered date')}}: {{rpAcc.CreatedDate.strftime('%d-%m-%Y') if rpAcc.CreatedDate else ''}}</small>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="info-block">
							<span class="label-text">{{_('Email')}}</span>
							<span class="label-value">{{rpAcc.RpAccEMail}}</span>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="info-block">
							<span class="label-text">{{_('Home phone')}}</span>
							<span class="label-value">{{rpAcc.RpAccHomePhoneNumber if rpAcc.RpAccHomePhoneNumber else ''}}</span>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="info-block">
							<span class="label-text">{{_('Address')}}</span>
							<span class="label-value">{{rpAcc.RpAccAddress if rpAcc.RpAccAddress else ''}}</span>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="info-block">
							<span class="label-text">{{_('Zip code')}}</span>
							<span class="label-value">{{rpAcc.RpAccZipCode if rpAcc.RpAccZipCode else ''}}</span>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="info-block">
							<span class="label-text">{{_('Full name')}}</span>
							<span class="label-value">{{rpAcc.RpAccName}}</span>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="info-block">
							<span class="label-text">{{_('Mobile phone')}}</span>
							<span class="label-value">{{rpAcc.RpAccMobilePhoneNumber if rpAcc.RpAccMobilePhoneNumber else ''}}</span>
						</div>
					</div>
				</div>
					<div class="tab-pane wishlist_p" id="wishlist">
					
					<form class="woocommerce" method="post" action="#">
					<table class="shop_table cart wishlist_table">
							<tbody>
									<tr>
											<td class="product-thumbnail">
													<a href="single-product-fullwidth.html">
															<img width="90" height="90" alt="" class="wp-post-image" loading="lazy" src="{{ url_for('static', filename='commerce/ls/img/icons/no_photo.svg') }}">
													</a>
											</td>
											<td class="product-name">
													<a href="single-product-fullwidth.html">4K Action Cam with  Wi-Fi &amp; GPS</a>
											</td>
											<td class="product-price">
													<ins>
															<span class="woocommerce-Price-amount amount">
																	<span class="woocommerce-Price-currencySymbol">£</span>199.95</span>
													</ins>
													
											</td>
											<td class="product-add-to-cart">
													<a class="profile_button add_to_cart_button alt" href="cart.html"><i class="fa fa-fw fa-shopping-cart"></i></a>
											</td>
													<td class="product-remove">
														<a title="Remove this product" class="profile_button" href="#"><i class="fa fa-fw fa-trash"></i></a>
											</td>	
									</tr>
									<tr>
											<td class="product-thumbnail">
													<a href="single-product-fullwidth.html">
															<img width="90" height="90" alt="" class="wp-post-image" loading="lazy" src="{{ url_for('static', filename='commerce/ls/img/icons/no_photo.svg') }}">
													</a>
											</td>
											<td class="product-name">
													<a href="single-product-fullwidth.html">55EG9600 - 55-Inch 2160p Smart Curved Ultra HD 3D</a>
											</td>
											<td class="product-price">
													<ins>
															<span class="woocommerce-Price-amount amount">
																	<span class="woocommerce-Price-currencySymbol">£</span>199.95</span>
													</ins>
													
											</td>
											<td class="product-add-to-cart">
													<a class="profile_button add_to_cart_button alt" href="cart.html"><i class="fa fa-fw fa-shopping-cart"></i></a>
											</td>
													<td class="product-remove">
														<a title="Remove this product" class="profile_button" href="#"><i class="fa fa-fw fa-trash"></i></a>
											</td>	
									</tr>
									<tr>
											<td class="product-thumbnail">
													<a href="single-product-fullwidth.html">
															<img width="90" height="90" alt="" class="wp-post-image" loading="lazy" src="{{ url_for('static', filename='commerce/ls/img/icons/no_photo.svg') }}">
													</a>
											</td>
											<td class="product-name">
													<a href="single-product-fullwidth.html">360° Viewing Immersive VR Headset</a>
											</td>
											<td class="product-price">
													<ins>
															<span class="woocommerce-Price-amount amount">
																	<span class="woocommerce-Price-currencySymbol">£</span>199.95</span>
													</ins>
													
											</td>
											<td class="product-add-to-cart">
													<a class="profile_button add_to_cart_button alt" href="cart.html"><i class="fa fa-fw fa-shopping-cart"></i></a>
											</td>
													<td class="product-remove">
														<a title="Remove this product" class="profile_button" href="#"><i class="fa fa-fw fa-trash"></i></a>
											</td>	
									</tr>
							</tbody>
					</table>
					<!-- .wishlist_table -->
			</form>
					
					</div><!--/tab-pane-->
					<div class="tab-pane wishlist_p" id="orders">
						
						<div class="columns is-account-grid is-multiline">
							<div class="column is-6">
									<div class="flat-card order-card has-popover-top">
											<div class="order-info">
												<span><a href="order_lines.html">ORDER-38246</a></span>
											</div>
											<div class="order_status" style="justify-content:end">
												<div class="order-block">
														<div class="order-icon">
																<i data-feather="info"></i>
														</div>
														<div class="status">
																<div>Status</div>
																<div><span class="tag primary-tag">Shipping</span></div>
														</div>
												</div>
												<div class="order-block">
													<div class="order-icon">
															<i data-feather="dollar-sign"></i>
													</div>
													<div class="total">
															<div>Order total</div>
															<div class="is-price">219,22</div>
													</div>
												</div>
											</div>
											<div id="46895" class="order-list-card animated preFadeInUp fadeInUp">
												<div class="progress-block">
														<progress class="progress primary-progress is-small has-simple-popover" value="66" max="100" data-content="66% Complete" data-placement="top">66%</progress>
															<div class="chart-icon">
																	<i data-feather="package"></i>
															</div>
												</div>
											</div>
									</div>
							</div>
							<div class="column is-6">
									<div class="flat-card order-card has-popover-top">
											<div class="order-info">
												<span><a href="order_lines.html">ORDER-38246</a></span>
											</div>
											<div class="order_status" style="justify-content:end">
												<div class="order-block">
														<div class="order-icon">
																<i data-feather="info"></i>
														</div>
														<div class="status">
																<div>Status</div>
																<div><span class="tag success-tag">Preparing</span></div>
														</div>
												</div>
												<div class="order-block">
													<div class="order-icon">
															<i data-feather="dollar-sign"></i>
													</div>
													<div class="total">
															<div>Order total</div>
															<div class="is-price">219,22</div>
													</div>
												</div>
											</div>
											<div id="46895" class="order-list-card animated preFadeInUp fadeInUp">
												<div class="progress-block">
														<progress class="progress success-progress is-small has-simple-popover" value="66" max="100" data-content="66% Complete" data-placement="top">66%</progress>
															<div class="chart-icon">
																	<i data-feather="package"></i>
															</div>
												</div>
											</div>
									</div>
							</div>
							<div class="column is-6">
									<div class="flat-card order-card has-popover-top">
											<div class="order-info">
												<span><a href="order_lines.html">ORDER-38246</a></span>
											</div>
											<div class="order_status" style="justify-content:end">
												<div class="order-block">
														<div class="order-icon">
																<i data-feather="info"></i>
														</div>
														<div class="status">
																<div>Status</div>
																<div><span class="tag warning-tag">Pending</span></div>
														</div>
												</div>
												<div class="order-block">
													<div class="order-icon">
															<i data-feather="dollar-sign"></i>
													</div>
													<div class="total">
															<div>Order total</div>
															<div class="is-price">219,22</div>
													</div>
												</div>
											</div>
											<div id="46895" class="order-list-card animated preFadeInUp fadeInUp">
												<div class="progress-block">
														<progress class="progress warning-progress is-small has-simple-popover" value="66" max="100" data-content="66% Complete" data-placement="top">66%</progress>
															<div class="chart-icon">
																	<i data-feather="package"></i>
															</div>
												</div>
											</div>
									</div>
							</div>
							<div class="column is-6">
									<div class="flat-card order-card has-popover-top">
											<div class="order-info">
													<span><a href="order_lines.html">ORDER-38246</a></span>
											</div>
											<div class="order_status" style="justify-content:end">
												<div class="order-block">
														<div class="order-icon">
																<i data-feather="info"></i>
														</div>
														<div class="status">
																<div>Status</div>
																<div><span class="tag danger-tag">Has issue</span></div>
														</div>
												</div>
												<div class="order-block">
													<div class="order-icon">
															<i data-feather="dollar-sign"></i>
													</div>
													<div class="total">
															<div>Order total</div>
															<div class="is-price">219,22</div>
													</div>
												</div>
											</div>
											<div id="46895" class="order-list-card animated preFadeInUp fadeInUp">
												<div class="progress-block">
														<progress class="progress danger-progress is-small has-simple-popover" value="66" max="100" data-content="66% Complete" data-placement="top">66%</progress>
															<div class="chart-icon">
																	<i data-feather="package"></i>
															</div>
												</div>
											</div>
									</div>
							</div>
							<div class="column is-6">
									<div class="flat-card order-card has-popover-top">
											<div class="order-info">
													<span><a href="order_lines.html">ORDER-38246</a></span>
											</div>
											<div class="order_status" style="justify-content:end">
												<div class="order-block">
														<div class="order-icon">
																<i data-feather="info"></i>
														</div>
														<div class="status">
																<div>Status</div>
																<div><span class="tag primary-tag">Complete</span></div>
														</div>
												</div>
												<div class="order-block">
													<div class="order-icon">
															<i data-feather="dollar-sign"></i>
													</div>
													<div class="total">
															<div>Order total</div>
															<div class="is-price">219,22</div>
													</div>
												</div>
											</div>
											<div id="46895" class="order-list-card animated preFadeInUp fadeInUp">
												<div class="progress-block">
														<progress class="progress primary-progress is-small has-simple-popover" value="66" max="100" data-content="66% Complete" data-placement="top">66%</progress>
															<div class="chart-icon">
																	<i data-feather="package"></i>
															</div>
												</div>
											</div>
									</div>
							</div>
							<div class="column is-6">
									<div class="flat-card order-card has-popover-top">
											<div class="order-info">
													<span><a href="order_lines.html">ORDER-46878</a></span>
											</div>
											<div class="order_status" style="justify-content:end">
												<div class="order-block">
														<div class="order-icon">
																<i data-feather="info"></i>
														</div>
														<div class="status">
																<div>Status</div>
																<div><span class="tag success-tag">Preparing</span></div>
														</div>
												</div>
												<div class="order-block">
													<div class="order-icon">
															<i data-feather="dollar-sign"></i>
													</div>
													<div class="total">
															<div>Order total</div>
															<div class="is-price">219,22</div>
													</div>
												</div>
											</div>
											<div id="46895" class="order-list-card animated preFadeInUp fadeInUp">
												<div class="progress-block">
														<progress class="progress success-progress is-small has-simple-popover" value="66" max="100" data-content="66% Complete" data-placement="top">66%</progress>
															<div class="chart-icon">
																	<i data-feather="package"></i>
															</div>
												</div>
											</div>
									</div>
							</div>
						</div> 
						
					</div>
					<div class="tab-pane wishlist_p" id="lines">
						<div class="columns is-account-grid is-multiline">
							<!-- Order card -->
							<div class="column is-12">
        
								<!-- Order 46895 panel -->
								<div id="46895" class="flat-card is-auto order-list-card animated preFadeInUp fadeInUp">
									<div class="progress-block">
										<!-- Title -->
										<h3>ORDER 46895</h3>
										<!-- Progress bar -->
										<progress class="progress primary-progress is-small has-simple-popover" value="66" max="100" data-content="66% Complete" data-placement="top" style="margin: 0; max-width: 142px;">66%</progress>
									</div>
										<!-- Orders team member -->
										<div class="order-block">
												<img src="{{ url_for('static', filename='commerce/ls/img/icons/no_photo.svg') }}" alt="">
												<div class="handled-by">
														<div>Handled by</div>
														<div>Janet Smith</div>
												</div>
										</div>
										<div class="order_status">	
											<!-- Order status -->
											<div class="order-block">
													<div class="order-icon">
															<i data-feather="info"></i>
													</div>
													<div class="status">
															<div>Status</div>
															<div><span class="tag primary-tag">Shipping</span></div>
													</div>
											</div>
											<!-- Order date -->
											<div class="order-block">
													<div class="order-icon">
															<i data-feather="clock"></i>
													</div>
													<div class="date">
															<div>Date</div>
															<div class="is-date">mar 23 2018</div>
													</div>
											</div>
											<!-- Order total -->
											<div class="order-block">
													<div class="order-icon">
															<i data-feather="dollar-sign"></i>
													</div>
													<div class="total">
															<div>Order total</div>
															<div class="is-price">683,99 <span class="tag success-tag">Paid</span></div>
													</div>
											</div>
										</div>
											<!-- Order details -->
										<div class="table-block">
												<table>
														<thead>
																<tr>
																		<th scope="col">Product</th>
																		<th scope="col">SKU</th>
																		<th scope="col">Quantity</th>
																		<th scope="col">Total</th>
																</tr>
														</thead>
														<tbody>
																<tr>
																		<td data-label="Product">Shipping A1</td>
																		<td data-label="SKU">-</td>
																		<td data-label="Quantity">1</td>
																		<td data-label="Total">$39,00</td>
																</tr>
																<tr>
																		<td data-label="Product">Conqueror</td>
																		<td data-label="SKU">587</td>
																		<td data-label="Quantity">1</td>
																		<td data-label="Total">$295,00</td>
																</tr>
																<tr>
																		<td data-label="Product">Gentleman</td>
																		<td data-label="SKU">029</td>
																		<td data-label="Quantity">1</td>
																		<td data-label="Total">$349,99</td>
																</tr>
														</tbody>
												</table>
										</div>
								</div>
								<!-- /Order 38246 -->
						</div>
						</div>
					</div>
					<div class="tab-pane wishlist_p" id="edit_profile">
							
						<form class="form" action="##" method="post" id="registrationForm">
							<div class="form-group">			
								<div class="col-xs-6">
									<label for="first_name"><h4>First name</h4></label>
									<input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
								</div>
							</div>
							<div class="form-group">			
								<div class="col-xs-6">
									<label for="last_name"><h4>Last name</h4></label>
									<input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
								</div>
							</div>

							<div class="form-group">			
								<div class="col-xs-6">
									<label for="phone"><h4>Phone</h4></label>
									<input type="text" class="form-control" name="phone" id="phone" placeholder="enter phone" title="enter your phone number if any.">
								</div>
							</div>

							<div class="form-group">
								<div class="col-xs-6">
									<label for="mobile"><h4>Mobile</h4></label>
									<input type="text" class="form-control" name="mobile" id="mobile" placeholder="enter mobile number" title="enter your mobile number if any.">
								</div>
							</div>
							<div class="form-group">			
								<div class="col-xs-6">
									<label for="email"><h4>Email</h4></label>
									<input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
								</div>
							</div>
							<div class="form-group">			
								<div class="col-xs-6">
									<label for="email"><h4>Location</h4></label>
									<input type="email" class="form-control" id="location" placeholder="somewhere" title="enter a location">
								</div>
							</div>
							<div class="form-group">			
								<div class="col-xs-6">
									<label for="password"><h4>Password</h4></label>
									<input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
								</div>
							</div>
							<div class="form-group">			
								<div class="col-xs-6">
									<label for="password2"><h4>Verify</h4></label>
									<input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-12" style="display: flex;margin: 15px 0;">
									<button class="btn_save" type="submit"> Save</button>
									<button class="btn_reset" type="reset"> Reset</button>
								</div>
							</div>
						</form>
							
					
				</div><!--/tab-pane-->
			</div><!--/tab-pane-->
		</div><!--/tab-content-->
	</div><!--/col-9-->
</div><!--/row-->

{% endblock %}
{% block scripts %}
	<script src="{{ url_for('static', filename='commerce/main/js/app.js')}}"></script>
	<script src="{{ url_for('static', filename='commerce/main/js/nephos.js')}}"></script>
{% endblock %}