{% extends "commerce/ls/commerce/layout.html" %}

{% block styles %}
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/bulma.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/core.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='commerce/ls/css/bootstrap.css') }}">
	<meta name="robots" content="noindex" />
{% endblock %}

{% block content %}
<div class="container bootstrap snippet" style="margin: 2% 0;">
	<div class="row">

		<div class="col-sm-12">
			<ul class="nav nav-tabs"> 
				<li><a href="{{ url_for('commerce_users.profile') }}">{{_('Profile')}}</a></li>
				<li><a href="{{ url_for('commerce_users.orders') }}">{{_('Orders')}}</a></li>
				<li class="active"><a href="{{ url_for('commerce_users.wishlist') }}">{{_('Wishlist')}}</a></li>
				<li style="float: right;"><a href="{{ url_for('commerce_users.profile_edit') }}"><i class="fa fa-fw fa-gears"></i></a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane wishlist_p active" id="wishlist">
					<table class="shop_table cart wishlist_table">
						<tbody>
							{% for resource in data %}
								<tr>
									<td class="product-thumbnail">
										<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">
											<img width="90" height="90" class="wp-post-image" loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/bee/images/no_photo.svg') }}" 
											alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
										</a>
									</td>
									<td class="product-name">
										<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">
											{{ resource.ResName if resource.ResName else '' }}
											<p>{{_('Category')}}: {{ resource.ResCatName if resource.ResCatName else '' }}</p>
											<p>{{_('Barcode')}}: {{ resource.BarcodeVal if resource.BarcodeVal else '' }}</p>
										</a>
									</td>
									<td class="product-price">
										<ins>
											<span class="woocommerce-Price-amount amount priceValue" ownerId="{{resource.ResId}}" value="{{resource.ResPriceValue}}">
												{{ resource.ResPriceValue if resource.ResPriceValue else '' }} {{ resource.CurrencyCode }}
											</span>
										</ins>
									</td>
 
									<td class="product-add-to-cart">

										<div class="action"> 
											<!-- Dropdown button -->
											<a style="padding: 0 10px;" class="addToCart" ownerId="{{resource.ResId}}">
												<i class="feather-icons" data-feather="shopping-cart" ></i>
											</a>
											<!-- Dropdown item -->
											<a class=" removeFromWishlist" ownerId="{{resource.ResId}}">
												<i class="feather-icons" data-feather="x"></i>
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>					
				</div>
			</div>

		</div>

	</div>
</div>
{% endblock %}

{% block scripts %}
	<script src="{{ url_for('static', filename='commerce/main/js/app.js')}}"></script>
	<script src="{{ url_for('static', filename='commerce/main/js/nephos.js')}}"></script>
{% endblock %}