{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}

<!-- Login Section Start -->
<div class="login-section section mt-90 mb-90">
	<div class="container">
		<div class="row">

			<!-- Login -->
			<div class="col-md-6 col-12 d-flex">
				<div class="ee-login">

					<h3>{{_('Login')}}</h3>
					<p>{{_('Welcome')}}</p>

					<!-- Login Form -->
					<form action="#" method="post">
						{{ form.csrf_token() }}
						<div class="row">
							<div class="col-12 mb-30">
								{{ form.email(class="input", placeholder=_('Email address')) }}
							</div>
							<div class="col-12 mb-20">
								{{ form.password(class="input", placeholder=_('Password')) }}
								<span>
									<i class="fa fa-eye" id="eye" onclick="toggle()">
									</i>
								</span> 
							</div>
							<div class="col-12"><input type="submit"></div>
						</div>
					</form>
					<h4>{{_('Don’t have account?')}} <a href="{{ url_for('commerce_auth.register') }}">{{_('Register')}}</a></h4>
				</div>
			</div>

			<div class="col-md-1 col-12 d-flex">
				<div class="login-reg-vertical-boder"></div>
			</div>

		</div>
	</div>
</div><!-- Login Section End -->

{% endblock %}