{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}

<!-- Login Section Start -->

<div class="login-section section mt-90 mb-90">
	<div class="container">
		<div class="row">

			<!-- Login -->
			<div class="col-md-12 col-12 d-flex" style="justify-content: center;">
				<div class="ee-login">

					<h3>{{_('Login')}}</h3>
					<p>{{_('Welcome')}}</p>

					<!-- Login Form -->
					<form action="#" method="post">
						{{ form.csrf_token() }}
						<div class="row" >
							<div class="col-12 mb-30">
								{{ form.email(class="input", placeholder=_('Email address')) }}
							</div>
							<div class="col-12 mb-20">
								{{ form.password(class="input", placeholder=_('Password')) }}
								<span>
									<i class="fa fa-eye" id="eye" onclick="toggle()">
									</i>
								</span> 
							</div>
							<div class="col-6"><input type="submit"></div>
						</div>
						<h4>{{_('Don’t have account?')}} <a href="{{ url_for('commerce_auth.register') }}">{{_('Register')}}</a></h4>
						<h4>{{_('Forgot your password?')}} <a href="{{ url_for('commerce_auth.reset_request') }}">{{_('Reset password')}}</a></h4>
					</form>
				</div>
			</div>


		</div>
	</div>
</div><!-- Login Section End -->

{% endblock %}