{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}

<!-- Register Section Start -->
<div class="register-section section mt-90 mb-90">
	<div class="container">
		<div class="row">

			<!-- Register -->
			<div class="col-md-6 col-12 d-flex">
				<div class="ee-register">

					<h3>{{_('Register')}}</h3>

					<!-- Register Form -->
					<form action="#" method="post">
						{{ form.csrf_token() }}
						<div class="row">
							<div class="col-12 mb-30">
								{{ form.username(placeholder=_('Username')) }}
							</div>
							<div class="col-12 mb-30">
								{{ form.email(placeholder=_('E-mail')) }}
							</div>
							<div class="col-12">
								<input type="submit" value="register">
							</div>
						</div>
					</form>

				</div>
			</div>

			<div class="col-md-1 col-12 d-flex">
				<div class="login-reg-vertical-boder"></div>
			</div>

		</div>
	</div>
</div><!-- Register Section End -->

{% endblock %}