{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}

<!-- Register Section Start -->
<div class="register-section section mt-90 mb-90">
	<div class="container">
		<div class="row">

			<!-- Register -->
			<div class="col-md-6 col-12 d-flex">
				<div class="ee-register">

					<h3>{{_('Register')}}</h3>
					<p>{{_('Please, proceed the registration')}}</p>
					<!-- Register Form -->
					<form action="#" method="post">
						{{ form.csrf_token() }}
						<div class="row">
							<div class="col-12 mb-30">
								{{ form.full_name(placeholder=_('Full name')) }}
							</div>
							<div class="col-12 mb-30">
								{{ form.phone_number(placeholder=_('Phone number')) }}
							</div>
							<div class="col-12 mb-30">
								{{ form.password(placeholder=_('Password')) }}
							</div>

							<div class="col-12 mb-30">
								{{ form.confirm_password(placeholder=_('Confirm password') )}}
							</div>
							<div class="col-12">
								<input type="submit" value="register">
							</div>
						</div>
					</form>
							
									<label for="fid-name">{{_('Phone number')}}:<span class="requite">*</span></label>
									{{ form.phone_number(class="txt-input", placeholder=_('Phone number')) }}
								{% endif %}
							</p>
							

				</div>
			</div>

			<div class="col-md-1 col-12 d-flex">

				<div class="login-reg-vertical-boder"></div>

			</div>

		</div>
	</div>
</div><!-- Register Section End -->

{% endblock %}