{% extends "commerce/bee/commerce/layout.html" %}

{% block styles %}
<style>
	.btn {
		width: 250px;
		background-color: #f5d730;
		border: none;
		outline: none;
		height: 49px;
		border-radius: 49px;
		color: #000;
		text-transform: uppercase;
		font-weight: 600;
		margin: 10px 0;
		cursor: pointer;
		transition: 0.5s;
	}

	.btn:hover {
		background-color: #2b2b2b;
	}
</style>
{% endblock %}

{% block content %}

<div class="register-section section mt-90 mb-90">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-12 d-flex" style="justify-content: center;">
				<div class="ee-register">
					<h3>{{_('Register')}}</h3>
					<p>{{_('Please, proceed the registration')}}</p>
					<form action="#" method="post">
						{{ form.csrf_token() }}
						<div class="row">
							<div class="col-12 mb-30">
								<div class="input-field">
									<i class="fa fa-user"></i>
									{{ form.full_name(placeholder=_('Full name')) }}
								</div>
								<div class="input-field">
									<i class="fa fa-phone"></i>
									{{ form.phone_number(placeholder=_('Phone number')) }}
								</div>
								<div class="input-field">
									<i class="fa fa-lock"></i>
									{{ form.password(placeholder=_('Password')) }}
									<span>
										<i class="fa fa-eye" id="eye" onclick="toggle()"></i>
									</span>
								</div>
								<div class="input-field">
									<i class="fa fa-lock"></i>
									{{ form.confirm_password(placeholder=_('Confirm password')) }}
								</div>
								{% if form.confirm_password.errors %}
									<div class="col-12 mb-30">
										{% for error in form.confirm_password.errors %}
										   <span style="color: red">{{ error }}</span>
										{% endfor %}
									</div>
								{% endif %}						
								<input type="submit" value="{{_('Register')}}" class="btn solid" />
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}