{% extends "commerce/bee/commerce/layout.html" %}


{% block head %}
<meta property="og:description" content="Register on online commerce {{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta property="og:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/bee/images/favicon.svg') }}" />
<meta name="twitter:description" content="Register on online commerce {{ company.CName }} {{ company.CDesc if company.CDesc}}" />
<meta name="twitter:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/bee/images/favicon.svg') }}" />
{% endblock %}

{% block styles %}
<style>
	.btn {
		width: 250px;
		background-color: #5995fd;
		border: none;
		outline: none;
		height: 49px;
		border-radius: 49px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 600;
		margin: 10px 0;
		cursor: pointer;
		transition: 0.5s;
	}

	.btn:hover {
		background-color: #2b2b2b;
	}
</style>
{% endblock %}

{% block content %}

<div class="register-section section mt-30 mb-90">
	<div class="container">
		<div class="row">

			<div class="col-md-12 col-12 d-flex" style="justify-content: center;">
				<div class="ee-register">
					<h3>{{_('Register')}}</h3>
					<form action="" method="post">
						{{ form.csrf_token() }}
						<div class="row">
							<div class="col-12 mb-30">
								<div class="input-field">
									<i class="fa fa-user"></i>
									{{ form.username(placeholder=_('Username')) }}
								</div>
								<div class="input-field">
									<i class="fa fa-envelope"></i>
									{{ form.email(placeholder=_('E-mail'), type="email") }}
									{% if form.email.errors %}
										<div class="col-12 mb-30">
											{% for error in form.email.errors %}
												<span style="color: red">{{ error }}</span>
											{% endfor %}
										</div>
									{% endif %}
								</div>
								<input type="submit" value="{{_('Register')}}" class="btn solid" />
							</div>
						</div>
					</form>
				</div>
			</div>

		</div>
	</div>
</div>

{% endblock %}