{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}
<div class="register-section section mt-90 mb-90">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-12 d-flex">
				<div class="ee-register">
					<h3>{{_('Reset password')}}</h3>
					<form action="#" method="post">
						{{ form.csrf_token() }}
						<div class="row">
							<div class="col-12 mb-30">
								{{ form.email(placeholder=_('E-mail')) }}
							</div>
							<div class="col-12">
								<input type="submit">
							</div>
						</div>
					</form>
				</div>
			</div>

			<div class="col-md-1 col-12 d-flex">
				<div class="login-reg-vertical-boder"></div>
			</div>

		</div>
	</div>
</div>
{% endblock %}