{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}
<!-- About Section Start -->
<div class="about-section section mt-90 mb-30">
	<div class="container">

		<div class="row row-30 mb-40">

			<!-- About Image -->
			<div class="about-image col-lg-6 mb-50">
				<img loading="lazy" src="{{ url_for('static', filename='commerce/bee/images/no_photo.svg') }}">
			</div>

			<!-- About Content -->
			<div class="about-content col-lg-6">
				<div class="row">
					<div class="col-12 mb-50">
						<h1>Welcome to <span>Hilli.</span></h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatibus iste adipisci dolor quasi corporis maxime explicabo deleniti molestias assumenda nulla labore ut ipsum, cumque fugit. Voluptas quos dignissimos nulla?</p>
					</div>

					<div class="col-12 mb-50">
						<h4>WE START AT 2020</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatibus iste adipisci dolor quasi corporis maxime explicabo deleniti molestias assumenda nulla labore ut ipsum, cumque fugit. Voluptas quos dignissimos nulla?</p>
					</div>

					<div class="col-12 mb-50">
						<h4>WIN BEST ONLINE SHOP AT 2021</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatibus iste adipisci dolor quasi corporis maxime explicabo deleniti molestias assumenda nulla labore ut ipsum, cumque fugit. Voluptas quos dignissimos nulla?</p>
					</div>

				</div>
			</div>

		</div>

	</div>
</div><!-- About Section End -->


{% endblock %}