{% extends "commerce/bee/commerce/layout.html" %}

{% block breadcrumbs %}
<nav class="woocommerce-breadcrumb">
	<a href="{{ url_for('commerce.commerce') }}">{{_('Main')}}</a>
	<span class="delimiter">
		<i class="fa fa-angle-right"></i>
	</span>
	{{_('About us')}}
</nav>
{% endblock %}

{% block content %}
<div class="about-section section mt-90 mb-30">
	<div class="container">

		<div class="row row-30 mb-40">

			<div class="about-image col-lg-6 mb-50">
				<img loading="lazy" src="{{ url_for('static', filename='commerce/bee/images/about-1.png') }}">
			</div>

			<!-- About Content -->
			<div class="about-content col-lg-6">
				<div class="row">
					<div class="col-12 mb-50">
						<h1 style="animation: pulse 20s infinite;">Welcome to <span>Hilli.</span></h1>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatibus iste adipisci dolor quasi corporis maxime explicabo deleniti molestias assumenda nulla labore ut ipsum, cumque fugit. Voluptas quos dignissimos nulla?</p>
					</div>

					<div class="col-12 mb-50">
						<h4 style="animation: pulse 20s infinite;">WE START AT 2020</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatibus iste adipisci dolor quasi corporis maxime explicabo deleniti molestias assumenda nulla labore ut ipsum, cumque fugit. Voluptas quos dignissimos nulla?</p>
					</div>

					<div class="col-12 mb-50">
						<h4 style="animation: pulse 20s infinite">WIN BEST ONLINE SHOP AT 2021</h4>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente voluptatibus iste adipisci dolor quasi corporis maxime explicabo deleniti molestias assumenda nulla labore ut ipsum, cumque fugit. Voluptas quos dignissimos nulla?</p>
					</div>

				</div>
			</div>

		</div>

	</div>
</div>


{% endblock %}