{% extends "commerce/bee/commerce/layout.html" %}

{% block breadcrumbs %}
<nav class="woocommerce-breadcrumb">
	<a href="{{ url_for('commerce.commerce') }}">{{_('Main')}}</a>
	<span class="delimiter">
		<i class="fa fa-angle-right"></i>
	</span>
	{{_('Brands')}}
</nav>
{% endblock %}

{% block content %}
<div class="product-section section mt-30 mb-90">
	<div class="container">
		<div class="row"> 
			<div class="col-12">
				<div class="row mb-50">
					<div class="col">						
						<ul class="logogrid">
							{% for brand in brands %}
								{% if brand.FilePath %}
								<li class="logogrid__item">
									<a href="{{url_for('commerce.v_grid',brand = brand.BrandId)}}" class="cat-block">
										<img  loading="lazy" src="{{brand.FilePath if brand.FilePath}}" alt="Brand {{brand.BrandName}}" class="logogrid__img">
										{{brand.BrandName}}
									</a>
								</li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
