{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}
<div class="product-section section mt-30 mb-90">
	<div class="container">
		<div class="row">
 
			<div class="col-12">

				<div class="row mb-50">
					<div class="col">
						
						<ul class="logogrid">
							<li class="logogrid__item">
								<a href="#">
									<img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/no_photo.png') }}" alt="Brand" class="logogrid__img">
								</a>
							</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}