{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}
<!-- Cart Page Start -->
<div class="page-section section pt-90 pb-50">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form action="#">
					<!-- Cart Table -->
					<div class="cart-table table-responsive mb-40">
						<table class="table">
							<thead>
								<tr>
									<th class="pro-thumbnail">{{_('Image')}}</th>
									<th class="pro-title">{{_('Product')}}</th>
									<th class="pro-price">{{_('Price')}}</th>
									<th class="pro-quantity">{{_('Quantity')}}</th>
									<th class="pro-subtotal">{{_('Total')}}</th>
									<th class="pro-remove">{{_('Remove')}}</th>
								</tr>
							</thead>
							<tbody class="cartItemsTable">
								
								<tr>
									<td class="pro-thumbnail"><a href="#"><img loading="lazy" src="{{ url_for('static', filename='commerce/bee/images/product/product-4.png') }}"></a></td>
									<td class="pro-title"><a href="#">Roxxe Headphone Z 75 </a></td>
									<td class="pro-price"><span>$110.00</span></td>
									<td class="pro-quantity"><div class="pro-qty"><input type="text" value="1"></div></td>
									<td class="pro-subtotal"><span>$110.00</span></td>
									<td class="pro-remove"><a href="#"><i class="fa fa-trash-o"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>

				</form>

				<div class="row">
					{% if current_user.is_authenticated %}
						<div class="col-lg-6 col-12 mb-15">
							<!-- Discount Coupon -->
							<div class="discount-coupon">
								<h4>{{_('Note')}}</h4>
								<div class="row">
									<div class="col-md-6 col-12 mb-15">
										<textarea type="text" class="orderDesc" placeholder="{{_('Description')}} ({{_('City')}}, {{_('Av.')}}, {{_('Street')}}, {{_('House')}}, {{_('Flat')}})"></textarea>
									</div>
								</div>
							</div>
						</div>
						<!-- Cart Summary -->
						<div class="col-lg-6 col-12 mb-40 d-flex">
							<div class="cart-summary">
								<div class="cart-summary-wrap">
									<h4>{{_('Summary')}}</h4>
									<p>
										{{_('Total price')}}
										<span class="currencySymbol">TMT</span>
										<span class="cartTotalPrice">0.00</span>
									</p>
								</div>
								<div class="cart-summary-button">
									<button class="checkout-btn checkoutCartBtn">{{_('Checkout')}}</button>
								</div>
							</div>
						</div>
					{% else %}
						<div class="col-lg-6 col-12 mb-40 d-flex">
							<div class="cart-summary">
								<div class="cart-summary-wrap">
			            <h4>{{_('You should login if you want to checkout an order')}}!</h4>
								</div>
		            <div class="cart-summary-button">
		              <a href="{{ url_for('commerce_auth.login') }}" class="checkout-btn">{{_('Login')}}</a>
		            </div>
							</div>
						</div>
          {% endif %}

				</div>

			</div>
		</div>
	</div>
</div>
<!-- Cart Page End -->

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='commerce/bee/js/cart.js') }}"></script>
{% endblock %}
