{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}
<div class="page-section section pt-90 pb-50">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<form action="#">
					<div class="cart-table table-responsive mb-40">
						<table class="table">
							<thead>
								<tr>
									<th class="pro-thumbnail">{{_('Image')}}</th>
									<th class="pro-title">{{_('Product')}}</th>
									<th class="pro-price">{{_('Price')}}</th>
									<th class="pro-quantity">{{_('Quantity')}}</th>
									<th class="pro-subtotal">{{_('Total')}}</th>
									<th class="pro-remove">{{_('Remove')}}</th>
								</tr>
							</thead>
							<tbody class="cartItemsTable"></tbody>
						</table>
					</div>
				</form>

				<div class="row">
					{% if current_user.is_authenticated %}
						<div class="col-lg-6 col-12 mb-15 mt-10">
							<div class="discount-coupon">
								<div class="contact-form mb-50">
									<div class="row">
										<div class="col-12 mb-25">
											<label for="message">{{_('Note')}}</label>
											<textarea id="message" type="text" placeholder="{{_('Description')}} ({{_('City')}}, {{_('Av.')}}, {{_('Street')}}, {{_('House')}}, {{_('Flat')}})"></textarea>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Cart Summary -->
						<div class="col-lg-6 col-12 mb-40 d-flex">
							<div class="cart-summary">
								<div class="cart-summary-wrap">
									<h4>{{_('Summary')}}</h4>
									<p>
										{{_('Total price')}}
										<span class="currencySymbol">TMT</span>
										<span class="cartTotalPrice">0.00</span>
									</p>
								</div>
								<div class="cart-summary-button">
									<button class="checkout-btn checkoutCartBtn">{{_('Checkout')}}</button>
								</div>
							</div>
						</div>
					{% else %}
						<div class="col-lg-12 col-12 mb-40 d-flex">
							<div class="y_login">
								<h2>{{_('You should login if you want to checkout an order')}}!</h2>
								<div class="cart-summary-button">
									<a href="{{ url_for('commerce_auth.login') }}" class="checkout-btn checkoutCartBtn" style="width: auto;float: none;font-weight: 700;text-transform: uppercase;color: #202020;
									border-radius: 50px;background-color: #f5d730;border-color: #f5d730;padding: 5px 20px;">{{_('Login')}}</a>
								</div>
							</div>
						</div>
          {% endif %}

				</div>

			</div>
		</div>
	</div>
</div>
<!-- Cart Page End -->

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='commerce/admin/bundles/sweetalert/sweetalert.min.js') }}"></script>
<script src="{{ url_for('static', filename='commerce/bee/js/cart.js') }}"></script>
{% endblock %}
