{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}

<!-- Contact Section Start -->
<div class="contact-section section mb-40">
	<div class="container">
		<div class="row">
			<!-- Contact Page Title -->
			<div class="contact-page-title col mb-40" style="height: auto;">
				<h1>{{_('Contact')}}</h1>
			</div>
		</div>
		<div class="row">

			<!-- Contact Tab List -->
			<div class="col-lg-4 col-12 mb-50">
				<ul class="contact-tab-list nav">
					<li><a class="active" data-toggle="tab" href="#contact-address">{{_('Contact us')}}</a></li>
					<li><a data-toggle="tab" href="#contact-form-tab">{{_('Leave us a message')}}</a></li>
				</ul>
			</div>

			<!-- Contact Tab Content -->
			<div class="col-lg-8 col-12">
				<div class="tab-content">

					<!-- Contact Address Tab -->
					<div class="tab-pane fade show active row d-flex" id="contact-address">

						<div class="col-lg-4 col-md-6 col-12 mb-50">
							<div class="contact-information">
								<h4>{{company.CName}}</h4>
								<p>{{company.CFullName if company.CFullName else ''}}</p>
								<p>{{company.CDesc if company.CDesc else ''}}</p>
							</div>
						</div>

						{% if company.CAddress %}
							<div class="col-lg-4 col-md-6 col-12 mb-50">
								<div class="contact-information">
									<h4>{{_('Address')}}</h4>
									<p>{{company.CAddress}}</p>
								</div>
							</div>
						{% endif %}

						{% if company.Phone1 or company.Phone2 or company.Phone3 or company.Phone4 %}
							<div class="col-lg-4 col-md-6 col-12 mb-50">
								<div class="contact-information">
									<h4>{{_('Phone')}}</h4>
									{% if company.Phone1 %}<p>{{company.Phone1}}</p>{% endif %}
									{% if company.Phone2 %}<p>{{company.Phone2}}</p>{% endif %}
									{% if company.Phone3 %}<p>{{company.Phone3}}</p>{% endif %}
									{% if company.Phone4 %}<p>{{company.Phone4}}</p>{% endif %}
								</div>
							</div>
						{% endif %}

						{% if company.CEmail %}
							<div class="col-lg-4 col-md-6 col-12 mb-50">
								<div class="contact-information">
									<h4>{{_('Email')}}</h4>
									<p>{{company.CEmail}}</p>
								</div>
							</div>
						{% endif %}

						{% if company.WebAddress %}
							<div class="col-lg-4 col-md-6 col-12 mb-50">
								<div class="contact-information">
									<h4>{{_('Web address')}}</h4>
									<p>{{company.WebAddress}}</p>
								</div>
							</div>
						{% endif %}

						{% if company.CPostalCode %}
							<div class="col-lg-4 col-md-6 col-12 mb-50">
								<div class="contact-information">
									<h4>{{_('Postal code')}}</h4>
									<p>{{company.CPostalCode}}</p>
								</div>
							</div>
						{% endif %}

						{% if company.AddInf1 %}
							<div class="col-lg-4 col-md-6 col-12 mb-50">
								<div class="contact-information">
									<h4>{{_('Working time')}}</h4>
									<p>{{company.AddInf1}}</p>
								</div>
							</div>
						{% endif %}
					</div>

					<!-- Contact Form Tab -->
					<div class="tab-pane fade row d-flex" id="contact-form-tab">
						<div class="col">

							<form id="contact-form" action="" method="POST" class="contact-form mb-50">
								{{form.hidden_tag()}}
								<div class="row">
									<div class="col-md-6 col-12 mb-25">
										<label for="first_name">{{_('First name')}}*</label>
										{{form.FirstName}}
									</div>
									<div class="col-md-6 col-12 mb-25">
										<label for="last_name">{{_('Last name')}}*</label>
										{{form.LastName}}
									</div>
									<div class="col-md-6 col-12 mb-25">
										<label for="email_address">{{_('Email')}}*</label>
										{{form.Email}}
									</div>
									<div class="col-md-6 col-12 mb-25">
										<label for="phone_number">{{_('Phone')}}</label>
										{{form.Phone}}
									</div>
									<div class="col-12 mb-25">
										<label for="message">{{_('Message')}}*</label>
										{{form.Message}}
									</div>
									<div class="col-12">
										<input type="submit" value="SEND NOW">
									</div>
								</div>
							</form>
							<p class="form-messege"></p>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div><!-- Contact Section End -->

{% endblock %}