<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title if title else _('Commerce') }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/x-icon" href="{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/bee/images/favicon.ico') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/bee/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/bee/css/font-awesome.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/bee/css/icon-font.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/bee/css/plugins.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='commerce/bee/css/style.css') }}">
  {% block styles %}{% endblock %}
  <script src="{{ url_for('static', filename='commerce/bee/js/vendor/modernizr-2.8.3.min.js') }}"></script>
</head>

<body>

<div class="header-section section">

  <div class="header-top header-top-one header-top-border pt-10 pb-10">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="col order-12 order-xs-12 order-lg-2 mt-10 mb-10">
          <!-- Header Advance Search Start -->
          <div class="header-advance-search">
            <form action="{{url_for('commerce.v_grid')}}">
              <div class="input"><input type="text" name="search" placeholder="{{_('Search')}}"></div>
              <div class="submit"><button><i class="icofont icofont-search-alt-1"></i></button></div>
            </form>

          </div>
        </div>
        <div class="header-account-links" style="display:flex;">
          <li class="dropdown" style="margin-top: -7px;list-style: none; position: inherit;">
            <a href="#" class="nav-link nav-link-lg message-toggle" data-toggle="dropdown">
              <i class="fa fa-globe" style="font-size: 25px; color: #a6a6a6;"></i>
              <span class="badge headerBadge1" style="background: #f5d730; border-radius: 50px;">{{ session['language'] }}</span>
            </a>
            <ul class="dropdown-menu slideUp2">
              <li class="body">
                <ul class="menu list-unstyled">
                  <li> 
                    <a href="{{ url_for('main.set_language',language='en') }}" class="dropdown-item">
                      <img src="{{ url_for('static', filename='commerce/main/images/us.svg') }}" style="width: 30px">
                      English
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ url_for('main.set_language',language='tk') }}" class="dropdown-item">
                      <img loading="lazy" src="{{ url_for('static', filename='commerce/main/images/tm.svg') }}" style="width: 30px">
                      Türkmen
                    </a>
                    <div class="dropdown-divider"></div>
                    <a href="{{ url_for('main.set_language',language='ru') }}" class="dropdown-item">
                      <img loading="lazy" src="{{ url_for('static', filename='commerce/main/images/ru.svg') }}" style="width: 30px">
                      Русский
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          {% if current_user.is_authenticated %}
            <a href="{{ url_for('commerce_users.profile') }}"><i class="icofont icofont-user-alt-7"></i> <span style="margin-left: 3px;">{{_('My profile')}}</span></a>
            <a href="{{ url_for('commerce_auth.logout') }}"><i class="icofont icofont-logout d-none"></i> <span>{{_('Log out')}}</span></a>
          {% else %}
            <a href="{{ url_for('commerce_auth.login') }}"><i class="icofont icofont-login d-none"></i> <span>{{_('Login')}}</span></a>
            <a href="{{ url_for('commerce_auth.register') }}"><i class="icofont icofont-user-alt-7 d-none"></i> <span>{{_('Register')}}</span></a>
          {% endif %}
        </div>
        <div class="header-logo" >
          <a href="{{ url_for('commerce.commerce')}}">
            {% if company_logo %}
              <img loading="lazy" src="{{ company_logo.FilePath }}" alt="{{company.CName}}" style=" margin-right: 15px;" >
            {% else %}
              <h4>{{company.CName}}</h4>
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="header-bottom header-bottom-one header-sticky">
    <div class="container">
      <div class="row align-items-center justify-content-between">

        <div class="col mb-15" style="display: flex;">
          <div class="hero-side-category">
            <div class="category">
    
              <div class="category-toggle-wrap">
                <button class="category-toggle" style="font-size : 100%;letter-spacing: 2px;">{{_('Categories')}} <i class="ti-menu"></i></button>
              </div>

              <nav class="category-menu" style="position: relative;z-index: 99; display: none;">
                <ul class="g_category">
                  <li>
                    <a href="{{url_for('commerce.v_grid')}}">
                      <img class="img-fluid" src="{{ url_for('static', filename='commerce/bee/images/icons/category.svg') }}" style="width: 25px; margin-right: 7px;">
                      {{_('All')}}
                    </a>
                  </li>

                  <li class="menu-item-has-children">
                    <a href="category-2.html"><i class="expand menu-expand"></i><i class="expand menu-expand"></i><i class="expand menu-expand"></i>Phones &amp; Tablets</a>
                    <ul class="category-mega-menu" style="display: none;">
                      <li class="menu-item-has-children">
                        <a href="category-1.html"><i class="expand menu-expand"></i><i class="expand menu-expand"></i><i class="expand menu-expand"></i>Smartphone</a>
                        <ul style="display: none;">
                          <li><a href="category-1.html">Samsome</a></li>
                          <li><a href="category-2.html">GL Stylus</a></li>
                          <li><a href="category-1.html">Syphony</a></li>
                          <li><a href="category-1.html">Samsome</a></li>
                          <li><a href="category-2.html">GL Stylus</a></li>
                          <li><a href="category-1.html">Syphony</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  {% for category in categories %}
                    <li class="{{ 'menu-item-has-children' if category.Categories }}">
                      <a href="{{ url_for('commerce.v_grid',category = category.ResCatId) }}">
                        <i class="expand menu-expand"></i><i class="expand menu-expand"></i><i class="expand menu-expand"></i>
                        <img class="img-fluid" src="{{ category.ResCatIconFilePath if category.ResCatIconFilePath else url_for('static', filename='commerce/bee/images/icons/category.svg') }}" style="width: 25px; margin-right: 7px;">
                        {{category.ResCatName}}
                      </a>
                      <ul class="category-mega-menu" style="display: none;">
                        <li class="menu-item-has-children">
                          <a href="category-1.html"><i class="expand menu-expand"></i><i class="expand menu-expand"></i><i class="expand menu-expand"></i>Smartphone</a>
                          {% if category.Categories %}
                            <ul style="display: none;">
                            {% for category in category.Categories %}
                              <li><a href="{{url_for('commerce.v_grid',category = category.ResCatId)}}">{{category.ResCatName}}</a></li>
                            {% endfor %}
                            </ul>
                          {% endif %}
                        </li>
                      </ul>
                    </li>
                  {% endfor %}
                </ul>
              </nav>
      
            </div>
          </div>
        </div>
        
        <div class="col order-12 order-lg-2 order-xl-2 d-none d-lg-block">
          <div class="main-menu">
            <nav>
              <ul>
                <li><a href="{{ url_for('commerce.commerce')}}">{{_('Main')}}</a></li>
                <li><a href="{{ url_for('commerce.v_grid') }}">{{_('Products')}}</a></li>
                <li><a href="#">{{_('About us')}}</a></li>
                <li><a href="{{ url_for('commerce.contact') }}">{{_('Contact')}}</a></li>
              </ul>
            </nav>
          </div>
        </div>

        
        <div class="col order-2 order-lg-12 order-xl-12">
          <!-- Header Shop Links Start -->
          <div class="header-shop-links">

            <!-- Wishlist -->
            <a href="{{ url_for('commerce_users.wishlist') }}" class="header-wishlist">
              <i class="ti-heart"></i>
            </a>
            <!-- Cart -->
            <a href="{{ url_for('commerce.cart') }}" class="header-cart">
              <i class="ti-shopping-cart"></i>
              <span class="number cartItemsFullQty"></span>
            </a>

          </div><!-- Header Shop Links End -->
        </div>
        <!-- Mobile Menu -->
        <div class="mobile-menu order-12 d-block d-lg-none col"></div>

      </div>
    </div>
  </div><!-- Header Bottom End -->

</div><!-- Header Section End -->

<!-- Mini Cart Wrap Start -->
<div class="mini-cart-wrap">

  <!-- Mini Cart Top -->
  <div class="mini-cart-top">
    <button class="close-cart">{{_('Close')}}<i class="icofont icofont-close"></i></button>
  </div>

  <!-- Mini Cart Products -->
  <ul class="mini-cart-products cartItemsList"></ul>ory

  <!-- Mini Cart Bottom -->
  <div class="mini-cart-bottom">
    <h4 class="sub-total">{{_('Total')}}: <span class="cartTotalPrice">0.0</span></h4>
    <div class="button">
      <a href="{{url_for('commerce.cart')}}">{{_('Checkout')}}</a>
    </div>
  </div>

</div><!-- Mini Cart Wrap End -->
<!-- Cart Overlay -->
<div class="cart-overlay"></div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{ category }} alert-dismissible show fade" style="margin: auto; height: 10%; opacity: 1; width: 95%; overflow: auto; text-align: center;">
    <div class="alert-body" style="padding-top: 5px;">
      <button class="close" data-dismiss="alert">
        <span>×</span>
      </button>
      {{ message }}
    </div>
  </div>
  {% endfor %}
{% endif %}
{% endwith %}

{% block content %}{% endblock %}

<!-- Footer Section Start -->
<div class="footer-section section bg-ivory">
  <div class="footer-bottom-section section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="footer-copyright">
            <a href="#">
              <img src="{{ url_for('static', filename='commerce/main/images/logo/sap_cozgut.svg') }}" alt="Sap cozgut" style="width: 40px;">
            </a>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- jQuery JS -->
<script src="{{ url_for('static', filename='commerce/bee/js/vendor/jquery-1.12.4.min.js') }}"></script>
<!-- Popper JS -->
<script src="{{ url_for('static', filename='commerce/bee/js/popper.min.js') }}"></script>
<!-- Bootstrap JS -->
<script src="{{ url_for('static', filename='commerce/bee/js/bootstrap.min.js') }}"></script>
<!-- Plugins JS -->
<script src="{{ url_for('static', filename='commerce/bee/js/plugins.js') }}"></script>
<!-- Main JS -->

<script src="{{ url_for('static', filename='commerce/bee/js/main.js') }}"></script>
<script src="{{ url_for('static', filename='commerce/bee/js/rating.js') }}"></script>
<script src="{{ url_for('static', filename='commerce/bee/js/js.cookie.min.js') }}"></script>
<script src="{{ url_for('static', filename='commerce/bee/js/cartsAndCheckouts.js') }}"></script>
<script src="{{ url_for('static', filename='commerce/admin/js/ui_dynamicals.js') }}"></script>

<script type="text/javascript">
  var url_prefix = "{{url_prefix if url_prefix else ''}}";
  var add_to_cart_text = "{{_('Add to cart')}}";
  var remove_from_cart_text = "{{_('Remove from cart')}}";
</script>
{% block scripts %}{% endblock %}
<script type="text/javascript">
  var csrf_token = "{{ csrf_token() }}";
  $.ajaxSetup({
    beforeSend: function(xhr, settings){
      if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain){
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
      }
    },
    error: function(jqXHR, textStatus, errorThrown) {
      if (jqXHR.status == 401 || jqXHR.status == 400) {
        location.reload();
      }
    }
  });
  $('.descriptionText').each(function(){
    $(this).html($(this).text()); 
  });
</script>

</body>

</html>
