{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}
<!-- Single Product Section Start -->
<div class="product-section section mt-90 mb-90">
	<div class="container">
		<div class="row mb-90">
			<div class="col-lg-6 col-12 mb-50">
				<!-- Image -->
				<div class="single-product-image thumb-right">

					{% if resource.Images %}
						<div class="tab-content">
							<div id="single-image-1" class="tab-pane fade show active big-image-slider">
								{% for image in resource.Images %}
								<div class="big-image">
									<img loading="lazy" src="{{image.FilePathM}}" alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
									<a href="{{image.FilePathR}}" class="big-image-popup">
										<i class="fa fa-search-plus"></i>
									</a>
								</div>
								{% endfor %}
							</div>
						</div>
					{% else %}
						<div class="tab-content">
							<div id="single-image-1" class="tab-pane fade show active big-image-slider">
								<div class="big-image">
									<img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/no_photo.png') }}" alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>

			<div class="col-lg-6 col-12 mb-50">
				<!-- Content -->
				<div class="single-product-content">
					<!-- Category & Title -->
					<div class="head-content">
						<div class="category-title">
							<a href="#" class="cat">{{ resource.ResCatName }}</a>
							<h5 class="title">{{ resource.ResName }}</h5>
						</div>
						<div>
							<span class="price">TMT</span>
							<h5 class="price priceValue" ownerId="{{ resource.ResId }}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</h5>
						</div>	
					</div>

					<div class="single-product-description">
						<input type="hidden" class="ratingValue" value="{{ resource.RtRatingValue }}" ownerId="{{ resource.ResId }}">
						<div class="ratting ratingStars" ownerId="{{ resource.ResId }}"></div>

						<div class="desc">
							<p>{{ resource.ResDesc if resource.ResDesc else '' }}</p>
						</div>

						<span class="availability">{{_('Availability')}}: <span>{{_('In stock')}}</span></span>

						<div class="quantity-colors">

							<div class="quantity">
								<h5>{{_('Quantity')}}</h5>
								<div class="pro-qty cartItemQty">
									<input class="cartItemQty productQty" ownerId="{{ resource.ResId }}" type="text" value="{{resource.productQty}}">
								</div>
							</div>
						</div>

						<div class="actions">
							<a href="#" class="add-to-cart" ownerId="{{ resource.ResId }}"><i class="ti-shopping-cart"></i><span>{{_('Add to cart')}}</span></a>
							{% if current_user.is_authenticated %}
								<div class="wishlist-compare">
									<a href="#" data-tooltip="{{_('Wishlist')}}" class="{{'added' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}"><i class="ti-heart"></i></a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 col-12 ml-auto mr-auto">

				<ul class="single-product-tab-list nav">
					<li><a href="#product-description" class="active" data-toggle="tab" >{{_('Description')}}</a></li>
					<li><a href="#product-reviews" data-toggle="tab" >{{_('Customers reviews')}}</a></li>
				</ul>

				<div class="single-product-tab-content tab-content">
					<div class="tab-pane fade show active" id="product-description" style="margin: 10px 10px;padding: 10px 10px;text-align: center;">
						{% if resource.ResFullDesc %}
							<h4 style="font-weight: 100; margin-top: 30px; padding-right: 45px;" class="descriptionText">{{ resource.ResFullDesc }}</h4>
						{% else %}
							<h2 style="font-weight: 100; margin-top: 30px; padding-right: 45px;">{{ _('No description provided for this product') }}</h2>
							<div class="emoji-box outfit">
								<div class="spects">
									<div class="box"></div>
									<div class="box"></div>
								</div>
								<div class="eyes">
									<div class="eye"></div>
									<div class="eye"></div>
								</div>
								<div class="smile"></div>
							</div>
						{% endif %}
					</div>

					<div class="tab-pane fade" id="product-reviews">
						<div class="product-ratting-wrap">
							<div class="rattings-wrapper">
								{% for rating in resource.Rating %}
									<div class="sin-rattings">
										<div class="ratting-author">
											<h3>{{ rating.User.UName if rating.User else rating.Rp_acc.RpAccName }}</h3>
											<input type="hidden" class="ratingValue" value="{{ rating.RtRatingValue }}" ownerId="uz3R{{ rating.User.UId if rating.User else rating.Rp_acc.RpAccId }}">
											<div class="ratting-star ratingStars" ownerId="uz3R{{ rating.User.UId if rating.User else rating.Rp_acc.RpAccId }}"></div>
											<span>({{ rating.RtRatingValue }})</span>
										</div>
										<p>{{ rating.RtRemark if rating.RtRemark else '' }}</p>
									</div>
								{% endfor %}
							</div>
							<div class="ratting-form-wrapper fix" ng-app>
								{% if current_user.is_authenticated %}
									<h3>{{_('Submit your review')}}</h3>
									<form>
										<div class="ratting-form row">
											<div class="col-12 mb-15">
												<h5>{{_('Your rating')}}:</h5>
												<fieldset class="rating rateButtons">
													<input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
													<input type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
													<input type="radio" id="star4" name="rating" value="4" checked /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
													<input type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
													<input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
													<input type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
													<input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
													<input type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
													<input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
													<input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
												</fieldset>
											</div>
											<input type="hidden" class="reviewRatingValue" value="4">
											<div class="col-12 mb-15">
												<textarea name="review" class="reviewRatingText" ownerId="{{ resource.ResId }}" id="your-review" placeholder="{{_('Write your review')}}..." required></textarea>
											</div>
											<div class="col-12">
												<input value="{{_('Send')}}" class="sendReviewBtn" ownerId="{{ resource.ResId }}" type="submit">
											</div>
										</div>
									</form>
								{% else %}
								<div class="col-lg-12 col-12 mb-40 d-flex">
									<div class="y_login">
										<h2>{{_('You should login to add a review')}}</h2>
										<div class="cart-summary-button">
											<a href="{{ url_for('commerce_auth.login') }}"><button class="checkout-btn checkoutCartBtn" style="width: auto;float: none;">{{_('Login')}}</button></a>
										</div>
									</div>
								</div>
								{% endif %}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div><!-- Single Product Section End -->

<!-- Related Product Section Start -->
<div class="product-section section mb-70">
	<div class="container">
		<div class="row">

			<!-- Section Title Start -->
			<div class="col-12 mb-40">
				<div class="section-title-one" style="text-transform:uppercase" data-title="{{_('Products from this category')}}"><h1>{{_('Products from this category')}}</h1></div>
			</div><!-- Section Title End -->

			<!-- Product Tab Content Start -->
			<div class="col-12">
				<!-- Product Slider Wrap Start -->
				<div class="product-slider-wrap product-slider-arrow-one">
					<!-- Product Slider Start -->
					<div class="product-slider product-slider-4">
						{% if resource.Related_resources %}
						{% for related_resource in resource.Related_resources %}
							<div class="col pb-20 pt-10">
								<!-- Product Start -->
								<div class="ee-product">
									<!-- Image -->
									<div class="image">
										{% if related_resource.FilePathM %}
											<a href="{{ url_for('commerce.product',ResId=related_resource.ResId)}}" class="img">
												<img loading="lazy" src="{{related_resource.FilePathM}}" alt="Product {{related_resource.ResName}} of category {{ related_resource.ResCatName if related_resource.ResCatName else '' }}">
											</a>
										{% else %}
											<a href="{{ url_for('commerce.product',ResId=related_resource.ResId)}}" class="img">
												<img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/no_photo.png') }}" alt="Product {{related_resource.ResName}} of category {{ related_resource.ResCatName if related_resource.ResCatName else '' }}">
											</a>
										{% endif %}
										{% if current_user.is_authenticated %}
											<div class="wishlist-compare">
												<a href="#" data-tooltip="Wishlist" class="{{'added' if related_resource.Wishlist == true}}" ownerId="{{ related_resource.ResId }}">
													<i class="ti-heart"></i>
												</a>
											</div>
										{% endif %}
											<a href="#" class="add-to-cart" ownerId="{{ related_resource.ResId }}">
												<i class="ti-shopping-cart"></i>
												<span>{{_('Add to cart')}}</span>
											</a>
									</div>

									<!-- Content -->
									<div class="content">
										<!-- Category & Title -->
										<div class="category-title">
											<a href="#" class="cat">{{ related_resource.ResCatName }}</a>
											<h5 class="title"><a href="{{ url_for('static', filename='commerce/main/shop_icons/no_photo.png') }}">{{ related_resource.ResName }}</a></h5>
										</div>

										<!-- Price & Ratting -->
										<div class="price-ratting">
											<h5 class="price">
												<p>{{ related_resource.CurrencyCode }}</p>
												<div class="priceValue" ownerId="{{related_resource.ResId}}" value="{{related_resource.ResPriceValue}}">{{ related_resource.ResPriceValue }}</div>
											</h5>
										</div>
									</div>
								</div><!-- Product End -->
							</div>
						{% endfor %}
						{% endif %}
					</div><!-- Product Slider End -->
				</div><!-- Product Slider Wrap End -->
			</div><!-- Product Tab Content End -->
		</div>
	</div>
</div><!-- Related Product Section End -->

{% endblock %}


{% block scripts %}
<script>
	function adjustRating(rating) {
		document.getElementById("ratingvalue").innerHTML = rating;
	}
</script>
{% endblock %}