{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}
<!-- Single Product Section Start -->
<div class="product-section section mt-90 mb-90">
	<div class="container">
		<div class="row mb-90">
			<div class="col-lg-6 col-12 mb-50">
				<!-- Image -->
				<div class="single-product-image thumb-right">

					{% if resource.Images %}
						<div class="tab-content">
							<div id="single-image-1" class="tab-pane fade show active big-image-slider">
								{% for image in resource.Images %}
								<div class="big-image">
									<img loading="lazy" src="{{image.FilePathM}}" class="big-image-popup">
									<a href="{{image.FilePathM}}" class="big-image-popup">
										<i class="fa fa-search-plus"></i>
									</a>
								</div>
								{% endfor %}
							</div>
						</div>
						<div class="thumb-image-slider nav" data-vertical="true">
							{% for image in resource.Images %}
								<a class="thumb-image active" data-toggle="tab" href="#single-image-1"><img loading="lazy" src="{{image.FilePathM}}"></a>
							{% endfor %}
						</div>
					{% else %}
						<div class="tab-content">
							<div id="single-image-1" class="tab-pane fade show active big-image-slider">
								<div class="big-image"><img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/no_photo.png') }}" class="big-image-popup"><i class="fa fa-search-plus"></i></a></div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>

			<div class="col-lg-6 col-12 mb-50">
				<!-- Content -->
				<div class="single-product-content">
					<!-- Category & Title -->
					<div class="head-content">
						<div class="category-title">
							<a href="#" class="cat">{{ resource.ResCatName }}</a>
							<h5 class="title">{{ resource.ResName }}</h5>
						</div>
						<div style="display: flex;">
							<span class="price">TMT</span>
							<h5 class="price priceValue" ownerId="{{ resource.ResId }}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</h5>
						</div>	
					</div>

					<div class="single-product-description">
						<input type="hidden" class="ratingValue" value="{{ resource.RtRatingValue }}" ownerId="{{ resource.ResId }}">
						<div class="ratting ratingStars" ownerId="{{ resource.ResId }}"></div>

						<div class="desc">
							<p>{{ resource.ResDesc if resource.ResDesc else '' }}</p>
						</div>

						<span class="availability">{{_('Availability')}}: <span>{{_('In stock')}}</span></span>

						<div class="quantity-colors">

							<div class="quantity">
								<h5>{{_('Quantity')}}</h5>
								<div class="pro-qty cartItemQty">
									<input class="cartItemQty productQty" ownerId="{{ resource.ResId }}" type="text" value="{{resource.productQty}}">
								</div>
							</div>
						</div>

						<div class="actions">
							<a href="#" class="add-to-cart" ownerId="{{ resource.ResId }}"><i class="ti-shopping-cart"></i><span>{{_('Add to cart')}}</span></a>
							{% if current_user.is_authenticated %}
								<div class="wishlist-compare">
									<a href="#" data-tooltip="{{_('Wishlist')}}" class="{{'added' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}"><i class="ti-heart"></i></a>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-10 col-12 ml-auto mr-auto">

				<ul class="single-product-tab-list nav">
					<li><a href="#product-description" class="active" data-toggle="tab" >{{_('Description')}}</a></li>
					<li><a href="#product-reviews" data-toggle="tab" >{{_('Customers reviews')}}</a></li>
				</ul>

				<div class="single-product-tab-content tab-content">
					<div class="tab-pane fade show active" id="product-description">
						{{ resource.ResFullDesc if resource.ResFullDesc else '' }}
					</div>

					<div class="tab-pane fade" id="product-reviews">
						<div class="product-ratting-wrap">

							<div class="pro-avg-ratting">
								<h4>{{ resource.RtRatingValue }} <span>(Overall)</span></h4>
								<div class="ratting ratingStars" ownerId="{{ resource.ResId }}"></div>
							</div>

							<div class="rattings-wrapper">
								{% for rating in resource.Rating %}
									<div class="sin-rattings">
										<div class="ratting-author">
											<h3>{{ rating.User.UName if rating.User else rating.Rp_acc.RpAccName }}</h3>
											<input type="hidden" class="ratingValue" value="{{ rating.RtRatingValue }}" ownerId="uz3R{{ rating.User.UId if rating.User else rating.Rp_acc.RpAccId }}">
											<div class="ratting-star ratingStars" ownerId="uz3R{{ rating.User.UId if rating.User else rating.Rp_acc.RpAccId }}"></div>
											<span>({{ rating.RtRatingValue }})</span>
										</div>
										<p>{{ rating.RtRemark if rating.RtRemark else '' }}</p>
									</div>
								{% endfor %}

								<div class="sin-rattings">
									<div class="ratting-author">
										<h3>MD.ZENAUL ISLAM</h3>
										<div class="ratting-star">
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<i class="fa fa-star"></i>
											<span>(5)</span>
										</div>
									</div>
									<p>enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia res eos qui ratione voluptatem sequi Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veli</p>
								</div>

							</div>
							<div class="ratting-form-wrapper fix">
								{% if current_user.is_authenticated %}
									<h3>{{_('Submit your review')}}</h3>
									<form action="#">
										<div class="ratting-form row">
											<div class="col-12 mb-15">
												<h5>{{_('Your rating')}}:</h5>
												<div class="ratting-star fix">
													<div class="rating"><!--
													--><input name="stars" id="e5" type="radio"></a><label for="e5">☆</label><!--
														--><input name="stars" id="e4" type="radio"></a><label for="e4">☆</label><!--
														--><input name="stars" id="e3" type="radio"></a><label for="e3">☆</label><!--
														--><input name="stars" id="e2" type="radio"></a><label for="e2">☆</label><!--
														--><input name="stars" id="e1" type="radio"></a><label for="e1">☆</label>
													</div>
												</div>
											</div>
											<div class="col-12 mb-15">
												<label for="your-review">{{_('Write your review')}}</label>
												<textarea name="review" id="your-review" placeholder="{{_('Write your review')}}..."></textarea>
											</div>
											<div class="col-12">
												<input value="{{_('Send')}}" type="submit">
											</div>
										</div>
									</form>
								{% else %}
								<a href="#" style="height: 100%; width: 100%;">
									<h3>{{_('You should login to add a review')}}</h3>
								</a>	
								{% endif %}
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div><!-- Single Product Section End -->

<!-- Related Product Section Start -->
<div class="product-section section mb-70">
	<div class="container">
		<div class="row">

			<!-- Section Title Start -->
			<div class="col-12 mb-40">
				<div class="section-title-one" style="text-transform:uppercase" data-title="{{_('Related products')}}"><h1>{{_('Related products')}}</h1></div>
			</div><!-- Section Title End -->

			<!-- Product Tab Content Start -->
			<div class="col-12">
				<!-- Product Slider Wrap Start -->
				<div class="product-slider-wrap product-slider-arrow-one">
					<!-- Product Slider Start -->
					<div class="product-slider product-slider-4">
						{% for related_resource in resource.Related_resources %}
							<div class="col pb-20 pt-10">
								<!-- Product Start -->
								<div class="ee-product">
									<!-- Image -->
									<div class="image">
										{% if related_resource.FilePathM %}
											<a href="{{ url_for('commerce.product',ResId=related_resource.ResId)}}" class="img">
												<img loading="lazy" src="{{related_resource.FilePathM}}">
											</a>
										{% else %}
											<a href="{{ url_for('commerce.product',ResId=related_resource.ResId)}}" class="img">
												<img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/no_photo.png') }}">
											</a>
										{% endif %}
										{% if current_user.is_authenticated %}
											<div class="wishlist-compare">
												<a href="#" data-tooltip="Wishlist" class="{{'added' if related_resource.Wishlist == true}}" ownerId="{{ related_resource.ResId }}">
													<i class="ti-heart"></i>
												</a>
											</div>
										{% endif %}
										<a href="#" class="add-to-cart" ownerId="{{ related_resource.ResId }}">
											<i class="ti-shopping-cart"></i>
											<span>{{_('Add to cart')}}</span>
										</a>
									</div>

									<!-- Content -->
									<div class="content">
										<!-- Category & Title -->
										<div class="category-title">
											<a href="#" class="cat">{{ related_resource.ResCatName }}</a>
											<h5 class="title"><a href="single-product.html">{{ related_resource.ResName }}</a></h5>
										</div>

										<!-- Price & Ratting -->
										<div class="price-ratting">
											<h5 class="price">
												<!-- <span class="old">$350</span> -->
												<p>{{ related_resource.CurrencyCode }}</p>
												<div class="priceValue" ownerId="{{related_resource.ResId}}" value="{{related_resource.ResPriceValue}}">{{ related_resource.ResPriceValue }}</div>
											</h5>
										</div>
									</div>
								</div><!-- Product End -->
							</div>
						{% endfor %}
					</div><!-- Product Slider End -->
				</div><!-- Product Slider Wrap End -->
			</div><!-- Product Tab Content End -->
		</div>
	</div>
</div><!-- Related Product Section End -->

{% endblock %}