{% extends "commerce/bee/commerce/layout.html" %}


{% block head %}
<meta name="description" content="
	{{_('Showing')}} | {% for sort in sort_types %}{{ sort.sort_title if sort.status == 1 }}{% endfor %}
	{{_('Products')}}: {% for resource in data %} {{ resource.ResName }}, {% endfor %} 
">
<meta property="og:description" content="
{{_('Showing')}} | {% for sort in sort_types %}{{ sort.sort_title if sort.status == 1 }}{% endfor %}
{{_('Products')}}: {% for resource in data %} {{ resource.ResName }}, {% endfor %}
" />
<meta property="og:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/bee/images/favicon.svg') }}" />
<meta name="twitter:description" content="
{{_('Showing')}} | {% for sort in sort_types %}{{ sort.sort_title if sort.status == 1 }}{% endfor %}
{{_('Products')}}: {% for resource in data %} {{ resource.ResName }}, {% endfor %}
" />
<meta name="twitter:image" content="{{ request.host_url }}{{ company_logo.FilePath if company_logo else url_for('static', filename='commerce/bee/images/favicon.svg') }}" />
{% endblock %}

{% block breadcrumbs %}
<nav class="woocommerce-breadcrumb">
	<a href="{{ url_for('commerce.commerce') }}">{{_('Main')}}</a>
	<span class="delimiter">
		<i class="fa fa-angle-right"></i>
	</span>
	{{_('Products')}}
</nav>
{% endblock %}

{% block content %}
<div class="product-section section mt-30 mb-90">
	<div class="container">
		<div class="row">

			<div class="col-12">

				<div class="row mb-5">
					<div class="col">
						<div class="shop-top-bar">

							<div class="product-view-mode">
								<a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
								<a href="#" data-target="list"><i class="fa fa-list"></i></a>
							</div>

							<div class="product-showing">
								<p>{{_('Showing')}}</p>
								<select name="showing" class="nice-select per_page">
									<option value="{{ per_page }}">{{ per_page }}</option>
									<option value="16">16</option>
									<option value="32">32</option>
									<option value="56">56</option>
									<option value="80">80</option>
									<option value="96">96</option>
								</select>
							</div>

							<div class="product-short">
								<p>{{_('View')}}</p>
								<select name="sortby" class="nice-select sorting">
									{% for sort in sort_types %}
										<option value="{{sort.sort}}" {{ 'selected' if sort.status == 1 }}>{{sort.sort_title}}</option>
									{% endfor %}
								</select>
							</div>
							<input type="hidden" class="category_sort" value="{{ category if category else '' }}">
							<input type="hidden" class="brand_sort" value="{{ brand if brand else '' }}">
							<input type="hidden" class="search_sort" value="{{ search if search else '' }}">
							<button class="applySortingBtn">{{_('View')}}</button>

							<div class="product-pages">
								<p>{{_('Page')}}: {{ page }} / {{ pages_total }}</p>
							</div>
						</div>
					</div>
				</div>

				<div class="shop-product-wrap grid row" style="display: flex; justify-content: center;">
					{% if data == [] or data == null %}
						{{_('Nothing found')}}
					{% endif %}
					{% for resource in data %}
					<div class="p_slider">
						<div class="col-xl-3 col-lg-4 col-md-4 col-6 pb-30 pt-10">
							<div class="ee-product">
								<div class="image">
									{% if resource.New %}
										<span class="label new">{{_('New')}}</span>
									{% endif %}
									<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}" class="img">
										<img loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/bee/images/no_photo.svg') }}"
										alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}" style="height: auto;">
									</a>
									{% if current_user.is_authenticated %}
										<div class="wishlist-compare">
											<a href="#" data-tooltip="Wishlist" class="{{'added' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}">
												<i class="ti-heart"></i>
											</a>
										</div>
									{% endif %}
										<input type="hidden" class="qty productQty"
											pending_amount="{{resource.ResPendingTotalAmount}}"
											min_amount="{{resource.ResMinSaleAmount}}"
											max_amount="{{resource.ResMaxSaleAmount}}"
											value="{{resource.productQty}}" ownerId="{{ resource.ResId }}">
										<a class="add-to-cart" ownerId="{{ resource.ResId }}">
											<i class="ti-shopping-cart"></i>
											<span>{{_('Add to cart')}}</span>
										</a>
								</div>

								<div class="content">
									<div class="category-title">
										<a href="#" class="cat">{{ resource.ResCatName if resource.ResCatName else '' }}</a>
										<h5 class="title">
											<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">
												{{ resource.ResName if resource.ResName else '' }}
											</a>
										</h5>
									</div>
									<div class="price-ratting">
										<h5 class="price">
											<div class="priceValue" ownerId="{{resource.ResId}}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</div>
											<p class="tm_currency">{{ resource.CurrencyCode }}</p>
										</h5>
										<input type="hidden" class="ratingValue" value="{{ resource.RtRatingValue }}" ownerId="{{ resource.ResId }}">
										<div class="ratting ratingStars" ownerId="{{ resource.ResId }}"></div>
									</div>
								</div>
							</div>

							<div class="ee-product-list">
								<div class="image">
									{% if resource.New %}
										<span class="label new">{{_('New')}}</span>
									{% endif %}
									<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}" class="img">
										<img loading="lazy" src="{{ resource.FilePathS if resource.FilePathS else url_for('static', filename='commerce/bee/images/no_photo.svg') }}"
										alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }} {{ company.CName }}">
									</a>
								</div>

								<div class="content">
									<div class="head-content">
										<div class="category-title">
											<a href="#" class="cat">{{ resource.ResCatName }}</a>
											<h5 class="title"><a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">{{ resource.ResName }}</a></h5>
										</div>
										<h5 class="price">
											<div class="priceValue" ownerId="{{resource.ResId}}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</div>
											<p class="tm_currency">{{ resource.CurrencyCode }}</p>
										</h5>
									</div>

									<div class="left-content">
										<div class="ratting ratingStars" ownerId="{{ resource.ResId }}"></div>

										<div class="actions">
											<input type="hidden" class="qty productQty"
												pending_amount="{{resource.ResPendingTotalAmount}}"
												min_amount="{{resource.ResMinSaleAmount}}"
												max_amount="{{resource.ResMaxSaleAmount}}"
												value="{{resource.productQty}}" ownerId="{{ resource.ResId }}">
											<a class="add-to-cart" ownerId="{{ resource.ResId }}">
												<i class="ti-shopping-cart"></i>
												<span>{{_('Add to cart')}}</span>
											</a>
											{% if current_user.is_authenticated %}
												<div class="wishlist-compare">
													<a href="#" data-tooltip="{{_('Wishlist')}}" class="{{'added' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}">
														<i class="ti-heart"></i>
													</a>
												</div>
											{% endif %}
										</div>
									</div>

									<div class="right-content">
										<div class="specification descriptionText">
											<h5>{{_('Specifications')}}</h5>
											{{ resource.ResDesc if resource.ResDesc else '' }}
										</div>
										<span class="availability">{{_('Availability')}}: <span>{{_('In stock')}}</span></span>
									</div>
								</div>

							</div>
						</div>
					</div>
					{% endfor %}

				</div>

				<div class="row mt-30">
					<div class="col">
						<ul class="pagination">
							{% if prev_url %}
								<li><a href="{{ prev_url }}"><</a></li>
							{% endif %}
							{% for page_num in page_num_list %}
								{% if page_num %}
									{% if page_num.status == "active" %}
										<li class="active">{{ page_num.page }}</li>
									{% elif page_num.status == None %}
										<li> - - - - </li>
									{% else %}
										<li><a href="{{ page_num.url }}">{{ page_num.page }}</a></li>
									{% endif %}
								{% endif %}
							{% endfor %}
							{% if next_url %}
								<li><a href="{{ next_url }}">></a></li>
							{% endif %}
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}