{% extends "commerce/bee/commerce/layout.html" %}

{% block content %}
<!-- Product Section Start -->
<div class="product-section section mt-90 mb-90">
	<div class="container">
		<div class="row">

			<div class="col-12">

				<div class="row mb-50">
					<div class="col">
						<!-- Shop Top Bar Start -->
						<div class="shop-top-bar">

							<!-- Product View Mode -->
							<div class="product-view-mode">
								<a class="active" href="#" data-target="grid"><i class="fa fa-th"></i></a>
								<a href="#" data-target="list"><i class="fa fa-list"></i></a>
							</div>

							<!-- Product Showing -->
							<div class="product-showing">
								<p>{{_('Showing')}}</p>
								<select name="showing" class="nice-select per_page">
									<option value="{{ per_page }}">{{ per_page }}</option>
									<option value="16">16</option>
									<option value="32">32</option>
									<option value="56">56</option>
									<option value="80">80</option>
									<option value="96">96</option>
								</select>
							</div>
							
							<!-- Product Short -->
							<div class="product-short">
								<p>{{_('Sort')}}</p>
								<select name="sortby" class="nice-select sorting">
									{% for sort in sort_types %}
										<option value="{{sort.sort}}" {{ 'selected' if sort.status == 1 }}>{{sort.sort_title}}</option>
									{% endfor %}
								</select>
							</div>
							<input type="hidden" class="category_sort" value="{{ category if category else '' }}">
							<input type="hidden" class="brand_sort" value="{{ brand if brand else '' }}">
							<input type="hidden" class="search_sort" value="{{ search if search else '' }}">
							<button class="applySortingBtn">{{_('Sort')}}</button>


							<!-- Product Pages -->
							<div class="product-pages">
								<p>{{_('Page')}}: {{ page }} / {{ pages_total }}</p>
							</div>
						</div>
					</div>
				</div>

				<div class="shop-product-wrap grid row" style="display: flex; justify-content: center;">
					{% if data == [] or data == null %}
						{{_('Nothing found')}}
					{% endif %}
					{% for resource in data %}
					<div class="p_slider">
						<div class="col-xl-3 col-lg-4 col-md-4 col-6 pb-30 pt-10">
							<div class="ee-product">
								<div class="image">
										<span class="label new">{{_('New')}}</span>
									{% if resource.FilePathS %}
										<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}" class="img">
											<img loading="lazy" src="{{resource.FilePathS}}" alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}" style="height: auto;">
										</a>
									{% else %}
										<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}" class="img" style="height: auto;">
											<img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/no_photo.png') }}" alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
										</a>
									{% endif %}
									{% if current_user.is_authenticated %}
										<div class="wishlist-compare">
											<a href="#" data-tooltip="Wishlist" class="{{'added' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}">
												<i class="ti-heart"></i>
											</a>
										</div>
									{% endif %}	
										<a href="#" class="add-to-cart" ownerId="{{ resource.ResId }}">
											<i class="ti-shopping-cart"></i>
											<span>{{_('Add to cart')}}</span>
										</a>
								</div>

								<!-- Content -->
								<div class="content">
									<!-- Category & Title -->
									<div class="category-title">
										<a href="#" class="cat">{{ resource.ResCatName if resource.ResCatName else '' }}</a>
										<h5 class="title">
											<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">
												{{ resource.ResName if resource.ResName else '' }}
											</a>
										</h5>
									</div>
									<!-- Price & Ratting -->
									<div class="price-ratting">
										<h5 class="price">
											<!-- <span class="old">$350</span> -->
											<div class="priceValue" ownerId="{{resource.ResId}}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</div>
											<p>{{ resource.CurrencyCode }}</p>
										</h5>
										<input type="hidden" class="ratingValue" value="{{ resource.RtRatingValue }}" ownerId="{{ resource.ResId }}">
										<div class="ratting ratingStars" ownerId="{{ resource.ResId }}"></div>
									</div>
								</div>
							</div><!-- Product End -->

							<!-- Product List Start -->
							<div class="ee-product-list">
								<div class="image">
									{% if resource.New %}
									<span class="label new">{{_('New')}}</span>
									{% endif %}
									<!-- <span class="label sale">sale</span> -->
									{% if resource.FilePathS %}
										<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}" class="img">
											<img loading="lazy" src="{{resource.FilePathS}}" alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
										</a>
									{% else %}
										<a href="{{ url_for('commerce.product',ResId=resource.ResId)}}" class="img">
											<img loading="lazy" src="{{ url_for('static', filename='commerce/main/shop_icons/no_photo.png') }}" alt="Product {{resource.ResName}} of category {{ resource.ResCatName if resource.ResCatName else '' }}">
										</a>
									{% endif %}
								</div>

								<!-- Content -->
								<div class="content">
									<!-- Category & Title -->
									<div class="head-content">
										<div class="category-title">
											<a href="#" class="cat">{{ resource.ResCatName }}</a>
											<h5 class="title"><a href="{{ url_for('commerce.product',ResId=resource.ResId)}}">{{ resource.ResName }}</a></h5>
										</div>
										<h5 class="price">
											<!-- <span class="old">$350</span> -->
											<div class="priceValue" ownerId="{{resource.ResId}}" value="{{resource.ResPriceValue}}">{{ resource.ResPriceValue }}</div>
											<p>{{ resource.CurrencyCode }}</p>
										</h5>
									</div>

									<div class="left-content">
										<div class="ratting ratingStars" ownerId="{{ resource.ResId }}"></div>

										<div class="actions">
											<a href="#" class="add-to-cart" ownerId="{{ resource.ResId }}">
												<i class="ti-shopping-cart"></i>
												<span>{{_('Add to cart')}}</span>
											</a>
											{% if current_user.is_authenticated %}
												<div class="wishlist-compare">
													<a href="#" data-tooltip="{{_('Wishlist')}}" class="{{'added' if resource.Wishlist == true}}" ownerId="{{ resource.ResId }}">
														<i class="ti-heart"></i>
													</a>
												</div>
											{% endif %}
										</div>
									</div>

									<div class="right-content">
										<div class="specification">
											<h5>{{_('Specifications')}}</h5>
											{{ resource.ResDesc if resource.ResDesc else '' }}
										</div>
										<span class="availability">{{_('Availability')}}: <span>{{_('In stock')}}</span></span>
									</div>
								</div>

							</div>
						</div>
					</div>
					{% endfor %}

				</div>

				<div class="row mt-30">
					<div class="col">
						<ul class="pagination">
							{% if prev_url %}
								<li><a href="{{ prev_url }}"><</a></li>
							{% endif %}
							{% for page_num in page_num_list %}
								{% if page_num %}
									{% if page_num.status == "active" %}
										<li class="active">{{ page_num.page }}</li>
									{% elif page_num.status == None %}
										<li> - - - - </li>
									{% else %}
										<li><a href="{{ page_num.url }}">{{ page_num.page }}</a></li>
									{% endif %}
								{% endif %}
							{% endfor %}
							{% if next_url %}
								<li><a href="{{ next_url }}">></a></li>
							{% endif %}
						</ul>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>

{% endblock %}