
/* navbar-right */

.right_icon_toggle .right_icon_toggle_btn i::before {
    content: '\f2ea'
}

.right_icon_toggle .navbar-right .navbar-nav {
    right: -70px
}

.right_icon_toggle section.content {
    margin-right: 20px
}

.ls-closed .navbar-right .navbar-nav {
    width: 30px;
    margin: 0 5px
}

@media only screen and (max-width: 768px) {
    .ls-closed .navbar-right .navbar-nav {
        right:-40px
    }
}

.ls-closed .navbar-right .navbar-nav>li>a {
    width: 30px
}

.navbar-right .navbar-nav {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: fixed;
    right: 0;
    width: 50px;
    z-index: 999;
    height: 100%;
    background-color: #fff;
}

.navbar-right .navbar-nav>li>a:hover {
    background: #e47297
}
.navbar-right .navbar-nav>li>a {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    color: #222;
    line-height: 50px;
    text-align: center;
    width: 50px
}

.navbar-right .navbar-nav>li>a:hover {
    color: #fff !important
}

.navbar-right .navbar-nav>li>a i {
    font-size: 20px;
    vertical-align: middle;
    padding-left: 0;
}

.navbar-right .navbar-nav .dropdown-menu {
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    right: 60px;
    left: auto !important;
    transform: none !important
}

.navbar-right .navbar-nav .dropdown-menu:before {
    color: #fff;
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    top: 15px;
    left: auto;
    right: -10px;
    border-left: .6em solid;
    border-top: .6em solid transparent;
    border-bottom: .6em solid transparent
}
